[2017-04-06 00:12] PunkStarStudios commented on #1123
All the guides just disappeared :(

Would be great if they were downloadable for offline viewing... like a PDF.

[2017-04-06 00:46] montymxb commented on #1123
@PunkStarStudios  Looks like all the docs have been moved. You can still get the guides at [docs.parseplatform.org](http://docs.parseplatform.org), albeit it looks rather ugly at the moment due to some missing assets. I'm not aware of much else at the moment however, other than migration issues it would seem.

The source for the docs is on github [here](https://github.com/parse-community/docs). Yo

[2017-04-06 01:52] mmarshak opened #1129 "http://parseplatform.org/docs/ios/guide is down?"
The website with the guides gives a 404 error.

Who is responsible for this website?

[2017-04-06 02:00] montymxb commented on #1129
Check out #1123. I'm not personally involved but I have been told it's being worked on at the moment. In the meantime you can checkout the docs from github or view them on [docs.parseplatform.org](http://docs.parseplatform.org/), although the asset links are mostly broken at the moment :/

[2017-04-06 02:19] flovilmart commented on #1129
The docs are back up on `docs.parseplatform.org`.

[2017-04-06 02:34] #1129 closed

[2017-04-06 02:35] #1123 closed

[2017-04-06 05:22] ranhsd commented on #916
Hi, any update on this issue? I am using the latest version and i still experience this issue.

[2017-04-06 10:28] czgarrett commented on #916
I submitted a PR last July and it was never approved.  Due to this and other issues, and a general lack of progress on this SDK, I finally gave up using the local data store and wrote my own sync engine using core data.  While it was a pretty large effort, it did pay off because I have a lot more control over how sync works in my app.

[2017-04-06 11:52] flovilmart commented on #916
@czgarrett what PR was it?

[2017-04-06 19:26] czgarrett commented on #916
This one (actually turns out it was May, not July): https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/931

[2017-04-09 10:27] ranhsd commented on #1124
Hi, i experience the same issue along with other issues like circular dependencies etc. After i worked with it i think that all the local data store feature should be deprecated and maybe we need to create a new one (maybe based on Realm). The reason is that i found myself implementing a lot of workarounds in order to make the local data source works and even after that i experience some other iss

[2017-04-09 17:54] dwby commented on #1124
Hey @ranhsd - yeah I had to do a lot of workaround as well. For example, I saved the components of Post and Image into a single Place object in the Local Datastore only, but then seeing those additional fields appear on the server side for the Place object. Then I decided to create a brand new object for Local Datastore utilising the Post objectId. It's working but sometimes I experience an issue

[2017-04-09 18:26] flovilmart commented on #1124
If you can make a reproducible test case, we can start fixing from there. That would be the way to go from here.

[2017-04-09 19:20] dwby commented on #1124
Hey @flovilmart, i'm fairly new to coding, so how do I go about making a reproducible test case? I could create a version of my ios app with the specific issue and dummy data and post it on github. Would that work?

[2017-04-09 20:41] flovilmart commented on #1124
Yep that would be nice to have a demo project that doesn't work!

[2017-04-13 10:09] ranhsd commented on #1124
Now i have another issue with **PFRelation** when i am trying to pin the objects that was returned from a PFRelation query sometimes i get the data from the local data store and sometimes it's empty.

So another workaround that i did is to keep an array of ID's inside the object and then query the items from the local data store and use the **whereIn** option. I really think that we should think a

[2017-04-13 12:33] flovilmart commented on #1124
A new local data store can be developed independently of this SDK if there is such need to replace it.
I'd prefer avoiding a full rewrite / major refactor at that time as with all refactor, major issues can arise.

[2017-04-13 13:49] ranhsd opened #1132 "Endless loop"
HI, i experience some strange issue with the iOS SDK.

I have a **user** model inside this model i have all the relevant properties and also i have 0..n pointer to the user **Friends** I didn't created a dedicated class for **Friend** instead i added the other **User** models into the **Friends** column. So my User model looks like the following:

User:
firstName (String)
lastName (String)
....
fr

[2017-04-16 13:14] DanielsCode commented on #823
@lacker can you help?

[2017-04-16 20:31] ZacharyKhan commented on #971
@istx25 did the solution provided by @dnadri solve your issue?

[2017-04-16 20:32] istx25 commented on #971
Don't remember. That's almost a year ago.

[2017-04-16 20:37] ZacharyKhan commented on #1109
I think it would depend on the technology you're planning on switching to. The data itself is stored via a NoSQL database in JSON format, so there probably wouldn't need to too many changes there as most solutions will use this same structure.

If you are looking to go over to Firebase though, you will probably have to re-write a lot of your client-side networking code.

What other services/techno

[2017-04-16 20:42] ZacharyKhan commented on #1098
@1SimonL yes, **it will crash**. There will be no backend server to respond to your apps calls, but I'm sure you figured that out on **Jan 28, 2017** , when Parse retired its service.

You can, however, keep the code on your client-side device and spin up your own instance of Parse Server using **AWS** or **Heroku** and point your client application to it.

[2017-04-16 20:52] ZacharyKhan commented on #1093
Here is my solution within my own app, using **Swift 3.2** and **Xcode 8.3.1**:

[code]

What @cyring mentioned above about threading is important. Make sure to handle your network calls on a background thread and always update the UI on the main thread.

[2017-04-18 22:00] ruiluo-mobile opened #1133 "Can't connect to LiveQuery server"
On the server side I did the configuration step by step. And it worked for clients using Javascripts. Which means the server is working fine.

Here's what I got on server sider when clients sending subscription using javascript:

verbose: Request: {"op":"connect","applicationId":"id","javascriptKey":"unused","masterKey":"maskerKey"}
info: Create new client: 0
verbose: Push Response : "{\"op\":\"co

[2017-04-18 22:02] flovilmart commented on #1133
You're probably not retaining the subscription.

[2017-04-18 22:23] ruiluo-mobile commented on #1133
@flovilmart Yes I think so. But I double checked the port number and applicationId. Everything matched with the server config. Do I need to do extra configuration on the server side for the websocket? Because the javascript case was within the server like this, which happen internally in the server:
ParseServer.createLiveQueryServer(httpServer, {logLevel: 'VERBOSE'});
var query = new Parse.Query("

[2017-04-18 22:42] flovilmart commented on #1133
no, you just need to retain the subscription on a parent object. AFAICS, the subscription is a local variable to a function, an it will be released when the function ends

[2017-04-18 22:50] ruiluo-mobile commented on #1133
@flovilmart Thanks for your help. Well, I'll keep looking for solution. And could you please update the short snippet of the sample code in README? We should use the new version of this. Just want more new guys to see this:
http://stackoverflow.com/questions/39360601/parse-livequery-not-working

[2017-04-18 23:20] flovilmart commented on #1133
I'm not sure why you're closing the issue nor if your subscription is properly retained. But given your snippet, I can guarantee that the liveQuerySDK don't retain the subscriptions for you

[2017-04-18 23:46] ruiluo-mobile commented on #1133
@flovilmart Sorry this is the first time I use this, I didn't know close would be like this. I intended to show people the link, sorry about that. What do you mean by that guarantee?

[2017-04-18 23:53] flovilmart commented on #1133
I mean that if your nothing retains the subscription returned by th subscribe call, outside your function, the subscription will be deallocated when the function returns

[2017-04-19 10:03] ananfang opened #1134 "Catch an exception using LiveQuery when Local Datastore is Enabled"
1. set the Local Datastore enable
[code]
2. Make a chatroom shows all Message objects in this chat.
3. User input a new Message object, and save it.
[code]
4. Listen to new Message object using LiveQuery
5. It will catch an exception like this: **Attempted to change an objectId to one that's already known to the OfflineStore.**

I guess that when create a new PFObject under Local Datastore is enab

[2017-04-19 15:08] DanGTZ commented on #1120
@lfarah you have to enable automatic user in your AppDelegate after Parse initialization.

[2017-04-19 15:40] ruiluo-mobile commented on #1133
@flovilmart I deployed the parse server on heroku and the subscription works from iOS client, but the local server still can not establish the ws connection from the iOS client. As you said, I need to retain the subscription, but I am really new to this, and I didn't find solution anywhere else. Could you please tell me how to retain the subscription?

[2017-04-20 04:56] mknippen opened #1136 "Sign Up returning successful, but no objectId"
When using the iOS SDK, when I sign up a user in the background, I get a success BOOL, no error message, but no objectId on the user. When I look in the Parse Dashboard, there is no user record.

SDK Version: 1.14.4
Server Version: 2.2.7

[code]

When trying to save the user record afterwards, the same thing occurs.

[2017-04-20 13:21] rgipd opened #1137 "Best pratice for upload files through the PFFile"
Hello.

  I have multiples images to upload to a parse-server at a time.
  I know that I can have an dispatch queue serial and I could use it with a for loop (or maybe the dispatch_apply function to replace this loop), but, the PFFileController already (with Bolts) opens a new upload queue and then my queue is "useless". Putting some NSLock, I got a deadlock, it works with deadlock, but it's not a

[2017-04-21 01:02] hermanliang commented on #1137
you may use
[code]
http://parseplatform.org/Parse-SDK-iOS-OSX/api/Classes/PFObject.html#/Saving%20Many%20Objects

[2017-04-21 12:44] rgipd commented on #1137
Ok, that's a way, but I need to call a Parse Cloud Code function after each file be uploaded, so I was searching for an upload queue. This is possible?

[2017-04-22 13:00] hermanliang commented on #1137
1. You can handle it using a `afterSave Trigger`.
http://docs.parseplatform.org/cloudcode/guide/#aftersave-triggers

2. If you want to handle upload queue in your app, you can refer to the following syntax.
https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/13fbd09474f81a8c5d0cb77150e08122b4253ec6/Parse/PFObject.m#L390-L404

[2017-04-24 23:12] AlecKriebel commented on #921
I don't think this is the solution, but I get this error when trying to load a PPFile with spaces in the filename. Normally the spaces would be replaced with %20, however, this doesn't seem to be done by default in the iOS client or the Parse server.

[2017-05-03 10:36] code-K commented on #1083
when will this be solved?

[2017-05-03 11:17] flovilmart commented on #1083
I'll have a look soon, completely was out of my radar.

[2017-05-03 16:34] pranjalsatija opened #1138 "ld: framework not found Bolts for architecture arm64"
Hey guys, I'm working on a framework project that I use within one of my apps. I recently added Parse and Bolts to this project using Carthage. My setup is as follows:

- I have a project called `Core` that has a handful of source files that I wrote myself, along with Parse and Bolts (both built with Carthage). Parse and Bolts are linked in my project using the "link binary with libraries" build p

[2017-05-03 23:45] pranjalsatija commented on #1138
**update**: I decided to go with workspaces instead. While it isn't exactly a fix, I decided to create a new workspace with both `Core` and my app and just import `Core` using the workspace.

[2017-05-03 23:45] #1138 closed

[2017-05-06 23:20] #921 closed

[2017-05-06 23:21] flovilmart commented on #921
Closing as resolved. As for the issue with the spaces vs %20, feel free to open a new issue with proper details.

[2017-05-06 23:40] flovilmart commented on #1136
Can you provide the parse-server logs when running with VERBOSE=1?

[2017-05-10 08:04] kesongxie opened #1139 "App crash "Method requires Pinning enabled" even after calling enableLocalDatastore"
I encountered an App crash trying to retrieving objects from the local storage.
In my AppDelegate didFinishLaunching with options, I have the following:

In my **AppDeleagte**
[code]
I save a subClass of PFObject to a localStorage in this way
[code]
Error:
[code]

Any feedback will be appreciated.

[2017-05-10 09:56] agordeev opened #1140 "Can't install 1.14.4 using Cocoapods"
pod 'Parse', '~> 1.14.4'

 `pod install` returns:

The only workaround is `pod 'Parse', :git => 'https://github.com/parse-community/Parse-SDK-iOS-OSX.git', :tag => '1.14.4'`

[2017-05-10 11:11] flovilmart commented on #1140
Did you try `pod repo update && pod install`

[2017-05-10 11:55] agordeev commented on #1140
That worked, thanks!

[2017-05-10 11:55] #1140 closed

[2017-05-10 13:30] hermanliang commented on #1139
remove `Parse.enableLocalDatastore()`
and initialize Parse like this
https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/master/ParseStarterProject/iOS/ParseStarterProject-Swift/ParseStarterProject/AppDelegate.swift#L31-L44

[2017-05-10 13:37] hermanliang commented on #1139
To fit swift 3 syntax, it should be
[code]

[2017-05-10 22:28] kesongxie commented on #1139
Adding `$0.isLocalDatastoreEnabled = true ` inside the configuration resolved the issue, thanks!

[2017-05-10 22:29] #1139 closed

[2017-05-16 12:54] avalenzuelac commented on #657
I have the same problem but happens with some samsung devices :(

[2017-05-16 13:06] flovilmart commented on #657
This is the iOS SDK, not sure why you're mentioning samsung or motorola devices ;)

[2017-05-16 15:07] avalenzuelac commented on #657
I know bro, but its same problem :(

[2017-05-16 15:12] christianpbrink commented on #445
@hilalh did you find a fix for this? I see the same issue.

[2017-05-16 15:52] flovilmart commented on #657
Is the issue open on the android SDK? Not the same code, not the same issue

[2017-05-18 14:17] thibauddavid commented on #393
Hi there, any news regarding this ?
Still happening with 1.14.4

Any workaround otherwise ?

[2017-05-20 07:05] kesongxie opened #1142 "Can I use Spotify as third party login for PFUser?"
I need to integrate a Spotify login with parse. I browse the web and found a useful example from @flovilmart for Twitter here  [example](https://gist.github.com/flovilmart/68a6c538496953408bb1).  I spent hours and couldn't locate any information about using Spotify as the third party login. I had no idea how to specify the correct keys for let `authData` as the parameter for the `User.logInWithAut

[2017-05-20 12:57] nickgeorge32 commented on #1070
When trying to call the function `ParseErrorHandlerController.handleParseError(error: error as! Error)` I receive the following error "Use of unresolved identifier 'error'"

[2017-05-20 14:24] flovilmart commented on #1142
We just implemented it recently, I'll provide you with a code example shortly.

I believe you have to pass the id of the user alongside the access_token

[2017-05-20 18:31] kesongxie commented on #1142
Thank you very much for the quick reply. I successfully used `logInWithAuthType` to create a document in the `_User` collection with only a randomly generated string as the `username`, and `_auth_data_spotify` with some `id` and `access token`. Is there any way I can add my own column to this type of `_User`(with third party login). For example, I would like to add a `_Installation` column so that

[2017-05-20 18:35] flovilmart commented on #1142
You can set what you want on the user object, please refer to the documentation or stackoverflow for implementation related questions.

Http://docs.parseplatform.org

[2017-05-20 18:42] kesongxie commented on #1142
Thank you.

[2017-05-20 18:42] #1142 closed

[2017-05-22 02:10] flovilmart commented on #393
I recall encountering that bug a while ago, anyone wanting to work on a fix, we seem to have a good understanding of the issue.

[2017-05-22 02:11] flovilmart commented on #657
@jonlo any particular context / STR to trigger that issue?

[2017-05-22 18:39] THEDOWNCOUNTRY commented on #872
I have this same problem

[2017-06-01 06:32] hopye opened #1143 "Behavior of PFUser when expired token and relogin from FB"
Hi guys, i need to know about this behavior, im using login thru parse but also have a mysql db and im matching my users details and configurations using the objectId from Users in Parse. im also using Facebook Login, as im matching everything with the User objectid. when login in thru facebook, and then the token expires. this surely Wont create another objectId.. a new "user" right ? . im my mat

[2017-06-12 14:02] parulgarg004 commented on #764
@kirank-canwill can you please tell me how you solved this issue? I'm having the same problem.

[2017-06-13 19:06] mman opened #1146 "XCode 9: Main Thread Checker: UI API called from background thread: -[UIApplication applicationIconBadgeNumber] must be called from main thread only"
Using the 1.14.4 version with XCode 9 on iOS 11 with the new main thread sanitizer activated.

This is the backtrace I got:

[code]

Looks like ``PFApplication`` needs to dispatch back to the main queue to interact with ``UIApplication``.

[2017-06-13 22:08] flovilmart commented on #1146
Would you provide a Pr for that?

[2017-06-14 02:05] nyxee commented on #941
when i try to save(by calling object.save, or object.saveinBackground) i get the error below:

`2017-06-14 05:00:48.442 ParseStarterProject-Swift[30427:2780933] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[1]'
*** First throw call stack:
(
	0   CoreFoundation

[2017-06-14 10:03] mman commented on #1146
I'll try to get around to this during the summer, I'm currently bundling pre-built binaries of SDK so I'll need to spend some time to learn to rebuild the client side SDK code in order to test everything properly :). Are there any special steps needed to build? (read: I have not yet spent any minute investigating it :))

[2017-06-14 11:48] larceneaux commented on #1146
one quick thing to note here is that even before this new found issue using XCode 9 on iOS 11, Parse iOS/OSX SDK was spitting out anywhere from around 5-300 memory leaks per PFQuery, all pointing to BFTask and Save Eventually commands using Bolts. And no, these weren't my calls to save eventually or bolts, they were all internal issues to the SDK. The good thing was even though these issues were p

[2017-06-14 12:28] flovilmart commented on #1146
For testing you can just use rake, (look into .travis.yaml) this should properly run the tests and ensure CI passes correctly.

[2017-06-15 22:25] nyxee opened #1147 "Samples for XCode 8.2.1 and Swift 3 needed please."
Hello.

I have failed to go past the initial example of your platform (testing objects getting written to the database). I have tried the OSX and iOS SDKs in vain. Please help with a working Parse Starter project for XCode 8.2.1 and Swift 3. I wish its possible to get some information on whether this will not be possible.

[2017-06-15 22:29] nyxee commented on #1033
yes please, i had gotten excited about this Parse thing but after trying to get it to work for a week, i think its better to move on.. I wonder how it is on the Android side.. I already have my own API in php but i was hoping to give this thing a chance...

[2017-06-15 22:30] flovilmart commented on #1033
There's no issue with Swift 3 per-se. we use and run it in production. I'M not sure what you need that is swift 3?

[2017-06-15 22:37] nyxee commented on #1033
I need a Sample please.
So far all the Samples are not working on OSX and iOS.
For example, creating a NEw Project and importing the Parse and Bolts frameworks does not work.
It would be nice if u would provide a working example.

According to what you're saying, that should be extremely easy for you, but, i've spent a week trying to get past four lines. If i had a starting point, I would be ahead

[2017-06-16 03:36] otymartin commented on #1033
@nyxee you should use cocoapods. What specfically are you failing at? Theres nothing in this SDK that has failed me. Not even a single warning. IM on xcode 8.3 swift 3

[2017-06-17 06:34] sabarivasagan commented on #1070
I also having this same issue... I can't Import Parse in my project... even I created pod file in my project...Now I searching for help

[2017-06-18 20:36] larceneaux opened #1148 "Pod install target has frameworks with conflicting names: bolts."
I'm trying to install Parse iOS library for my project that includes a Share Extension. I'm using the latest release version of Cocoapods. I'm unable to link my Share Extension to the Parse framework no matter what I try.

this doesn't work

[code]
this gives the error:

this doesn't work

[code]

this gives the error:

this works for on device and simulator but I can't archive the app for upload,

[2017-06-19 09:01] JEKos commented on #965
This deprecated warning still exist on latest 1.14.4

[2017-06-19 11:22] flovilmart commented on #965
In which case does it return an exception? Can you point out the code that triggers it?

[2017-06-19 11:24] JEKos commented on #965
I change the 'exception' to 'error' and now it's ok. I can't find it right now where was it

[2017-06-19 13:05] larceneaux commented on #1148
I'm still looking for an answer, but for now, I just went with user Parse REST API with session token passing through shared keychain store between app and share extension while using ...

If anyone else has this problem, the Parse REST API using standard iOS methods and libraries seems to do the trick until this is fixed in Parse iOS SDK.

[2017-06-19 13:16] flovilmart commented on #1148
can you share a demo project on github that reproduces the issue? That would be the best so I can have a look!

[2017-06-19 13:47] larceneaux commented on #1148
Yeah, I'll drop you one later today, thank you sir.
Sent from my iPhone

[2017-06-19 13:48] flovilmart commented on #1148
Thanks!

[2017-06-19 21:15] Prateekrajdasari commented on #1073
i'm facing the same issue with version 1.14.4

[2017-06-20 16:55] larceneaux commented on #1148
I'm knee deep in two apps right now, I thought I'd get to this yesterday, it'll be sometime tomorrow, however. This bug is such a problem, I'll be loading 3-4 different projects showing what's wrong, so hold tight, it's coming.

Sent from my iPhone

[2017-06-20 17:20] flovilmart commented on #1148
Awesome! Thanks! I’ll try to get a fix ASAP!

[2017-06-21 10:52] aliasad106 opened #1151 "Parse iOS project built with carthage crashes with exception"
[code]

I have imported the frameworks of Parse and Bolts into the project and then when I run I get the above exception.

[2017-06-21 12:04] flovilmart commented on #1151
I believe you used the static libs and not the dynamic ones. How did you get the frameworks? Did you add them to the copy frameworks phase?

[2017-06-21 12:16] aliasad106 commented on #1151
@flovilmart I just built using these instruction

_Add the following line to your Cartfile:_
[code]
_Run `carthage update`, and you should now have the latest version of Parse SDK in your Carthage folder._

[2017-06-21 12:32] flovilmart commented on #1151
Did you add the `carthage copy-frameworks` to your build steps as described here? https://github.com/Carthage/Carthage

[2017-06-21 12:33] aliasad106 commented on #1151
@flovilmart Am I missing something ?

[2017-06-21 12:53] flovilmart commented on #1147
All sample projects have been updated on the master branch for Xcode 8.3 and Swift 3. Let me know if you need anything else.

[2017-06-21 12:53] #1147 closed

[2017-06-21 12:53] flovilmart commented on #1061
The project is now fully compliant with Swift 3

[2017-06-21 12:53] #1061 closed

[2017-06-21 12:55] flovilmart commented on #1099
You probably need to safely cast your object to an array

let likesNumber = (object.object(forKey: "Likes")? as? [AnyObject])?.first

[2017-06-21 12:55] #1099 closed

[2017-06-21 13:35] flovilmart commented on #1033
Merged on master. All samples are compatible with Swift 3 and tested by the CI

[2017-06-21 13:35] #1033 closed

[2017-06-26 07:17] baby03201 commented on #1120
I have similar issue until i start migrating cachePolicy to local datastore.
The problem is even I am using function such as objectWithoutData to avoid this situation, the library will still help me to find a full object from offline store and return to me.

Secondly, I've tried to revert the temporary changes on the user object but it doesn't work either.
The library will still list it in dirty c

[2017-06-26 10:01] henrydeclety commented on #807
I am getting 'Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set." ' when trying to login with PFFacebookUtils.logInInBackground, where/how can I get the server logs?
Thanks
Henry

[2017-06-26 16:58] flovilmart commented on #1151
@aliasad106 any news?

[2017-06-26 16:58] flovilmart commented on #1148
@larceneaux  any news on that?

[2017-06-26 17:00] larceneaux commented on #1148
yeah, i'm so slammed with work right now, it's still coming, let me crush
this out in a simple project today, hold up.

On Mon, Jun 26, 2017 at 10:58 AM, Florent Vilmart <notifications@github.com>
wrote:

[2017-06-26 17:02] flovilmart commented on #1148
no rush!

[2017-06-26 18:08] aliasad106 commented on #1151
@fl

[2017-06-26 18:08] #1151 closed

[2017-06-27 04:23] larceneaux commented on #1148
@flovilmart

here we go

double pod target
[TestingShareExtension with double pod target.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1104139/TestingShareExtension.with.double.pod.target.zip)

single pod target
[TestingShareExtension with single pod target.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1104140/TestingShareExtension.with.single.pod.target.zip)

d

[2017-06-27 04:37] larceneaux commented on #1148
@flovilmart

now, if I don't use the directive "use_frameworks!", then can build the project with the current stable release version of Pods. So it looks like this has something to do with building for Swift. I would normally keep this all in Objective-C, but I need to use Parse Live Query for this app and haven't had a change to look at Jet to write my own Parse Live Query lib using Objective-C a

[2017-06-27 13:34] flovilmart commented on #1148
So, the issue is with cocoa pods as it seems (https://github.com/CocoaPods/CocoaPods/issues/6446). I can manage to make it work with cocoapods 1.0.0.

[2017-06-27 14:50] larceneaux commented on #1148
Nice, I'll try that out,  I wonder if this the achieve can be verified by ITunes connect, I'll check it out later

Sent from my iPhone

[2017-06-27 16:28] larceneaux commented on #1148
@flovilmart

I rebuilt the app using Pods 1.0.0, everything installed just fine with cocaopods 1.0.0, however, when i tried to validate the archive, the following errors popped up

And while archiving was taking place, these errors popped up
<img width="548" alt="screen shot 2017-06-27 at 10 21 35 am" src="https://user-images.githubusercontent.com/16133244/27598616-4c73450c-5b23-11e7-8ee3-e3dd0c96

[2017-06-27 16:48] larceneaux commented on #1148
@flovilmart one more quick thing, I tried the same thing but without use_frameworks! and it worked just fine, I can upload and verify with iTunes connect, so this seems to be another Swift building issue only with the embedded frameworks. I should probably work on building out my own Parse Live Query library in objective-C so I don't have to rely on Swift. Swift is still too broken it seems in too

[2017-06-27 16:56] flovilmart commented on #1148
Not sure why you mention swift there, but go ahead, ParseLiveQuery is not supported on the WatchKit.
Also you may wanna have a look  at this cocoa pods plugin that allows mixing frameworks and static libraries (through a bridge framework)

https://github.com/flovilmart/cocoapods-mix-frameworks

[2017-06-27 16:58] larceneaux commented on #1148
Awesome, I'll take a look at it.

Sent from my iPhone

[2017-06-27 16:59] flovilmart commented on #1148
@larceneaux this implies using an additional framework target but it's all well demonstrated in the demo project.

[2017-06-27 17:49] larceneaux commented on #1148
Yep, that works, I'm going to test it out later today, thanks for everything.

Sent from my iPhone

[2017-07-01 02:52] otymartin opened #1154 "Method not allowed when Pinning is enabled"
@flovilmart
What exactly does this warning mean?

[code]

Specifically `Method not allowed when Pinning is enabled`

I have localdatastore enabled. When Im saving a PFObject, to my database, I get this error except its so vague. I think i only get this with the latest version of the SDK. Dont remeber seeing this prior

Here is my method

[code]

[2017-07-02 23:12] gstream commented on #77
I am facing same issue. After pinned object, I can't retrieve from local database.
[[query findObjectsInBackground] continueWithBlock:^id(BFTask *task) {
            if (task.error) {
                NSLog(@"Error: %@", task.error);
                return task;
            }

            NSLog(@"Retrieved %@", task.result);
            return task;
        }]

Fetching object from local database a

[2017-07-02 23:12] gstream commented on #77
But can retrieve objects without this line.
[query fromLocalDatastore];

[2017-07-06 22:50] montymxb opened #1155 "Removal of Default API"
Currently it appears the default url set for `_ParseDefaultServerURLString` in [ParseClientConfiguration.m (line 20)](https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/2e21ca6d0c53ee8fdad0908d88401175896015dc/Parse/ParseClientConfiguration.m#L20) is `https://api.parse.com/1`. Given that **api.parse.com** is no longer active and will only respond to requests with the following message...
[c

[2017-07-10 08:18] AlbinGrans opened #1156 "iMessage extension crashes because Parse is initialised twice"
### Issue Description

We are developing an iMessage extension with Swift. And to be able to initialize Parse, we have the put the Parse initialize code inside any of the iMessage controllers. Whenever a controller reopens, the app crashes. We have tried to put both in the override init and viewDidLoad.

### Steps to reproduce

Code in viewDidLoad or override init:

[code]
Then I run the app, and

[2017-07-10 12:47] flovilmart commented on #1156
You could put something like:

[code]

At the top of one of your controllers, this will effectively call the function lazily only once.

And when you need to make sure the SDK is Initialized:

`let _ = initParse`

This should do the trick simliarly to a dispatch_once

[2017-07-12 16:22] eduardbosch commented on #32
I was thinking also about moving my LDS data to Realm db, which is blazing fast.

Will be really nice to have a useful LDS implementation that allows storing thousands of records.

[2017-07-12 17:27] agordeev opened #1158 "Exposing unregisterAuthenticationDelegateForAuthType?"
I'm implementing Google Sign in. To do that, I need to call `PFUser.register(self, forAuthType: "google")`.

When the user is logged out and tries to sign in with Google again, the app calls `PFUser.register(self, forAuthType: "google")` again and apparently gets a crash on this:

    PFConsistencyAssert(![self authenticationDelegateForAuthType:authType],
                        @"Authentication d

[2017-07-13 19:04] sdsanches opened #1159 "Undefined symbols for architecture x86_64"
When executing the project **"ParseStarterProject" v.1.15.0**, in **Xcode 8.2.1** I receive the error below:

![captura de tela 2017-07-13 as 16 01 07](https://user-images.githubusercontent.com/2859891/28183081-8a83bd4a-67e4-11e7-8bd8-2be67d38a1b1.png)

When I add the `Parse.framework `and `Bolts.framework` libraries to an existing project, I get the same error.

1. Do I need to do any additional

[2017-07-13 19:54] massoud12345 opened #1160 "Slow query local and remote"
Hi, I am using  Parse version "1.14.4" iOS 10.3.2 and swift 3.
I am trying to see if I can create successive background queries in the form : if not in query 1 then query 200 new points as the existing local and remote queries are slow. Is this the expected behavior in terms of speed or is that to be addressed eventually?
Thanks

let placeObject = PFObject(className:"PlaceObject")
  let point = PF

[2017-07-14 17:29] markuswinkler commented on #1103
Maybe someone from the community can implement it?

[2017-07-16 14:52] flovilmart commented on #1158
You should register those only once at app launch. Does it help?

[2017-07-16 14:54] flovilmart commented on #32
Would you guys be interesting in implementing a LDS adapter interface so one would be able to register it’s custom adapter and use CoreData, CK, or realm? I’ll gladly help getting you started :)

[2017-07-16 15:10] agordeev commented on #1158
Unfortunately, no. I use workers to encapsulate logging in work, I don't store them in memory.

I tried to make my GoogleAuthWorker singleton, but unit tests are crashing anyway.

[2017-07-16 15:13] flovilmart commented on #1158
What do you mean you use workers? is it a macOS app? Or an iOS app?

[2017-07-16 15:16] agordeev commented on #1158
iOS app. Workers are just classes doing all the job :) Don't go too deep, this is the architecture I use.

[2017-07-16 15:34] flovilmart commented on #1158
But you can register the auth handled at the same time you initialize parse and you’ll be fine no? What prevents you to do that?

[2017-07-16 15:52] dplewis commented on #32
+1

[2017-07-16 16:14] agordeev commented on #1158
Workers are tied with UIViewControllers. I don't have any worker initialized when the app is launched.

[2017-07-16 16:34] flovilmart commented on #1158
so I suggest you revise your architecture as you’re misusing the feature. You can have a look at the FacebookUtils repository for a complete example. Also, the authentication delegate is just used for validating / restoring authentication data, which is not per-viewController.

[2017-07-16 16:34] #1158 closed

[2017-07-16 18:57] eduardbosch commented on #32
@flovilmart in really interested. My app is only for Android platform right now, so I'll like to implement the adapter, but for android 😊

I was planning to create a simple adapter for my app needs, but I'll prefer to implement it for the latest SDK 😍

[2017-07-16 19:43] flovilmart commented on #32
That would be nice, thatMs always better to share the same architectures and patterns on both platforms. What do you think @dplewis?

[2017-07-16 21:22] dplewis commented on #32
@flovilmart My app is on iOS and I use core data for a small set of data. I've been meaning to look into realm for a while now. I'm interested in the adapters

[2017-07-17 00:14] camcelroy commented on #1159
I am seeing this as well.  If this is holding you up, using the 1.15.0 starter project while pulling in the Parse.framework from the 1.14.4 release will successfully build.  The issue appears to have started with the 1.14.5 release.  I have not yet parsed through the diffs between those releases, though I suspect someone with more knowledge of the project may be able to do that more efficiently.

[2017-07-17 23:16] ColossalChris commented on #1159
Had the same issue as well trying to run anything from 1.14.5 on, but .3 is working for me

[2017-07-19 00:35] nebitrams commented on #1159
I am using Xcode 8.3.2 and tried the followings.

Parse-iOS-1.15.0 : hit the same "___llvm_profile_runtime" undefined symbol error
Parse-iOS-1.14.5 : hit the same "___llvm_profile_runtime" undefined symbol error
Parse-iOS-1.14.4 : works fine.

As Xcode 8.3.3 was released on 6-Jun-2017 and the two newer Parse iOS releases are at end of June.  Is there any chance that the 1.14.5 onwards requires the

[2017-07-19 01:00] flovilmart commented on #1159
probably because I built manually those releases with incompatible Xcode versions.

[2017-07-19 21:47] eduardbosch commented on #32
@flovilmart what would be the next steps? Will start with iOS only right now?

I'll be happy to help in android right now :)

[2017-07-19 22:41] flovilmart commented on #32
Yeah, perhaps with and architectural proof of concept. Optimizing the storage for queries is where I believe we should go ie: creating additional tables with optimal indexes and then querying the table that holds the data by objectId. What do you think?

[2017-07-20 07:48] eduardbosch commented on #32
This will speed up querying in LDS a lot. Could be a good start.

---
Anyway, I'm planning to move all my LDS to realm, so I can make queries directly to any data properties. Also, this will speed up a lot saving the data to LDS.

I was thinking about 3 options:

1. Reuse classes that extend from `ParseObject` as `RealmObject`, so data could be serialized directly to realm and users don't have to

[2017-07-23 15:45] flovilmart commented on #1143
This should be properly covered, if you wanna test for yourself, use a Facebook test account and change the password, this will invalidate access tokens.

[2017-07-23 15:45] #1143 closed

[2017-07-23 16:03] flovilmart commented on #1146
@larceneaux I've published a PR that addresses some memory leaks, can you have a look with the latest release?

[2017-07-24 22:27] agrt56 commented on #889
An app-wide caching mechanism for cloud code functions would be a useful addition. I used baasbox for my last project, until i realised that it's not longer maintained. It had a very good server side scripting engine which supported such a mechanism:

https://github.com/baasbox/baasbox/wiki/Plugin-Engine#cache-since-100-m3

Use-Case: Caching a limited set of non sensitive db entries, that don't ch

[2017-07-25 12:11] mman opened #1162 "XCode 9: PFSubclassing.object() breaks builds on XCode 9 beta 4"
Not sure what exactly is happening, but XCode 9 beta 3 started emitting this as a warning message:

```Unavailable class method 'object()' was used to satisfy a requirement of protocol 'PFSubclassing'```

and XCode 9 beta 4 marked this as an error making it impossible to even build the project.

Since ``PFSublcassing.object()`` is an optional requirement, commenting out the method in the ``PFSubcl

[2017-07-25 13:26] flovilmart commented on #1162
Uhm... Can you provide a PR, i’ll Setup a branch for Xcode-9 that we’ll be able to use as a dependency for pods/Carthage and a small notice in the README?

[2017-07-25 17:16] neilgandhi95 opened #1163 "orQuery not working"
I'm very simply trying to do an or query to yield results. With the orQuery, nothing is returned, but when I run each query independently, it works fine. Any ideas why?

[code]

[2017-07-25 17:19] neilgandhi95 commented on #1163
Solution: don't use .order constraint on query1 and query2

[2017-07-25 17:19] #1163 closed

[2017-07-26 03:00] bhanubirani commented on #965
Not sure if this is fixed.. I still get the same exception which doesn't allow my app to launch.

[code]

Any help on how do I fix it? or any quick-fix?

[2017-07-26 10:34] ferrinho commented on #936
any news on this? I'm getting the same error... I have includeKeys on both server and offline queries. The local queries work fine on the beginning, but then when I pin or unpin some objects "withName", and redo local query, I get this error.

[2017-07-26 10:35] ferrinho commented on #535
any news on this? I'm getting the same error... I have includeKeys on both server and offline queries. The local queries work fine on the beginning, but then when I pin or unpin some objects "withName", and redo local query, I get this error.

[2017-07-26 15:36] mman commented on #1146
I have prepared a PR against master, tested locally built framework against on one of my apps and main thread checker warnings are gone.

[2017-07-26 15:36] mman commented on #1162
I have prepared a PR against master, tested locally built framework against on one of my apps and the app builds again using XCode 9 beta 4.

[2017-07-26 18:03] wimbledon commented on #535
Same issue here. It's a terrible experience when user's data is gone.

[2017-07-26 18:14] ferrinho commented on #535
I've put some more work into this... I'm not sure if I found a replicable pattern, but it seems like every time I pin objects back to the database, local queries work again... in my specific case, this happens:
1. Server Query and pin all with name. Now local queries are working.
2. unpin and deleteEventually (corrupts database and I can no longer do local queries). Note that local queries without

[2017-07-26 18:35] davewhipps opened #1166 "Subclass of a Subclass Example?"
Is there an example of a "Subclass of a Subclass of PFObject" anywhere?

For the life of me I can't get this to work, at all, ever.

[2017-07-27 17:29] jdleo commented on #1006
Currently affecting ~20% of my users. 10,000 total users. I'm switching to fix #1006 and publishing tonight. Will report back!

[2017-07-27 17:42] flovilmart commented on #1006
@jdleo the SDK has been released for a while...

[2017-07-28 08:10] #1162 closed

[2017-07-30 17:42] funnel20 commented on #1006
@jdleo Can you elaborate with which version you see these tremendous amount of crashes?
We have 1.14.4 in production.
Here are the stats from the last 30 days with 250K monthly users:
`[PFObjectSubclassingController _registerSubclassesInBundle:]` not reported
`[PFObjectSubclassingController _registerSubclassesInLoadedBundle:]` reported 14 times

[2017-07-31 20:09] nextbigidea commented on #32
Are there any good ideas / success stories from others going from LDS to Realm? Core Data? Also didn't know LDS had been deprecated.

[2017-08-07 19:21] grahamito commented on #1072
@allen8300 , what were the other services you ended up using ? thanks.

[2017-08-14 18:18] dblythy opened #1167 "fullTextSearch Support"
Any idea on when fullTextSearch query support will be available in iOS?

Cheers

[2017-08-14 22:36] tealshift opened #1168 "I seem to still get PFCommandCache memory errors"
I've made a stackoverflow post here: https://stackoverflow.com/q/45683981/1921002

Let me know if there is any more information you need to help resolve.

[2017-08-15 10:04] flovilmart commented on #1168
We see this as well, we're working on a fix at the comment and expect to release soon.

[2017-08-16 07:36] claesjacobsson opened #1169 "PFInstallation on tvOS?"
Will PFInstallation be included on tvOS? Among other things, my app is using channels to send push notifications so I really need it.

[2017-08-16 09:44] flovilmart commented on #1168
@tealshift any STR that would help me reproduce and make sure the fix is 👍

[2017-08-16 09:50] ogezue commented on #1166
Before XCode 9 beta 2 this was possible:

[code]

Perhaps this helps you. But now with beta 5 I'm fighting with this error:

[2017-08-16 09:52] ogezue opened #1171 "Type 'MyClass' does not conform to protocol 'PFSubclassing'"
With the latest Version of XCode 9b5 and the Parse SDK 1.15.1 I can not subclass anymore. Any idea what might be wrong?

The error is:
**Type 'Location' does not conform to protocol 'PFSubclassing'**

[code]

[2017-08-16 10:09] flovilmart commented on #1168
@tealshift can you try with the branch: `fix/1168-heapcorruption`

example with Podfile:

[code]

[2017-08-16 16:09] tealshift commented on #1168
@flovilmart Alright, I'll give it a shot. I'm not the best memory debugger but I'll try my best. Can you tell me what an STR is?

[2017-08-16 16:21] flovilmart commented on #1168
STR: Step To Reproduce, that would be helpful to ensure that this is gone for good, we have the issue as well in production, but never noticed it in our dev or QA builds.

[2017-08-16 16:24] tealshift commented on #1168
I'm still setting up my project with the new SDK, but did you try profiling Zombies using Release configuration in the scheme? That's what I've done to reproduce and sounds like the ticket.

[2017-08-16 16:33] flovilmart commented on #1168
yep, seems fixed, can you try again with the same steps with the branch and let me know if that's fixed?

[2017-08-16 16:40] tealshift commented on #1168
Hmmm I just ran into this with the new SDK.
![screen shot 2017-08-16 at 9 39 47 am](https://user-images.githubusercontent.com/7879237/29374629-f444d3ee-8266-11e7-93f8-f57cbd640930.png)

[2017-08-16 17:01] tealshift commented on #1168
Sorry but I'm having trouble converting my framework import from manual to CocoaPods. I'm not 100% certain I had the new framework from pods linked.

[2017-08-16 17:13] flovilmart commented on #1168
You were importing it manually? That’s trickier. Would you be able to make a sample app that has the issue?

[2017-08-16 17:14] flovilmart commented on #1168
Also, can you share the bottom of the retain/release list, and that may help identify your issue

On Aug 16, 2017, 19:01 +0200, tealshift <notifications@github.com>, wrote:

[2017-08-16 17:28] tealshift commented on #1168
![screen shot 2017-08-16 at 10 23 01 am](https://user-images.githubusercontent.com/7879237/29376316-021cc660-826d-11e7-888a-4515762b9175.png)

To clarify, by "manual" I mean I simply dragged the framework file into my project. I'm not terribly familiar with the terminology.
My issue is with my iMessage target trying to import an objc header that imports <Parse/Parse.h> resulting in "File not found

[2017-08-16 18:09] tealshift commented on #1168
Ok, I just fixed my pod issues and I've definitely removed the old framework file. The Zombie Messaged event still occurs as I screenshotted so I must have had the new stuff linked. Anything else you'd like to see?

[2017-08-16 21:51] flovilmart commented on #1168
Do you have a code example that triggers this behavior / sample project?

[2017-08-16 22:06] tealshift commented on #1168
I made a new project but didn't get the zombie message. It could take me a long time to find the actual cause in my project, sadly. :(

[2017-08-16 22:10] tealshift commented on #1168
I can't share my project, but I'd gladly take some pointers on finding the cause.

[2017-08-17 07:58] flovilmart commented on #1168
Yeah, I understand that, i’ll Investigate further.

[2017-08-18 13:43] flovilmart commented on #1168
I'm seeing something as well, with the zombie tools on that branch, investigating now.

[2017-08-18 16:23] flovilmart commented on #1168
@tealshift just updated the branch, can you tell me if that's better for you now? I don't see it anymore, an no leaks either are popping.

[2017-08-18 16:41] tealshift commented on #1168
Looks good! My profiler found a zombie before the **pod update** and didn't right after. Thank you!

[2017-08-18 16:44] flovilmart commented on #1168
YES! Very nice! And AFAICT, it seems that the deallocation is happening correctly as well :)

[2017-08-20 15:18] flovilmart commented on #1168
@tealshift do you confirm you don't have any zombie messaging nor leaks around the command cache anymore? Do you mind having a look at the PR and let me know what you think?

[2017-08-20 15:18] flovilmart commented on #1171
what's the suggested fix?

[2017-08-20 16:38] tealshift commented on #1168
Yeah, no issues from Parse so far! I read your recent commits and though I haven't played much with block execution myself, they look correct.

[2017-08-20 17:29] flovilmart commented on #1171
@ogezue we have it declared this way in our project:
[code]

Does it work for you?

[2017-08-20 19:29] flovilmart commented on #1168
Good to hear!

[2017-08-21 05:39] ogezue commented on #1171
To be sure I deleted the extension and implemented it like you with the same result.
I solved it now by going back to Swift 3.2 - here it is working. So it is an issue with Swift 4.

[2017-08-21 11:21] flovilmart commented on #1171
Ok, we’ll try to figure out something, in the meantime, you can probably file a radar as it seems to be a regression / side effect on the latest swift builds.

[2017-08-21 19:20] jordanhbuiltbyhq opened #1172 "Fails to build when implementing PFSubclassing protocol"
In Xcode 8.3.3 using Swift 3 with the latest version of Parse iOS SDK, implementing the PFSubclassing protocol for a PFObject subclass causes the Swift Compiler to fail.

Command failed due to signal: Abort trap: 6
Merge AppName.swiftmodule

1.    While deserializing decl #150 (XREF)in 'AppName'
2.    Cross-reference to module 'Parse'
    ... PFObject
    ... in an extension in module 'Parse'

[2017-08-21 19:26] flovilmart commented on #1172
If you're using cocapods, can you try using the master branch an let me know? We see a similar issue with Swift 4.

[2017-08-21 19:32] jordanhbuiltbyhq commented on #1172
Building from master fixed it! Thank you. I'm reading you no longer need to call `registerSubclass` but do still need to adopt `PFSubclassing`. All seems well but haven't tested actually using the object.

[2017-08-21 19:39] flovilmart commented on #1172
Good to hear! What version of the SDK are you using?

[2017-08-21 19:40] jordanhbuiltbyhq commented on #1172
1.15.1

[2017-08-21 19:42] flovilmart commented on #1172
I'm crafting 1.15.2 for today.

[2017-08-21 19:42] flovilmart commented on #1172
Thanks for reporting the issue :)

[2017-08-21 19:42] #1172 closed

[2017-08-21 20:13] mprogers opened #1173 "Product Name"
This is not a big deal, but you've got Parse-macOS and ParseStaterProject-OSX. For consistency's sake, could you rename the latter as ParseStarterProject-macOS (in keeping with Apple's branding).

[2017-08-21 21:27] gateway opened #1174 "Pod - Parse 1.15.1 Missing PFPolygon.h/m"
Trying to build a project today and have the included pod files for parse, throws an error for:

make sure everything was cleaned so I nuked my Pods/ folder and did pod install..

Here are the pods that where pulled in.

[code]

Also looked in my Pods/Parse/Parse folder for PFPolygon.h and it clearly doesn't exist..

Can anyone else confirm this?

[2017-08-21 21:29] flovilmart commented on #1174
What platform are you building for?

[2017-08-21 21:37] gateway commented on #1174
Trying to do a build on my phone, building for iOS 10.. I even nuked the whole folder of our code base, did a clean git clone and pod install.. no dice .. very odd.. not sure what to do..

![image](https://user-images.githubusercontent.com/519563/29539314-2ce7150c-867e-11e7-95c4-0197e1e1bdf2.png)

[2017-08-21 21:44] gateway commented on #1174
Hold, looking at the issue.. may be that one of our programmers actually checked in their Pods folder causing issue..  verifying now.

[2017-08-21 21:54] gateway commented on #1174
Ignore, was previous Pods folder issue :( sorry about that.

[2017-08-21 21:54] #1174 closed

[2017-08-21 23:04] #1168 closed

[2017-08-22 12:03] QB3L opened #1175 "Race conditions related to PFEventuallyQueue, PFCommandCache"
Been seeing this a lot. Seems to be related to setting the connected state.

==================
WARNING: ThreadSanitizer: data race (pid=58906)
Write of size 1 at 0x7d1000012862 by thread T2 (mutexes: write M1031):
#0 -[BFTask setCompleted:] BFTask.m (Bolts:x86_64+0x104a7)
#1 -[BFTask trySetResult:] BFTask.m:302 (Bolts:x86_64+0xbc33)
#2 -[BFTaskCompletionSource setResult:] BFTaskCompletionSource.m

[2017-08-22 13:43] flovilmart commented on #1175
Seems that the issue is in Bolts and not the Parse SDK. I ran the thread sanitizer and realized this:

Upon callback, setting the result on a particular thread
[code]

when a task is marked `waitUntilFinished` 
[code]

Also there seems to be a note about it:

[code]

[2017-08-22 15:09] guidupas opened #1176 "Swift - Parse PFUser not registering subclass in Mac OSX"
I am trying to use Parse PFUser in a software for OSX desktop. When I try to use it PFUser.query() it gives a message: Failed to set (contentViewController) user defined inspected property on (NSWindow): The class PFUser must be registered with registerSubclass before using Parse.

It is happening without registering the class.

I tried it registering the class this way: PFUser.registerSubclass()

[2017-08-22 15:18] QB3L commented on #1175
This is really good to know. I'll keep an eye for any other stuff. Should we close this until they fix it on their side then?

[2017-08-22 15:36] flovilmart commented on #1175
We should probably open an issue and provide a fix :)

[2017-08-22 19:44] levigroker commented on #1068
ParsePlatform#1087 fixes this.

[2017-08-22 19:44] #1068 closed

[2017-08-24 12:24] thibauddavid opened #1177 "App needs closing for sharing extension to see update on shared keychain"
Hi,

When I login/logout an user, my app sharing extension won't see any update until I force close containing app.
For instance, if I logout my user, and open my sharing extension, PFUser.current() returns previous user I've just logged out, instead of nil.

I've tried manually calling .synchronized on my `UserDefaults(suiteName: "my-app-group")` right after login/logout without success.

Is ther

[2017-08-28 19:53] tealshift opened #1178 "Issue with PFFile content local persistence"
Since there is no support yet for Local DataStore of PFFile, and I already have an in-house solution for archiving a PFObject's file (staged) content, is there a way that I can update a PFFile with my own local path for content so it doesn't attempt a network fetch when I use [PFFile getData]?

[2017-08-28 22:57] tealshift commented on #1178
In an attempt to add this feature myself, I've written a new public method in PFFile:
[code]
Seems to work! Does anyone think this would be useful enough to go into a PR?

[2017-08-30 14:39] pranjalsatija commented on #1167
I wouldn't mind trying to take this on as a first contribution to the Parse iOS SDK, but I'd need a little bit of guidance from the core team (@flovilmart) and the like. Could you guys point me in the right direction?

[2017-09-01 02:50] FourOnes opened #1179 "Caught Exception: Invalid latitude type passed: 27.911170181"
Hi, The error message：

The query result data length equal zero, actually database have many datas.

This is my code:
![image](https://user-images.githubusercontent.com/3375961/29953344-eb78d6f0-8f01-11e7-9e3a-2fe6fbef35a4.png)
The User Collection contain user's location field, like this：
![image](https://user-images.githubusercontent.com/3375961/29953371-2bc00aa8-8f02-11e7-92b2-a0a24cf122e4.png)

[2017-09-01 14:04] funnel20 commented on #1146
Is there any update on this?
I still see it with Parse 1.15.1, Xcode 9 beta 6 and iOS 11 beta 9

[2017-09-01 14:06] flovilmart commented on #1146
with making the call 'synchronized' on the main queue, the issue is that if you're 'waiting' on the main queue, your app will deadlock. (why @mman 's PR is failing at the moment).

[2017-09-02 05:24] ShawnBaek commented on #290
Same here

[2017-09-02 07:18] ShawnBaek opened #1180 "$0.isLocalDatastoreEnabled = true -> storyboard cannot initialized.."
Hi, I have a problem with isLocalDatastoreEnabled = true.

I added libsql3.tdb files in my project.

My problem is..

in AppDelegate.swift

------------------------------------------------------------------------------------------------
            guard let mainStoryBoard:UIStoryboard=UIStoryboard(name:"Main", bundle:nil) else { return }
           //error occurs in below!
            guard let m

[2017-09-02 09:33] ShawnBaek commented on #1180
I think this problem related with "instantiateViewController" and $0.isLocalDatastoreEnabled.

If I resolve this issue, then I will share.

[2017-09-02 12:57] flovilmart commented on #1180
isLoxalDatastoreEnabled is a getter, you should use the setter to set the value to true

[2017-09-02 13:43] ShawnBaek commented on #1180
@flovilmart Thank you! It was my problem.

I solved this problem.

$0.isLocalDatastoreEnabled (x) ->  Parse.enableLocalDatastore()

[2017-09-02 13:44] #1180 closed

[2017-09-02 13:45] #1127 closed

[2017-09-04 12:04] funnel20 commented on #1146
Thank you for the update. I have shared a solution of another project in the PR: https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1165

[2017-09-05 09:49] eduardbosch commented on #32
@flovilmart @dplewis Any news on start a LDS alternative?

Thanks

[2017-09-05 11:45] flovilmart commented on #32
Not yet

On Sep 5, 2017, 05:49 -0400, Eduard Bosch Bertran <notifications@github.com>, wrote:

[2017-09-05 13:19] ayoze opened #1181 "PFEventuallyQueue sync"
Hello,

I am using Parse in some of my offline-online projects (apps which needs offline information storing and syncing when possible with the server. Local datastore works good here for me).

The only strange behavior is that the PFEventuallyQueue has no idea about the state of the network connection IMO. The scenario is:

1. Device with no internet connection
2. Create the object locally, pin i

[2017-09-05 13:51] ShawnBaek commented on #1139
@hermanliang isLocalDatastoreEnable is getter. Isn't it?

[2017-09-05 13:53] brianyyz commented on #1181
I use the Reachability framework so that the app can respond to the loss of network and return of network.
https://github.com/ashleymills/Reachability.swift

If the reachability listener reports a network status change it can push a notification that other parts of the app can listen for and respond to.

In your case when your reachability instance reports return of network connectivity you could

[2017-09-05 13:56] flovilmart commented on #1181
@ayoze the PFEventuallyQueue is actually listening for reachability changes, if you look at the code you’ll see by yourself. What you describe is probably a bug. I’ll check it out.

What version of the SDK are you running?

[2017-09-05 13:58] ayoze commented on #1181
Yes @flovilmart, I've seen that in the code, but not sure why it is not working. The SDK I am using, from cocoapods is:   Parse (1.15.1)

[2017-09-05 14:01] flovilmart commented on #1181
can you try the 1.15.2?

[2017-09-05 14:52] ayoze commented on #1181
@flovilmart same behavior. The app is now like in a "hold" state.
I can see the new object created for a fraction of a second when I query the local datastore. Then, when the second callback comes (from server) it disappear.
In the server the object has not been created (checked in the dashboard).

If I disconnect from wifi, I can see the new object. If I connect, it disappear immediately. When I

[2017-09-05 14:58] ayoze commented on #1181
@flovilmart just trying to put some light here... in PFReachability.m:
- Method _reachabilityCallback is called correctly when network state changes (line 32).
- Method setFlags is called correctly
- Method _notifyAllListeners is called correctly
- Inside _notifyAllListeners, array _listenersArray is **empty**
- Obviously the reachability:didChangeReachabilityState: method in PFEventuallyQueue is

[2017-09-05 15:09] flovilmart commented on #1181
So you’re using the local data store, with saveEventually right?

[2017-09-05 15:21] hermanliang commented on #1139
@ShawnBaek Yeah, it is getter in ObjC. But it is also setter after it's transferred to swift (please see the generated interface of the ParseClientConfiguration.h in Xcode).

[2017-09-05 20:55] flovilmart commented on #1181
I'm looking into it.

[2017-09-05 20:56] flovilmart commented on #1181
@brianyyz it's already internally wired up for that.

[2017-09-05 21:55] flovilmart commented on #1181
@ayoze can you try the branch that I just pushed, this should be all good now :)

[2017-09-05 23:05] brianyyz commented on #1181
Thanks @flovilmart - I'm updating apps so I'll look at moving over to PFEventuallyQueue !

[2017-09-06 07:04] ayoze commented on #1181
It seems to be fixed but if you don't mind, let me make some more testing, ok? I will open another issue with another local datastore related issue :/

[2017-09-06 09:29] ayoze opened #1183 "Local datastore OfflineObject pointer not working correctly"
Hello (again)... I am experiencing some troubles with local datastore while working offline.

The scenario is: User can create entities of "Group" and people inside the group with class name "Alumno" (Student).  So I have those 2 models and in "Alumno" I have a pointer to "Group". Everything works correctly online.

When the app has no connection to the server I let the user create a Group: everyt

[2017-09-06 09:45] claesjacobsson commented on #1146
+1

[2017-09-06 12:00] ayoze commented on #1181
@flovilmart it seems the PFEventuallyQueue is terminated for any reason at start. I think the problem is in the method ParseManager::eventuallyQueue... the CommandCache queue is terminated at the application start so no other commands can be enqueued (I have not researched if the command queue is created again if needed, sorry).
When I try a deleteEventually in the future, the field "isDeletingEve

[2017-09-06 12:14] flovilmart commented on #1181
We terminate a queue that is useless and it prevents a retain cycle, as far as I know, the queue that gets terminated is not references outside the scope of eventuallyQueue, so there’s no way it can be useful. The only queue you should have in memory is the PinningEventuallyQueue AKAIK.

[2017-09-06 12:14] flovilmart commented on #1181
I’ll still look into the lifecycle of the PFCommandCache.

[2017-09-06 13:48] ayoze commented on #1181
Another strange thing happening in the same object I talked before (HorarioFranja).
To let the user delete it, I have a method with this code in a category of PFObject:
[code]

This method unpins the object from LDS and then do a delete (eventually if no internet access is recognized, delete directly otherwise).
Pin name is: xxHorarioFranjaxx (same for pin method).

The point is that when I call t

[2017-09-06 13:52] ayoze commented on #1181
My pin-and-save method, if needed:

[code]

[2017-09-06 14:50] flovilmart commented on #1181
In your unpinAndDelete, is it the delete eventually that add to the store as deleted?

[2017-09-06 15:02] ayoze commented on #1181
Hmm I don't understand... what do need me yo test? Is the unpin method
needed or the deleteEventually also unpins if the object is in the LDS?

El El mié, 6 sept 2017 a las 16:50, Florent Vilmart <
notifications@github.com> escribió:

[2017-09-06 15:30] flovilmart commented on #1181
I believe deleteEventually is re-pinning your object for some reason, can you try remove it?

[2017-09-06 15:49] ayoze commented on #1181
Hmmm even stranger: when I remove the deleteEventually, the object is not removed at all in the first load nor in the second. Like if the unpin is not working...

[2017-09-06 16:26] flovilmart commented on #1181
Would you be able to write a test and open a PR with this failing test?

[2017-09-06 23:19] ayoze commented on #1181
Well, I'm not much into unit testing :( If I can provide more information...
By the way, I've seen that the disappear-appear problem only happens when the object is first created, after that, if I call again the unpinAndDelete it does not disappear at all. I can post the raw objects in the database before and after calling the unpinAndDelete method.

Does anybody know any way I can bypass this bug

[2017-09-06 23:22] flovilmart commented on #1181
it's never too late to get started, the project has a high coverage of many use cases, and that would really help debunk the issue as I have trouble understanding your whole flow.

writing a test would really help isolate the issue.

[2017-09-07 12:01] olleraab opened #1184 "Deadlock in fetchAll"
There is a deadlock when using fetchAll and two objects has pointers refering to each other, indirectly or directly.

When processing the result from fetchAll, all objects are handled individually in separate BFTasks. This happens in PFObjectController - processFetchResultAsync:forObject: in the method _collectFetchedObjects.

_collectFetchedObjects does a @synchronized (lock) on its object, trave

[2017-09-07 12:25] flovilmart commented on #1184
We’ll have a look, do you feel you’ll be able to write a breaking unit test?

[2017-09-07 12:59] alex-vasenin commented on #1146
+1

[2017-09-07 14:11] mman commented on #1146
Thinking about it a bit more. ``UIApplication.badgeCount`` emits a warning when not accessed from the main thread. I believe this is done via some special compiler annotation.

Since we are not accessing this property directly but via a wrapper ``PFApplication`` class, maybe a better approach would be to simply annotate ``PFApplication`` methods that invoke the appropriate ``UIApplication`` method

[2017-09-07 14:20] flovilmart commented on #1146
I like your approach, also, do we know if KVO works for UIApplication.badgeCount? That would be an elegant solution, prone to race conditions in extreme cases, but, acceptable

[2017-09-08 04:23] pranjalsatija commented on #1178
I'm pretty sure that `PFFile` automatically fetches data from the on disk cache unless the file in question is associated with a dirty key. I'm pretty sure that you can't actually change a `PFFile`, you just have to upload a new one and change an object's reference to the file, and the Parse SDK takes advantage of that immutability to avoid fetching files when it's not necessary to do so.

If this

[2017-09-08 16:03] tealshift commented on #1178
Ideally yes. Parse Subclassing handles nearly all my data interfacing needs so it seemed the logical next step was to wrap the PFFile accessors in a similar fashion. I think you're right in hindsight though. I could have restricted my access of PFFile content to their url property instead of using their [get] methods. Thanks for your input!

[2017-09-08 18:06] pranjalsatija commented on #1178
Additionally, you may want to subclass `PFFile` and expose a `persist()` member function, so whenever you want to save a file locally, just call `file.persist()`. Additionally, you could create a static function to read files from disk (something like `File.read(fileName: "abcxyz")`), and you could have the `File` class compare the name of the file being read with the name of the file that was jus

[2017-09-09 17:46] #1181 closed

[2017-09-12 23:53] laurentfarci commented on #1171
I have the same issue and had to revert back to swift 3.2 - Please let me know if you find a way to fix this.

[2017-09-12 23:55] flovilmart commented on #1171
DID you try 1.15.2?

[2017-09-13 00:27] laurentfarci commented on #1171
@flovilmart Yes I am using Parse SDK 1.15.2 and Xcode 9 GM - The error is the same as ogezue. Type 'PICTURE' does not conform to protocol 'PFSubclassing'

[2017-09-13 01:14] flovilmart commented on #1171
So that’s good then.

[2017-09-13 01:25] polo2244 commented on #822
Hope this helps someone.
I was recently stuck on the same issue.
This is my code, the way I fixed it is in the comments.

    self.alreadyFetchedObjectIds = @[];
    PFQuery* query = [PFQuery queryWithClassName:@"classname"];
    [query whereKey:@"A" equalTo:@"B"];
    [query whereKey:@"C" equalTo:@"D"];
    [query whereKey:@"objectId" notContainedIn:self.alreadyFetchedObjectIds];
    query.cacheP

[2017-09-13 11:43] craiggrummitt commented on #1171
@laurentfarci I'm having this problem too, but I'm not following what your solution was. Can you go into more detail?

[2017-09-13 11:46] ogezue commented on #1171
The Problem solves with XCode9 GM. Just clean your cache.

[2017-09-13 11:46] #1171 closed

[2017-09-13 14:43] laurentfarci commented on #1171
@craiggrummitt Make sure you are using Parse SDK 1.15.2 and Xcode 9 GM. Clean your build folder in Xcode - and then for my part I had to rewrite the start of my class extensions start i.e "extension PICTURE: PFSubclassing {"

[2017-09-14 15:11] craiggrummitt commented on #1171
Ok, I'll check all that - but that last part was what I didn't understand. How was that extension declaration different to the extension declaration you had previously?

[2017-09-14 18:40] laurentfarci commented on #1171
@craiggrummitt You are welcome. There was no difference for the declaration, somehow Xcode was still showing me the error and by re-typing the declaration with auto-complete it made the error message disappear.

[2017-09-15 05:09] cavnit opened #1189 "iOS 11 - Checker: UI API called on a background thread: -[UIApplication applicationIconBadgeNumber]"
Currently the SDK seems to be updating the applicationIconBadgeNumber on the background thread which will result in a crash on apps compiled with iOS 11 as the deployment target.

The requirements is that all UI API calls must be made on the main thread.

=================================================================
Main Thread Checker: UI API called on a background thread: -[UIApplication app

[2017-09-15 05:26] cavnit commented on #1189
Sorry, should have searched, duplicate of #1146

[2017-09-15 05:26] #1189 closed

[2017-09-15 13:33] craiggrummitt commented on #1171
@laurentfarci Ha! OK, thanks for clarifying.

[2017-09-16 10:32] claesjacobsson commented on #1146
Anyone about to submit a PR regarding this?

[2017-09-16 11:45] flovilmart commented on #1146
Submitted here: https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1186

[2017-09-16 12:20] claesjacobsson commented on #1146
👍🏻 Thanks!

[2017-09-16 12:21] flovilmart commented on #1146
This is still waiting for feedback, all tests are passing.

[2017-09-17 11:39] farhansyed9 opened #1190 "There's no decrement method on PFObject?"
I have a number in the dashboard I'd like to increment and decrement.

I do `object.incrementKey("key")`

works fine.

But the opposite isn't an option.

I theres no such method to decrement it.

[2017-09-17 13:38] flovilmart commented on #1190
Use object.incrementKey(« key », -1)

[2017-09-17 13:38] #1190 closed

[2017-09-20 19:02] mtrezza opened #1191 "IconBadgeNumber has to be set on main thread"
After updating to iOS 11, Swift 4 and Xcode 9, calling `PFInstallation.saveInBackground` throws the error:

Error seems to be related to this, which should be executed on the main thread:

https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/7a820b75c6726808475af9ce705053ff0e8cbd11/Parse/Internal/PFApplication.m#L74-L82

[2017-09-20 19:12] flovilmart commented on #1191
can you tryout that branch `modernization-without-bolts` with cocoapods?

[2017-09-20 19:22] mtrezza commented on #1191
I'm not using pods, but looking at the code I think it would solve the issue.

[2017-09-20 19:49] flovilmart commented on #1191
@mtrezza this should also work with Carthage!

[2017-09-21 18:51] matuella commented on #1169
Reaaaaaaallly need an update on this one, any plausible solution?

[2017-09-21 22:09] flovilmart commented on #1169
You can probably get started on that and open a PR ;)

[2017-09-22 00:55] matuella commented on #1169
I tried to fork and started to do what a branch called "" did, but I faile because of my shallow knowledge :( I'm actually working on a project that I've to deliver it ASAP

[2017-09-22 00:57] flovilmart commented on #1169
And you should not depend on someone else to implement it, I’m sorry, but that’s not how open source work...

[2017-09-22 01:00] matuella commented on #1169
I absolutely agree! Just wondering if someone got a solution, not blaming anything here :)

[2017-09-22 18:20] mtrezza commented on #1191
@flovilmart works without error. what is this branch - is it safe for production?

[2017-09-22 18:20] flovilmart commented on #1191
Should be, I was wondering if it could be tested before merge/release!

[2017-09-22 18:27] mtrezza commented on #1191
Looks good so far, no compile or runtime warnings/errors. I'll be using it for development from now on. Anything specific that should be tested?

[2017-09-22 18:44] flovilmart commented on #1191
I,m usure about the dispatch_sync call there: https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1186/files#diff-0ca981762244e8376faf320ec0704646R129

if something else is blocking the main queue (like a task.wait()) this could deadlock

[2017-09-23 12:14] Samigos opened #1192 "Xcode 9 / Bolts-Swift error"
I just upgraded Xcode, now with Swift 4 and an error has occurred at the `Task` swift file, of `Bolts-Swift` directory! See picture below:

<img width="1431" alt="screenshot at sep 23 15-09-58" src="https://user-images.githubusercontent.com/9467442/30773052-4cc9ed74-a071-11e7-8a34-772b9903cdff.png">

It seems the `success` case needs an argument...
Have in mind I already have upgraded the SDK with

[2017-09-23 12:24] flovilmart commented on #1192
Please open an issue on the boltsSwift project.

[2017-09-23 12:24] #1192 closed

[2017-09-23 12:54] mtrezza commented on #1191
Right, the `wait()` did paused the main queue and the location manager block never executed:

[code]

However since `CLLocationManager` has to be called on the main queue I think it is simply not an option to pause the main queue when calling `PFGeoPoint.geoPointForCurrentLocation`.

[2017-09-23 12:57] flovilmart commented on #1191
Yeah, calling wait on the main queue will block :/ also, in normal usage, do you think it will be an issue?

I’ll use dispatch async instead of dispatch sync

[2017-09-23 13:00] mtrezza commented on #1191
Yeah, I think `async` is the way to go.

[2017-09-23 13:04] flovilmart commented on #1191
I just pushed on the branch, but I'm not sure the semaphore will not deadlock your app as it still needs to jump back on the main queue to check the application state.

On 23 sept. 2017 09:00 -0400, Manuel <notifications@github.com>, wrote:

[2017-09-23 13:08] mtrezza commented on #1191
Actually, I think it doesn't make any difference whether it's `sync` or `async`, in any case the main queue is blocked. I will try out your push.

[2017-09-23 13:38] mtrezza commented on #1191
Main queue is blocked also with `async`. Maybe just add to the docs of `geoPointForCurrentLocation´ that it executes on the main thread and thus main cannot be paused. It's justifiable as the constraint exists by iOS design.

[2017-09-23 13:43] flovilmart commented on #1191
@mtrezza what do you thinks about that? https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1186/commits/18e002d40fccb9e6ce8d41ae30681d6f05ab911a#diff-eb4040482e1391e16621c54aab7cded9R60

[2017-09-23 14:38] mtrezza commented on #1191
I'd say perfect and ready for merge

[2017-09-23 14:41] mtrezza commented on #1191
What is the Bolts change in this branch about?

[2017-09-23 14:43] flovilmart commented on #1191
there's not changes in bolts yet. There's a PR pending to use queue for synchronization instead of locks so the thread sanitizer is happy :)

[2017-09-23 14:45] mtrezza commented on #1191
Allright then 👍

[2017-09-23 14:45] flovilmart commented on #1191
I'm still waiting for the review on Bolts and a release to be able to bump to the latest version. I'll merge this one and release

[2017-09-23 14:45] mtrezza commented on #1191
Fixed in 0ca981762244e8376faf320ec0704646R129

[2017-09-23 14:45] #1191 closed

[2017-09-23 14:48] flovilmart commented on #1191
Thanks for the testing!

[2017-09-23 14:50] flovilmart commented on #1166
@davewhipps this is not supported by the SDK, and actually discouraged. All data should be stored into a single collection row so you don't have joins to resolve at runtime.

[2017-09-23 14:50] #1166 closed

[2017-09-23 14:51] mtrezza commented on #1191
Thanks @flovilmart, that makes the SDK iOS 11 ready.

[2017-09-23 14:51] flovilmart commented on #1191
A tad late, sorry about that :/

[2017-09-23 14:53] mtrezza commented on #1191
Still in good time I think :)

[2017-09-25 16:41] ceramicatheist commented on #1159
This seems to have returned with the 1.15.3 build? (which includes Bolts 1.8.4)
[code]

Happens both when using the downloadable frameworks, and when building them manually with Xcode Version 9.0 (9A235)

[2017-09-25 17:52] airdrummingfool commented on #1159
I'm also having this issue with 1.15.3 in Xcode 9.0 9A235. I've only tried the prebuilt framework from the Github releases page.

[2017-09-25 21:57] decoyfox commented on #1159
I am also having this issue:

`Undefined symbols for architecture arm64:
  "___llvm_profile_runtime", referenced from:
      ___llvm_profile_runtime_user in Parse(PFCloud.o)
      ___llvm_profile_runtime_user in Parse(PFFile.o)
      ___llvm_profile_runtime_user in Parse(PFGeoPoint.o)
      ___llvm_profile_runtime_user in Parse(PFInstallation.o)
      ___llvm_profile_runtime_user in Parse(PFObject

[2017-09-25 21:58] flovilmart commented on #1159
I’ll have a look m, again.

[2017-09-25 22:03] decoyfox commented on #1159
My project also builds fine with 1.15.2, as @airdrummingfool mentioned above.

[2017-09-25 22:05] flovilmart commented on #1159
I used the exact same command for both, perhaps it has to do with some compile flags added when moving to Xcode 9 recommended settings

[2017-09-25 22:05] decoyfox commented on #1191
Found my way here. Once I can get Parse 1.15.3 working (already posted in relevant thread), hopefully this "Main Thread Checker" warning will be fixed.

[2017-09-25 22:11] decoyfox commented on #1159
Let me know if I can help you troubleshoot in any way.

[2017-09-25 22:13] flovilmart commented on #1159
JuSt checked the diff and besides additional warnings, it doesn’t seem we’ve added more build settings. I used the `rake package:frameworks` as usual. Can you try the same and see if the produced frameworks are functional?

[2017-09-25 22:21] decoyfox commented on #1159
@flovilmart sorry, I'm not too well versed in these commands. my "help" might be more of an impediment ¯\_(ツ)_/¯

[2017-09-25 22:22] flovilmart commented on #1159
Step by step:

1- clone the repo
2- in the folder:
- gem install bundler
- bundle install
- bundle exec rake package:frameworks

And this should build all frameworks :)

[2017-09-25 22:29] decoyfox commented on #1159
`rake aborted!
LoadError: cannot load such file -- /Users/mtannone/Downloads/Parse-SDK-iOS-OSX-master/Vendor/xctoolchain/Scripts/xctask/build_task
/Users/mtannone/Downloads/Parse-SDK-iOS-OSX-master/Rakefile:10:in `require_relative'
/Users/mtannone/Downloads/Parse-SDK-iOS-OSX-master/Rakefile:10:in `<top (required)>'
/Library/Ruby/Gems/2.0.0/gems/rake-11.2.2/exe/rake:27:in `<top (required)>'
/Librar

[2017-09-25 22:30] decoyfox commented on #1159
sorry, i don't know if this is helpful at all

[2017-09-25 22:34] flovilmart commented on #1159
Oops, forgot to tell you to fetch the submodules:

- git submodule update --init --recursive

And then the rake command again :)

On Sep 25, 2017, 18:30 -0400, decoyfox <notifications@github.com>, wrote:

[2017-09-25 22:41] decoyfox commented on #1159
`fatal: Not a git repository (or any of the parent directories): .git`

[2017-09-25 22:42] flovilmart commented on #1159
DId you do that in the cloned folder?

[2017-09-25 23:26] flovilmart commented on #1159
@decoyfox, @airdrummingfool, @ColossalChris, @sdsanches, @nebitrams  I just tested with the built frameworks available from github, and there's no issue for me.

I'm using Xcode Version 9.0 (9A235)

My steps to reproduce:

- create new project (single view all)
- drag/drop Parse / Bolts in to the project
- Adds them to the target
- Add `import Parse` and `import Bolts`
- build / run...

[2017-09-25 23:27] flovilmart commented on #1159
When inspecting the parse binary with file, I realized some archs are probably missing

[code]

[2017-09-25 23:35] flovilmart commented on #1159
I've uploaded again builds for the latest release, upon download:

[code]

[2017-09-25 23:39] airdrummingfool commented on #1159
I just re-downloaded 1.15.3, confirmed that all 4 architectures are present, and replaced `Parse.framework` and `Bolts.framework` in my project. After a clean and build, I am still getting the same `Undefined symbols for architecture x86_64:  "___llvm_profile_runtime"` error.

[2017-09-25 23:44] airdrummingfool commented on #1159
The problem appears to only be in `Parse.framework`. I can use the new version of `Bolts.framework` without issue, as long as I stick with Parse 1.15.2.

[2017-09-25 23:48] flovilmart commented on #1159
Bolts didn't change in between, I'm checking the diff for that release but I don't see anything that would affect compile flags.

Odd thing, is that @nebitrams reports the same issue for 1.15.0, which has been built the same way.

[2017-09-25 23:55] airdrummingfool commented on #1159
I tried `rake package:frameworks`, but ended up with a binary that was missing slices (just like you did):
[code]

I also experience the issue with `1.15.0`, but not `1.15.1`.

[2017-09-26 10:49] iosdec commented on #1159
Go back to 1.14.4 .. been trying to solve this problem for hours now and just downgrading back to 1.14.4 solved it for me. Builds perfectly!

[2017-09-26 12:51] flovilmart commented on #1159
@iosdec how did you try to solve the issue?

[2017-09-26 13:08] funnel20 commented on #1159
I have the same issue. These compiler errors are shown in my existing project on both Xcode 8.3.3 and 9.0 when I use Parse 1.15.3.

When I revert back to 1.15.1 (just replace the Bolts.Framework and Parse.framework from _Parse-iOS.zip_) the project compiles without problems.
I have compared the pod spec from 1.15.1 with 1.15.3, but the target decencies didn't change.

[2017-09-26 13:29] flovilmart commented on #1159
@funnel20 are you using cocoa pods?

[2017-09-26 13:31] funnel20 commented on #1159
@flovilmart No, I always use the ZIPs and manually replace the 2 framework files in my project.
First I delete the previous, then add the new to prevent merging conflicts within the framework bundles.

[2017-09-26 13:40] flovilmart commented on #1159
So can you try it on a fresh project? Perhaps we’re missin something obvious. If it doesn’t work just on an existing project but works on a new one, we’ll have more infos.

[2017-09-26 13:43] funnel20 commented on #1159
@flovilmart I tried that with Xcode 8.3.3, but only with 1.15.3. It failed.
So I have to do a back-to-back test with 1.15.1 to proof that my workflow is correct.
I'll post the results later.

[2017-09-26 13:45] flovilmart commented on #1159
I don’t have a copy of Xcode 8.3.3 around, but i’ll Try that as well, as well as rebuilding on this version.

[2017-09-26 14:19] funnel20 commented on #1159
[code]
Steps to reproduce with **1.15.1**:

1. Create new iOS project with _Single View Application_ in Xcode 8.3.3.
2. Add the _Bolts.framework_ and _Parse.framework_ from _Parse-iOS.zip_ version 1.15.1 to the Project.
3. Go to Project Settings, select target, click Build Phases and add the following binaries to _Link Binary With Libraries_:
- Bolts.framework
- Parse.framework
- AudioToolbox.fram

[2017-09-26 14:24] funnel20 commented on #1159
@flovilmart I hope the above 5 tests can help. Bottom line is that there seems no relation with Xcode version or whether the project is existing or freshly created.

[2017-09-26 15:12] flovilmart commented on #1159
What I don’t get is why it’s perfectly functional over here

[2017-09-26 15:14] funnel20 commented on #1159
Did you repeat my tests with manually adding the frameworks and dependencies to your project?
Or did you use cocoa pods?

[2017-09-26 15:36] flovilmart commented on #1159
I'M referring to: https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1159#issuecomment-332041950

[2017-09-26 15:40] funnel20 commented on #1159
I can explain: as long as you don't use any Parse code (i.e. 'initializeWithConfiguration:' from my step 5) the compiler won't complain when building. It's even not necessary to add the dependencies.

[2017-09-26 16:20] ceramicatheist commented on #1159
Looking at https://clang.llvm.org/docs/SourceBasedCodeCoverage.html , this might have something to do with the code coverage feature:
If I do like that page mentions, and add a .c file to my project containing only
[code]
I get a clean compile and link (apart from the `-Wstrict-prototypes` warnings), and my app runs fine.

[2017-09-26 16:24] flovilmart commented on #1159
Thanks @ceramicatheist, that’s very odd indeed that in release build we’d have profiler/coverage info into those settings.

[2017-09-26 16:31] flovilmart commented on #1159
@funnel20 i confirm there's an issue there, I got it too now.

[2017-09-26 16:31] rogerhu opened #1193 "XCode 9 and Bolts compile error"
PR https://github.com/BoltsFramework/Bolts-Swift/pull/62/files fixes issues with XCode 9.

The current workaround is to force Pods dependencies including Parse to Swift 3.2:

[code]

@flovilmart

[2017-09-26 17:43] flovilmart commented on #1159
@ceramicatheist Thanks for the tip, that really helped troubleshooting, it seems that setting CLANG_ENABLE_CODE_COVERAGE = NO; I'M rebuilding with xcode9 now, and I'll be putting the prebuilt-libs here

[2017-09-26 17:47] flovilmart commented on #1159
[Parse-iOS.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1334279/Parse-iOS.zip)
[Parse-macOS.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1334281/Parse-macOS.zip)
[Parse-tvOS.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1334282/Parse-tvOS.zip)
[Parse-watchOS.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1334280/Parse-watchOS

[2017-09-26 17:48] flovilmart commented on #1159
@ceramicatheist I've also updated the releases packages, let me know if this persists.

[2017-09-26 17:48] #1159 closed

[2017-09-26 17:49] airdrummingfool commented on #1159
The Parse-iOS.zip file attached to this issue fixed the problem for me. Thanks @flovilmart @ceramicatheist et. al!

[2017-09-26 17:56] funnel20 commented on #1159
I can confirm too that the updated _Parse-iOS.zip_ resolves the issue.
My project now compiles without issues.

Thank you all.

[2017-09-26 19:51] decoyfox commented on #1159
Good work everyone. Working for me now as well.

[2017-09-27 00:49] gabriel-tizkka opened #1194 "Login issue with Facebook in iOS 11"
Does anyone had a problem while authenticating a user (signup/login) with iOS 11 and the latest Facebook SDK (4.27.0)?

[2017-09-27 01:12] flovilmart commented on #1194
Without more information that’s pretty tough to frame ‘problem’

[2017-09-27 08:30] funnel20 commented on #1146
I can confirm that this has been resolved in Parse 1.15.3 (which finally compiles thanks to the fix in #1159).
Verified with Xcode 9.0 and iOS 11.0.1.

This issue can be closed.

[2017-09-27 08:33] claesjacobsson commented on #1146
Great, thanks!

On Wed, Sep 27, 2017 at 10:30 AM, funnel20 <notifications@github.com> wrote:

[2017-09-27 11:09] flovilmart commented on #1146
Sweet!

[2017-09-27 11:09] #1146 closed

[2017-09-27 15:07] gabriel-tizkka commented on #1194
So we are using the latest Parse SDK for iOS 1.15.3 and the latest Facebook SDK 4.27.0 which was released yesterday. Once the a user tries to authenticate/login the app gets frozen with iOS 11 - it is working properly for previous iOS versions.
More info in this link: https://developers.facebook.com/bugs/1970293586573790/
Apparently Facebook released the new SDK and fixed this problem, however it

[2017-09-28 08:52] nickmeessen commented on #1194
Same issue here, we're investigating.

[2017-09-28 09:50] funnel20 opened #1195 "Project with Parse 1.15.3 can't be archived with Xcode 8.3.3 as it contains a newer Bitcode (probably from Xcode 9)"
Our project is not yet compatible with Xcode 9, so we archive it with Xcode 8.3.3 before submitting it to the App Store.
However, when doing this, the following errors are shown:

`
ld: could not reparse object file in bitcode bundle: 'Invalid bitcode version (Producer: '900.0.37.0_0' Reader: '802.0.42_0')', using libLTO version 'LLVM version 8.1.0, (clang-802.0.42)' for architecture armv7`

`
ld:

[2017-09-28 10:25] funnel20 commented on #1195
For now we have solved this by manually compiling Parse 1.15.3 via the command line.
The key was to use the path of Xcode 8.3.3 as `DEVELOPER_DIR` when calling `rake`:

`$ DEVELOPER_DIR=/Applications/Xcode8.3.3.app rake package:frameworks`

But I can imagine that other users just want to download a working ZIP file with the frameworks.

[2017-09-29 02:45] #1179 closed

[2017-10-04 23:25] KileyCaravella opened #1197 "Parse+Swift: Include Objects in an Array when querying an object"
I have three objects: `truck`, `box`, and `item`. `truck` has an array of `box` objects inside of it, and each `box` has an array of `item` objects inside of it. When I query for a `truck` object, how do I make sure the most up to date array of items is also included? So far I have this, and it doesn't seem to do what I need:

    let query = self.query()
    query.includeKey("boxArray")
    query

[2017-10-04 23:25] KileyCaravella commented on #1197
It's more of a question than an issue, but I didn't know where to post it

[2017-10-05 00:33] tealshift commented on #1007
Hi, can anyone help me with this in Objective C?
I'm getting the same symptom and this is my User class's init code:
[code]

[2017-10-05 04:33] #1197 closed

[2017-10-09 16:40] gabriel-tizkka commented on #1194
Hi Nickmeessen,

Have you solved the issue? Any tip?

Thank you!

[2017-10-10 08:57] nickmeessen commented on #1194
We have used the download from the releases section (https://github.com/parse-community/Parse-SDK-iOS-OSX/releases) and then release 1.15.3, we were using Carthage, which wouldn't work properly.

Also we're using Facebook SDK 4.27.0.

Hope this helps, it's working for us now.

[2017-10-10 11:28] flovilmart commented on #1194
So, everything is Ok then? Should we close?

[2017-10-10 12:15] funkenstrahlen commented on #773
I'd like to reopen this issue, because this is no longer true:

Since, at the current stage, our SDK is fully written in ObjC, I am not sure whether this would work at all.

Swift Package Manager does support objc projects: http://ankit.im/swift/2016/05/21/creating-objc-cpp-packages-with-swift-package-manager/

[2017-10-10 12:17] flovilmart commented on #773
@funkenstrahlen, do you want to explore the feasibility?

[2017-10-10 12:21] funkenstrahlen commented on #773
@flovilmart I will try to get it working and will open a PR. Let's see how far I get :)

[2017-10-10 12:33] funkenstrahlen commented on #773
This will required the Bolts framework to support SPM too. I spend an issue there too: https://github.com/BoltsFramework/Bolts-ObjC/issues/308

[2017-10-10 12:35] flovilmart commented on #773
Cool! Thanks!

[2017-10-10 16:38] gabriel-tizkka commented on #1194
Apparently, updating Parse SDK + Facebook SDK 4.27.0 and the latest iOS 11 update everything seems to be working OK. I close the issue. Thank you.

[2017-10-10 16:38] #1194 closed

[2017-10-13 16:33] funkenstrahlen opened #1198 "Why is PFPush and PFInstallation excluded for tvOS?"
I would like to use PFPush and PFinstallation on tvOS. I see that it is excluded from the pod: https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/98ba23c37f099464287a74df03f2e084ff91f0bb/Parse.podspec#L31-L42

Why is this the case? Is this still necessary because tvOS does support notifications.

[2017-10-16 20:27] ArchonLight opened #1199 "Parse saveEventually JSON 3840 error (Parse Server on AWS)"
When iOS11 was released it broke our app with the error

This happens on the saveEventually line of a new object being saved to Parse.

[code]

The weird thing is that it doesn't happen all the time. When I add a breakpoint to the code and "po photo" everything looks just fine. Sometimes it works and sometimes it doesn't. I can upload the same photo over and over and 80% of the time it fails but 2

[2017-10-17 15:07] andresteves commented on #1004
When trying to cancel query I got:
` [Bolts] Warning: `BFTask` caught an exception in the continuation block. This behavior is discouraged and will be removed in a future release. Caught Exception: *** -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array`

[2017-10-18 19:51] DIMEGLIOM opened #1200 "Documentation for Full Text Search"
I saw that the newest iOS SDK now includes full-text search capabilities but I have noticed that the docs(http://docs.parseplatform.org/ios/guide/) do not reflect these changes. Is there any way these could be updated?

Thanks

[2017-10-18 20:01] dplewis commented on #1200
The pull request https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1196 is still pending. Once it is merged we'll update the docs

[2017-10-24 17:37] mtrezza opened #1201 "Client locale different from iOS locale"
The locale as determined by the request header in Cloud Code is different from the locale determined in iOS locally on the device.

In my example `request.headers['accept-language']` in Cloud code is `zh-cn`, that is:
- language: Chinese
- country: China

Locally on the iOS device the `Locale.current.identifier` is `zh-Hans_US` which is correct and according to the device system settings, that is:

[2017-10-26 02:31] DIMEGLIOM commented on #1200
@dplewis I'll go ahead and open an issue there. Thanks.

[2017-10-26 15:46] StratRob opened #1202 "Error: Attempted to change an objectId to one that's already known to the Offline Store"
Hi everyone,

I'm having a regular issue with my project, using Parse Server. First, I call a Parse Cloud function to populate a user's data list :

[code]

On the code mentioned above, I have to set the objectId because without this, no matter how many objects I fetch from Parse, when I reduce the array to a set with the last instruction I end up with only one object in it.

However, although thi

[2017-10-27 11:32] Samigos opened #1203 "Parse application - Can't login to user"
I'm on Parse Server `2.6.3`and since this morning, I can't login to one of my users. I printed the returned error and this is what I got:

`Invalid username/password. (Code: 101, Version: 1.14.2)
Optional(Error Domain=Parse Code=101 "Invalid username/password." UserInfo={code=101, temporary=0, error=Invalid username/password., NSLocalizedDescription=Invalid username/password.})`

The thing is, I'm

[2017-10-27 12:08] flovilmart commented on #1203
Is it true for all users? Can you try with another username/password? If you reset the password in the dashboard, does it work?

[2017-10-27 12:59] Samigos commented on #1203
Until now, it's the only user I can't login to... I tried changing both username and password, but the problem remains! Is there any chance it's an iOS 11 issue? Until yesterday, when I had iOS 10.3.3 I could  login successfully!

[2017-10-27 13:53] flovilmart commented on #1203
does the login work with the API console / pure REST call ?

[2017-10-27 13:53] flovilmart commented on #1203
Can you provide the logs when running with VERBOSE=1 on the server as well?

[2017-10-31 00:04] JEKos opened #1204 "cocoapods Parse without objc Bolts"
Hi,
Is there any way to use Parse with cocoapods but without installing bolts with it? I want to use boltsSwift project instead of objc project you have with parse.

[2017-10-31 06:31] PaulHuynh3 commented on #1019
query.whereKey("pubic", equalTo: true) still works on Swift 4. The below method will not work.

[2017-10-31 07:44] kukkadapukarhtik commented on #764
The network connection was lost. (Code: 100, Version: 1.12.0)
Network connection failed. Making attempt 1 after sleeping for 1.568368 seconds.

please help me out.

[2017-10-31 08:31] Stanou01260 commented on #1159
This issue was closed but I have had the exact same problem than you guys. After extracting the Zip ParseStarterProject-iOS.zip V1.15.3 found in the release page and compiling I had the
[code]
To solve this I downloaded the Parse-iOS.zip given by @flovilmart few messages before, manually replaced both framework Bolt and Parse and it worked

[2017-10-31 16:14] flovilmart commented on #1159
@Stanou01260 I perhaps forgot to upload to the release then, let me have a look.

[2017-10-31 16:17] flovilmart commented on #1019
@PaulHuynh3 so we can close this one&

[2017-10-31 16:21] PaulHuynh3 commented on #1019
Yup, I tried it yesterday and everything was good.

[2017-10-31 16:25] flovilmart commented on #1019
Thanks!@

[2017-10-31 16:25] #1019 closed

[2017-11-01 10:26] Stanou01260 commented on #1159
Thank you @flovilmart

[2017-11-01 10:43] farhansyed9 opened #1205 "Cache Policy making duplicates."
When I do a query, and do cacheThenNetwork. I have duplicates of all my objects in the array for example.

Am I doing it wrong?

I make sure to clear the array before the network call too.

I am setting the cache like so:

query.cachePolicy = .cacheThenNetwork

[2017-11-02 12:44] mtrezza opened #1206 "Carthage error: Task failed with exit code 65"
Trying to compile the Parse iOS SDK with carthage

`github "parse-community/Parse-SDK-iOS-OSX" ~> 1.15.3`

it throws the error:

[code]

on:
Xcode 9.1
carthage-0.26.2

[2017-11-03 10:37] ashish-naik opened #1207 "Email value from PFUser object fetches a nil despite having value"
I have a query "items" object. The class has a "parent" key that points to _User object.The query is successful and fetches 'parent' object and i am able to access some custom keys from this 'parent' object but email is returned as nil !! App crashes with Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0).

Below is stripped down code.Could anyone suggest why is this happening? This

[2017-11-03 11:50] brianyyz commented on #1207
What release of parse-server are you using?

In 2.3.0 there was a breaking change introduced which restricted the fields returned from a query on _User. If I remember correctly, email is taken out by default and you can specify additional fields to be removed from a query result in a configuration setting. In order to retrieve email you either have to specify the master key or be the owner of that

[2017-11-03 11:53] brianyyz commented on #1207
Just saw that you’re using 2.5.3 so this would be why parent[“email”] fails when you force unwrap it.

[2017-11-03 12:12] flovilmart commented on #1207
@brianyyz is 💯 right. Email is a restricted field for security reasons .

[2017-11-03 20:28] evtimmy commented on #393
Just stumbled upon this, are there any work-arounds?

[2017-11-03 20:30] flovilmart commented on #393
Nope, but a fix would be appreciated / trivial!

[2017-11-04 05:26] ashish-naik commented on #1207
@brianyyz thanks. This solves the mystery.

[2017-11-04 05:26] #1207 closed

[2017-11-06 21:38] woodardj opened #1208 "iOS SDK makes frequent queries to parse-server with a Content-Length and empty POST body"
Several times per minute, we see queries to our Parse Server which have non-zero `Content-Length` headers set, but which have empty `body`. This causes Parse Server to stall out while waiting for data. I have an issue filed over there as well, in case it's an issue that can be corrected server side. (https://github.com/parse-community/parse-server/issues/4068)

However, these are almost always iOS

[2017-11-07 04:30] georgesjamous commented on #1205
Could you post the code that you arr using ?
.cacheThenNetwork will load data from cache (if they are available) call the [query findObjectsInBackgeoud:] callback. Then fetch object again from server (hence ThenNetwork)
Then calls your callback again.

If you are appending these objects to a global array. Yes this could cause duplicates

[2017-11-07 04:31] farhansyed9 commented on #1205
I am appending the objects to an array. Is there a better way to do this?

[2017-11-07 04:40] georgesjamous commented on #1205
One way of handling this is to use a custom function to append new objects to your global array.

This function would loop through the new objects returned everytime and check for duplicates in the global aray. If the object already exists, you just dont add it(or you can replace it to take advantage of the fact that it is fresh from the server), if not go ahead and add it.

[2017-11-07 04:43] georgesjamous commented on #1205
Personally i would refrain from using .cacheThenNetwork everytime as it can make unnecessary api calls.
Use .cacheElseNetwork and give it an appropriate .maxCacheAge to your needs.

[2017-11-07 04:44] farhansyed9 commented on #1205
Yeah thats what i was actually thinking of doing. Thanks for the tip!

[2017-11-07 10:16] guidupas opened #1209 "Swift OSX - Change parse server URL"
I am developing an app using Swift on OSX and Parse server locally. I would like to set the server's url using the app (image attached) and test it, so if I need to migrate to a cloud Parse server I don't need to change it on the code and rebuilt my app, I just need to change the server's url using the app itself.

What happens is that after initializing the Parse on Swift

[code]

and testing it

[2017-11-07 11:14] natanrolnik commented on #1209
@guidupas I believe you need to restart the app indeed. As you see from the errors, `server` is a read only property, so it can be configured only in initialization. And from the second error, Parse cannot be reinitialized.

Why do you need to change it in runtime after initializing once?

Abraço!

[2017-11-07 15:16] guidupas commented on #1209
Because this app is to a client that intend to change it to a cloud service later on.

[2017-11-07 15:40] robin7331 opened #1210 "Download all objects when App is launched the first time"
Hey there,

not really an issue but a question.
I'm planning on developing an App with offline capabilities.
So I know that I can cache queries with certain policies.
But how would you actually implement an initial download of all (defined) queries when the user starts the app the first time?

Is there a trick or do I have to manually execute all queries so they are stored in the cache?

Thanks fo

[2017-11-07 16:14] flovilmart commented on #1210
I wrote a small framework a while back: https://github.com/flovilmart/ParseZero note that it’s not very actively maintained but you could get some inspiration from it :)

[2017-11-08 13:19] brianyyz commented on #1210
Not knowing your app my thought is to manage the queries individually that way you’ll know when anything fails in the individual query callback and the app can react accordingly.

[2017-11-08 14:08] msniff16 commented on #1199
Seeing the same thing on our end, but it is with the ```saveInBackground``` method. Seems to not like saving arrays, strings seems to save fine each time.

[2017-11-08 20:45] talkaboutdesign opened #1211 "Error building Parse(Bolts) in Xcode 9.1"
<img width="597" alt="screen shot 2017-11-08 at 3 44 57 pm" src="https://user-images.githubusercontent.com/2926534/32573399-e11a0f42-c49b-11e7-9c78-cd9d4b4f4130.png">

[2017-11-09 05:54] kennebecstars opened #1212 "Where are the tutorials now hosted?"
They were previously at https://parse.com/tutorials.

The starter projects are not what I want. There was AnyPhone and I was wondering if it was updated?

[2017-11-10 01:54] montymxb commented on #1212
@kennebecstars Most of what was migrated from **parse.com** can be accessed at [parseplatform.org](http://parseplatform.org/). We don't have a tutorials section there, but you can find all the guides for getting started there. I would have though you could use the Wayback Machine to pull up the old tutorials but it was never cached :/.

What specifically were you looking for in the old tutorial by

[2017-11-11 06:36] kennebecstars commented on #1212
There really aren't a lot of fully functional tutorials out there and the book that are out there are few. I would like a full e-commerce example, more than just login/signup (I found a good one for that in ParseUI-iOS that was actually in swift.)

[2017-11-14 23:16] farhansyed9 opened #1213 "What is the best way to set up a like function?"
More of a question.

Currently I have the user's likes being saved under their user which is an array of objectId's.

I feel that it isn't the best thing to put it under the user and it should be it's own class.

My real question is. Say I have a class for Likes. And on my home page of my iOS app. I am querying photos from a Photo class. How would I grab the likes for all the photos being queried?

[2017-11-15 02:21] brianyyz commented on #1213
Sounds like a Like class with a Photo pointer and a User pointer. Each instance of a Like would then be linked to the User who created it and the Photo it relates to.

[2017-11-16 20:57] johnantoni commented on #1211
Same here

[2017-11-16 21:01] johnantoni commented on #1211
Same here, compiling with carthage and XCode 9.1

[2017-11-17 00:12] montymxb commented on #1212
We don't have any detailed example projects for e-commerce at the moment. However, if anyone were to provide such an example it certainly wouldn't be unappreciated. I know for getting started it's handy to use **parse** + **stripe** or **braintree**. Both are extremely handy for setting up secure and manageable payments, and then parse has got your DB 👍 .

[2017-11-17 00:14] #1167 closed

[2017-11-28 13:42] wdcurry commented on #1117
This can result from *already* stored PFFIle fields pointing to (for example) files on parse.com, which no longer exists. I banged my head for a few days on this issue, assuming my code was somehow messed up. Nope, just resetting those particular PFFIles did the trick.

[2017-11-30 06:29] biscottigelato opened #1216 "Schema with tree of classes detrimental to performance?"
Hi,

We really ran out of ideas on how to solve this one before going here to ask. We have been working on an app that serves multiple photos and videos with markups, and stringing them together to call it a Story. Basically Snapchat Stories/Instagram Stories. We got most of the basics down. But now is facing serious performance issues. We looked at our link utilization and it doesn't seem like a

[2017-12-01 13:47] claesjacobsson opened #1217 "Installation object after restoring iOS from backup"
I'm having an issue when my app is installed through an iOS backup restore on a new device. No Installation object for the new device is saved to the server.

Haven’t investigated much yet, just wanted to hear if this is a known issue?

[2017-12-04 03:07] flovilmart commented on #1211
Please open an issue on the Bolts SDK, If we see some unresponsiveness from their side, we'll fork and leverage our own release cycles while keeping up with their master branch.

[2017-12-04 03:11] flovilmart commented on #1204
Nope it's not possible as the objective-c and Swift versions don't share the same interfaces.
You can easily make a bridge to wrap the obj-c tasks to swift

[code]

Then you can use it like

[code]

[2017-12-04 03:12] #1204 closed

[2017-12-04 03:12] #1205 closed

[2017-12-04 03:12] flovilmart commented on #1205
Closing as it seems you guys got it sorted out!

[2017-12-05 04:32] MobileVet commented on #1177
@thibauddavid Does your extension include the PFUser.current().sessionToken?

[2017-12-05 04:49] MobileVet opened #1220 "App Extension does not have access to the PFUser.currentUser().sessionToken from main app"
I have a project with an embedded app extension for the Today Widget.  The expectation is that this widget should have access to my main application's Parse local cache.

I have setup the **shared group** and it appeared to be working correctly.  Creating a user in the main application and then testing for **PFUser.current()** in the app extension will return the same user object, objectId and use

[2017-12-05 23:53] flovilmart commented on #1220
The sessionTokens are actually stored in the keychain, which should work with the keychain sharing groups as to set them up. If it isn’t, there’s either a configuration issue or an issue in the SDK. In either case, this requires more investigation

[2017-12-06 10:31] CiraciNicolo commented on #1162
If you also include the LiveQuery-iOS library on your cartfile the issue appears, because LiveQuery is stuck with ParseSDK 1.15.0. Furthermore, it also refers to the dead ParseCommunity repo.

[2017-12-06 15:51] MobileVet commented on #1220
I tried this again last night... this time with Keychain sharing turned on and it still didn't work.  The more I thought about it, the more I was surprised and felt like this had to be a bug.  While I could see someone deciding to leave the **sessionToken** out for security reasons, it seemed like a strange choice considering that the User info was shared.

What is really strange to me now is that

[2017-12-06 17:35] KileyCaravella opened #1221 "Swift3/Parse: PFQuery Where Item in Array Matches Query"
Is there a way to filter a query based on an object in an array matching a second query? Kind of like combining `contains` and `matchesQuery`? ex. I want to find users with addresses that are located in a specific city:

    query.whereKey("addresses", matchesQuery: Address.addressForCityQuery(city: city))
    //addresses == [Address]

I posted the question on stack overflow also if you'd like to

[2017-12-06 19:19] #1221 closed

[2017-12-08 01:37] montymxb commented on #1221
@KileyCaravella I see the SO post is gone...figured this one out?

[2017-12-08 01:59] biscottigelato commented on #1216
Realized the way most people do it is through a Query with Includes. Fetch doesn't seem to be all that useful then? This can close. Thanks!

[2017-12-08 01:59] #1216 closed

[2017-12-08 02:29] MobileVet commented on #1220
@flovilmart I am having trouble getting the SDK to run locally... but I have been browsing the code.   I think I identified the a potential issue, at least something doesn't seem right in the *PFCurrentUserController.m* file.  The *_saveSensitiveUserDataAsync* and *_loadSensitiveUserDataAsync* do not appear to be mirror images of each other.  The *sessionToken* is saved from **_user.sessionToken_*

[2017-12-08 03:28] MobileVet commented on #1220
Hmm, actually I understand now... that doesn't look like the issue.  I did place some NSLog statements there and I do see that when I run my main application, I see the __loadSensitiveUserDataAsync_ read in the **sessionToken** correctly.  When the Today Widget runs and initializes Parse, it doesn't trigger __loadSensitiveUserDataAsync_.

So that seems like an issue.

[2017-12-08 16:30] KileyCaravella commented on #1221
@montymxb yes I didn't realize that `equals` doesn't work in the literal sense and can be used with arrays

[2017-12-09 14:33] MobileVet commented on #1220
@flovilmart Ok...I am embarrassed.  This was a configuration error on my part.  I was appropriately choosing to only set the **containingApplicationBundleIdentifier** for the Today Widget... however, I was incorrectly setting it to **Bundle.main.bundleIdentifier** (which resolves to the Today Widget's bundle ID).  Facepalm.

What confused me was that the **Parse.user** was correctly recovering the

[2017-12-09 14:33] #1220 closed

[2017-12-09 14:35] flovilmart commented on #1220
I'm glad you found the solution yourself! The codebase can be somewhat intimidating by it's size and complexity, but you went the right road down, and tracked down what could be wrong. Perhaps we should emphasize it in the docs? Would you have time to make a PR on the docs repo for properly configuring the extensions if the current docs isn't clear enough?

[2017-12-09 14:56] MobileVet commented on #1220
@flovilmart I will definitely review the docs and see what things could be added to clarify the persistence of the User object as well as extension setup.

I also plan to start spending my 'dev day' periods at work to helping with the Swift port.  Of course I had wanted to start that yesterday and got pulled into other things... so we will see how that goes. :)

[2017-12-09 15:14] flovilmart commented on #1220
Awesome!

[2017-12-11 12:42] nharbo opened #1222 "Query result sorted by distance from the user"
Hey!
Is it possible to sort the result of a query by the distance from the users current location? I need to filter some objects, and I can't do it clientside, as the list loads more and more when the user is scrolling (limit and skip).. So I need the result to be sorted in the query, so the closest element is first, and so on..
Is this possible? I haven't been able to find a solution

/Nicolai

[2017-12-11 12:46] flovilmart commented on #1222
See in the docs: http://parseplatform.org/Parse-SDK-iOS-OSX/api/Classes/PFQuery.html#/c:objc(cs)PFQuery(im)whereKey:nearGeoPoint:

[2017-12-11 12:46] #1222 closed

[2017-12-11 12:48] nharbo commented on #1222
This doesn't really answer my question @flovilmart :-) I have looked the documentation, and I haven't been able to find the answer there - that's why I'm asking here.. Is it possible or not? :)

[2017-12-11 12:48] nharbo commented on #1222
I'm using this now: query.whereKey("geoLocation", nearGeoPoint: currentLocation!, withinKilometers: 100)

But that doesn't sort the result..

[2017-12-11 12:53] nharbo commented on #1222
Can you please re-open this one?..

[2017-12-11 13:06] nharbo commented on #1222
Oh, I see that the whereKey:nearGeoPoint: should sort by distance - but this is not happening.. Is this a known problem, or do you have an idea of what could be wrong?

[2017-12-11 13:08] nharbo commented on #1222
Oops! My bad! Nevermind ;) I found out that I had an addAscendingOrder added before the nearGeoPoint, and that one was overruling my geo-sorting.. Sorry! It's working now (Y)

[2017-12-19 21:38] egmonterrubio opened #1223 "LogOut not working"
I'm using the Parse to manage users and passwords. I have an app that lets the user log-in and store information in the server (age, weight, gender and name). But I'm having a problem, if the user logs out, the app takes them to the login page and, if after that, they use a non-existing user or incorrect password, after showing the alert "Incorrect user or password", the app takes them to the main

[2017-12-20 08:16] adammlevy opened #1224 "Installation deviceToken is undefined"
I have noticed that after a period of time receiving push notifications on my device I will suddenly stop receiving push notifications on that device.  One thing I have noticed is that the deviceToken is set to (undefined) in the dashboard as seen in the included screenshot.  How is it possible that the deviceToken goes from some value to undefined.

<img width="792" alt="screen shot 2017-12-20 at

[2017-12-20 23:51] montymxb commented on #1224
It should not. Can you provide more details regarding the circumstances and number of times you have seen this happen?

[2017-12-21 16:43] adammlevy commented on #1224
I see other users in the dashboard which have subscribed to push notifications and do not have a device token either so it's not just happening on my device.  Deleting the app and reinstalling will cause the app to create a new Installation with a defined deviceToken but after around 1-2 weeks the deviceToken is back to nil.

I thought maybe the deviceToken coming back from didRegisterForRemoteNot

[2017-12-21 18:17] montymxb commented on #1224
So in your this only happening for iOS related devices? By chance do you also have any android installs as well that are not doing this? If so that helps narrow it down to something more specifically regarding just this sdk.

It should be noted that the server-side requirement is either a **deviceToken** _or_ an **installationId**. If you need to guard against strange behavior with null deviceToke

[2017-12-21 18:18] brianyyz commented on #1224
Any chance you're using the configuration parameter PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS

when you start your parse server ?

[2017-12-22 02:30] adammlevy commented on #1224
@brianyyz am running parse server on Heroku and have PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS set to 1 in config vars.

[2017-12-22 02:35] adammlevy commented on #1224
@montymxb I don't have push enabled for Android (yet) so would have no way of knowing if it's just an iOS issue.  I'll try adding the beforeSave logic and see if that fixes the issue.  Thanks!

[2017-12-22 02:42] flovilmart commented on #1224
So if you have that feature flag enabled, this is actually the expected behavior. Remove the feature flag if you don’t want to cleanup the invalid device tokens.

[2017-12-22 02:42] #1224 closed

[2017-12-22 02:49] adammlevy commented on #1224
@flovilmart According to [this post](https://github.com/parse-community/parse-server-push-adapter/issues/90) you said this should be the default behavior so won't I experience the same issue even without the flag?

[2017-12-22 02:52] flovilmart commented on #1224
It’s still feature flagged, as of today, so removing the flag would be ok if you don’t need the feature

[2017-12-22 02:54] adammlevy commented on #1224
How does parse-server decide a token is invalid? If I remove this feature then won't my installation be filled with invalid device tokens?

[2017-12-22 02:56] flovilmart commented on #1224
The server removed the invalid tokens based on the response from the push adapter. APNS or GCM return explicit responses when trying to send a push to a token that is no longer valid. Depending on your use cases, you may wanna keep the feature or not.

[2017-12-22 04:18] adammlevy commented on #1224
I will try without this feature.  Thanks.

[2017-12-25 12:31] DanielsCode commented on #823
No updates?

[2017-12-26 12:12] gfelot opened #1225 "import Parse -> No Such Module"
Just get my hands dirty with swift since a year or so. Just setup my own parse server and everything is working right.

Install parse SDK from cocoapod but when I try to `import Parse` in my `AppDelegate` I got `No such module Parse`. I try to clean and build but I have an error. I remove every files from cocoapod and reinstall again... got the same.

Something wrong in the current build or did I

[2017-12-26 16:49] halvini commented on #1224
I can confirm that setting PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS to 1 actually clears VALID deviceTokens for iOS users.

Setting this parameter is actually dangerous for your service! 30% of our iOS users lost the ability to receive push notifications after we set the variable to 1.

[2017-12-26 17:14] flovilmart commented on #1224
@halvini, I’m curious why it would clean those valid tokens when APNS returns clearly an error for the particular token

[2017-12-27 06:51] halvini commented on #1224
@flovilmart, I'm curious too.

@adammlevy said: "Deleting the app and reinstalling will cause the app to create a new Installation with a defined deviceToken but after around 1-2 weeks the deviceToken is back to nil."

We had exactly the same issue with the users who had valid deviceTokens. When we switched the PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS  to 1, iOS users started massively reporting

[2017-12-27 10:27] aguidis commented on #1206
Just had the same error

[2017-12-27 14:20] MobileVet commented on #1225
![screen shot 2017-12-27 at 9 19 18 am](https://user-images.githubusercontent.com/1977118/34383972-102310e2-eae7-11e7-9f96-890026959ec1.png)
Is the Parse framework listed in your *Link Binary with Libraries* section of *Build Phases*

[2017-12-27 14:25] MobileVet commented on #1209
I think the better way to approach this is with a build time configuration.  Based on a compiler flag you can substitute in the appropriate parameters depending on where your target is.  We currently reference a plist file in our bundle and based on the configuration point it at a local instance of the server or our cloud based development or production servers.

[2017-12-27 19:30] knishant90 opened #1226 "Application crashes if user has no internet connection"
I am calling `Parse.initialize(with: configuration)` on main thread in `applicationDidLaunch` which is not failing for ~20 seconds (if application has no/slower internet connectivity) and the application crashes coz of it. What is a good suggested practice to avoid scenarios like these ?
Do tell if I need to provide more information.

[2017-12-27 21:14] gfelot commented on #1225
You are right. At first I thought it had something to do with an update in the SDK. But it was an XCode config.

This is how I did it in case something similar happen to someone.

https://stackoverflow.com/questions/47979276/issue-with-import-parse-no-such-module-parse

[2017-12-27 22:35] #1225 closed

[2017-12-29 13:00] #1004 closed

[2017-12-30 01:09] erfe1 commented on #1194
null.OFF

[2017-12-30 20:04] brianyyz commented on #1226
Are you testing for network connectivity before you try to use a network resource like your parse server? There are all kinds of use cases where the device might not have any visibility to your server. There are packages available e.g. ReachabilitySwift or you can figure it out yourself.

[2017-12-30 20:30] brianyyz commented on #1223
The call to logOutInBackground is not returning before the code that follows it executes so you still have a valid PFUser when the closedProf segue is executed.

[2018-01-02 18:11] flovilmart commented on #920
@FrizzTheSnail do you use the IP address of your server or a domain name?

[2018-01-02 18:15] FrizzTheSnail commented on #920
@flovilmart my server doesn't have a domain name, so I use the IP. Is THAT the issue?

[2018-01-02 18:16] flovilmart commented on #920
yes it is, HTTPS on an IP address don't make sense as a certificate is bound to a domain.

[2018-01-02 18:18] FrizzTheSnail commented on #920
@flovilmart that actually makes sense 👍 Thanks, will try to configure it with a domain name.

[2018-01-09 22:55] luispiura89 commented on #1171
I was having this same issue. I just updated the new Parse and Bolts SDK and everything works well on swift 4

[2018-01-10 13:19] azermann commented on #1024
none of them work for me

[2018-01-11 20:59] basiralam opened #1229 "No known class method for selector 'taskWithException:'"
Hi,

I am having the following issue in my objective c project. No known class method for selector 'taskWithException:' please help.
![screen shot 2018-01-12 at 7 45 43 pm](https://user-images.githubusercontent.com/19200638/34878867-493b43a8-f7d1-11e7-9aa9-156e626828d7.png)

[2018-01-12 21:03] henriqueiv commented on #1206
Same here. Any solution?

[2018-01-12 21:30] flovilmart commented on #1206
Can you provide the full log please?

[2018-01-12 22:41] henriqueiv commented on #1206
Found the problem.

**Space** on project's path (argh).

Thanks!

[2018-01-15 15:19] Timmmm commented on #1159
Guys error occurs if you pass -fprofile-instr-generate during compilation, but not during linking. The flag is required during linking so Clang knows to link with the appropriate profiling libraries.

[2018-01-15 15:24] flovilmart commented on #1159
@Timmmm do we need to do something on the repo?

[2018-01-15 15:37] Timmmm commented on #1159
Absolutely no idea - sorry! I've never used Objective C or Xcode. Actually I don't know what this project is (I was just Googling the same error and thought I would add what solved it for me).

Anyway, at a guess, you might have some profiling option in Xcode set on that you need to turn off, maybe in a sub-project? If you can, print the command lines that Xcode runs and look for `-fprofile-instr-

[2018-01-16 22:39] flovilmart commented on #1229
Please update to the lastest version of the SDK or pin Bolts to the 1.8.4 version to resolve the issue.

[2018-01-16 22:39] #1229 closed

[2018-01-16 22:41] flovilmart commented on #1223
Closing as appropriately answered

[2018-01-16 22:41] #1223 closed

[2018-01-16 22:42] flovilmart commented on #1226
@knishant90 the application should not crash on launch just by calling the initialize method.
I believe @brianyyz is putting you on the right track, perhaps you could provide a stacktrace which would help investigate the issue.

In the meantime, I'm closing the issue.

[2018-01-16 22:42] #1226 closed

[2018-01-16 22:42] #1210 closed

[2018-01-17 11:36] iThinkersTeam commented on #1202
Have same problem :(

[2018-01-17 13:36] flovilmart commented on #1202
@StratRob when calling a cloud function, the objects should already by hydrated as PFObject’s. Can you confirm that they are indeed not dictionaries? PFObject can be casted as dictionaries as they also conform to subscripting extensions.

[2018-01-18 09:10] seQVAER opened #1234 "Can't use ParseLiveQuery 2.3.0 with ParseFacebookUtilsV4 1.11.2"
When I installed ParseFacebookUtilsV4 1.11.2 it automatically decreases ParseLiveQuery to version 2.2.3.

When I try install last version ParseLiveQuery the ParseFacebookUtilsV4 automatically decreases to version 1.11.1

Any idea how I can fix it?

[2018-01-18 12:41] flovilmart commented on #1234
With the latest version of the Parse SDK through cocoapods, Facebook utils is distributes alongside the Parse pod as a subspec.
Just remove ParseFacebookUtilsV4 pod, and add

pod ‘Parse/FacebookUtils’

Then in your project you can remove all imports related to ParseFacebookUtils as it will be available part of the Parse imports

[2018-01-18 18:05] JulienLevallois commented on #1229
I got the same error with :

Parse 1.16.0,
ParseFacebookUtilsV4 1.11.1,
ParseLiveQuery 2.3.0,
Bolts 1.9.0

[2018-01-18 18:20] JulienLevallois opened #1235 "No known class method for selector 'taskWithException:'"
I got this error with :

Parse 1.16.0,
ParseFacebookUtilsV4 1.11.1,
ParseLiveQuery 2.3.0,
Bolts 1.9.0

After a Pod Update

![image](https://user-images.githubusercontent.com/5727223/35114278-7dfee3da-fc84-11e7-94ac-bd1be3011eb1.png)

[2018-01-18 19:09] flovilmart commented on #1229
@JulienLevavois, your should replace ParseFacebookUtilsV4 by Parse/FacebookUtils

[2018-01-18 19:29] JulienLevallois commented on #1229
Okay perfect, thanks

[2018-01-18 19:31] JulienLevallois commented on #1229
This repo ? https://github.com/parse-community/ParseFacebookUtils-iOS

[2018-01-18 22:53] flovilmart commented on #1229
yeah but ParseFacebookUtils is deprecated now, and we merged the code into the Parse SDK repository

Starting 1.6.0, the Parse SDK distributes the Facebook, Twitter and UI as subspecs

https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/master/README.md

[2018-01-19 16:14] ceramicatheist commented on #1202
I can confirm we got a new flood of this exact crash when deploying a new version of our app that upgraded from 1.15.3 to 1.15.4, with the associated Bolts upgrade, with no app changes that should have triggered something like this.
(apologies for the long stack trace...)
[code]
Thanks to the Bolts dispatching strategy it's hard to see where in our app this is actually happening, but as we use no

[2018-01-19 16:17] flovilmart commented on #1202
Bolts doesn’t swallow exceptions anymore, and I believe this is the reason why we see those now, i’ll Check with an older version if those were properly swallowed before

[2018-01-19 18:10] flovilmart commented on #1202
I can confirm that all PFConsistencyAssertion were previously caught in Bolts 1.8.* and now bolts don't catch them anymore.

We need to properly refactor those code paths to transofrm exceptions into errors which is problematic as it stands.

[2018-01-19 21:36] jjmaceda commented on #1235
Had the same issue the pod update show that ParseFacebookUtilsV4 is deprecated, remove the pod from Podfile and only add
pod 'Parse'
pod 'Parse/FacebookUtils'

that did the trick with me

[2018-01-19 22:05] andrewfashion commented on #1235
It's not letting me install Bolts 1.8.4

`[!] CocoaPods could not find compatible versions for pod "Bolts/Tasks":
  In Podfile:
    Bolts (~> 1.8.4) was resolved to 1.8.4, which depends on
      Bolts/Tasks (= 1.8.4)

    Parse/FacebookUtils was resolved to 1.16.0, which depends on
      Parse/Core (= 1.16.0) was resolved to 1.16.0, which depends on
        Bolts/Tasks (~> 1.9)

Specs satisfying t

[2018-01-19 22:05] andrewfashion commented on #1235
:(

[2018-01-19 22:14] andrewfashion commented on #1235
Thanks @jjmaceda  -- just removed bolts, and it works fine :)

[2018-01-20 00:16] jjmaceda commented on #1234
I did that however even though the autocompletion show me PFFacebookUtils, when I run the app this simulator can't find the class

dyld: Symbol not found: _OBJC_CLASS_$_PFFacebookUtils

any ideas?

[2018-01-20 00:34] flovilmart commented on #1234
Do you still have imports imports for PFFacebookUtils anywhere in your code?

[2018-01-20 00:36] jjmaceda commented on #1234
none, just using the class

<img width="334" alt="screen shot 2018-01-19 at 6 35 18 pm" src="https://user-images.githubusercontent.com/779887/35177754-b12511bc-fd47-11e7-9084-a7e39db72e9e.png">

[2018-01-20 00:49] flovilmart commented on #1234
Do you use the `use_frameworks!` directive?

[2018-01-20 00:50] jjmaceda commented on #1234
yes, yes??

[2018-01-20 00:50] flovilmart commented on #1234
I just tried in an empty project and I have no issue building it, try cleaning your derived data folder perhaps?

[2018-01-20 00:51] flovilmart commented on #1234
Here if you want to have a look: [TestingBolts.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1648347/TestingBolts.zip)

[2018-01-20 01:04] jjmaceda commented on #1234
I really appreciate your help, the only different is that u don't include pod 'Parse', just pod 'Parse/FacebookUtils', but even that way is not working, the other difference is that I'm also using pod 'ParseLiveQuery', any more ideas? also the first time works, but if I stop and run again the problem start after I change something to the podfile

[2018-01-20 01:17] flovilmart commented on #1234
I added the same pods,
[TestingBolts.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/1648392/TestingBolts.zip) and the project is still building / running as expected, I'M not sure what's wrond. Double check your build settings / phases, link phases, search paths etc...

[2018-01-20 02:44] dplewis commented on #1234
@flovilmart I ran into some issues like this but I resolved them. It occurred when I was asked to convert to swift 4. I deleted my podfile.lock, ran pod install, did not update to swift 4, deleted the derived folder, clean and rebuild and everything worked.

[2018-01-20 19:54] jjmaceda commented on #1234
great, I did all what u suggested, but also I discovered I had a carthage version of the framework, not sure if it was conflicting, but now is working, thanks again for the help!

[2018-01-21 00:41] #1235 closed

[2018-01-21 00:42] flovilmart commented on #1217
I believe this is a known issue, the installation info is stored in the keychain. This seem consistent with the SDK's philosophy.

If that's an enhancement you'd like to bring in, feel free to open a PR.

[2018-01-21 00:46] flovilmart commented on #1199
This seems to be an invalid response from Parse Server, (invalid JSON) You should have a look into your logs there.

[2018-01-21 01:07] #1136 closed

[2018-01-21 01:07] flovilmart commented on #1169
There's an open PR for the Parse Push on TvOS, we should merge it soon enough

[2018-01-21 01:09] flovilmart commented on #1234
Awesome! Closing now

[2018-01-21 01:09] #1234 closed

[2018-01-21 01:15] flovilmart commented on #1202
@StratRob , @ceramicatheist after much work into putting the SDK on a stable version for the Bolts 1.9.0, this exception is gonna stay, as you're mutating objects from the local datastore.

What's happening, is that you're changing the objectId from a known object, in previous versions this would yield an NSInternalInconsistencyException that would be caught by the bolts tasks runner.

This is an

[2018-01-21 01:15] #1206 closed

[2018-01-21 01:17] flovilmart commented on #1201
The client SDK is not setting the `accept-language` header AFAICT, can you point out where you see that issue?

[2018-01-21 01:22] flovilmart commented on #1128
It seems that you're using tuples instead of proper dictionaries. We don't support swift value types in the SDK such as tuples, enums etc...

[2018-01-21 01:22] #1128 closed

[2018-01-21 01:23] #1109 closed

[2018-01-21 01:25] #1093 closed

[2018-01-21 01:27] flovilmart commented on #1089
I'll have a look on the latest verison and try to reproduce

[2018-01-21 01:41] flovilmart commented on #1089
@pupoo did you ever manage to fix the issue? I noticed in your code that you're adding keys to arrays, not setting them as properties. Is it on purpose?

[2018-01-21 01:56] flovilmart commented on #1198
@funkenstrahlen there was some work done in this branch (https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1238) to get the push for tvOS, do you want to pick it up from there?

[2018-01-21 01:57] flovilmart commented on #1043
duplicate of #1198 , keeping the latest one open.

[2018-01-21 01:57] #1043 closed

[2018-01-21 01:57] flovilmart commented on #1169
duplicate of #1198 , keeping the latest one open.

[2018-01-21 01:57] #1169 closed

[2018-01-21 04:44] #1212 closed

[2018-01-21 16:37] ceramicatheist commented on #1202
I did a sweep of our code looking for objectID, and we don't set it anywhere. We do extensively use the local store, but never assign an objectID.
(I do make a single dummy PFObject with a dummy ObjectID, but it's only used to construct a "must-fail" query and it never touches the local store.)

I should add (and maybe put in a separate issue?) that this was not the worst of the new crashes we saw

[2018-01-21 16:45] flovilmart commented on #1202
Ok, if you reliably have that error can you check the latest cocoapods version? 1.17.0-alpha.2. You should lot have the exception but a soft error

[2018-01-21 18:05] mghaziza commented on #1013
Did you get this problem resolved?  I am having same issue.  It just happened, it used to work just fine.  Don't know what happend?

[2018-01-21 19:25] flovilmart commented on #1202
@StratRob I have been looking in depth into your issue, and I believe I found the solution.
When the localDatastore is enabled, you shoud always use `[PFObject objectWithoutData:className objectId:objectId]` to try to prefetch the object from the store in memory cache.

Your app is crashing because the new instances of PFObject's you're subsequently creating break the 1..1 mapping for the offline

[2018-01-21 19:40] flovilmart commented on #1202
@StratRob after further invesigation, I can confirm that if CloudCode returns proper Parse Object's they are already exposed as-is in the results. You don't need your initializer.

[code]

This code should work. I'll be closing the issue now.

@ceramicatheist @iThinkersTeam I encourgage both of you to open a new issue.

[2018-01-21 19:40] #1202 closed

[2018-01-21 20:09] flovilmart commented on #1193
@rogerhu this should be fixed with the latest versions of the SDK. please reopen the issue if it persists

[2018-01-21 20:09] #1193 closed

[2018-01-21 20:10] flovilmart commented on #1209
@guidupas this is not possible at the moment and unlikely we'll put effort into providing that feature. However, I'll gladly review a PR that would bring that feature in.

[2018-01-21 20:11] flovilmart commented on #1208
@woodardj can you pinpoint which call in the SDK is doing so and provide steps to reproduce?

[2018-01-21 20:23] flovilmart commented on #657
The crash will be resolved in next release 1.17.0 as a soft error.

[2018-01-21 20:23] #657 closed

[2018-01-22 05:39] cubycode commented on #1213
i would use Arrays in your Photo class by adding a likedBy column of type Array.
 Once a user likes a picture, create an Array [String] called likedBy and add his objectID in it.
Then, in your query.findObjectsInBackground() instance, get the likedBy array and its likedBy.count Int value, and simply print it in your Label ;)
Hope this helps!

[2018-01-22 16:22] ceramicatheist opened #1239 "Newly registered Facebook user is briefly un-saveable"
(migrated from discussion on #1202)

After updating from version 1.15.3 to 1.15.4, with the corresponding Bolts update

When a new user signs up by authenticating to Facebook:

In the successful completion block of `PFFacebookUtils.logInInBackground(withReadPermissions:)`, we immediately set some properties on the new User object and attempt to save it. This reliably produces a NSInternalInconsist

[2018-01-22 17:07] flovilmart commented on #1239
@ceramicatheist keep me posted on this one.

Are you using the block login or the bolts task login?

[2018-01-23 07:36] fxchou123 opened #1240 "ParseFacebookUtilsV4 1.16.0 Error"
I'm keeping get this issue when integrate latest ParseFacebookUtilsV4.framwork into my project. Below is the error:

Undefined symbols for architecture arm64:
  "___llvm_profile_runtime", referenced from:
      ___llvm_profile_runtime_user in ParseFacebookUtilsV4(PFFacebookAuthenticationProvider.o)
      ___llvm_profile_runtime_user in ParseFacebookUtilsV4(PFFacebookUtils.o)
      ___llvm_profile_

[2018-01-23 08:30] rogerhu commented on #1193
Thanks!

[2018-01-23 10:16] GreatAppStudio commented on #1240
same here

[2018-01-23 22:00] alexblack opened #1241 "Configuring HTTP request timeouts and retries"
Hi, is there a way to configure HTTP request timeouts and retries for requests made by the parse SDK?

It appears as if parse is spending several minutes failing to save on this line:

`        [[PFUser currentUser] save:&userError];`

[code]

[2018-01-23 22:02] alexblack commented on #1241
This looks promising:

http://parseplatform.org/Parse-SDK-iOS-OSX/api/Classes/ParseClientConfiguration.html#/c:objc(cs)ParseClientConfiguration(py)networkRetryAttempts

[2018-01-24 00:05] flovilmart commented on #1241
So basically you'd like to make a 'per request' timeout / retries?

[2018-01-24 00:27] alexblack commented on #1241
I was hoping to set HTTP timeouts and retry limits once, globally, for all requests made by the iOS parse sdk

[2018-01-24 00:34] flovilmart commented on #1241
This would be a welcome improvement, would you be willing to work on a PR?

[2018-01-24 00:51] alexblack commented on #1241
Heh, I was just asking if its possible, sounds like its not.  I have almost no coding experience with iOS, so not something I'd even consider attempting.

[2018-01-26 01:56] mtrezza commented on #1206
@henriqueiv removing the space in the folder path solved it also for me

[2018-01-26 02:29] flovilmart commented on #1240
I’ll have a look

[2018-01-26 18:25] flovilmart commented on #301
@thisfiore is this a feature you would be willing to work on?

[2018-01-26 18:30] mtrezza commented on #1201
@flovilmart I had the issue in Cloud Code where I tried to use the header as fallback to guess the user's device language setting. However I think that `zh-cn` implies Chinese as used in China (mainland) and therefore means Simplified Chinese, according to `ISO 639-1, ISO 639-2 and ISO 639-3`.

[2018-01-26 18:30] #1201 closed

[2018-01-26 22:55] mtrezza opened #1244 "Conflicting class names: Class FBSDK... is implemented in both"
I always used the Parse iOS SDK
- `Parse.framework`
- `Bolts.framework`
- `ParseFacebookUtilsV4.framework`

and the Facebook iOS SDK
- `FBSDKCoreKit.framework`
- `FBSDKLoginKit.framework`
- `FBSDKShareKit.framework`

together in one project.

After updating to `Parse-SDK-iOS-OSX 1.16.0` and `facebook-ios-sdk 4.30.0` these warnings occur during runtime:

So apparently the Parse SDK registers objC c

[2018-01-26 22:58] flovilmart commented on #1244
Where did you pull the SDK from? Downloaded from the release page?

[2018-01-26 22:59] mtrezza commented on #1244
I used carthage:

[code]

[2018-01-26 23:00] flovilmart commented on #1244
Ok, we’ll have a look. It seems that the Facebook SDK is statically linked into Facebook utils

[2018-01-27 01:52] mtrezza commented on #1244
I should add, the naming conflict also exists between `ParseFacebookUtilsV4.framework` and `Bolts.framework`:

[2018-01-27 13:54] flovilmart commented on #1244
I believe I messed up the linking stage, linking statically :/ I’ll patch the release before Monday.

On Jan 26, 2018, 20:52 -0500, Manuel <notifications@github.com>, wrote:

[2018-01-27 19:11] omarzl opened #1245 "Undefined bool breaks local datastore"
I have an app in production and I am adding new functionality.
I added a new Boolean column called isAdmin, as you can see in the image, the users that already use the app has an (undefined) value, and the new users have either a False or a True

![captura de pantalla 2018-01-27 a la s 12 53 30](https://user-images.githubusercontent.com/6267487/35475279-277d3ba4-0361-11e8-8968-f1ac6f154560.png)

T

[2018-01-27 19:13] flovilmart commented on #1245
Try to set them as NSNumber, I believe Bool are not properly reported in the objc runtime

[2018-01-27 19:21] omarzl commented on #1245
I changed to an optional NSNumber, but it stills shows the same error

![captura de pantalla 2018-01-27 a la s 13 20 53](https://user-images.githubusercontent.com/6267487/35475486-f03eae12-0364-11e8-981b-92748d810e3e.png)

[2018-01-27 19:25] omarzl commented on #1245
I fetch all my local objects of that class (not using containedIn on the query) and it fetches correctly, as you can see the only one that doesn't have isAdmin is the object with Id: F2Z19ZGuLc

If I manually change to False the isAdmin property on my Parse Server the error goes away on the iOS App.

![captura de pantalla 2018-01-27 a la s 13 22 43](https://user-images.githubusercontent.com/626748

[2018-01-27 19:37] flovilmart commented on #1245
So we’ll need to investigate the pinning or the fetching?

[2018-01-27 20:30] flovilmart commented on #1245
So what’s the issue then?

[2018-01-27 22:40] promisenxu opened #1246 "ParseFacebookUtils deployment target - back to iOS 8.0?"
In the v1.11.2 ParseFacebookUtils podspec, the deployment target is set to iOS 9.0 while the main Parse iOS SDK is at iOS 8.0.

Is it possible to set the deployment target of ParseFacebookUtils back to iOS 8.0?

[2018-01-27 22:49] flovilmart commented on #1246
I believe Facebook Utils leverage iOS 9+ features otherwise, feel free to open a PR

[2018-01-27 23:02] promisenxu commented on #1246
@flovilmart It seems that the deployment target is changed from iOS 7.0 to iOS 9.0 at version 1.11.2 and there doesn't seem to change that required iOS 9.0+. I will give it a try at the PR. Thanks!

[2018-01-28 00:20] omarzl commented on #1245
I created a new project to replicate the problem and everything works there, it seems is an error with my logic/data.

Sorry about that and thanks for your help!

[2018-01-28 00:20] #1245 closed

[2018-01-28 23:54] iainmerrick opened #1248 "Crash in [PFACL resolveUser:] (nil dictionary key)"
I have an old, previously working app that I've just updated from the old parse.com SDK to use a new server with the new open source SDK. Some users are experiencing a crash in [PFACL resolveUser:].

Here's a representative stack trace:

Inspecting the code, this line is suspicious: https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/5cb05c036afd6f0ea7c379b961579d7a81548342/Parse/Parse/PFACL

[2018-01-29 00:51] flovilmart commented on #1248
What version of the SDK are you using?

On Jan 28, 2018, 18:54 -0500, Iain Merrick <notifications@github.com>, wrote:

[2018-01-29 01:34] iainmerrick commented on #1248
Version 1.15.4

[2018-01-30 16:27] erfe1 commented on #1201
NO

[2018-01-30 18:41] #1083 closed

[2018-01-30 18:41] #1184 closed

[2018-01-31 01:53] jeffreyjackson opened #1249 "Parse/UI with PFLoginViewController"
I noticed ParseUI was deprecated, so I moved on to using Parse/UI in cocoapods.  Everything seemed to install fine with cocoapods, and I was able to go through and clean out the existing `#import <ParseUI/ParseUI.h>` from my application.  Now when I build I'm getting some errors on my SignUp and Login delegates...

`Declaration of 'PFLogInViewControllerDelegate' must be imported from module 'Parse

[2018-01-31 03:01] keji96 commented on #1229
Hi. Sorry I am new to this. every time I try to install the pod Parse/FacebookUtils it tells me

"Specs satisfying the `Parse/FacebookUtils` dependency were found, but they required a higher minimum deployment target."

my pod file looks like this

# Uncomment the next line to define a global platform for your project
# platform :ios, '9.0'

target 'Barbershop' do
  # Comment the next line if you'

[2018-02-01 02:11] davem2020 commented on #1249
I got this error as well.  None of the Parse/UI classes were recognized when importing the Parse framework.  This is for an objective-c project. I had to go back to the original ParseUI pod.

[2018-02-01 02:22] flovilmart commented on #1249
Could one of you share a sample project? This may help us find what’s wrong.

On Jan 31, 2018, 21:11 -0500, davem2020 <notifications@github.com>, wrote:

[2018-02-01 02:28] davem2020 commented on #1249
My project is quite large and messy and not on github.  Are there specific settings, logs or screenshots that would be helpful?

[2018-02-01 02:30] flovilmart commented on #1249
Just a sample project, or detailed logs from the failing build as well as the imports statements for the files that are impacted

[2018-02-01 02:52] davem2020 commented on #1249
I think I found the solution-
I changed all my import statements
`#import <ParseUI/ParseUI.h>` and `#import <Parse/Parse.h>`
to
`@import Parse;`

I was not familiar with importing modules, but this seemed to do the trick.

[2018-02-01 03:16] flovilmart commented on #1249
@jeffreyjackson does it work for you?

[2018-02-01 14:37] jeffreyjackson commented on #1249
@flovilmart yes, using #import Parse; did the trick.  Thanks!

[2018-02-01 14:37] #1249 closed

[2018-02-01 17:15] luispiura89 commented on #1240
Hello everyone

Does anyone has news about this?

[2018-02-01 17:26] flovilmart commented on #1240
IM looking into it, stay tuned

[2018-02-03 18:02] RezaHemadi opened #1251 "ObjectId is nil after saving in background"
I'm using Parse server 2.7.2 along with Parse iOS framework 1.16.0.
recently I configured the parse server to use ssl and also updated Parse framework to 1.16.0 but an issue has risen that was working fine before. when I save an object in background and try to get the object id I get the 'found nil' error.

'let text = _addTextField.text!
  let textObject = PFObject(className: "text")
  textObject

[2018-02-03 18:45] flovilmart commented on #1251
You’re actually not checking if succeeded is true, just unpacking the optional.

[2018-02-03 22:03] RezaHemadi commented on #1251
Thank you, I had to delete the class on the server and now the objects are saved successfully. I do still have to check if I can get the objectId after saving.

[2018-02-04 00:20] luispiura89 commented on #1240
Thanks!

[2018-02-04 03:25] flovilmart commented on #1244
Sorry it took a while here, can you test with the branch ` fix/dynamic-builds`

[2018-02-04 07:01] RezaHemadi commented on #1251
Even though I deleted the classes on Parse server and let them be created again in runtime, I still get the error "unexpectedly found nil" on objectId after saving. I checked the Parse server log which didn't show any errors.

`cassetteObject.saveInBackground {
                    (succeed: Bool?, error: Error?) -> Void in

                    if let error = error {

                        print(

[2018-02-05 02:03] #1240 closed

[2018-02-05 07:13] flovilmart commented on #1246
CLosing as resolved

[2018-02-05 07:13] #1246 closed

[2018-02-05 07:14] flovilmart commented on #1244
@mtrezza this should be resolved when using the master branch, I've spent a good amount of time ensuring dynamic targets are properly built without extaneous symbols.

[2018-02-05 07:14] #1244 closed

[2018-02-05 14:05] ananfang commented on #1202
@flovilmart
We've also encountered this issue.
I tried using the latest cocoapod version (which is 1.17.0-alpha.6), it will change ParseLiveQuery version (back to 1.x, the version still depend on SocketRocket, not Starscream) and conflict with the new Bolts API...

[2018-02-05 14:06] flovilmart commented on #1202
@ananfang what issue do you mean?

[2018-02-05 14:33] ananfang commented on #1202
@flovilmart
I just save a parse object and included an array of pointers of other objects, and it crash the app and show error: "Attempted to change an objectId to one that's already known to the Offline Store"

After changing Parse to branch 'release-1.17.0' and ParseLiveQuery to branch 'release-2.4.0', it will not crash the app, thanks for your effort.

[2018-02-05 14:34] flovilmart commented on #1202
@ananfang it doesn,t crash anymore but the operation errors :)

[2018-02-06 04:12] ananfang commented on #1202
@flovilmart
After testing many times, this operation error still crash the app, not always, but about 50% to occur this issue.

The error message shows that:
**Attempted to change an objectId to one that's already known to the OfflineStore. className: Story old: (null), new: 45le7HIrGE**

Followings are my codes to save a Parse object with class name Story:
[code]

[2018-02-06 04:32] ananfang commented on #1202
@flovilmart
I found there are two macros in [PFAssert.h](https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/release-1.17.0/Parse/Parse/Internal/PFAssert.h) (branch release-1.17.0):
PFPreconditionBailAndSetError and PFPreconditionBailOnError

Should be
PFPrecondition**Fail**AndSetError and PFPrecondition**Fail**OnError

[2018-02-06 05:52] ananfang commented on #1202
@flovilmart
I've just sent a [pull request](https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1256) to branch `release-1.17.0` about this issue.

In the function `- (void)updateObjectIdForObject:oldObjectId:newObjectId:` of PFOfflineStore.m, if oldObjectId is `nil`, means this object is just saved, and should update its reference in the local store without exception.

[2018-02-07 03:22] ananfang opened #1257 ""B" ail or "F" ail"
I guess that is a typo in `branch release-1.17.0`

https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/6b066c905753399be162198b6916cb46fee38f08/Parse/Parse/Internal/PFAssert.h#L78

PFPrecondition "B" ailAndSetError or PFPrecondition "F" ailAndSetError?

https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/6b066c905753399be162198b6916cb46fee38f08/Parse/Parse/Internal/PFAssert.h#L87

PFPr

[2018-02-07 12:13] flovilmart commented on #1257
Bail means quitting so that’s as intended. It could have been PFPreconditionReturnOnError

[2018-02-07 12:13] #1257 closed

[2018-02-08 16:16] bfjfm2 opened #1258 "Parse/UI is not available after deprecating ParseUI Framework"
In cocoapods( https://cocoapods.org/pods/ParseUI),
it is mentioned that **This library is deprecated, it is recommended you look at Parse/UI**.
But Parse/UI is notavailable at  https://cocoapods.org/pods/Parse/UI

[2018-02-08 16:34] flovilmart commented on #1258
It’s distributed as a subspec, so it’s available under the Parse Pod

[2018-02-08 16:57] bfjfm2 commented on #1258
I tried with following in my podFile
pod 'Parse', '1.15.4'
pod 'Parse/UI','~> 1.15.4'

**Got the following message in terminal:-**
`[!] Unable to satisfy the following requirements:

- `Parse/UI (~> 1.15.4)` required by `Podfile`
- `Parse/UI (~> 1.15.4)` required by `Podfile`

None of your spec sources contain a spec satisfying the dependency: `Parse/UI (~> 1.15.4)`.

You have either:
 * out-of-da

[2018-02-08 17:27] flovilmart commented on #1258
Try 1.1.6

[2018-02-08 17:28] #1258 closed

[2018-02-08 18:18] bfjfm2 commented on #1258
Not working, I tried replacing  with 1.16 my podFile

pod 'Parse', '1.16.0'
pod 'Parse/UI','~> 1.16.0'
#pod 'ParseUI'

pod install
**Got the following message in terminal:-**
[!] Unable to satisfy the following requirements:

- `Parse/UI (= 1.16.0)` required by `Podfile`
- `Parse/UI (= 1.16.0)` required by `Podfile`

Specs satisfying the `Parse/UI (= 1.16.0)` dependency were found, but they requir

[2018-02-08 18:19] flovilmart commented on #1258
According to the error message, the minimum deployment target is too low in your project

[2018-02-08 18:48] bfjfm2 commented on #1258
Thank you, it is working from 9.1.
Before It is working for ios target 8.1 for both pods Parse 1.6.0 and ParseUI.
Now I need to update with 9.1 for using ParseUI in  Parse/UI 1.6.0

[2018-02-08 19:13] bfjfm2 opened #1259 "Adding swift framework in objective c project creates issue in Parse/UI"
I am trying to add a swift framework by use_frameworks! in the pod.
 It is having issue in Parse/UI framework
 **(eg. It shows duplicate headers defined. eg.PFSignUpView)**

podFile
platform :ios, '9.0'
use_frameworks! #Issue in adding use_frameworks!
pod 'Socket.IO-Client-Swift' # swift framework
pod 'Parse', '1.16.0'
pod 'Parse/UI', '1.16.0

 **Requirement: Need to add swift frameworks with Pars

[2018-02-08 20:16] bfjfm2 commented on #1259
Sorry, It is invalid. It is problem in my code.

[2018-02-08 20:16] #1259 closed

[2018-02-09 10:39] araskin commented on #1241
@flovilmart I have never worked on a PR before but would love to contribute. Is there a guide on getting started?

[2018-02-09 18:53] yingmu52 opened #1260 "App crashes when running tests"
[code]

I am getting this crash when I run my unit-tests, any idea why?

[2018-02-13 11:48] ranhsd opened #1261 "getting a lot of warning: Block implicitly retains 'self';"
Hi, I'm using xCode 9.2 and get a lot of warnings of:

currently I see **301 warnings** in my project from various files of the SDK.

<img width="453" alt="screen shot 2018-02-13 at 13 49 10" src="https://user-images.githubusercontent.com/3685671/36148439-bc20005a-10c4-11e8-9ba0-6976e33d936d.png">

Thanks,
Ran

[2018-02-13 11:50] halvini commented on #1224
@flovilmart any ideas how to resolve this issue?

[2018-02-14 15:30] speedyacme commented on #1261
Same here! Xcode 9.2

Thanks
Speedy

[2018-02-14 16:55] hudsonansley opened #1262 "getting to _mergeAfterSaveWithResult with empty operationSetQueue"
We recently released with a parse update to parse 1.16.0 to fix and issue with the main thread being blocked and we're getting a ton of crashes that end up in PFObject->_mergeAfterSaveWithResult because the operationSetQueue is empty. The code here (line 1255) does no checks before accessing the queue, but this was not a problem before. So far, we have not been able to reproduce this error in our

[2018-02-14 17:08] flovilmart commented on #1262
can you provide at crash stack trace please?

[2018-02-14 18:28] hudsonansley commented on #1262
sure, thanks for taking a look:
Fatal Exception: NSRangeException
0  CoreFoundation                 0x183b57d38 __exceptionPreprocess
1  libobjc.A.dylib                0x18306c528 objc_exception_throw
2  CoreFoundation                 0x183af0c44 _CFArgv
3  CoreFoundation                 0x183adde34 -[__NSArrayM objectAtIndexedSubscript:]
4  Homer                          0x100ea16a4 -[PFObject(Pr

[2018-02-17 08:11] #1251 closed

[2018-02-17 14:06] flovilmart commented on #1251
Did you find the solution?

[2018-02-17 14:27] flovilmart commented on #1261
Merged to master. Stay tuned for next release

[2018-02-17 14:27] #1261 closed

[2018-02-17 14:34] RezaHemadi commented on #1251
On Sat, Feb 17, 2018 at 5:36 PM Florent Vilmart <notifications@github.com>
wrote:

yes, the object I was trying to assign the object id to was nil. The object
id had value after saving.
Thank you

[2018-02-17 16:14] Jesterix commented on #764
I had the same issue. The solution was that the name of the server in AppDelegate must start with "http://". May be this will be helpful to somebody.

[2018-02-18 19:55] flovilmart commented on #1248
@iainmerrick I understand why it may crash now, I'm looking into a fix. By any chance, did the save call failed?

[2018-02-20 11:48] MattiaConfalonieri opened #1269 "Query add order"
Hi i am trying to make a query with two oder value

 query.order(byDescending: "createdAt")
 query.addAscendingOrder("prize")

createdAt is a date
prize is a number

 query.addAscendingOrder("prize") is always ignored... anybody are experiencing this issue?

[2018-02-26 19:30] bfjfm2 opened #1270 "Installation Save Issue - @"JSON text did not start with array or object and option to allow fragments not set.""
This issue happens on PFInstallation saveinBackground

 Installation *currentInstallation = [Installation currentInstallation];
  currentInstallation.deviceModel = [AppUtil deviceModel];
  [currentInstallation saveInBackgroundWithBlock:^(BOOL succeeded, NSError *error) {
   }];

@"NSDebugDescription" : @"JSON text did not start with array or object and option to allow fragments not set."

[2018-02-26 20:41] bfjfm2 commented on #1270
When the server is down, somehow this happens. So I am closing this issue

[2018-02-26 20:41] #1270 closed

[2018-02-27 09:23] MattiaConfalonieri commented on #1269
Up, nobody?

[2018-02-27 12:53] flovilmart commented on #1269
Can you provide the server logs when running with VERBOSE=1 please?

[2018-02-27 22:34] ceramicatheist commented on #1239
(sorry, didn't see your edit)
We use the completion-block version of all the methods, including this one.

[2018-02-28 13:13] sverin opened #1271 "Could not build Objective-C module 'ParseFacebookUtilsV4'"
I'm trying to use ParseFacebookUtilsV4 in my Swift project but receive an error:

`import ParseFacebookUtilsV4`

`Could not build Objective-C module 'ParseFacebookUtilsV4'`

I'm using carthage and have tried both stable 1.16.0 and 1.17.0-alpha.3.
Someone else experiencing this, or what am I'm doing wrong?

[2018-02-28 15:27] sverin commented on #1271
If I specify "master" branch in the Carthage file it seems to work:

`github "ParsePlatform/Parse-SDK-iOS-OSX" "master"`

However, if I just specify the library it doesn't download the facebook-ios-sdk.

`github "ParsePlatform/Parse-SDK-iOS-OSX"`

[2018-02-28 15:52] flovilmart commented on #1271
If it works on master that's perfect, stay tuned for the next release.

On Feb 28, 2018, 10:31 AM -0500, sverin <notifications@github.com>, wrote:

[2018-02-28 16:07] #1271 closed

[2018-02-28 17:58] flovilmart commented on #1239
Can you check with bolts tasks based login?

[2018-02-28 20:38] sverin opened #1272 "findObjectsInBackground always results in nil"
I have been using `findObjectsInBackground` of PFQuery before. But after updating to **master** branch it always returns nil. I have tried to create a new simple project with the same results.

Carthage file:
`github "ParsePlatform/Parse-SDK-iOS-OSX" "master"`

This works (results in expected count 100):

[code]

This does NOT work (results in -1 (nil)):

[code]

[2018-02-28 20:41] flovilmart commented on #1272
How does it behave with using the Bolts method instead of the callback?

[2018-02-28 20:43] sverin commented on #1272
How do you mean? Never used Bolts method. Could you give an example?

[2018-02-28 20:45] flovilmart commented on #1272
[code]

or something similar.

[2018-02-28 20:52] sverin commented on #1272
Adjusted a bit, but also returns -1 (nil)
[code]

[2018-02-28 20:57] flovilmart commented on #1272
Can you provide the server logs please when runninh with VERBOSE=1?

[2018-02-28 21:10] sverin commented on #1272
That's the thing. If I use `findObjects()` I see the call and the results in the log. But if I use the asynchronous call `findObjectsInBackground()`, I see nothing. Like the call never happens.

[2018-02-28 21:11] sverin commented on #1272
Using VERBOSE logging

[2018-02-28 21:13] flovilmart commented on #1272
So I believe the query is never executed because not retained

[2018-02-28 21:22] sverin commented on #1272
Then I may have some rewriting to do. Thanks for great support.

[2018-02-28 21:22] #1272 closed

[2018-02-28 22:53] woodardj commented on #1208
I'm afraid I can't at the moment. Is it possible that poor network performance (or carrier drops) could be causing this? It's pretty frequent, and I'd be surprised if it were just us. iOS is also not my specialty, so I'm not even sure what to look for.

But I can say this seems to happen most frequently with _Installation requests.

[2018-03-02 12:14] Saravana181187 opened #1273 "iOS: My app crashed in iPhone when i am installing from testfairy but in iPad it's working fine.."

[2018-03-03 01:33] flovilmart commented on #1273
Please provide additional informations if you’d like us to look into the issue (crash and server logs etc...)

[2018-03-03 01:33] #1273 closed

[2018-03-03 20:42] markuswinkler opened #1274 "Please update dependency for ParseFacebookUtils"
Hi!

ParseFacebookUtils currently is limited to a FacebookSDK '~> 4.28.0',
although 4.30 has been out for a while.
Can you please update the podspec?

Thanks!

[2018-03-05 06:20] timgianitsos opened #1275 "Closures passed to Parse functions stop mysteriously"
### Issue Description

In my Swift code, functions that are passed closures as "block" parameters sometimes stop mysteriously at the moment one of the closure parameters is used.

### Steps to reproduce
Observe the following function.

    PFCloud.callFunction(inBackground: "someFunction", withParameters: ["blah": someVar], block: { (object: Any?, error: Error?) in
        print("foo")
        pri

[2018-03-05 13:34] flovilmart commented on #1275
thanks for reporting the issue.

Did you try with:

[code]

Is it generating the same issue?

[2018-03-05 16:57] timgianitsos commented on #1275
Yes, same issue

[2018-03-07 17:14] jeffMeador commented on #1274
The latest facebook SDK is actually 4.31.1, can the podspec just get updated to that? Facebook is sending out messages to update to the latest SDK for important iOS 11 fixes.

[2018-03-07 17:26] flovilmart commented on #1274
Can you open a PR please? don’t forget to update the Cartfile and run Carthage bootstrap so tests are run against it as well.

[2018-03-08 16:37] mdimarca commented on #450
I'm having a similar issue @dtrenz. I'm not quite sure how you solved it?

I initialize Parse in application:didFinishLaunchingWithOptions with this:
`    [Parse initializeWithConfiguration:[ParseClientConfiguration configurationWithBlock:^(id<ParseMutableClientConfiguration> configuration) {}];`

My app pops into another app, and when it returns to my app, it crashes on the splash screen with the

[2018-03-16 13:28] #1248 closed

[2018-03-17 03:21] jkichline opened #1277 "1.17 seems to break everything on iOS 11"
I had just updated my CocoaPods (iOS) and it installed Parse 1.17.0 (from 1.16.0) and nothing worked.  All queries would return nil as the result (array or object) and nil as an error.  I used Charles to monitor traffic and it appeared that the query was never sent!  It may have something to do with the user not being signed in prior to the query (since I'm trying to sign in but need to run a non-

[2018-03-17 13:16] flovilmart commented on #1277
Can you post some sample code please? Are you using swift or objective C? Also the traces of Charles with obfuscated keys and appId would help.

[2018-03-17 16:39] Skyb0rg commented on #1277
Same here .... hole Project doesn´t work. Dont get any data.

[2018-03-17 16:48] flovilmart commented on #1277
Are you guys able to add the request interceptors as described in the wiki and post the contents?

[2018-03-17 21:10] jaredalexander commented on #1277
same. Swift.

[2018-03-17 21:14] flovilmart commented on #1277
Again, please provide the contents of the queries when using the interceptor

[2018-03-18 01:32] jeffreyjackson commented on #1277
same.  objective-c.  reverting to 1.16

[2018-03-18 01:37] flovilmart commented on #1277
Closing the issue as it’s lackin the require info to process properly. Please post request /responses from the interceptor as descibed in the wiki and we’ll reopen.

[2018-03-18 07:50] 99thpixel opened #1278 "iOS App crashes on production"
Hi, I have sent an update with parse version 1.16.0 (updated from 1.15.3).
The app is crashing in production since the update.

My app uses local databases. Users have reported that removing the crashing app and re-installing it solves the issue.

Below is a screenshot from the crash report I received through iTunes crash reporting.

<img width="2269" alt="screen shot 2018-03-18 at 1 15 04 pm" src

[2018-03-18 12:47] flovilmart commented on #1278
1.17.0 was released, please update to this version.

[2018-03-18 12:47] #1278 closed

[2018-03-18 18:14] flovilmart commented on #1277
If is possible for any of you to confirme the `release-1.17.1`  branch fixes the issue?

in your Podfile:

[code]

[2018-03-18 20:39] mtrezza opened #1280 "Sharing session for iOS extension"
When writing an iOS extension for an app, is it possible to share the current login session to be used by the iOS extension?

iOS extensions are bundled with iOS apps but run in separate containers. So when the user logged in on the app, the extension cannot access that Parse instance. If the extension would log in again, it would create an additional login session for the user.

However the exten

[2018-03-18 20:41] flovilmart commented on #1277
Can you provide the logs with interceptors setup as well as an example of the query you’re making? This is really crucial. I don’t see the issue anymore with the branch on queries

[2018-03-18 20:42] flovilmart commented on #1277
@nickseidel

[2018-03-18 20:43] mtrezza commented on #1280
Closing, actually putting this on SO, if anyone interested:
https://stackoverflow.com/questions/49352622/sharing-session-for-ios-extension

[2018-03-18 20:43] #1280 closed

[2018-03-19 02:55] jkichline commented on #1277
Florent:

The 1.17.1 build does seem to work correctly.

I would have sent Charles proxy information, but with 1.17, no attempts were being made to even reach the Parse server.  It was as if the Parse framework was detecting that it didn’t have the rights or reasons to make a call to the network although other calls were made like for app metrics and installations.

Jason Kichline

[2018-03-19 02:56] flovilmart commented on #1277
Let’s give us a few days before merging it in.

[2018-03-19 08:45] felix-dumit commented on #1277
I can also confirm 1.17.1 fixed this issue for me.

I was experiencing it if I called a query using any of the async methods (bolts or completion handler), but not using the sync `findObjects` method.

[2018-03-19 11:26] flovilmart commented on #1277
That’s good to know. Sorry for that bad release, I wasn’t expecting it to break at that time.

[2018-03-21 09:14] natanrolnik commented on #1277
Closing this issue as 1.17.1 was released yesterday.

[2018-03-21 09:14] #1277 closed

[2018-03-21 21:25] dnadri commented on #1229
@flovilmart I replaced the ParseFacebookUtilsV4 pod with
`pod ‘Parse/FacebookUtils’` as you said, but I'm getting the following error messages:

[code]

See podfile below:
[code]
Note: I tried a higher deployment target by setting the podfile to `platform :ios, '8.3'` but got the same error.

[2018-03-21 21:26] flovilmart commented on #1229
remove those lines:

[code]

[2018-03-21 21:42] dnadri commented on #1229
@flovilmart thanks for the quick response. I actually got rid of those errors without removing those 3 lines.
1) Are you saying that `pod 'Parse/FacebookUtils'` covers those 3 lines basically?

In either case, I am now getting the following Xcode error in my Bridging Header file:
`'ParseUI/ParseUI.h' file not found`

2) Do I also need to remove all the `import ParseFacebookUtils` and `import Parse

[2018-03-21 22:02] flovilmart commented on #1229
The faceook utils subspec has for dependency the FBSDK utils. So you should be good. in doubt, you can also pin the FBSDK dependencies to the same version FacebookUtils is expecting them. We'll update soon with the FBSDK dependencies bumped to the latest versions.

Thanks to the subspec magic a single `@import Parse` should be enough now.

[2018-03-21 22:04] dnadri commented on #1229
Got it. But after doing what you said I still have the error, `'ParseUI/ParseUI.h' file not found`

How can I fix this error?

[2018-03-21 22:06] flovilmart commented on #1229
You don’t need that import, where does it come from!

[2018-03-21 22:20] dnadri commented on #1229
Thanks, fixed. So I assume I can remove the following too:

It was needed in the bridging header file to expose any of the Objective-C files to my Swift project.

[2018-03-21 22:34] dnadri commented on #1229
Thanks, that fixes that error. Originally, it was needed inside the bridging header file to expose any of the Objective-C files to my Swift project. So I assume installing the latest pod 'Parse',  pod 'Parse/UI', and pod 'Parse/FacebookUtils' in my Podfile means I can remove the all the following from my bridging header too? In other words, the latest Parse SDK removes the need for a bridging head

[2018-03-21 22:36] flovilmart commented on #1229
The current SDK is still written in objective c so what you see here is the natural transition of the generated swift interfaces

[2018-03-22 13:29] LilMoke opened #1281 "Parse 1.17.1 Build Error..."
Hello,

I am trying to build the Parse SDK.  Here are the steps:

1) Cloned the Git
2) Opened Parse.xcworkspace in xCode
3) Select build

I receive this error:

In Parse-iOS I get a ARC Weak Reference error in PFWeakValue.m line 18:

@implementation PFWeakValue

Give this error:
Cannot synthesize weak property in file using manual reference counting

So I tried to build it from the command line bu

[2018-03-22 17:43] #1281 closed

[2018-03-22 18:06] LilMoke commented on #1281
I am sorry but that did not work, actually what you sent me is the first command in the doc and I did those steps.  Here is a transcript of my session:

Last login: Thu Mar 22 10:20:06 on ttys001
Tonys-iMac:~ ######$ cd /Users/T#####/Downloads/Parse-SDK-iOS-OSX-master-2
Tonys-iMac:Parse-SDK-iOS-OSX-master-2 T####$ ls
CHANGELOG.md		Carthage		Parse			ParseTwitterUtils	Vendor
CONTRIBUTING.md		Gemfile

[2018-03-22 18:07] LilMoke opened #1282 "Failure to Build 1.17.1"
I am sorry but that did not work, actually what you sent me is the first command in the doc and I did those steps. Here is a transcript of my session:

Last login: Thu Mar 22 10:20:06 on ttys001
Tonys-iMac:~ ######$ cd /Users/T#####/Downloads/Parse-SDK-iOS-OSX-master-2
Tonys-iMac:Parse-SDK-iOS-OSX-master-2 T####$ ls
CHANGELOG.md	Carthage	Parse	ParseTwitterUtils	Vendor
CONTRIBUTING.md	Gemfile	Parse

[2018-03-22 18:11] flovilmart commented on #1282
Can you please comment on the other issue ?

[2018-03-22 18:11] #1282 closed

[2018-03-22 18:12] flovilmart commented on #1281
There's no output of your `git submodule update --init --recursive` call

[2018-03-22 18:15] flovilmart commented on #1281
BTW, I have the exact same error as you if I skip the submodule step:

[code]

[2018-03-22 19:08] flovilmart commented on #1281
Did you get the code by downloading the zip file?

[code]

[2018-03-23 11:37] LilMoke commented on #1281
Yes, thank you that worked.  You were right I did not have a good clone of the project.  It works now.

Hey, last question, I was using the Parse Pos in my app, but it would not pull down 1.17.1 and 1.17.0 was not working.  That was the reason on wanted to build to pkgs myself.

Is 1.17.1 the latest master project so I can do back to my pod configuration?

[2018-03-23 12:03] flovilmart commented on #1281
The 1.17.1 version of the pod has been released yesterday. You should be able to use it.

[2018-03-23 13:00] arunprasathsivasamy commented on #1024
none of them work for me also

[2018-03-23 13:01] flovilmart commented on #1024
@arunprasathsivasamy what version of the SDK are you using? we're using in production the latest version and are not impacted by this issue.

[2018-03-23 15:52] LilMoke commented on #1281
AWESOME!!  Thank you!!

[2018-03-23 23:37] Kiplol opened #1283 "version `ruby-2.3` is not installed"
# Issue Descriptions
When trying to update to version 1.17.1, I get this error from Cocoapods:

[code]

I have Ruby version 2.3.0 installed, but I can't seem to find one called "ruby-2.3".

# Steps to Reproduce
`pod update Parse`

# Podfile
[code]

[2018-03-24 11:14] LilMoke opened #1284 "ParseUI.h not found?"
Hello,

When importing these in my pod file:
	pod 'Parse'
	pod 'Parse/FacebookUtils'
	pod 'Parse/TwitterUtils'
	pod 'Parse/UI'

And i have these in a bridge file:
#import <Parse/Parse.h>
#import <ParseUI/ParseUI.h>
#import <Bolts/Bolts.h>
#import <FBSDKCoreKit/FBSDKCoreKit.h>
#import <FBSDKLoginKit/FBSDKLoginKit.h>

I get this compiler error:
'ParseUI/ParseUI.h' file not found

So where do I find

[2018-03-24 11:54] LilMoke opened #1285 "Facebook and Parse clarification..."
Hello,

How do I set up Facebook login when I do not have a parse dashboard to log in to?  I have installed parse dashboard locally and can access my AWS server but I do not have any Authentication section like on the old parse.com.

So, what I was wondering is do I need to set up anything in parse in any way, or can I just add the parse code to my app for a login view, etc, and the FB info to my

[2018-03-24 12:45] #1285 closed

[2018-03-25 08:33] ashish-naik commented on #1283
I am also facing same error. Another thing i noticed is cocoapods is trying to update to 1.16.0 rather than to 1.17.1. !!

here is my output.

`Analyzing dependencies
Downloading dependencies
Using ALCameraViewController (3.0.3)
Using Alamofire (4.6.0)
Using BWWalkthrough (2.1.2)
Using BarcodeScanner (4.1.2)
Using Bolts (1.9.0)
Using ChameleonFramework (2.1.0)
Using Crashlytics (3.10.0)
Using DZNE

[2018-03-25 12:10] ashish-naik commented on #1283
@Kiplol Please try latest cocoapods.

[2018-03-26 15:42] Kiplol commented on #1283
Hi @ashish-naik, I've updated my Cocoapods gem to cocoapods-1.5.0.beta.1, but I still get the same result.  Thanks for the help, though!

[2018-03-26 15:43] ashish-naik commented on #1283
I updated using cocoapods app and not command line. Don’t know how that
worked !!
On Mon, Mar 26, 2018 at 9:12 PM Kiplol <notifications@github.com> wrote:

--

Regards,
Ashish Naik

[2018-03-26 16:28] Kiplol commented on #1283
Wow, yes, thank you @ashish-naik, using the app rather than the command line does work!  I hope to figure out how to get the command line working as well, as I use a CI service to make builds, but this is still very helpful.

[2018-03-26 17:15] Kiplol commented on #1283
Actually, it looks like CI is working fine, so I guess there must be some issue with my local machine.  Thanks!

[2018-03-26 22:11] tahoecoop commented on #1261
Hello, I'm on Xcode 9.2 running Parse 1.17.1, I'm still seeing a few dozen of these warnings, anyone else still seeing these? Thanks!

[2018-03-26 22:28] flovilmart commented on #1261
There’s is still a few in the secondary SDK’s, feel free to open a PR to fix them

[2018-03-27 08:15] cubycode opened #1287 "Crash on app startup with Parse SDK 1.17.1"
I've just extracted all Parse frameworks with Carthage and dragged them in my own Xcode 9 project. When I run it, I get this error:
[code]
The **FBSDKCoreKit.framework** is successfully linked in the Binaries of my project. This issue never happened with older Parse SDK.

I've tried removing the Facebook SDKs, but I get a similar crash on startup, with no console messages but this thread:

[code]

[2018-03-28 14:48] julianvogels commented on #657
Crashes hard on startup, repeatedly, in the iOS simulator. But hard to reproduce with a new installation. I start to think it's because I restarted the app a few times after it had hit a break point inside _applicationDidFinishLaunchingWithOptions_, which somehow messed with the Parse SDK. Maybe it expected a value to be set (that UUID?) but couldn't find it because before it was set I had restart

[2018-03-28 16:22] flovilmart commented on #657
@julianvogels, can you provide a stacktrace please?

[2018-03-28 17:23] ashish-naik commented on #1163
@neilgandhi95 I am also using orQuery like OP.

My problem is query.order.(byDescending: "updatedAt") is not giving ordered result.

What could be the problem?

Thanks
Ashish

[2018-03-29 06:16] Noodlekim commented on #1073
We have the same issue, too.
Is this issue sloved?

[2018-03-29 12:00] flovilmart commented on #1073
This means the network connection to your was lost or that your server didn’t respond in a reasonable amount of time.

[2018-03-29 12:00] #1073 closed

[2018-03-31 21:45] ianbradbury-bizzibody opened #1288 "Documentation"
Have been looking for means of contributing to the documentation.

Any links that can be shared as to the process of updating the documentation?

[2018-03-31 21:46] mtrezza commented on #1288
Simply submit a PR?

[2018-03-31 21:48] flovilmart commented on #1288
Yes, a Pr is nice ;) all docs are in the docs repo, API documentation is generated from source

[2018-03-31 21:53] ianbradbury-bizzibody commented on #1288
I'll go hunting.  It's the Guides that I'm looking for.

[2018-04-02 20:31] akio46 commented on #1120
Anyone solved this issue?

[2018-04-03 13:13] LilMoke opened #1289 "Subclass PFObject..."
Hello,

This may be a bug, or by design, but when I subclass PFObject with another subclassed PFObject which is @NSManaged like so:

[code]

Reading the first object (listing) does not load the second object (buyerInfo).  It reads the first objects data, but the second objects items are nil.

Am I doing this wrong or is it not possible... or maybe I misunderstand how it should work.

[2018-04-03 20:18] LilMoke commented on #1289
Hmmm, thanks so much for the speedy reply!!  I will try adding includeKey.  I actually did see that and read about it but I thought I tried adding it and it did not work.  I will try again and if I still have an issue I will post back with with my query.  Can I ask what the cachePolicy is?  I do not remember reading about that.  Is that something I should be doing on my queries?

[2018-04-03 20:33] brianyyz commented on #1289
cachePolicy really depends on the volatility of your data. If you have quite static data then caching is great for performance e.g. first query retrieves the answer set and then subsequent queries are satisfied from cache but if it is quite volatile e.g. updated by many users then you'd likely want to disqualify the query from caching.

[2018-04-03 20:34] LilMoke commented on #1289
Ok, so adding includeKey does not seem to work.  Here is my query function:

[code]

So I call this like so:
[code]

When the closure happens, right before self.tableView.reloadData(), if I break and check listings[0] all the first level properties are there, but if I look at listings[0].buyerInfo it is nil and if I try listings[0]["buyerInfo"] it is also nil. Here is what I get when I break and l

[2018-04-03 21:33] brianyyz commented on #1289
I'm a bit hazy on this but I think if you try something like this in success
[code]

[2018-04-03 21:53] LilMoke commented on #1289
That still produces:

[code]

Not sure what is going on all the other properties for listing are ok except BuyerInfo.  Is there something special i need to do when I subclass PFObject that I am not doing?

[2018-04-03 22:26] brianyyz commented on #1289
Here's an example that proves the includeKey approach works. The only other catch I can think of is that something is going out of scope in your closures.

There are two classes in this example: Location which has a name and Street which has a Location to which it belongs and a public indicator

[code]

[code]
And here is the view controller that retrieves the Streets and for each of them prints o

[2018-04-05 10:49] LilMoke commented on #1289
Yes, that works ok, it was not exactly what i was thinking of how it would work, but i understand much better about parse usage, thank you.

[2018-04-05 10:49] #1289 closed

[2018-04-08 10:35] nitikorndev opened #1290 "App crashes : objectIds cannot be changed in offline mode."
Hi, my app crashes a lot in a past few week affect many users but I can't not find step to reproduce this crash. Anyone got the same issue ?

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x1c27bb3d __exceptionPreprocess
1  libobjc.A.dylib                0x1b503067 objc_exception_throw
2  CoreFoundation                 0x1c27ba85 -[NSException initWithCoder:]

[2018-04-08 12:33] flovilmart commented on #1290
Update to the latest version, this assertion has been removed

[2018-04-08 12:46] nitikorndev commented on #1290
@flovilmart Do you know root cause or step to make the crash I want to test after I update the latest SDK   Thanks.

[2018-04-08 12:47] nitikorndev commented on #1290
@flovilmart Do you know root cause or step to make the crash happen I want to test after I update the latest SDK Thanks.

[2018-04-08 12:48] flovilmart commented on #1290
The runtime assertion has been removed so there’s no real way to force it now. See https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1266

[2018-04-08 13:28] flovilmart commented on #1290
So basically this happens when you attempt to set an objectid on an existing object with the local datastore enabled. Previously, bolts would swallow all exceptions, now they are not. Are you using local datastore and live Query?

[2018-04-08 15:48] nitikorndev commented on #1290
@flovilmart Yes, I enable isLocalDatastoreEnabled = true . but I didn't  set any objectid to object.
Do you know any cause that make the crash happened ?

[2018-04-08 16:54] nitikorndev commented on #1290
@flovilmart  Seem like the app try to merge the server data to local db and found the objectId change and that cause the app crash ? Is it can be the server issue ? Thanks for looking

[2018-04-09 12:03] nitikorndev commented on #1290
@flovilmart NOW my team decide to disable offline mode. but when I change isLocalDatabase = false the user session gone I think I have to force logout Do you have any suggestion ? Thanks for take a look.

[2018-04-09 12:13] flovilmart commented on #1290
this is odd, the session should be stored into the keychain. But that’s probably a bad idea to disable local datastore without further investigation on your side of the implications. On my side I won’t have the time to look into this issue you encounter when disabling local datastore. I’ll probably have time to investigate the other issue at hand

[2018-04-12 01:08] MaveyMa commented on #1261
@tahoecoop, I had the same problem on my Xcode 9.3, but after I ran `pod update` to install Parse 1.17.1 (was 1.16.0), the warnings went away.

[2018-04-12 11:54] Muesly opened #1291 "User authentication after an iCloud restore on a new device"
I am seeing that when a user upgrades their iPhone and restores their data via iCloud, the app reacts as if the PFUser details are not copied across.  If this because they are in the keychain, what is the strategy to handle this?

Do we have to ask users to login again?

[2018-04-12 11:55] flovilmart commented on #1291
I believe Data stored in the keychain should be preserved. Do you have any documentation on that and if Apple provides anything in their SDKs

[2018-04-12 13:11] Muesly commented on #1291
Thanks for the quick response.

I can see mention of kSecAttrAccessibleAfterFirstUnlockThisDeviceOnly in PFKeychainStore.m

According to this: https://developer.apple.com/documentation/security/ksecattraccessiblealwaysthisdeviceonly

"This is not recommended for application use. Items with this attribute do not migrate to a new device. Thus, after restoring from a backup of a different device, the

[2018-04-13 09:53] Muesly commented on #1291
I'll try and look into doing this next week.

[2018-04-13 12:26] flovilmart commented on #1291
Thanks!

[2018-04-13 15:09] tahoecoop commented on #1274
I don't know how to do this PR. However, I'm getting a weird crash when a new user tries to log in with facebook. I'm seeing that new facebookutils version is 4.32 but we're only at 4.28, could this be the cause of the crash? Any help getting this resolved would be greatly appreciated, thanks!

[2018-04-13 15:14] flovilmart commented on #1274
@tahoecoop can you provide the crash please?

[2018-04-13 15:25] tahoecoop commented on #1274
I don't have anything too specific for you. I am setting breakpoints and its not even getting inside the block on PFFacebookUtils.logInInBackground function. The user gets into the facebook app fine to do the allow access, and when they send it back to my app, it just crashes. This seems to be a new-ish crash that's happening, everything seemed to work before. Thanks for your help!

[2018-04-13 15:26] flovilmart commented on #1274
When it crashes, there's a crash log, a stack trace etc... can you please gather it?

[2018-04-13 15:35] Muesly commented on #1291
I had a quick look and running on an existing session results in a blank session token, so the keychain would have to be migrated in some way.  Not so simple as changing the setting value!  Maybe this also needs to be a configuration setting in case other users have different requirements?

[2018-04-13 15:38] flovilmart commented on #1291
I believe that if the migration can be safely executed, tested and is robust, we can update the behavior, given the only visible change for the user is this issue being fixed ;)

[2018-04-13 15:42] tahoecoop commented on #1274
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0x0)
  * frame #0: 0x000000010594faa4 libswiftCore.dylib`swift_getObjectType + 60
    frame #1: 0x0000000104a49ec0 Likemoji Experience`@objc AppDelegate.application(_:open:sourceApplication:annotation:) at AppDelegate.swift:0
    frame #2: 0x000000018eb24acc UIKit`__58-[UIApplication _applicationOpenURLActi

[2018-04-14 15:41] flovilmart commented on #1274
@markuswinkler the branch xcode-9.3 should have what you’re looking for.

[2018-04-15 11:47] ranhsd commented on #1274
Hi @flovilmart the latest SDK version is 4.32.0 and in the xcode-9.3 branch it's 4.29

Thanks!

[2018-04-15 12:49] flovilmart commented on #1274
@ranhsd I used permissive semver so that value doesn't really matter. Actually, the lower the better, this way you have a way to go 'back'

Also I just tested and it properly installs 4.32:

[code]

[2018-04-15 18:55] ranhsd commented on #1274
Hi @flovilmart  you're right. didn't noticed that

thanks

[2018-04-15 19:33] markuswinkler commented on #1274
@flovilmart Thank you!

[2018-04-15 21:44] flovilmart commented on #1274
@markuswinkler let me known if everything is OK before I merge and release

[2018-04-16 03:36] ranhsd commented on #1274
Hi @flovilmart , tested in on my side and it works as expected.

[2018-04-16 11:32] flovilmart commented on #1274
FBSDKSharekit don’t build after 4.29.

[2018-04-16 16:28] gateway commented on #1274
Is anyone experiencing login issue crashes with facebook by chance?

[2018-04-16 16:33] flovilmart commented on #1274
@gateway stacktrace please

[2018-04-16 16:37] markuswinkler commented on #1274
@flovilmart I can install FBSDKShareKit 4.32.0

[2018-04-16 16:38] markuswinkler commented on #1274
@gateway I had a similar issues that all logins resulted in cancel. Facebook changed something. Work around was to delete the app from the account I was logging in with to get the full permission prompt again.

[2018-04-16 19:27] markuswinkler commented on #1274
Well, there is certainly something wrong with the native Facebook SDK then. It simply didn't show me the permissions dialogue and instead returned cancel and no token when I tried to login with it.

[2018-04-16 19:29] flovilmart commented on #1274
@gateway the stacktrace posted doesn’t help much, another would help.

[2018-04-16 22:59] flovilmart commented on #1274
@tahoecoop are you able to post your app delegate? And most precisely the methods that you implément? I’m thinking it’s possible a UIKit/Swift bug more than a Facebook SDK bug

[2018-04-16 23:44] tahoecoop commented on #1274
Here are all the funcs in my app delegate. If needed, I can sterilize some stuff and post full functions. Thank you!!

   func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {... }

   func application(_ application: UIApplication, didRegisterForRemoteNotificationsWithDeviceToken deviceToken: Data) {...}

   fun

[2018-04-17 01:30] flovilmart commented on #1274
There is also that method that you can override:

[code]
 - (BOOL)application:(UIApplication *)application openURL:(NSURL *)url sourceApplication:(nullable NSString *)sourceApplication annotation:(id)annotation NS_DEPRECATED_IOS(4_2, 9_0, "Please use application:openURL:options:") __TVOS_PROHIBITED;
[code]

[2018-04-17 16:16] tahoecoop commented on #1274
@flovilmart You nailed it, great catch! Xcode didn't supply any warnings about that function being deprecated. I'm targeting iOS 10.0. Thanks a lot!

[2018-04-17 22:40] tealshift commented on #1287
Hmmm I'm not versed in Carthage and what you did to obtain the individual frameworks, but I have CocoaPods a problem that could be related.
When my podfile has:
[code]
the facebook classes aren't properly linked since I get a `dyld: Symbol not found: _OBJC_CLASS_$_PFFacebookUtils` at runtime (simulator).

But adding `Parse/FacebookUtils` to the iMessage extension makes it work!
Unfortunately for m

[2018-04-18 05:04] yingmu52 opened #1293 "PFCloud.callFunction will not time out."
we have a cloud code function that does not call either `response.success()` or `response.error()`. and I found `PFCloud.callFunction(inBackground` kept running forever. and did not time out after some time (i.e 30 seconds). Is there a way to manually timeout `PFCloud.callFunction` ??

[2018-04-18 08:57] funkenstrahlen commented on #186
I currently have the same issue. I see this crash:

![screen shot 2018-04-18 at 10 54 01](https://user-images.githubusercontent.com/144173/38921783-d7a1c76e-42f6-11e8-8867-70eaee6300d0.png)

It crashes because of calling `removeObject` in this method:

[code]

@joshbeal Have you found a solution for your problem?

[2018-04-18 12:17] flovilmart commented on #1293
You need to call response.error after a certain amount of time or response.success. If the expected behaviour is to run forever, you should call response.success as soon as possible, the execution won’t be stopped.

[2018-04-18 12:17] #1293 closed

[2018-04-18 13:32] georgesjamous opened #1294 "Enhancement: Clear Query regardless of count & skip constraints"
Lets say we have a query like this:
[code]
2 additional constraints are added with pagination. Much like`PFQueryTableViewController`
[code]
Now when we clear a query, we won't be clearing any records of it since limit & skip constraints are also included in the query's cache key. We will need to clear all cache to get around that. (as far as i know, hope I am not missing something)

-----
Possible

[2018-04-19 18:53] tahoecoop opened #1295 "Crash when pinning"
Hello! I'm seeing a weird crash having to do with pinning.  I'm querying for an object with an array of child objects using includeKey on the query. However, when I try to pin those child objects, I'm getting a crash as seen below. I am not pinning the parent object at all, just the child objects (if they exist). Also I was checking to see if any Zombies and I'm getting ``` *** -[__NSSingleObjectA

[2018-04-20 20:32] tealshift opened #1296 "Unable to install Pod subspecs in single targets"
**Situation:**
Simple iOS app with iMessage extension. (2 targets)
Both targets use Parse Core, but FacebookUtils is needed only in the main app.

**Podfile:**
[code]
**Problem:**
When the pods are installed, cocoapods cannot seem to link the source files in FacebookUtils with the main app, causing a crash on launch.

**Hint:**
When adding `pod 'Parse/FacebookUtils'` to the iMessage target, the fi

[2018-04-20 20:47] tahoecoop commented on #1295
I went through everything a little more. It seems that the array of the child objects that I am pinning is there at the beginning of the method I posted screenshot of above. However once it gets into the return block, that array was deallocated for some reason. Have you seen this behavior at all or is it something that I am doing? Thanks!

[2018-04-21 11:13] flovilmart commented on #1296
Can you provide the crash on startup logs as well as an example project if possible?

[2018-04-21 18:55] tealshift commented on #1296
Sure thing!
[code]
Example project: https://www.dropbox.com/s/78ssvq8gjpbfh6y/ParseTest.zip?dl=0

[2018-04-26 05:41] MrSMAK opened #1297 "Invalid class name. Class names cannot start with an underscore."
I have created a Custom Class with a pointer to the User Class. I am getting the following assert exception for the referenced user pointer. Since the "User" pointer's class name is "_User".

https://ibb.co/jp5aJc

[2018-04-26 11:59] flovilmart commented on #1297
Can you share your code please?

[2018-04-27 05:15] MrSMAK commented on #1297
Sure!
I am using the following code:

let parseObject = PFObject.init(className: "MY_CLASS_NAME")
let userTypePointer = PFObject.init(withoutDataWithClassName:  PFUser.parseClassName(), objectId: "MY_USER_OBJ_ID")
//Code is throwing exception on the above line of code.
parseObject["user"] = userTypePointer
parseObject.saveInBackground(block: { (isSuccessful: Bool, error: Error?) in
        if isSu

[2018-04-27 14:53] aBuder commented on #1209
Hi, is there an solution. I have already the same problem. In my use case I have multiple parse server and the customer have to enter serverurl, username and password.

Why i have multiple parse server? This is an security feature. So would there an solution to reinitialize the parse client.

Here is an architecture image.

[Architektur_Trainer_APP.pdf](https://github.com/parse-community/Parse-SDK

[2018-04-27 14:57] flovilmart commented on #1209
@aBuder if you with to open a pull request, feel free, but note that this isn't encouraged as you'd need to log out current users, delete the currently cached data (queries etc...)

[2018-04-27 15:36] aBuder commented on #1209
@flovilmart Hmm I am only fit on swift. Is there an other solution?

[2018-04-27 19:32] flovilmart commented on #1209
At runtime, I doubt this will be possible without a major overhaul. Otherwise, at restart ?

[2018-04-27 19:37] flovilmart commented on #1297
if you use:

[code]

does it work?

[2018-04-28 08:42] MrSMAK commented on #1297
It works like a charm!, Thanks a lot!

[2018-04-28 12:03] #1297 closed

[2018-04-29 19:08] shehabic-work opened #1300 "Parse is not working with a project running on Swift 4.1 and XCode 9.3"
Parse is not working with a project running on Swift 4.1 and XCode 9.3

My initialization code looks like this:

[code]

[2018-04-29 19:09] flovilmart commented on #1300
Can you provide more details please?

[2018-04-29 19:10] shehabic-work commented on #1300
I don't see network requests going out to parse host (proxying via Charles Proxy), also I don't see anything in the xcode's consol

[2018-04-29 19:11] shehabic-work commented on #1300
@flovilmart I updated the post with my Podfile contents

[2018-04-29 19:11] flovilmart commented on #1300
There’s no network requests coming out at initialization. Do you have an example of one of the queries you are running? Are you sure you’re not hitting a case of early deallocation?

[2018-04-29 19:14] shehabic-work commented on #1300
Shouldn't it at least do 1 call to save a new installation? like the Android client for example

[2018-04-29 19:14] flovilmart commented on #1300
Unless you explicitely call save or saveInBackground it’s not expected

[2018-04-29 21:08] flovilmart commented on #1300
Glad to hear.

On Apr 29, 2018, 15:24 -0400, Mohamed Shehab <notifications@github.com>, wrote:

[2018-05-01 19:22] shehabic-work opened #1301 "Login / Register Delegates are not called after login / registration"
I'm Using XCode 9.3, Swift 4.1, I implemented Login View Controller,

Login works on Parse-Server but the delegate is not called after success, ( I expected it to be something wrong with Bolts)

My implementation for login is as follows:

**AppDelegate:**
[code]

**Login Part**

[code]

[2018-05-01 19:27] shehabic-work commented on #1301
yes self is not deallocated, for example when Implemented facebook login myself within the same view controller as follows: I get the response correctly.
[code]
do I have to add something to the bridging header for Bolts?

[2018-05-01 19:30] flovilmart commented on #1301
It's unlikely to be related to bolts, are you able to provide a sample project?

[2018-05-01 20:27] shehabic-work commented on #1301
Actually I figured out what's wrong, delegate method `logInViewController` is now called `log` that was it, the Demo App for Parse UI is outdated apparently

[2018-05-01 20:28] shehabic-work commented on #1301
I'll try to allocate sometime for next weekend, to open an PR for that.

[2018-05-01 20:28] flovilmart commented on #1301
Haha! Thanks for that! :)

[2018-05-01 20:28] #1301 closed

[2018-05-08 19:48] logicsb commented on #1274
@flovilmart its possible to update the 'FBSDKShareKit' to '~ 4.29'? Because the messenger sharing features is introduced on this version. Thanks.

[2018-05-08 19:50] flovilmart commented on #1274
Just merged the xcode-9.3 branch to master, you can use the master branch with cocoapods.

[2018-05-08 19:50] #1274 closed

[2018-05-08 20:00] logicsb commented on #1274
@flovilmart i need to use de latest version of the FBSDKShareKit and this component is blocked up to update by the podspec.

[2018-05-08 20:01] flovilmart commented on #1274
On the master branch, the podspec should be permissive, otherwise feel free to open a pull requesr

[2018-05-08 21:11] flovilmart commented on #1274
@markuswinkler and @logicsb I've setup this branch: https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1302

Can you check if it fits the bill? There's an issue with the facebook TVOS SDK pending to be solved and the versions are out of date on cocoapods, so I split iOS and tvOS support in 2 subspec.

Let me know.

[2018-05-09 06:25] aBuder opened #1303 "Subobjects without separate collection."
Hi,

is it possible to save nested objects in an PFObject like the following structure? But the sub objects should not be saved in separate collections.

[code]

[code]

[2018-05-09 15:50] flovilmart commented on #1303
It is not supported at the moment as the SDK is primarily written in Objective-C and NSArray doesn't support generics so the runtime has no information about the content in the arrays. You can achieve this with a `NSDictionary -> T?` mapper in swift with a minimal amount of code (perhaps leveraging Codables)

[2018-05-09 15:50] #1303 closed

[2018-05-10 04:51] markuswinkler commented on #1274
@flovilmart Yes, works! Thanks a lot! :)

[2018-05-10 12:14] flovilmart commented on #1274
@markuswinkler @tahoecoop @gateway I split the FacebookUtil subspec in two, one for iOS, one for tvOS, is that acceptable for you?

[2018-05-10 14:06] markuswinkler commented on #1274
@flovilmart Yes, that totally works 😊

[2018-05-10 17:54] tahoecoop commented on #1274
@flovilmart That's great, thanks a lot!!

[2018-05-17 20:26] sverin opened #1304 "How to add new field to PFSignUpViewController"
I want to add a checkbox for GDPR consent on the PFSignUpViewController. But I can't figure out how to do that in a custom view controller. Could anyone guide me in the right direction?

[2018-05-18 17:37] JacobJT opened #1305 "[Idea] Register cloud functions"
I have run into network retry issues. I have several cloud functions that should NOT have retry attempts made. But, I don't want to set the retryLimit to 0, as we also have a lot of users heading to remote areas and needing to upload photos, so we don't want temporary network disconnections to cause issues either.

I was thinking, similar to how we can register subclasses, it would be awesome to b