[2015-10-13 19:56] nlutsenko commented on #404
Hmm... this sounds super strange, since we explicitly mark our files as not restorable from backup.
The few things that might help us diagnose the issue better:
- `PFInstallation.currentInstallation()` on both devices should probably match in `objectId` or at least in `installationId`
- If you try to update the deviceToken on the newly restored device - can you save `PFInstallation.currentInstalla

[2015-10-13 22:08] rinyfo4 commented on #407
I built the project adding the frameworks in this link: https://www.parse.com/apps/quickstart?app_id=discounts--6#parse_data/mobile/ios/swift/existing

When I checked the Framework Search Paths, I did not find the ParseTwitterUtils framework.

I've also tried building this with the quick start blank project in this link: https://www.parse.com/apps/quickstart?app_id=discounts--6#parse_data/mobile/i

[2015-10-13 23:11] coolioxlr commented on #250
I use this lightweight parse sdk for my tvOS project https://github.com/hackiftekhar/IQParseSDK
so far been working fine.

[2015-10-14 02:30] waterclock commented on #250
@coolioxlr Looks nifty! No idea how well it's caching (assuming such exists) will work on tvOS, and it hasn't been updated in a year so it's evidently not changed anything to accommodate tvOS' lack of persistent local storage.

I guess if those rumored assassins succeed in taking out the proper Parse tvOS port team it's a good fallback. ;)

[2015-10-14 02:30] robertvvv opened #411 "BugsPFAnalytics is not working correct when tracking push notification"
When I send a notification via web console. And I can receive the push notification on my iOS device, and I can open view controller correctly.

But when I open my web console I found the track is not working. As below.
![qq20151014-1](https://cloud.githubusercontent.com/assets/3982338/10473417/cb82aaaa-725d-11e5-8147-7eec70e6eba0.png)

But In my  “Push Open” event on Analytics Page, The number of

[2015-10-14 05:06] bvallelunga commented on #363
I found out what the problem was. The session tokens were getting rejected because they were not revokable tokens. I turned revokable tokens off in Parse and it fixed everything.

[2015-10-14 05:06] #363 closed

[2015-10-14 05:07] nlutsenko commented on #363
:) Not sure if helped, but am glad you found the solution.

[2015-10-14 05:09] nlutsenko commented on #411
Hey @robertvvv, thank you for the report!
This sounds like purely a website/backend bug, since you are seeing inconsistent data in the dashboard (No push opens in Push Console, but numbers are visible on the analytics page).

You could file one at https://parse.com/help , since we are still using FB Bug Tool to track those,

[2015-10-14 05:09] #411 closed

[2015-10-14 08:21] robertodias180 commented on #408
@nlutsenko  I can't send you the project that i am working, but i can send you the saveEventually code.

[code]

[2015-10-14 09:27] nlutsenko commented on #408
Last question, before I try to dive deep into investigation - do you have local datastore enabled?

[2015-10-14 09:38] doudou2012 opened #412 "Push abort?"
please help ,
why has 101 push ? thanks!
app: iweekly-iphone

![screenshots](https://cloud.githubusercontent.com/assets/3632875/10479815/1138e966-7299-11e5-8f08-9b2f301927af.png)

[2015-10-14 09:42] nlutsenko commented on #412
Hey @doudou2012, thanks for the report.

I would suggest filing a request on https://parse.com/help , since we are tracking backend/web console issues through FB Bug Tool.

[2015-10-14 09:42] #412 closed

[2015-10-14 10:03] robertodias180 commented on #408
I don't have local datastore.

[2015-10-14 11:14] rinyfo4 commented on #407
So, I've mad a Parse-Starter project and I followed the parse docs. PFTwitterUtils now works. Problem is, I get an error that says:

 `2015-10-14 12:19:25.347 ParseStarterProject[3005:321258] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'You must call PFTwitterUtils initializeWithConsumerKey:consumerSecret: to use PFTwitterUtils.'
*** First throw call s

[2015-10-14 12:37] haleyngonadi opened #413 "Library not found?"
I just updated my podfile, which contained the ParseFacebookUtilsV4 library. After the update, Terminal read: Installing ParseFacebookUtilsV4 1.9.0 (was 1.8.5)

Everything was working fine until the update. Now, the project won't upload because:

I have checked and I see the library so I'm not sure what is causing this error?!

[2015-10-14 18:09] rudywen commented on #11
I am still seeing this deadlock issue after upgrading to Parse Release 1.9.0.  In my app, I can reproduce it by deleting, reinstalling the app, then signing into an existing account. The app begins to download some PFFiles for images and videos, then gets into this exact same deadlock.  This is blocking our release, can someone from Parse provide an update on this issue?

[2015-10-14 18:23] rudywen commented on #398
I'm also seeing similar deadlock issues.  Here is the BT: https://gist.github.com/rudywen/31ec2f54574be20784ab

This issue is blocking our app release.  Is there anything we can do to help debug the issue?

[2015-10-14 18:50] richardjrossiii commented on #398
@rudywen That deadlock is actually not directly Parse's fault. What's happening here is that every thread in the default thread pool (usually there's 16 threads in the thread pool for iOS/OSX) is waiting on a task to be run in the same thread pool (in this case, it's attempting to create the PFFIle cache directory if necessary), but because all thread pools are going attempting to wait on the same

[2015-10-14 19:22] nlutsenko commented on #398
@richardjrossiii is right on this one, it's purely too many files being downloaded at the same time.
We can optimize for it, but in all sanity - please simply add the file downloads to an operation queue, as downloading ~30 files concurrently is probably not what you want.

[2015-10-14 19:27] nlutsenko commented on #407
Sure, let me describe few things that happens here:
- According to [this](https://parse.com/docs/ios/guide#users-twitter-users) guide, to enable authentication with Twitter - you need to call `PFTwitterUtils.initializeWithConsumerKey:consumerSecret:`
- The exception is being thrown about the fact that you simply didn't initialize the twitter utils, so there is no need to unlink/remove ParseTwitter

[2015-10-14 19:34] nlutsenko commented on #413
Hey @haleyngonadi, sounds super strange.
I suggest trying to clear your targets `other linker flags` in build settings and re-running `pod install`, also maybe clean derived data?

[2015-10-14 19:38] nlutsenko commented on #179
Hey guys, just wanted everyone here to now that we are almost ready with watchOS 2 SDK (exciting, right?).

I've updated the first comment on this issue that lists the way to install the beta version of the SDK in your watchOS 2 apps today (via CocoaPods).

Let us know if you run into any problems/issues/limitations or have any feedback.

[2015-10-14 20:33] ernestome commented on #404
Hello,
  We were able to reproduce this on another device however this time the new device ID did register and was found in the parse database, however it did not receive push alerts. Additionally the expectation is when starting app after first time after restoring is that you are prompted to accept push alerts which did not happen, regardless after turning them on they did not appear. Attaching

[2015-10-14 20:45] ernestome commented on #404
The old and new device tokens are below for their respective apps.

Old Device Token
News On 6
1bb80e53e0eeddac7ae4f24d23773cea8a47d4c127b6f0f56d6e6ed04bd8b877

News 9
d89cccc2ab05ec8bca136b873c649f9b89702c813be2f115a56f510ef686802a

NEW device tokens

News On 6
5a0d9c8d8bf6c46344aa98dc4c5312b55fef3e61ea07c7a77f00ba03d0643258

News 9
b070521ae6063c0da4ccff9bd12f629d07bf52769c8a95e6cf8ee6925e58ce68

[2015-10-14 22:25] nlutsenko commented on #413
Let me know if it helps.

[2015-10-14 22:31] rudywen commented on #398
@richardjrossiii @nlutsenko Thanks for the suggestions. We'll correct it on our end.

[2015-10-14 23:20] xissburg opened #414 "-[__NSCFDictionary UTF8String]: unrecognized selector sent to instance"
I am converting my project to Swift 2 in order to use the latest version of Parse SDK and hopefully get rid of deadlocks https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/398. Now I am facing this crash:

[code]

I am using the local datastore by the way and after using the app for a while it will save some stuff to the local datastore and eventually it will crash when retrieving this data

[2015-10-14 23:36] ernestome commented on #404
The apps are currently on version 1.4.2 of the Parse SDK.

[2015-10-15 00:35] nlutsenko commented on #414
Hey @xissburg, thanks for the report.
This sounds super strange, since it's first report of this kind.
Few questions that would help address/investigate this issue faster:
- how do you get the data for these objects from the server?
- at the moment of crash - could you print out the value that it calls `UTF8String` on?

[2015-10-15 00:45] nlutsenko commented on #404
@ernestome, before I go dive deep into this...
There is one piece - could you try using the latest SDK (1.9.0 at this moment)?

1.4.2 was released 364 days ago (I can't say a year, since it was Oct 15 :grin:), which at this point has so much internal changes, that the issue could be already resolved (most likely), as well as finding a workaround would be more time consuming than upgrading to the l

[2015-10-15 01:03] nlutsenko opened #415 "Proposal: Add ability to directly specify the pinned objects for a pin with a specific name."
One of the basic use cases of Local Datastore - pinning a results of the query to Local Datastore or using a pin to designate the specific types of objects/relationships/views.
This only applies to a pin with a small number of objects (since you should avoid fetching large amounts of objects from network anyhow).

Currently - it requires 2 operations:
- unpin all objects for a given pin with name

[2015-10-15 01:55] nlutsenko commented on #250
Hey guys, letting you know - I updated the second comment on this issue with a first pass on the list of things that we want to tackle to build required minimal SDK for tvOS. That issue is going to be constantly updating, as well as I am going to attach all Pull Requests to this issue.

[2015-10-15 07:13] devinross commented on #250
Thanks for the update Nikita. Looking forward to that watchOS update.

[2015-10-15 07:19] nlutsenko commented on #250
`watchOS 2` SDK is tracked in #179 (which also has instructions on how to you can start using it, even though it's still in beta)

[2015-10-15 09:24] maksimgrachev89 opened #418 "Fatal error calling cloud func after updating app"
I loggined on iPad with user_2 and I call cloud func, but in request.user get user_1 and refunded result for user_2.
Exemplary steps (reproduced sometimes, but often):
1. In ver1.1 (Pasre v1.2.18) of my app I create account user_1, do something actions, update my app to 1.2 (Pasre v1.8.2). Logout user_1, create user_2, do something actions and delete app without logout.
2. On same iPad install app

[2015-10-15 12:58] zakhej opened #419 "Unity SDK "Cannot change the `appIdentifier""
Hi guys!

I'm not sure where to write but I have a problem with Unity SDK:

[code]

It's not a fatal error - app still working but I think it shouldn't be there.
All that I doing is:

[code]

[2015-10-15 15:14] xissburg commented on #414
@nlutsenko This is what I get as the parameter of `-[PFDateFormatter dateFromString:]` at the time of crash, a dictionary:
[code]

I get the objects via a query and pin them afterwards.

[2015-10-15 16:49] Parsida commented on #343
Thanks @katopz. I had the option to upgrade to Xcode 7. It worked out flawlessly.

[2015-10-15 18:01] ernestome commented on #404
Hello,
  Appreciate the response our team is in the process of updating the our app to the latest SDK however it does not appear this issue was ever directly addressed based on release notes. So we are concerned that when we create the newest version of the app the issue will still be present.

[2015-10-15 18:02] richardjrossiii commented on #419
Thanks for the report. However, as unity uses our .NET code base, please open the issue here instead:

https://github.com/ParsePlatform/Parse-SDK-dotNET

[2015-10-15 18:02] #419 closed

[2015-10-15 19:59] rinyfo4 commented on #407
Thanks for the reply. I still don't understand what to do. I initialized the `PFTwitterUtils.initializeWithConsumerKey:consumerSecret:` in the AppDelegate as you may have seen in the repository I posted.

What do i need to do to get this working?

Thank you for your patience.

[2015-10-15 19:59] nlutsenko commented on #414
Last question around this - in the frame #8 of the stack trace aka `-[PFObject(Private) mergeFromRESTDictionary:withDecoder:]` can you grab a field of the object that we are trying to decode this for?

What looks like is happening is that server is returning a `Date` json type, instead of a string for `updatedAt`/`createdAt`, which leads us to not handle this...
I am trying to figure out whether t

[2015-10-15 20:02] nlutsenko commented on #407
Sure, no problem...
Change your AppDelegate to this flow:
[code]
Aka Twitter/FB initialization should happen after Parse is initialized.

[2015-10-15 20:11] rinyfo4 commented on #407
THANK YOU SO MUCH! You made my day... Thank you.

On Thu, Oct 15, 2015 at 10:02 PM, Nikita Lutsenko <notifications@github.com>
wrote:

[2015-10-15 20:11] rcldesign opened #420 "Parse SDK Fails FB Login With No Error Code"
Using:

Parse SDK 1.9.0
FB SDK 4.6

The following code snippit sometimes returns nil for both the user object and the error object.

    NSArray* permissionArray = @[@"email", @"user_friends"];
    FBSDKLoginManager *login = [[FBSDKLoginManager alloc] init];
    [login logOut];

    [PFFacebookUtils logInInBackgroundWithReadPermissions:permissionArray block:^(PFUser *user, NSError *error)

This is

[2015-10-15 20:21] richardjrossiii commented on #420
Thanks for the report. This sounds really strange.

Firstly, to see if it's our issue and not FBDSKs, if you change to the `BFTask` version of the API, and continue on that, can you print out the description of the task that's returned? It will provide much more information than the block callback.

[2015-10-15 20:28] xissburg commented on #414
This is one object that is passed to `-[PFObject mergeFromRESTDictionary:withDecoder:]` before the crash:

[code]

[2015-10-15 20:28] jsanchezbcn opened #421 "PFTwitterUtils has no member 'twitter' [Xcode 7.0.1 - Mac OSX El capitan]"
I've just created a new project from scratch to avoid any other interaction.

Added these pods to Podfile

pod 'FBSDKCoreKit'
pod 'FBSDKLoginKit'
pod 'Parse'
pod 'ParseTwitterUtils'
pod 'ParseFacebookUtilsV4'

I'm not using use_frameworks! because it fails on the ParseFacebookUtilsV4, I think is a know issue.

Execute pod install, and write some test code:

Add #import <ParseTwitterUtils/PFTwitter

[2015-10-15 20:38] rcldesign commented on #420
I'd bet dimes to doughnuts it is a FB SDK issue (we didn't have this issue specifically with 4.5.1 but there were other iOS 9 issues). We'll give your suggestion a try tonight and see if we can get the problem to occur.

[2015-10-15 20:55] nlutsenko commented on #407
Glad it helped!

[2015-10-15 20:55] #407 closed

[2015-10-15 21:04] geraldhinson commented on #359
I've uploaded a bug repro project here: https://dl.dropboxusercontent.com/u/9116971/ParseReproSaveEventuallyBug.zip

This illustrates two problems:
1) objects can be lost after saveEventually returns and either IOS terminates an app in the background to reclaim its memory (not an app bug) OR the user terminates an app using the IOS task manager (also not a bug)

2) reissuing a saveEventually on th

[2015-10-15 23:25] xissburg opened #422 "object.createdAt is nil but object["createdAt"] is not"
This is true for an object that was not yet saved (or is being saved). Here is the output of a debug session:

[code]

[2015-10-15 23:30] richardjrossiii commented on #422
Thanks for the report, looking into it now.

[2015-10-16 00:11] Millawub commented on #250
I tried this lightweight parse (https://github.com/hackiftekhar/IQParseSDK) recommended by @coolioxlr above, but it's throwing piles of errors when I include the source files, I'm assuming I am just doing something dumb but I can't seem to figure out what. Anyone else have this problem?

[2015-10-16 00:11] richardjrossiii commented on #422
I'm unable to reproduce locally, might I ask how you are creating this object?

Nowhere in the client SDK do we manually set `createdAt` / `updatedAt`, so the fact that those fields exist at all indicate to me that you may be trying to manually set these fields, which is not supported by the SDK.

[2015-10-16 00:15] xissburg commented on #422
Ouch, yes, I am setting the dates manually:
[code]
That because I have to display the item immediately after it's created, before it gets saved.

Thanks.

[2015-10-16 00:15] #422 closed

[2015-10-16 00:19] grantland commented on #415
It's not clear to me how this solves unpin -> pin

[2015-10-16 00:26] reggatta commented on #250
I started working with it and found that there are a few #import statements missing, but eventually it compiles.  Added added into my tvOS app pch file lines like:

#define PFQuery IQ_PFQuery
#define PFObject IQ_PFObject
etc.

Basically I map all the IQ_ types to the normal PF ones we know and love so I don't have to change any of my existing code (in theory).  I also did not include the normal pa

[2015-10-16 01:10] FreudGit opened #423 "trackAppOpenedWithRemoteNotificationPayload not working"
1.9.0

Receiving a push, I can see that trackAppOpenedWithRemoteNotificationPayload are called, BUT "PUSH OPENS" stay at zero on the push report.
Any Idea?

    func application(application: UIApplication, didReceiveRemoteNotification userInfo: [NSObject : AnyObject]) {

        PFPush.handlePush(userInfo)
        if application.applicationState == UIApplicationState.Inactive {
            PFAnaly

[2015-10-16 01:12] Millawub commented on #250
Thanks! So... I knew what I was doing was dumb. I had included the .pch file but not linked it properly. Been a while since I had to do that. Here's a link to how if anyone else is as noob as me at this.

https://techfuzionwithsam.wordpress.com/2014/11/29/how-to-add-pch-or-prefix-pch-file-in-xcode-6/

[2015-10-16 03:27] nlutsenko commented on #423
Does the push open stat changes in the Analytics console?
We've seen another report about this #411, where the analytics console is there, but the push opens in the push console is not.

Since both this one and #411 look to be purely backend issues - I would suggest filing a report at https://parse.com/help , since we are using that one for tracking backend/web frontend issues.

[2015-10-16 05:09] nlutsenko commented on #415
Instead of adding new objects and replacing the old ones - it will replace the old ones and delete the ones that are not in the set.
Roughly if you compare to how generic `Set` works:
- pin -> `union` operation on a set, where it adds new objects to the pin, or updates the existing ones
- unpin -> `minus` operation on a set, where it removes the objects that you specified
- setPinnedObjects -> `se

[2015-10-16 05:14] nlutsenko commented on #421
This sounds super strange, as I've just tested this on a generic project installing everything from scratch and it works great. It definitely is `PFTwitterUtils.twitter()` and compiles without any problems.

Quick question - in your ObjC bridging header - do you have proper import for `ParseTwitterUtils` aka via it's umbrella header aka `#import <ParseTwitterUtils/ParseTwitterUtils.h>`.

Here is t

[2015-10-16 05:17] nlutsenko commented on #414
@xissburg, according to #422 - I think what happens here is that you are setting the dates on your object manually, which is unsupported, since public properties of `PFObject` have `readonly` access set to them, according to the API ref:
[code]

I am going to send a diff to restrict it further (no ability to change them via `setObject:forKey:`), so you can't shoot yourself in a foot.

Let me know

[2015-10-16 09:21] keyhui-heha opened #424 "can not set device token in ios7 device"
ios8 & ios9 work fines , but ios7

some related posts
http://stackoverflow.com/questions/33160713/cocoa-error-3840-parse-code-ios7-only
http://stackoverflow.com/questions/33145043/parse-not-upload-devicetoken-for-ios7

[2015-10-16 09:43] horseshoe7 commented on #296
surely this can't be the solution.  ditch cocoapods and use this framework binary?  is there another way?

[2015-10-16 09:44] inovotek opened #425 "request.user returns null in beforeSave function"
In a beforeSave callback, I want to get a reference to the requesting user by getting request.user, however it returns null. I am very sure that [PFUser currentUser] is not nil before making the saveInBackgroundCall, in fact there is an attribute in the object being saved that holds a pointer to the curent user.

Using iOS SDK 1.9

[2015-10-16 09:45] horseshoe7 commented on #296
see here, section 3, whitelisting.   https://developers.facebook.com/docs/ios/ios9  Gotta add some stuff to the Info.plist

[2015-10-16 11:39] BrinkmanM commented on #280
Hi nlutsenko,

Im using xcode 7.0.1 and changed the code from [Anyobject]? to [PFObject]? but still receiving the same error.

[2015-10-16 11:41] #357 closed

[2015-10-16 14:11] darshana-ios opened #426 "Parse SDK ParseQuery .include query error"

[2015-10-16 14:39] jsanchezbcn commented on #421
I've checked what was different in your sample project than mine, and it was that the Podfile had a different format:

I've changed from:

# Uncomment this line to define a global platform for your project
# platform :ios, '8.0'
# Uncomment this line if you're using Swift
# use_frameworks!

  pod 'FBSDKCoreKit'
  pod 'FBSDKLoginKit'
  pod 'Parse'
  pod 'ParseTwitterUtils'
  pod 'ParseFacebookUtils

[2015-10-16 14:39] #421 closed

[2015-10-16 17:54] xissburg commented on #414
Wow, yes, this makes sense. Thanks very much for noticing this. I will stop being lazy and will create a `dateCreated` column in this class and stop messing with `createdAt` and `updatedAt`.

[2015-10-16 18:00] nlutsenko commented on #414
:+1: Glad it helped.

[2015-10-16 18:00] #414 closed

[2015-10-16 18:01] nlutsenko commented on #280
@BrinkmanM There should be something else then... Look for vague types, like AnyObject or [AnyObject] when you are using PFQuery.

[2015-10-16 18:04] nlutsenko commented on #426
Hey @darshana-ios, can we get more details on what you are seeing?
It's really hard to be able to triage/investigate this issue without more details.

[2015-10-16 18:09] rdbayer commented on #290
One potentially helpful fact I just noticed: all of our crash reports for this bug are from users on iOS 7, not 8+

[2015-10-16 19:33] rdbayer opened #427 "Flawed saveEventually architecture (does not execute saves in order)"
I know this is more high-level than a bug report typically should be, but I am convinced that there is a fundamental flaw in how the saveEventually() mechanic works which cascades into a bunch of issues.

**Root Cause(s)**
- I would expect that saveEventually() calls should _synchronously_ add operations to a queue, and then that queue in the background executes the operations in their original or

[2015-10-16 20:05] richardjrossiii commented on #427
Related: #359, #32.

Currently, the order of save eventually commands is persisted on a per-object basis (every PFObject has an internal `_eventuallyTaskQueue` that is respected for operations).

As much as I'd like to expand that to allow for atomic operations based on object graph, I don't think that's a feasible goal. There's no good algorithm we currently have that can detect if two objects ar

[2015-10-16 20:40] RickDT commented on #150
Our test repo now passes! I looks like this was fixed in 1.8.4. I also checked in 1.9.0 and it's good there too. Thanks to whoever fixed it :)

[2015-10-16 20:40] #150 closed

[2015-10-16 20:41] nlutsenko commented on #150
Glad it's fixed!

[2015-10-16 21:08] rdbayer commented on #427
Thanks for the explanation Richard.  Would it be remotely feasible to consider having a global task queue instead of on a per-object basis?  I'm obviously not an expert on this, but my sense is that this would solve a lot of issues.  In theory it sacrifices a bit of performance because save requests aren't being parallelized that theoretically could be, but conceptually this feels to me like it gr

[2015-10-16 21:23] geraldhinson commented on #359
Richard, I read the article you reference above. I am aware that saveEventually does not save objects in order (and that it sometimes saves duplicate objects as well), but this is not what is occurring in the case I have outlined here. This being the world of no-sql vs. relational with ACID semantics I kinda assumed that would be the case. My app is resilient to those issues.

What I am reporting

[2015-10-16 21:43] geraldhinson opened #428 "Where does saveEventually store objects while offline?"
While trying to debug a saveEventually issue I ran across this comment on stack overflow:

But, I see nothing present in that location if I disable networking and run saveEventually calls on OSX. Did this change? Where should I be looking? (I realize I can ascertain the answer via a download/build of parse, but I'd prefer to avoid that for the moment given time constraints.)

[2015-10-16 21:58] RickDT commented on #427
FWIW, we had a test repo for problem 2 and it was fixed in 1.8.4 (#150). This was a very simple test case though, so I'm curious if yours is still exhibiting this problem with the latest SDK @rdbayer?

[2015-10-16 22:10] richardjrossiii commented on #428
That directory is correct if you use the eventually queue with LocalDataStore disabled, but if you have it enabled, it's in the default offline store database, inside an object of class `_Pin`.

[2015-10-16 22:12] richardjrossiii commented on #427
@rdbayer A global task queue is certainly one option to consider. I'm not certain that it is the best route to go with right now, but I will bring it up with the rest of the team to get their thoughts.

[2015-10-16 23:14] geraldhinson commented on #428
Interesting!  Follow-up based on that.

Can I possibly use the pinInBackground call to save to that class directly in my app? And, if so, will doing so cause the objects pin such to be saved to the cloud, etc. as does saveEventually? Or, does this miss out on something fundamental (e.g. actually launching a background task to do the cloud save, etc.)?

I tried using saveEventually with the callbac

[2015-10-16 23:35] richardjrossiii commented on #428
@geraldhinson I don't think that's possible, no. The code for pinning eventually saved objects can be seen in `PFEventuallyQueue` and `PFPinningEventuallyQueue`. If you're using cocoa pods, it would be trivial to modify that to send an NSNotification when objects are pinned from the `PFPinningEventuallyQueue` class, which you could use to monitor when they're written to disk.

[2015-10-16 23:44] #398 closed

[2015-10-16 23:49] geraldhinson commented on #428
Thanks for the pointer. I was just starting down that path myself.

My thought though is to modify the existing saveEventually with callback to do the callback when the local save to _Pin is complete vs. when the object is saved to the cloud. If I understand your semantic correctly this simple modification will solve most of the issues folks like me are reporting with loss of data associated with

[2015-10-17 00:13] geraldhinson commented on #428
Question: Is it possible for your team to provide a build that does what I describe above: An alternate version of saveEventually where the callback block is called when the "intent to save to cloud" is saved to disk?  I'm happy to test it if so and I'm betting this is trivial for you to do vs. me given your current knowledge of the codebase vs. my first glance 30 mins ago. :)

[2015-10-17 02:26] #425 closed

[2015-10-17 02:28] inovotek commented on #425
I have verified that this issue only occurs if the client is running on the iOS Simulator. In a real device, the requesting user is returned.

[2015-10-17 02:30] nlutsenko commented on #425
Hey @inovotek thanks for the report.
Super weird, since it should be identical from our perspective.

Maybe you got the simulator in a weird state? Try resetting it by going into iOS Simulator -> **Simulator** in menu -> Reset Content and Settings.

[2015-10-17 02:41] #361 closed

[2015-10-17 03:25] inovotek commented on #425
Hi @nlutsenko , thanks for the insight. Indeed it was the simulator causing the trouble. Reset Content and Settings fixed it.

[2015-10-17 03:25] nlutsenko commented on #425
Glad it helped!

[2015-10-17 04:41] #77 closed

[2015-10-17 23:19] samscam commented on #290
Just to say, I'm still getting these in 1.9.0.

[2015-10-18 21:38] dtaitz commented on #72
@nlutsenko I am still experiencing this issue. Is there anything I can do to help figure it out?

[2015-10-18 21:47] nlutsenko commented on #72
@dtaitz, the thing is - I think I know where the problem is coming from, but unfortunately I don't have a solution for our codebase that solves this just yet.

Our decoding logic resets the relations for any object whenever there is an update of data coming from the server for that object. If it happens after the fact that we were able to cache the objects that we know about on the client, but bef

[2015-10-18 22:00] dtaitz commented on #72
@nlutsenko thanks for getting back to me.

I will look into both approaches now. The second one is definitely more extensive! Do you think there will be any performance issues with the second approach at scale? I can imagine quite a few objects needing to be created and stored in the LDS in that case.

Thanks again!

[2015-10-18 22:06] nlutsenko commented on #72
Performance:
First approach:
  Going to be faster, since you have a smaller pin.
Second approach:
  If you optimize it further for lazy-loading, where if you don't need to get the details for your friends - you   can not expand the pointer (not specify `includKey:` on the query), and then fetch the users data when you need it in batches. This is going to be cheaper than fetching all users from you

[2015-10-18 22:07] dtaitz commented on #72
@nlutsenko that makes sense. I will let you know how it goes.

As always, appreciate you taking the time to explain this.

[2015-10-18 22:08] nlutsenko commented on #72
No problem, always happy to help. :D

[2015-10-19 03:09] elondon opened #432 "PFUser subclass really slow to save"
I'm experiencing incredibly slow saving for my user object with a nested array and I'm not sure why. My object model is not complicated and I don't have much in the database yet.

    Post* post = [Post object];
    post.title = "My Favorite Post";

    [currentUser addObject:post forKey:@"posts"];
    [currentUser saveInBackgroundWithBlock:^(BOOL succeeded, NSError *error)
    {
        NSLog(@"S

[2015-10-19 06:39] Perjan commented on #179
Hey guys, I am trying to install the SDK via Cocoapods and it throws me this error:

Pre-downloading: `Parse` from `git@github.com:ParsePlatform/Parse-SDK-iOS-OSX.git`, branch `nlutsenko.watchOS`
[!] Unable to satisfy the following requirements:

- `Bolts/Tasks (= 1.2.2)` required by `Podfile.lock`
- `Bolts/Tasks (>= 1.3.0)` required by `Parse (1.9.0)`

Specs satisfying the `Bolts/Tasks (= 1.2.2)`

[2015-10-19 11:12] nlutsenko commented on #179
Hey @Perjan, looks like something else depends on Bolts.framework == 1.2.2, where we depend on the 1.3.0+ version of it.
Can you try running `pod update` instead of `pod install`, it should resolve automatically...

If not - can you post the contents of `Podfile.lock` here?

[2015-10-19 14:02] damtsnkff commented on #280
@craiggrummitt Thank you for asking and posting your code, I was in the exact same situation. I can now move forward. Thanks !

[2015-10-19 14:18] Perjan commented on #179
Hey Nikita, thanks for your help.
I needed to update the cocoapods gem and after that i ran a pod update.
Now the project builds fine. I need to test it now.
Any other consideration about the watchOS SDK.

Keep rocking guys :)

[2015-10-19 15:47] acegreen commented on #77
I don't think this should be closed. I would suggest you have a short Skype chat with me and I can demonstrate the issue at hand.

[2015-10-19 16:28] cyril94440 commented on #290
Same issue for me.. And my app is supposed to go in production.

[2015-10-19 17:16] servatti commented on #401
I was getting the same issue and I figured out that I was checking currentUser before calling *setApplicationId*. Try call *setApplicationId* before any other Parse call. Hope it helps.

[2015-10-19 20:02] mugu-trick commented on #179
Hey @nlutsenko that's looking really neat. Tried downloading the latest changes to my project which uses parse and watchOS and i'm just getting some weird errors, shown below in a screenshot:

![bugparse2](https://cloud.githubusercontent.com/assets/13678209/10589617/a3dc7c96-7682-11e5-93c9-6cea574a93a6.png)

I don't know why i'm getting those errors, except the last one, which is caused on the wat

[2015-10-19 21:07] nlutsenko commented on #179
Hey @mugu-trick,

It looks like Bolts is trying to use the iOS version of the framework, instead of the watchOS version.
Try specifying explicitly the platform for your WatchKit Extension target, something like this:
[code]

Love the name of the app :)

[2015-10-19 22:09] nlutsenko commented on #250
@waterclock If you combine 433+434+435+436 - it will compile now!
Will ping here once again when all of them are merged in master.

[2015-10-19 22:10] waterclock commented on #250
@nlutsenko Awesome news!

[2015-10-19 23:08] JackoPlane commented on #250
@nlutsenko Are you able to provide a `Parse-iOS.zip`? I can't for the life of me get `$ rake package:frameworks` working. (See [here](https://gist.github.com/JackoPlane/264d4ee2c0889b5fa292) for my console output)

[2015-10-19 23:11] a1exb1 opened #437 "PFKeychainStore failed to set object for key 'currentUser', with error: -34018"
User is authenticated with facebook.

sometimes when i try to do a fb request:

let graphRequest : FBSDKGraphRequest = FBSDKGraphRequest(graphPath: "me/friends", parameters: nil)
graphRequest.startWithCompletionHandler({ (connection, result, error) -> Void in

it spams:
PFKeychainStore failed to set object for key 'currentUser', with error: -34018
in the console.

[2015-10-20 01:45] nlutsenko commented on #250
@waterclock All merged in, ready to be used from source. :)
@JackoPlane We don't have the bundling script just yet. Unfortunately you would have to build via Parse.xcworkspace.

Will make it happen though (as an optional thing), I think it's valuable to have it.
Do you guys want CocoaPods thing early as well or it's a nice-to-have?

[2015-10-20 01:46] nlutsenko commented on #250
@JackoPlane from reading the console output - try cleaning the derived data for your project, it's super strange that it fails to even package generic iOS framework for you, since we have Travis build specifically for this.

[2015-10-20 01:46] waterclock commented on #250
Not using CocoaPods in my project, so not urgent. Very excited!

[2015-10-20 01:48] reggatta commented on #250
Cocoapod Please!  Thanks so much for all you work on this.

-Peter

On Oct 19, 2015, at 6:45 PM, Nikita Lutsenko <notifications@github.com<mailto:notifications@github.com>> wrote:

@waterclock<https://github.com/waterclock> All merged in, ready to be used from source. :)
@JackoPlane<https://github.com/JackoPlane> We don't have the bundling script just yet. Unfortunately you would have to build via

[2015-10-20 01:58] JackoPlane commented on #250
@nlutsenko I managed to finally get it building, was related to `Bolts.framework`. Have you experienced the following?

[code]

[2015-10-20 02:02] nlutsenko commented on #250
@reggatta That is literally my job :grin:

@JackoPlane Strange, those symbols are explicitly not there, I wonder why they are trying to be referenced.
I think I know what it is though, will fix in a bit (tons of pull requests are coming).

CocoaPods and Rakefile building is coming very soon.
I am going to unbreak the linking first though.

Please keep in mind that a lot of things are still broken

[2015-10-20 03:07] nlutsenko commented on #250
@JackoPlane can you try the branch of #441?
It should address the problem you are seeing + the same one around PFInstallation.

[2015-10-20 03:07] waterclock commented on #250
Yeah, I got to the same point. Basically built Bolts separately first then added it as a framework manually to Parse tvOS target and removed the unneeded Bolts build dependency.

Both Bolts and Parse tvOS targets I set to tvOS SDK 9.0 and enabled ARC in Xcode 7.1 beta 3. They build fine for tvOS Simulator, but after you add the resultant frameworks to your tvOS project you get the above linker err

[2015-10-20 03:09] nlutsenko commented on #250
@waterclock Race condition in commenting...lol.
I just sent couple of pull requests that should fix that.

Going to add the tests target, so we have something we link to.

[2015-10-20 03:11] waterclock commented on #250
@nlutsenko Ha, yep! Any way to accelerate getting those fixes approved and into the master? My git foo is weak.

[2015-10-20 03:14] nlutsenko commented on #250
@waterclock Unfortunately, I don't think so.
I can help you with git foo though :)
The only thing that would be different between a generic checkout of a repo - a branch that you are referencing. In this case - it would be `nlutsenko.tvos.installation` instead of `master`.
For future reference - all these branches are visible on top of pull requests, so you can simply glance on them and checkout t

[2015-10-20 03:15] waterclock commented on #250
@nlutsenko Awesome, thanks!

[2015-10-20 03:26] nlutsenko commented on #250
Yuk, there is no support for tvOS in OCMock.
Created an issue to track in their repo https://github.com/erikdoe/ocmock/issues/257
I guess tests are coming after we have OCMock, since we depend on it very much.

[2015-10-20 03:29] JackoPlane commented on #250
Thanks for the updates @nlutsenko, worked for me this time! I really appreciate the support from Parse/Facebook/yourself - Yay for OSS!

[2015-10-20 03:31] nlutsenko commented on #250
Yay for OSS, indeed! :tada:
Love building things in the wild open, this is going to be the second big thing that we do purely in OSS. (the first one being watchOS 2 SDK aka #179)

[2015-10-20 05:09] ay8s commented on #250
@nlutsenko Awesome work on this. Would be awesome to have Cocoapod sooner, currently using a slim Swift REST wrapper but would love to switch over :+1:

[2015-10-20 09:07] gautamMoEngage commented on #271
I am pretty sure this is an issue with Xcode 6.4 compatibility with SDK's that are built with Bitcode support, aka Xcode 7.

The duplicate symbol issues are because bitcode SDK's generate multiple copies for different architectures. Anything less than Xcode 7 won't work.

@levigroker - Try an older version of the SDK. I assure you it will work. I also assure you, the latest version won't work on X

[2015-10-20 09:54] Perjan commented on #179
Hey @nlutsenko, I managed to run the app on the Watch. Now I have a logged in user on the iPhone and I want to have that PFUser on the Watch too. How can I achieve this, via WCSession or is there any Parse method?

Thanks in advance.

[2015-10-20 11:40] nlutsenko commented on #179
@Perjan, generic WCSession at this point, I am afraid.
Here is the flow that will get you going:
- watch -> Phone message via WCSession (request session)
- Phone creates empty PFSession aka restricted session
- Reply back with a session token to the watch
- On the watch call `PFUser.become()` to login with that session token.

[2015-10-20 11:42] nlutsenko commented on #271
Yup, @gautamMoEngage is absolutely right!

Even though we are trying to support Xcode 6.4 at all costs, the pre-built binaries indeed include bitcode and will likely to produce a linker error about duplicate symbols.
It all comes down to a simple fact that we always want support for the latest Xcode, latest iOS/SDK version... Which in this case, brakes compatibility with Xcode 6.4 (iOS7,8 still su

[2015-10-20 12:34] daniel-mihai opened #444 "Parse crash reporting doesn't work (both iOS and Android)"
We are currently using parse for push notifications and analytics, and it works very well. Unfortunately, it doesn't work on crash reporting. On iOS we also did the upload of symbol files automatically. We also verified the troubleshooting section from ducumentation. It still doesn't send crashes. We are currently using XCode 6.4 to build the app, and the deployment target is 8.0. We added parse a

[2015-10-20 12:41] Perjan commented on #179
Awesome, I will try it now. Thanks

[2015-10-20 12:47] paolorau commented on #186
Hi!
I had the same problem and I found that is caused because you are (probably) deleting and adding channels at the same time. You must wait until saveEventually finish and then run the other saveEventually, look at this code :

[code]

[2015-10-20 13:06] SCLDev commented on #188
Does anyone know why this bug was there? Interested to know as I'm looking for a way to prevent jailbroken devices to be able to run my app?

Many thanks

[2015-10-20 13:15] mugu-trick commented on #179
@nlutsenko

First, thanks for all the help! - I got rid of the errors I had before but I got a new one.  Screenshot below:

![bugparse3](https://cloud.githubusercontent.com/assets/13678209/10607947/50f53856-7713-11e5-9593-31546827fe2c.png)

It seems like there's a missing file. I looked for it both in the project and locally in my computer and I don't have it. Is that file being used anymore?.

Th

[2015-10-20 14:54] mugu-trick commented on #179
Just fixed that downloading the repo and then copying the PFReachibility.h and m files to my project. Now I got an error in

#import <SystemConfiguration/SystemConfiguration.h>

It seems like that file is missing too.

[2015-10-20 17:19] waterclock commented on #250
All my tests so far in the Simulator show it's working great, though I don't exercise every part of the Parse API by any stretch. I guess the only major concern (In my case anyway) is when the dreaded tvOS system cache cleanup happens and what, if any, issues might result. @nlutsenko any chance for a similar down-and-dirty tvOS target for ParseUI?

[2015-10-20 17:52] nlutsenko commented on #250
@waterclock great to hear that!
Let me know if you run into issues at all.

ParseUI - do you have a specific component in mind? Not all of it makes sense on tvOS I hope.

[2015-10-20 18:02] waterclock commented on #250
@nlutsenko well you've done some great stuff so far, thank you! Only issues I ran into were:

- Bolts dependency doesn't build (I forget why) so I manually add a pre-compiled tvOS Bolts framework and delete the dependency.
- Parse.h includes this:

#if !TARGET_OS_WATCH

#import <Parse/PFInstallation.h>
#import <Parse/PFPush.h>

#endif

So that's a little compilation problem have to manually fix.

[2015-10-20 18:57] nlutsenko commented on #250
- Bolts dependency, might be due to the fact that it's using `xcodebuild` and it's not automatically reset to the Xcode version that you are using it from, but rather using the setting. (change it via `xcode-select`)
- `Parse.h` great catch! Totally missed it, fixing in a bit.

`SDWebImage` would be faster to adopt, since there is `PFFile.url()` property that gives you back a full url for any give

[2015-10-20 19:20] levigroker commented on #271
@gautamMoEngage Thanks... as I noted originally, older versions of the SDK do work.
@nlutsenko Thanks for your efforts on this. Our need to use Xcode 6.4 has passed, so I've moved on to Xcode 7, where I expect things will be fine, but I won't be able to test this for you.

[2015-10-20 19:25] waterclock commented on #250
Cool, SDWebImage it is for now. Thanks again and will provide feedback on any issues that come up as the port progresses!

[2015-10-20 19:40] nlutsenko commented on #179
It shouldn't be used and is compiled out.
Will send a pull request with a fix for this soon.

[2015-10-20 19:43] hilalh opened #445 "'NSInvalidArgumentException', reason: '*** -[__NSArrayM insertObject:atIndex:]: object cannot be nil'"
Quite often I get random crashes
That point at Thread 7 Queue : com.parse.PFPinningEventuallyQueue.synchronization (serial)
with output of:
'NSInvalidArgumentException', reason: '*** -[__NSArrayM insertObject:atIndex:]: object cannot be nil'
This happens at random places in the app I'm using Parse 1.9.0 on Xcode 7.0 (recently upgraded to 7.0.1 but it didn't help).
Any idea what should I do?
Thanks

[2015-10-20 19:50] kevflynn commented on #11
Still seeing a lot of deadlocking as well - let me know if a trace posting will help

[2015-10-20 20:39] richardjrossiii commented on #445
Thanks for the report. Are these crashes happening with the debugger attached? If so, would you mind typing `thread bt all` in the console when you hit this crash next, and post that stack-trace here? It really helps us narrow down the locations of these crashes.

[2015-10-20 20:42] reggatta commented on #250
Pardon my git naiveté, but what is the best way to get the latest build?  Or is there a Cocoapod in the works?

[2015-10-20 23:20] nlutsenko commented on #250
Hey guys, I just pushed the podspec to `nlutsenko.tvos.podtest` branch of this repo.
We can't quite push it to master, since we are not ready to release.

Though - you can start using it right now via CocoaPods by modifying your Podfile:
[code]

Let me know if you run in any problem with it. Also I am going to update the instructions on top of this issue.

[2015-10-20 23:51] mugu-trick commented on #179
Oh ok! Thanks @nlutsenko !

[2015-10-21 00:41] ebender001 commented on #250
Thank you for your dedication to this. I am figuratively toasting you with a huge glass of vodka.
Ed

Sent from my iPhone

[2015-10-21 01:08] nlutsenko commented on #179
@mugu-trick the last pull request attached here - 447 is going to fix the problem in code for everyone.
Also we safeguard every unavailable class, so this won't be a problem going further.

[2015-10-21 07:01] nlutsenko commented on #432
Hey @elondon, thanks for the report.
Shouldn't happen in the wild, it should save almost instantly...

Any chance you are seeing this on a specific iOS/OSX version or with a specific SDK version?
One thing that might help us diagnose the problem and distinguish it between client and server are network notifications that we have for debugging. You can read more about them [here](https://github.com/

[2015-10-21 07:06] nlutsenko commented on #424
Hey @keyhui-heha, thanks for the report.
I think it was already addressed by #390.

That Pull Request addresses specific problem to iOS 7, which addresses network errors with exact same code.
One thing that might be useful to try - installing `master` via CocoaPods and running your app on iOS 7 device again (aka add `pod 'Parse', :branch => 'master'` to your Podfile).

Let me know how it goes, I w

[2015-10-21 10:24] Stubbs1234 commented on #250
@nlutsenko Do you have any idea on a release date for the full SDK?

[2015-10-21 12:57] horseshoe7 commented on #444
I have the same problem.  Followed all the instructions and it won't work.  Using Xcode 7, deployment target iOS 8.1

I found the documentation a bit lacking when setting this up.  For example the run script:

[code]
where do I find ```<app_name_from_cloud_code_config_globals>```

[2015-10-21 13:29] dtaitz commented on #11
I am seeing deadlock with PFUser when I try the below code for the "Push Notifications: Using Advanced Targeting" section from the Parse iOS Guide.

// Associate the device with a user
PFInstallation *installation = [PFInstallation currentInstallation];
installation[@"user"] = [PFUser currentUser];
[installation saveInBackground];

If another thread tries to access [PFUser currentUser] while this

[2015-10-21 13:36] mugu-trick commented on #179
Thansk @nlutsenko

I had some problems though:

First, I tried updating my pod aiming to master as it's where you merged the changes.

I got this:

![pod01](https://cloud.githubusercontent.com/assets/13678209/10638064/688e5f52-77df-11e5-9588-68f1b96cfc1f.png)

My pod did look like this

![pod02](https://cloud.githubusercontent.com/assets/13678209/10638074/6decf15c-77df-11e5-8ff5-975fa8902ef0.png)

[2015-10-21 14:34] skofgar commented on #250
Thanks for doing all this! - I used
[code]
in my Podfile and got the error message:
[code]
I tried finding a solution online but couldn't find one - do you have an idea what I'm doing wrong?

[2015-10-21 15:37] hilalh commented on #445
Sure, i will try to reproduce the crash.

[2015-10-21 16:33] markdStreetline commented on #290
We are seeing this in our app too.  Currently using 1.8.5 - using CocoaPods and pinning

[2015-10-21 19:11] drewlarsen opened #448 "Parse Query always returns Error NSCocoaErrorDomain 3840 on iOS 7"
After upgrading my production app to Parse iOS SDK 1.9.0, the first Parse query the app executes returns the above error with this description:
JSON text did not start with array or object and option to allow fragments not set.

The app works fine on iOS 8.x and iOS 9.x. The error only happens on iOS 7.x. But it happens everytime on every device.

I have found a similar thread in the Parse Develop

[2015-10-22 00:23] helloxiaojin commented on #250
@nlutsenko Thanks for your hard work. I used

The error is:

clang: error: linker command failed with exit code 1 (use -v to see invocation)

Then i copied the pre-build framework to the project. It was succeed. But after i added a Parse bridge header, There were 30 errors and like this:

      -[PFSQLiteDatabase _bindObject:toColumn:inStatement:] in Parse(PFSQLiteDatabase.o).

So how to fix it. T

[2015-10-22 00:31] hilalh commented on #445
Here's the trace I got remotely from one of my testers (They're using iOS 8.3 on an iPhone 6, but it has happened both on my personal phone and the simulator on both iOS 8.4 and 9.0)
Thread : Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x0000000181e3c2d8 __exceptionPreprocess
1  libobjc.A.dylib                0x00000001936600e4 objc_exception_throw
2  CoreFoundati

[2015-10-22 01:51] kentoh commented on #148
Any updates? We've struggled with this for quite some time. Original bug report (with sample project) that we've filed before issue tracking was moved to Github, if it helps:

https://developers.facebook.com/bugs/404027086449063/

[2015-10-22 02:01] genius50 commented on #444
Same for me, I'm using Parse Crash Reporting for Android with the last SDK version ! it seems to be a backend issue.

[2015-10-22 09:37] daniel-mihai commented on #444
@horseshoe7 , it should be the app name you created or added to Cloud Code. View documentation here : https://parse.com/apps/quickstart#cloud_code/unix . So the run script looks like this

export PATH=/usr/local/bin:$PATH
cd /Users/daniel/my_app_dir

parse symbols MyAppName --path="${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}"

And I have the "cloud" directory inside "my_app_dir"

It won't wo

[2015-10-22 10:13] wavs commented on #448
Same error for me on iOS 7:
[code]

When I try this code just after install:
[code]

[2015-10-22 11:34] marian19 opened #449 "[query findObjectsInBackgroundWithBlock:^(NSArray *objects, NSError *error) with iOS 7"
when i try to use [query findObjectsInBackgroundWithBlock:^(NSArray *objects, NSError *error) with iOS 7 , it always returns this error " nserror * domain @ nscocoaerrordomain - code 3840"

[2015-10-22 16:14] dtrenz opened #450 "Crash: PFObject.saveInBackgroundWithBlock() causes crash."
When creating a new PFObject and using saveInBackgroundWithBlock(), the app crashes (only on device, not while attached to debugger).

Help is greatly appreciated.

**Parse Version:** 1.8.5 & 1.9.0

**Here is the exception in the log:**

[code]

**Here is the stack trace for the crashing thread:**

[code]

[2015-10-22 16:14] drewlarsen commented on #448
Feedback on this? This is a major production issue!

[2015-10-22 16:16] drewlarsen commented on #449
I think is probably a duplicate of the error I filed yesterday:
https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/448

[2015-10-22 16:20] waterclock commented on #250
Since the pod spec is evidently not working for people, can someone post a quick cheat-sheet for getting Parse and Bolts compiled multi-architecture for arm64 and Simulator? I'd like to get my app in the review queue and spent hours last night beating my head against a wall trying to get these two slotted into my project. Thanks!

[2015-10-22 16:34] xissburg commented on #398
After upgrading to Parse 1.9.0 I haven't experienced this issue again. Thanks for the great job guys!

[2015-10-22 16:35] nlutsenko commented on #398
Glad it helped!

[2015-10-22 17:02] joergbirkhold commented on #250
i found a little annoying typo in build_framework.sh line 136:
it is now
xcode_build_target "appletv" "${BUILDCONFIGURATION}" "TVBolts"
but should be
xcode_build_target "appletvos" "${BUILDCONFIGURATION}" "TVBolts"

[2015-10-22 18:03] joergbirkhold commented on #250
@helloxiaojin do not forget to add the frameworks like described here:
https://parse.com/apps/quickstart#parse_data/mobile/ios/swift/existing

[2015-10-22 18:09] brocoli opened #451 "Inifnite loop caused by signing up or saving an anonymous user with username and password - happens if you had previously called saveEventually on an object with a pointer to this user."
Bad things happen when you saveEventually an object with a pointer reference to an automatic user. The user stays in a state where isLazy = YES, authData[PFAnonymousUserAuthenticationType] == [NSNull null], self.linkedServiceNames.count == 0, and user.objectId is non-null. This state causes an infinite loop in 1.9.0, and additionally to that in the tip of the master as of writing, an infinite memo

[2015-10-22 18:50] Ricardo1980 opened #452 "Cannot compile Parse 1.9.0. 'Bolts/BFDefines.h' file not found"
Using xcode 7.0.1 7A1001 and
pod 'Parse', '1.9.0'
pod 'ParseFacebookUtilsV4', '1.9.0'
pod 'ParseUI', '1.1.6'

It seems also happens if I use 1.8.5

/Users/personal/Desktop/sharewifi-ios/Pods/Bolts/Bolts/Common/BFTaskCompletionSource.h:13:9: 'Bolts/BFDefines.h' file not found

Impossible to compile my project again.
Any help?

It seems 1.3 and 1.1 of Bolts are being mixed.

[2015-10-22 19:12] seanhaufler commented on #290
Seeing this (quite frequently) in our app as well. Using 1.8.5 with Cocoapods and pinning

[2015-10-22 19:20] richardjrossiii commented on #450
It would appear from your stack trace that one of our internal tasks is nil, and from what I can tell, it seems loosely related to our `PFCurrentUserController` being nil.

If this crash is consistent, would you mind supplying us with some example code that reproduces the issue?

[2015-10-22 19:27] hilalh commented on #445
Here's my console output
bt all
  thread #1: tid = 0x55c6d, 0x000000011546c4de libsystem_kernel.dylib`mach_msg_trap + 10, queue = 'com.apple.main-thread'
    frame #0: 0x000000011546c4de libsystem_kernel.dylib`mach_msg_trap + 10
    frame #1: 0x000000011546b64f libsystem_kernel.dylib`mach_msg + 55
    frame #2: 0x0000000111639af5 QuartzCore`CA::Render::Encoder::receive_reply(unsigned int) + 59

[2015-10-22 19:31] dtrenz commented on #450
I believe that the code isn't very helpful, since it's just instantiating a `PFObject` via subclass, then calling `saveInBackgroundWithBlock()` on it.

**Implementation:**

[code]

**MyClass.swift**

[code]

[2015-10-22 20:10] richardjrossiii commented on #451
First of all, thank you for the super detailed writeup.

This definitely isn't intended behavior, and I'll investigate this more thoroughly.

[2015-10-22 20:10] #449 closed

[2015-10-22 20:12] richardjrossiii commented on #448
This definitely seems wrong. I'll see if something recently changed with our JSON parsing, and let you know what I find.

[2015-10-22 20:25] richardjrossiii commented on #448
Duplicate of #388, fixed in 1.9.1, which is releasing soon.

[2015-10-22 20:25] #448 closed

[2015-10-22 20:27] nlutsenko commented on #449
Duplicate of #448, indeed.

[2015-10-22 20:40] waterclock commented on #250
[code]

[2015-10-22 20:43] nlutsenko commented on #250
@waterclock :) The branch you are looking for on Bolts is `nlutsenko.tvos`, just pushed.

[2015-10-22 20:44] nlutsenko commented on #250
@skofgar @helloxiaojin et al, Bolts for tvOS is coming today, preparing few things right now before we fully ship it.

[2015-10-22 20:50] JackoPlane commented on #250
Out of interest, Is there a Parse (public) Slack?

[2015-10-22 20:55] nlutsenko commented on #452
Hey @Ricardo1980, thanks for the report.
I am not sure how `1.1` and `1.3 ` are mixed in your case?
Can you double check that you don't have another copy of Bolts.framework in your checkout or basically anywhere where `FRAMEWORK_SEARCH_PATHS` build setting can find it?
(maybe in `~/Documents/FacebookSDK` - since that was the path where FB SDK installed for a long time)

[2015-10-22 20:56] nlutsenko commented on #250
@JackoPlane, nope, not even an internal one...
I've seen a huge debate on https://github.com/reactiflux/volunteers/issues/25 about it, though...

Maybe `Gitter`/`Discord` would be a better option?
The biggest concern that we probably have - if we commit to it, will the community use it?

[2015-10-22 21:02] waterclock commented on #250
@nlutsenko Thanks! That seemed to work, kinda. No sign of Bolts or Parse frameworks now anywhere but my xcworkspace has been filled with all sorts of  stuff and references to products like libParse.a and libBolts.a. It even made a static library out of my app target. I knew there was a reason i was avoiding Cocoapods...

Man, fifteen hours now struggling to get two bitcode-enabled, arm64, tvos fra

[2015-10-22 21:09] nlutsenko commented on #250
@JackoPlane https://gitter.im/ParsePlatform/Chat Let's try it out, if it works - great.

[2015-10-22 21:15] Ricardo1980 commented on #452
My mistake. I deleted everything regarding cocoapods, launching pod install and works fine.
Thanks a lot for help.

[2015-10-22 21:15] #452 closed

[2015-10-22 21:34] drewlarsen commented on #448
Thank you, I'm relieved to hear that.
However, I currently have a production app that now 15% of my users are completely blocked out of. This is a horrible situation for my business!
What is the release date for 1.9.1? Does soon mean tomorrow? Or next week?

[2015-10-22 21:42] richardjrossiii commented on #448
Ideally later today, barring no setbacks. No promises however.

[2015-10-23 02:39] nlutsenko commented on #250
Bolts 1.4.0 just shipped everywhere (repo/releases/cocoapods), which has support for tvOS.
Going to update it in this repo as well in a moment.

[2015-10-23 05:54] hhanesand commented on #415
:+1:

[2015-10-23 06:00] hhanesand commented on #342
So the problem here is that if we choose to generate an object id, it can't collide with any other `PFObjects` on the main parse server?

[2015-10-23 13:06] brocoli commented on #451
No problem, on the contrary, thanks for you guys for Parse.com being such an awesome service!

[2015-10-23 13:34] ako2009 opened #459 "Revocable session is invalidated when anonymous user becomes registered"
To reproduce the issue just set "Require Revocable Sessions" to YES and then run the code below.

[code]

[2015-10-23 13:38] ako2009 commented on #459
There is also another issue connected with the process of anonymous user registering  - https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/393

[2015-10-23 15:41] #386 closed

[2015-10-23 16:00] FreudGit commented on #386
@richardjrossiii I still suggest to update the doc OR to solve this.  ;)

[2015-10-23 16:25] russnettle opened #460 "PFuser fetchInBackgroundWithBlock is not returning full object"
Summary of the bug:Sporadic but I have a PFUser pointer in my PFUser object called 'significantOther' I can see this contains a value in the parse data browser. However, if I call
[pfuser fetchInBackgroundWithBlock...

the return object is missing the value to this completely. However if i call

    PFQuery *userQuery = [PFUser query];
    [userQuery whereKey:@"objectId" equalTo:[PFUser currentUse

[2015-10-23 16:25] russnettle commented on #460
![screen shot 2015-10-23 at 16 17 11](https://cloud.githubusercontent.com/assets/5123908/10698865/10f5ea9e-79ab-11e5-90d2-85abffb12e4c.png)

[2015-10-23 17:55] OlegPanfyorov opened #461 "Parse returns no users when login by email with existing in DB or just registered user"
I`m trying to login by email with existing in parse account or with just registered user but Parse tells no user. Using Parse (1.9.0)

Code=3 "Please check the username or email and try again" UserInfo={NSLocalizedDescription=Please check the username or email and try again, NSLocalizedFailureReason=Unable to log in}

[2015-10-23 17:55] nlutsenko commented on #459
Hey @ako2009, thanks for the report.
Any chance you can specify the version of the SDK you are using?
We had a bugfix around this issue few versions of the SDK ago.

[2015-10-23 17:57] nlutsenko commented on #461
Hey @OlegPanfyorov,

This looks super strange, can you add a little more info?
Specifically, specifying what does your row look like in User class in Data Browser and what values you are using on the client?

Please note - PFUser login requires username and password. You can use email as username for your users, but it's not the same as `email` field on the User class.

[2015-10-23 21:41] #382 closed

[2015-10-23 23:49] nlutsenko commented on #450
@dtrenz Any chance this is happening before you initialized Parse?
Before you call into saving - could you print to console your app id and/or client key from `Parse.getApplicationId()`. Just trying to make sure that it's initialized.

[2015-10-24 01:00] dtrenz commented on #450
Ah ha! Thanks for pointing me in the right direction, @nlutsenko!

It appears that if I;

1. initialize Parse in `application:didFinishLaunchingWithOptions`,
2. then open another app (i.e. Safari) from my app,
3. then go back to my app...

...the initialized Parse SDK is no longer initialized.

Is this a bug, or should I move the Parse initialization to something like `application:didBecomeActive`

[2015-10-24 01:08] nlutsenko commented on #450
Super strange. It should definitely be in `application:didFinishLaunchingWithOptions:`.
The only suggestions:
- move it to `application:didFinishLaunchingWithOptions:`
- move it to `init()` of your AppDelegate

Initializing the SDK multiple times is `undefined`. :grin:

[2015-10-24 01:13] nlutsenko commented on #460
Hey @russnettle, thanks for the report.
Any chance you can post your User object schema here?
I wonder what do the ACLs look like on both of these.

[2015-10-24 01:46] dtrenz commented on #450
OK, that was a red herring.

I was using scheme env vars (NSProcessInfo.processInfo().environment) to set/read the Parse ID & key. But I didn't realize that they are only available when running the app attached to the debugger.

This was a painful lesson.

Thanks for helping to point me in the right direction.

[2015-10-24 01:46] #450 closed

[2015-10-24 01:48] nlutsenko commented on #450
Glad you got it solved!

[2015-10-24 02:02] dtrenz commented on #450
Me, too.

If there is a take-away for the Parse SDK, maybe there should be an error when a PFObject is saved before the Parse SDK has been initialized?

[2015-10-24 15:48] ako2009 commented on #459
I tested it using SDK v1.9.0. The last version is 1.9.1, but there are no changes for anonymous users.

[2015-10-24 18:52] hhanesand opened #463 "user creation through lazy loading (enableAutomaticUser) does not call a PFUser subclass +user method"
If you register a `PFUser` subclass with parse, such as this :

[code]

and then call `[ABConsumer enableAutomaticUser]`, the `+user` method in the subclass is not called on user creation :
[code]

Is there another method I can hook into, or am I doing something wrong?

[2015-10-24 21:12] davidlong028 opened #464 "Parse 1.9.0 Doesn't Sync test Objects"
I am attempting to run the following :

        testObject["foo"] = "bar"
        testObject.saveInBackgroundWithBlock { (succeeded, error) -> Void in
            print("Object has been saved.")
        }

in my ViewController file. I am doing this as a test, and its supposed to return an value to the Parse database for the test app, but it does not.

I have also tried this code:

user.username =

[2015-10-24 22:09] hhanesand commented on #464
Are you getting any error messages in the console?

[2015-10-24 23:09] davidlong028 commented on #464
no, none whatsoever

[2015-10-24 23:12] Ricardo1980 opened #465 "Parse 1.9.0 not working under 7.1.1 device"
I receive this message in my iPhone 7.1.1 when trying to login or call findObjectsInBackgroundWithBlock

Printing description of error:
Error Domain=NSCocoaErrorDomain Code=3840 "The operation couldn’t be completed. (Cocoa error 3840.)" (JSON text did not start with array or object and option to allow fragments not set.) UserInfo=0x17807eb40 {NSDebugDescription=JSON text did not start with array o

[2015-10-24 23:59] nlutsenko commented on #465
@Ricardo1980 this was fixed in 1.9.1 version of the SDK, which was released just yesterday.
Let me know if the latest version works for you.

[2015-10-25 02:42] shushutochako opened #466 "Cannot Build In Xcode 7.1"
I upgraded to XCode 7.1 yesterday.
When using Cocoapods,  the module will no longer build for me with the error
[code]
Is there a workaround?

[2015-10-25 08:00] nlutsenko commented on #466
Sounds super strange, since we have tests passing on every commit running Xcode 7.1, which explicitly test CocoaPods linter. I would suggest tyin to clean your derived data and/or reinstalling all your pods.

[2015-10-25 11:18] shushutochako commented on #466
Thank you for answering. I tried reinstalling and clean but it was the same result.
The image below is the capture of the error.

![capture](https://cloud.githubusercontent.com/assets/8078429/10715293/d6c04d8c-7b54-11e5-9f3f-729c2de94e5d.png)

Incidentally version of cocoapod is 0.39.0 and Parse is 1.9.1.

[2015-10-25 11:45] bybyron opened #467 "isLinkedWithAuthType returns true after failed account linking attempt"
After attempting to link to a Facebook/Twitter account that already exists, the correct error is returned:
"Another user is already linked to this facebook/twitter id"

using the "isLinkedWithUser" method returns the correct result, however when the application is closed and re-opened the "isLinkedWithUser" method returns true for the failed attempt

one is then able to retrieve information (frien

[2015-10-25 12:41] Ricardo1980 commented on #465
Awesome! Now it works, thanks!

[2015-10-25 12:41] #465 closed

[2015-10-25 15:20] davidlong028 commented on #464
?

[2015-10-25 20:37] hilalh commented on #401
Still no solution. I have tried to change the order of calls to many variations but it hasn't been successful as of yet.

[2015-10-25 23:27] UncleRic opened #468 "Unable to use Swift 2.1's version of getObjectWithId:(NSString *)objectId error:(NSError **)error"
I'm having trouble using the error parameter.   Here's my code:

 do {
          let videoObject = try query.getObjectWithId(parseID, error:()) {
                print(videoObject)
                //    pfObjects.append(videoObject)
            }
       } catch {
            print("")
       }

<img width="775" alt="error2" src="https://cloud.githubusercontent.com/assets/862735/10718634/ede2af5c-7

[2015-10-26 06:16] nlutsenko commented on #467
Hey @bybyron, thanks for the report.
Will take a look in-depth, but I guess it is indeed an issue.

[2015-10-26 07:27] BananaFudgkins commented on #250
So I've been able to fix all of the linker error because not all of the if statements were set lol. But I get an error in the Parse.h file that says that there is a duplicate declaration of the interface for the class Parse. There's only 1 @interface declaration though so I'm wondering how I can fix this.

[2015-10-26 08:22] ako2009 commented on #393
Any news about the issue?

[2015-10-26 10:02] russnettle commented on #460
Hey - @nlutsenko  - no Worries
Attached a screenshot of the acl and structure in the User class - ACL seems good

![screen shot 2015-10-26 at 10 00 19](https://cloud.githubusercontent.com/assets/5123908/10726097/71d90bce-7bc8-11e5-8543-43c863553fc5.png)

[2015-10-26 12:38] BellAppLab commented on #466
Same thing here...

[2015-10-26 12:50] shushutochako commented on #466
Hi nlutsenko.
This issue has been resolved by add description of the following to Podfile.
[code]
I'm sorry for the inconvenience.

[2015-10-26 13:13] davidlong028 commented on #464
I'm still having this issue. I am unable to start my app until this situation is resolved. I have tested other apps and know that this isn't an issue with the code, but there has to be an issue with Parse. Can someone help with this?

[2015-10-26 13:26] fluidsonic commented on #466
@shushutochako adding code to the Podfile is a workaround, not a solution.

Same problem here with CocoaPods 0.39.0, Xcode 7.1 & Parse 1.9.1.

@nlutsenko why is the style `#import <Parse/XYZ.h>` used instead of the typical `#import "XYZ.h"`?
Changing all imports fixes the problem like @shushutochako's workaround does.

[2015-10-26 13:53] BellAppLab commented on #466
One million times THIS.

Same goes for Bolts. Also, referencing Bolts with `@import Bolts;` rather than `#import <Bolts/BFTask.h>`.

I've been doing the refactoring here, @nlutsenko and will be glad to push them through.

[2015-10-26 13:55] fluidsonic commented on #466
Looks like Bolts imports are also affected.
Fixing just the `#import <Parse/…>` leads to the next error:

[code]

Bolts is broken too:
[code]

@BellAppLab I don't think that `@import` is an option here since Bolts supports iOS 6+ while `@import` for non-system modules requires iOS 8+ afaik.

[2015-10-26 14:07] BellAppLab commented on #466
You're right, @fluidsonic.

[2015-10-26 14:09] fluidsonic commented on #466
@BellAppLab just tested it.

`#import <Bolts/Bolts.h>` does not work :(

[code]

[2015-10-26 14:14] BellAppLab commented on #466
Yes, @fluidsonic. I did the same test here, which is why I suggested the `@import` directive.

[2015-10-26 14:17] fluidsonic commented on #466
The correct import directive is actually `#import <Bolts/Bolts-umbrella.h>` when using CocoaPods with frameworks enabled. `@import` will most likely not work for pre-iOS 8 apps and any other apps not using CocoaPod's `use_frameworks!`.

[2015-10-26 14:19] BellAppLab commented on #466
Another good call. I'll be refactoring based on these findings. If you come along anything else, please let us know, @fluidsonic.

[2015-10-26 14:25] fluidsonic commented on #466
Although still a workaround I think the best trick is to use a proxy include:

**Bolts.h**
[code]

And then instead of `#import <Bolts/…>` simply use `#import "Bolts.h"`.

This should work with and without CocoaPods & with and without modules.

[2015-10-26 14:28] fluidsonic commented on #466
Here are the diffs which work for us:

https://github.com/Widgetlabs/Parse-SDK-iOS-OSX/commit/f9add9575e218c4ea04ecc02ce471e53426b062b
https://github.com/Widgetlabs/Bolts-iOS/commit/7ceac4bddf0605f3a0ea3ae4905b0148dc4f639e

[2015-10-26 14:31] BellAppLab commented on #466
Feel free to submit those if you like.

[2015-10-26 15:03] fluidsonic commented on #466
Bolts: https://github.com/BoltsFramework/Bolts-iOS/pull/179
Parse: https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/pull/469

Facebook SDK is also affected: https://developers.facebook.com/bugs/1512425999080858/

[2015-10-26 16:41] nlutsenko commented on #466
Replacing angular with quoted imports is not the best thing to do (will expand more on this).
Can someone share their pod file here? I am wondering if static libraries via CocoaPods or frameworks are affected.

[2015-10-26 16:51] fluidsonic commented on #466
This issue only affects modules, not static libraries.
We do use `use_frameworks!` and thus modules.

Bolts, Parse and Facebook SDK are all broken for us due to angular imports.

After a lot of compiling and fixing we can finally build our project again using the pull requests #469, https://github.com/BoltsFramework/Bolts-iOS/pull/179 and https://github.com/facebook/facebook-ios-sdk/pull/801.

[2015-10-26 16:52] BellAppLab commented on #466
I've been keeping a bridging library between Parse and Swift, with a couple of helper methods that encapsulate common patterns in implementing Parse enabled apps: https://github.com/BellAppLab/Parsable.git

Since Xcode 7.1, there has been red warnings all over the place. The situation is dire and some locals say we are not going to recover from this ever. Back to you at the studio.

[2015-10-26 16:54] BellAppLab commented on #466
Thanks, @fluidsonic. Were you able to build FB's SDK? I'm having issues with `FBSDKLoginKit` cross-importing internal files from `FBSDKCoreKit`.

[2015-10-26 16:57] fluidsonic commented on #466
@BellAppLab yes, we addresses the Facebook SDK issues [in this pull request](https://github.com/facebook/facebook-ios-sdk/pull/801).

So many libraries (including Parse and Facebook SDKs) are cross-referencing headers from other frameworks. I'm happy to see that Xcode 7.1 requires the library authors to clean up their mess :)

[2015-10-26 16:59] BellAppLab commented on #466
👆

Man, you saved my day.

[2015-10-26 17:04] fluidsonic commented on #466
@BellAppLab `use_frameworks!` is only mandatory when having Swift **dependencies** in CocoaPods. It's not necessary when having a Swift project with non-Swift dependencies.

[2015-10-26 17:13] BellAppLab commented on #466
@fluidsonic Unfortunately, though: `[!] Pods written in Swift can only be integrated as frameworks; add `use_frameworks!` to your Podfile or target to opt into using it.`

So if you mix and match Obj-C and Swift dependencies, you're stuck with `use_frameworks!`.

[2015-10-26 17:20] fluidsonic commented on #466
@BellAppLab yep, like I said :)

Using modules/frameworks is a good step forward towards cleaner libraries so this is good anyway.
The only real downside at the moment is a [significantly increased app launch time](https://github.com/artsy/eigen/issues/586#issuecomment-150742867).
But we're drifting off-topic.

@nlutsenko angular imports should be used when importing other framework's headers, not

[2015-10-26 17:21] nlutsenko commented on #466
@fluidsonic The style should explicitly be `#import <Parse/....h>`.
Can you post a link on why you think angular imports are wrong?

This syntax is 1:1 mappable to `@import Parse.PFUser;`, since both of them are using clang modulemaps. If you use the quoted import - you get 0 to no benefit from using modular imports.
Can someone please share their podfile so we at least have a repro case?

I've te

[2015-10-26 17:23] fluidsonic commented on #466
@nlutsenko I agree that you use `#import <Parse/XYZ.h>` or `@import Parse.XYZ;` from OUTSIDE of the framework. But a framework doesn't import **itself**.

[2015-10-26 17:25] richardjrossiii commented on #468
Seeing as `getObjectWithId` is a synchronous call, the proper syntax is as follows:

    let videoObject = try query.getObjectWithId(parseID)

No closure is needed here.

[2015-10-26 17:25] #468 closed

[2015-10-26 17:27] BellAppLab commented on #466
@fluidsonic You're right. Misread it! ;)

Here's a podfile:

    platform :ios, '8.0'
    use_frameworks!

    link_with 'SBeta', 'SBetaTests'
    pod 'Parsable'
    pod 'UILoader'

[2015-10-26 17:28] fluidsonic commented on #466
@nlutsenko here, I broke your project :)

https://www.dropbox.com/s/qasax83bonprhde/YoloTest11.zip?dl=0

[2015-10-26 17:35] nlutsenko commented on #466
@fluidsonic Aha! Finally, someone got us a repro project. Thank you, let me look into it.
The problem is purely with pods that depend on Parse and integrated into the end application.
Quoted imports - still not a valid solution, there should be something else here.

Please take a look at Foundation.framework, say NSObject.h - there are imports all over the place for the same Foundation.framework.

[2015-10-26 17:36] richardjrossiii commented on #463
It should not. We do not guarantee that *any* initializer is called when subclassing PFObject. The current implementation, however, will always invoke `-init` on a created PFObject. But once again, this is an implementation detail and subject to change.

[2015-10-26 17:40] richardjrossiii commented on #464
What precisely do you mean by this? If you're saying that you have multiple apps on Parse.com, and all but this one works, then this is certainly a backend bug, which should be filed with the backend team, which still tracks bugs through https://parse.com/help.

Otherwise, I have tested that code, and it seems to be working for me, perhaps you could share a small project that reproduces this use-c

[2015-10-26 17:45] fluidsonic commented on #466
System frameworks seem to be special anyway. For example I can `#import <UIKit/UIApplication.h>` (so a single specific header) without issues but I cannot `#import <Bolts/BFTask.h>`.

Anyway quoted imports are local i.e. relative to the file which contains the import. Since all headers are in the Framework's `Headers` directory this will work fine.

Here's an example project with both frameworks p

[2015-10-26 17:51] BellAppLab commented on #466
Besides, FB's SDKs weren't always called `FBSDKCoreKit`, `FBSDKLoginKit` and so forth...

[2015-10-26 18:36] nlutsenko commented on #466
@fluidsonic Why can't you `#import <Bolts/BFTask.h>` again?
I am going to try few more thing here (custom modulemap in CocoaPods).
Please note - not all pods have this error.
 Example: `ParseTwitterUtils` is not generating any of these errors, though it depends on Parse.

[2015-10-26 18:39] nlutsenko commented on #466
@fluidsonic This has much wider impact than just Parse and Bolts.
https://github.com/CocoaPods/CocoaPods/issues/4420 is tracking for everything else.

[2015-10-26 18:44] fluidsonic commented on #466
@nlutsenko `ParseTwitterUtils` is broken the same way.

[code]

Good catch with the CocoaPods issue. I didn't notice the generated `*-umbrella.h` headers use quoted imports. Maybe the imports used in the frameworks and the imports used in the umbrella header must match starting with Xcode 7.1?
Yet there doesn't seem to be a solution yet.

A custom module map could indeed solve the problem. I'll te

[2015-10-26 18:50] nlutsenko commented on #466
Custom module map - not a solution. Tested it right now, doesn't seem to work.
Super strange, since ParseTwitterUtils works great for me (import that pod in the project, not cross-dependant pods).

Even if you change the umbrella header to angular imports - that still doesn't work.
I think all of it comes down to `Header Search Paths` inside `Pods/Headers/Private` and that directory contains all h

[2015-10-26 18:53] nlutsenko commented on #437
Hey @a1exb1, this sounds super weird.
The error is coming down from our keychain storage for authData/sessionToken for currentUser, since that information should be private.

Any chance you can get us more context on when it happens and/or more data about the state of `currentUser` when the problem happens?

[2015-10-26 19:04] fluidsonic commented on #466
@nlutsenko indeed, CocoaPods messes with the Header Search Path only for Pods, not for the project itself (at least when using frameworks) and unsetting the search path also fixes the issue.
So I think the easier way to solve this issue globally is to wait for CocoaPods to take care of it and use the pull requests as workarounds until then.

Thanks!

[2015-10-26 19:09] nlutsenko commented on #466
Glad I could help!
Will keep an eye out for CocoaPods issue, and will close this one out when it's fixed.

[2015-10-26 20:00] UncleRic commented on #468
That's partially correct.  However the 'query.getObjectWithId(parseID)' doesn't throw any errors/exception (Swift 2.1), which I need:
<img width="1148" alt="error" src="https://cloud.githubusercontent.com/assets/862735/10740112/98563136-7bdd-11e5-8c48-aeb5ec9ed2ba.png">

So I scaled it down to whether or not I get a value.

[2015-10-26 20:11] nlutsenko commented on #468
@UncleRic Any chance you are using an old version of the SDK?
This method definitely throws in the latest SDK. Better support for this was added in 1.8.3 (current latest is 1.9.1).

[2015-10-26 21:43] UncleRic commented on #468
I thought I was using the latest SDK; but upon checking, I was running 1.8.2.
I reinstalled the latest @  parse.com (v1.9.0)

Now I’m getting the following errors (sample):

Ric.

[2015-10-26 21:57] nlutsenko commented on #468
@UncleRic any change to see those errors? I think the screenshot didn't attach.

[2015-10-26 22:02] #97 closed

[2015-10-26 22:06] UncleRic commented on #468
I’m currently resolving the issue.
Apparently I was using v1.8.2.
I’ve updated to v 1.9.0 via parse.com site.

I’m updating my code to work with the Swift 2.1 error-handler paradigm.

Ric.

[2015-10-26 22:51] UncleRic commented on #468
I just updated to 1.9.0 SDK.
There’s some compilation issues; most I can resolve.

But here’s one that’s unresolved:

if let PNGData = UIImagePNGRepresentation(gProfileImage!) {
                let portraitImageFile = PFFile(name:"ProfileImage.png", data:PNGData)
                if portraitImageFile!.save() {   <—————————————————————— save() not available in Swift.
                    let url = po

[2015-10-26 23:16] nlutsenko commented on #467
Valid bug, just reproduced with a test app. Fix is incoming...

Workaround: Try saving the user again - it will be persisted to disk at that point.

[2015-10-26 23:25] hhanesand commented on #463
Ok, thanks for the info. How do you suggest I initialize default properties in user subclasses when using automatic users (preferably without cloud code)?

[2015-10-27 00:35] nlutsenko commented on #415
@grantland You had some ideas/suggestions for naming here... Let me know if you came up with any good name.
also @richardjrossiii ideas about naming?

[2015-10-27 01:10] kross50 opened #474 "iOS SDK 1.9.1 on iOS 9.1 on iPhone 6s PLUS is slow to make concurrent PFQuery calls"
SDK 1.9.0 was fast so I'm going back to it.

[2015-10-27 01:31] #474 closed

[2015-10-27 01:44] nlutsenko commented on #474
Not sure what happened here.
Is it still slow for you?
There is not much that changed in terms of query performance, so I am somewhat skeptical about this.

[2015-10-27 02:25] kevinhealy commented on #250
Was the version 1.9.1 that was just released today supposed to be for tvOS and watchOS?  Or will these changes be included in the next version?  Thanks.

[2015-10-27 02:26] nlutsenko commented on #250
Nope, we are still working on bringing support for these. (watchOS looks like done, tvOS is work in progress).

[2015-10-27 02:26] kevinhealy commented on #250
Ok cool.  Thank you.

[2015-10-27 02:27] BananaFudgkins commented on #250
Update: I fixed my header problem! Turns out it was just a conflict with CocoaPods. :/

[2015-10-27 02:27] nlutsenko commented on #250
@BananaFudgkins Whee!

[2015-10-27 03:12] al-zonke commented on #11
I think @lkraider was right about cycle relations (ParentObject->ChildObject, ChildObject->ParentObject)
I have deadlock time to time, but before I added cycle relation, I had no problems.

[2015-10-27 05:42] kross50 commented on #474
Ended up being an issue with my internet providers connection.  Thank you for the reach out :)

Sent from my iPhone

On Oct 26, 2015, at 6:45 PM, Nikita Lutsenko <notifications@github.com<mailto:notifications@github.com>> wrote:

Not sure what happened here.
Is it still slow for you?
There is not much that changed in terms of query performance, so I am somewhat skeptical about this.

-
Reply to th

[2015-10-27 08:46] chlebta opened #476 "PFQuery key containedIn array of pointers."
Hello,
I'm trying to run this query
[code]
 But I get no objects always.
**[[Global sharedInstance] currentUserDetails][@"following"]** return an array of _UserPointers.

What's the problem what did I missed there ?

[2015-10-27 12:36] karthikios commented on #448
Hai guys , me too face this same error for ios7
Error Domain=NSCocoaErrorDomain
Code=3840
"The operation couldn’t be completed. (Cocoa error 3840.)"
(JSON text did not start with array or object and option to allow fragments not set.)

Please help me out from this. when 1.9.1 will release?

[2015-10-27 13:01] wavs commented on #448
Already released --> https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/tree/1.9.1
Thanks for this release Parse Team.

[2015-10-27 13:06] onurvarrrr opened #477 "Undefined symbols for architecture ( Parse 1.9.1 - iOS 9.1 - deployment 6.0 )"
![a1](https://cloud.githubusercontent.com/assets/4017312/10758802/4382fd76-7cbc-11e5-8311-230f27b70075.png)
![a2](https://cloud.githubusercontent.com/assets/4017312/10758801/43813c52-7cbc-11e5-9425-fd85ae5535a2.png)

Any idea what's wrong here ?
Maybe related with iOS 6.0 ? Because our project's deployment target is 6.0.

[2015-10-27 13:10] fluidsonic commented on #466
We unset all Pod's `Header Search Path` as a workaround.
This might break some Pods but in our case all Pods work without problems.

**Podfile:**
[code]

[2015-10-27 13:41] karthikios commented on #448
Thanks wavs, updated...

[2015-10-27 15:19] #477 closed

[2015-10-27 16:16] marcinwalus opened #478 "Two different command cacheKey for same query."
Referring to: cacheKey property in PFRESTCommand class

Using this code
[code]
hash for parse command (base on parameters, like "order", "include") may not be the same.

In my example I'm getting two different cache keys depend on iPhone version (5 and earlier vs 5S and later):

iPhone 5 (simulator)
parametersCacheKey = {parameters:{include:"**city.country,organization,city,city.country.language**

[2015-10-27 17:30] nlutsenko commented on #478
@marcinwalus, that sounds about right.
Do you notice if the keys change on the same device?

I wonder why does this matter, since the keys are used for query caching and aren't used anywhere outside of local device.

[2015-10-27 18:24] al-zonke commented on #11
As I understood, problems occurs when you load 2 linked objects in background simultaneously.
After loading they try to traverse through hierarchy and will block themselves.

I have relation Child<->Parent. And try to load several children in background simultaneously.
Here is my call stack (same for several threads)
[code]
On `#17` Child object (child1) locks himself and starts to traverse. On `#

[2015-10-27 18:30] AngeloGiurano opened #479 "fetch and fetchifneeded unavailable in Swift"
fetchIfNeeded and fetch are unavailable in Swift?

[2015-10-27 18:32] nlutsenko commented on #479
They are, but only with 'throws' syntax.
If you still fail to find them - can you paste the PFObjecy generated interface that you see?

[2015-10-27 18:37] AngeloGiurano commented on #479
<img width="862" alt="screenshot 2015-10-27 19 36 01" src="https://cloud.githubusercontent.com/assets/6850571/10768550/0e500718-7ce2-11e5-9233-836242b465a4.png">

This are the methods I find, there are just fetch and fetchIfNeeded with throws can't find the ones which don't throw

[2015-10-27 18:38] nlutsenko commented on #479
As I specified previously - the only ones available on Swift is the ones with throws syntax.
It provides better compile-time guarantees in your code.

[2015-10-27 18:41] AngeloGiurano commented on #479
Yes, I know exactly. The only problem was I had to downcast to PFObject

[2015-10-27 19:02] #479 closed

[2015-10-27 19:35] BananaFudgkins commented on #179
I'm currently working on a watchOS and Apple TV app. The problem is I want Parse to run on both targets but they both have the same pod name. When I try to install the pods even though they're both on different branches CocoaPods warns me that the pods are named the same. Does anyone know how I can use both the tvOS and watchOS pods?

[2015-10-27 20:32] marcinwalus commented on #478
@nlutsenko No, on same device it is always the same.

I think the reason for this is that according to documentation:

And thats why sometimes (in this case due to different platforms 32bit vs 64bit) we are getting parameters in different order. But it probably may happen even on the same platform.

Scenarios? I have two right now two in my mind.
1. When you backup your phone in iTunes and restore

[2015-10-27 20:43] JRam13 opened #482 "A server with the specified hostname could not be found"
This is a sporadic issue (and an old one at that). The problem seems to happen more often when switching between networks. It can happen when on wifi, but this occurs more often on mobile networks.

There have been multiple stackoverflow questions on this, no real solutions. The only known solution to this is restarting the phone. Otherwise, you can never get parse to connect again on that network

[2015-10-27 21:30] bybyron commented on #467
thanks for the response, glad to have helped

[2015-10-27 22:28] JRam13 commented on #482
Update: I have noticed this issue happening since 1.8.x. I have the latest version of the Parse SDK (1.9.1) and this is still a problem.

[2015-10-27 22:37] rossrossp opened #483 "Pinned object has no createdAt"
I have noticed that when I pin a newly created object, its createdAt value is null. I must save the object and then fetch it from the server again in order to see the createdAt value populated.
![screen shot 2015-10-27 at 22 37 23](https://cloud.githubusercontent.com/assets/6325131/10774799/59f30558-7cfb-11e5-967d-2ac8c5f5bac7.png)

[2015-10-27 22:50] nlutsenko commented on #483
This is intended and by design.
`createdAt` designates a date when the object was created on the server.
If you need a client-side createdAt - I would suggest creating your own custom column.

[2015-10-27 22:51] #483 closed

[2015-10-27 22:52] nlutsenko commented on #478
I see...
Yup, those use cases are indeed valid.
(Caches are not backed up/copied though), but the second one makes sense.

Will address this with a PR.

[2015-10-27 23:02] nlutsenko commented on #482
There is not much that changed between these versions in terms of networking between 1.8.x and 1.9.1,
the error description here says that it might be a DNS issue, which is outside of our control, since we rely on NSURL (Foundation/CFNetwork) via NSURLSession to do the networking for us, and if this doesn't work this way, it would mean that this will fail for any general use case against `api.pars

[2015-10-27 23:02] #482 closed

[2015-10-27 23:05] nlutsenko commented on #476
`objectId` is not the same as an array of pointers.
Additionally, `_UserPointer` is different class from `_User` (the latter is the class name used for user pointers).

Try using this snippet:
[code]

[2015-10-27 23:24] #467 closed

[2015-10-28 07:12] JackoPlane commented on #250
When running on a real device. It gets stuck setting the `applicationId` and `clientKey`. Appears to be getting stuck in a loop of some kind of locking - I presume trying to save the `applicationId` to disk? I've attached a screenshot of the stack.

![parse locking](https://cloud.githubusercontent.com/assets/566178/10781868/c8037d2c-7d21-11e5-8536-6c5ce27b2984.png)

[2015-10-28 08:17] waterclock commented on #250
@JackioPlane Great catch! I've been going mad with one App Store rejection after another for my app hanging on launch, which doesn't happen on the Simulator but I have no hardware device to test on. Can we get a fix for this ASAP @nlutsenko?

[2015-10-28 08:30] chlebta commented on #476
Thank's for the help and explenation

[2015-10-28 10:41] #408 closed

[2015-10-28 15:51] ibratanov commented on #250
+1 for the above-mentioned issue

[2015-10-28 15:53] joergbirkhold commented on #250
+1 this is a blocker unfortunately

[2015-10-28 17:36] nlutsenko commented on #250
We do need a test device for this as well, let me see if I can find one.
@JackoPlane can you get us a path of the file its trying to lock onto?

[2015-10-28 17:38] JackoPlane commented on #250
@nlutsenko Sure! I'll be on bitter if live-chat is better to debugging

[2015-10-28 17:42] nlutsenko commented on #476
Hope it helped.
Let me know if there is anything else.

[2015-10-28 17:42] #476 closed

[2015-10-28 19:56] waterclock commented on #250
@JackoPlane @nlutsenko Pulling for you guys. T-minus a few more hours to have a shot at launch-day App Store approval. No pressure though. ;)

[2015-10-28 20:25] #463 closed

[2015-10-28 20:55] MobileVet opened #488 "PFFileCache does not get cleared out by iOS"
We are finding that our application disk usage grows significantly due to the PFFileCache that is stored by Parse.  Our app uploads a log file to the server every 5 min.  There is also another image that is saved numerous times in the cache despite not changing at the client level.  After running for a couple months, the application can take up 8GB of space.

Has a method been provided for flushin

[2015-10-28 20:58] nlutsenko commented on #488
No manual way to clear the cache, but we can easily add it.
~15h/day + 7d/week is probably why iOS is not clearing the cache for the application.
Generally - iOS manages Caches directory automatically and purges it when it pleases (specifically in low disk space conditions).

Will look into easy way to add an API to be able to clear cache for a file.

[2015-10-28 21:02] #478 closed

[2015-10-29 06:59] nimrodYokee opened #493 "Parse 1.9.1 IOS6 support"
I upgraded parse from 1.8.5 to 1.9.1.
Now it looks like it does not support IOS6.
Is there a workaround?

Thank you!

[2015-10-29 08:06] nlutsenko commented on #493
Not really a workaround at this time, we deprecated support for iOS lower than 7.0 for the SDK starting from 1.8.0.
You can still continue to use a version below that (1.7.5), as that one will continue to work on iOS 6.

[2015-10-29 08:07] nlutsenko commented on #493
Out of curiosity, what is your use case for iOS 6?
The amount of people on that version is very very low at this point.

[2015-10-29 08:23] nimrodYokee commented on #493
Nikita, 5% of our user base are using IOS6. This is significant for us.

Thank you,

[2015-10-29 10:34] horseshoe7 commented on #437
I also get this issue periodically and it's hard to tell what causes it.  It just seems like it can randomly occur.  I'm finding debugging the Parse SDK to be indeed very difficult because you can't trace back to the calling context due to all the BFTasks in between, etc.

I'm using a pretty recent SDK, since I only started working with Parse 1-2 weeks ago.

[2015-10-29 13:10] FreudGit commented on #32
@nlutsenko What are the next checkbox to be solved? :)

[2015-10-29 14:25] flamesoft opened #494 "Bitcode problem"
I have tried with both Parse frameworks for iOS v1.9.0 and v1.9.1 in XCode7.1. My project can compile but not archive. The error message is as follows:

ld: bitcode bundle could not be generated because '/Users/xx/Code/yyyy/ParseUI.framework/ParseUI(PFImageView.o)' was built without full bitcode. All object files and libraries for bitcode must be generated from Xcode Archive or Install build for a

[2015-10-29 16:55] levigroker commented on #290
+1

We see this as well.

PFSQLiteDatabase.m line 176
-[PFSQLiteDatabase _executeQueryAsync:withArgumentsInArray:caching
		_ZNSt6vectorI18MDMemoryDescriptorN19google_breakpadPFC_16PageStdAllocatorIS0_EEE13_M_insert_auxEN9__gnu_cxx17__normal_iteratorIPS0_S4_EERKS0_ + 114236
		3   libsystem_platform.dylib            0x000000019b83593c _sigtramp + 52
		4   libsqlite3.dylib                    0x000000

[2015-10-29 18:41] #404 closed

[2015-10-29 19:07] richardjrossiii commented on #290
Quick question: Has anyone seen this crash on any os other than iOS 7?

[2015-10-29 19:10] seanhaufler commented on #290
Yes. Have seen it across iOS 7, 8, 9

[2015-10-29 21:41] #420 closed

[2015-10-29 22:20] richardjrossiii commented on #494
This seems like an issue with ParseUI, would you mind re-opening the issue on that repo?

https://github.com/parseplatform/ParseUI-ios/issues

[2015-10-29 22:20] #494 closed

[2015-10-29 22:31] adonoho opened #495 "Please consider moving to Clang's libc++ instead of GNU's libstdc++6."
Gentle Parse Folk,

As Xcode hasn't used the GNU compilers in several years, please consider moving to Clang's libc++ instead of GNU's libstdc++6. (Having to use the framework's version number in our builds is a good clue that this technology is being left behind.)

Anon,
Andrew

[2015-10-29 22:42] richardjrossiii commented on #495
I agree, for any new project, using libstdc++ is probably a bad choice.

Unfortunately, we currently rely on a stable C++ ABI (which libc++ does not guarantee, nor is it backwards compatible with libstdc++) for the parts in the SDK where we do use C++ (as few as they are).

At some point in the future this may change, but for the immediate future, we still need to keep the older GNU library :(

[2015-10-30 03:17] #297 closed

[2015-10-30 08:55] Perjan commented on #437
The same for me. I have tried it in two apps, one with FB authentication and one without.
Both fire this error log. You have to hard close the app and rerun it again, so you can hope to get logged in.

This bug is killing me, because one time appears, and one time it doesn't. And I am using the latest SDK.
@nlutsenko We need your magic touch :).

[2015-10-30 08:56] horseshoe7 commented on #437
yes, seriously.  This has basically torpedoed my client’s project.

Can we get any insight into why it happens??

On Friday 30 October 2015 at 09:55, Perjan Duro wrote:

[2015-10-30 09:48] Perjan commented on #437
Just right now I got this error, when I tried to edit a property in a PFUser logged from a FB account.

[Error]: Caught "NSInternalInconsistencyException" with reason "User cannot be saved unless they have been authenticated via logIn or signUp":

[2015-10-30 09:55] horseshoe7 commented on #437
For me it just continues to carry on working, but I’m unsure as to what’s happened.  I don’t get invalid session token errors or anything like that.

On Friday 30 October 2015 at 10:48, Perjan Duro wrote:

[2015-10-30 15:02] Nitewriter commented on #444
I'm also experiencing this issue. Triggered a couple dozen test crashes per the example yesterday. None of them are making it to the Parse admin portal.

[2015-10-30 15:24] horseshoe7 commented on #437
I updated to Parse v 1.9.1 .  So far so good...

[2015-10-30 15:36] alechoward commented on #280
@nlutsenko I'm also on swift 7.0. Still receiving the error after changing from Anyobject to PFObject. Did you find a solution

[2015-10-30 15:43] nlutsenko commented on #280
Unfortunately, these swift compiler crashes are very hard to track down and I wish we could have fixed them from our end, but it's a compiler crash after all, so not really feasible.

From what I've seen so far - these are likely caused by generic type mismatch on object collections.
I would look for all usages of our SDK where there is an Array or Dictionary set as argument/return type. Then try

[2015-10-30 17:27] adonoho commented on #495
It sounds like you know this will hurt your framework eventually. The logic you use above pays more interest on your technical debt. I'm just a Parse developer but I will be asked to pay that debt some day with some odd interaction between Parse and my apps. I would rather it not be due to some little used downlevel library in your framework. Allow me to encourage you to finish the move to the mod

[2015-10-30 19:41] #426 closed

[2015-10-31 03:05] mrFranklin commented on #493
Could you support iOS 6 again?
our develpoing game must support the iOS6 at this time.
if I use 1.7.5, it looks like not suppot iOS9.

[2015-10-31 03:06] mrFranklin opened #496 "Could Parse support iOS6?"
Could Parse support iOS 6 again?
our develpoing app(a game) must support the iOS6 now.
if I use 1.7.5, it looks like not suppot iOS9.

[2015-10-31 03:23] mrFranklin opened #497 "Duplicate symbol is Parse 1.9.1"
I add Parse.framework and Bolts.framework to my project. My project is using the -ObjC linker flag and I had add all the framewoks(including Accounts.framewrok and Social.framework)
my develop environment is: xcode6.1, iOS7.0
when compling in arm64, it shows the link error below:

duplicate symbol l014 in:
/Users/franklin/Documents/git/Aonesdk/samples/ios/proj_parse2/Bolts.framework/Bolts(BFAppLin

[2015-10-31 04:37] nlutsenko commented on #496
Closing as duplicate of #493.

[2015-10-31 04:39] nlutsenko commented on #493
I'll look into what will it take for us to support iOS 6.
No guarantees at this point, but will definitely look into this.

[2015-10-31 05:13] miyagawaisao opened #498 "Relations query is not working correctly"
Relations query is not working correctly.
Moreover, it occurred after about October 22.

-------------------------
For example,
PFQuery * query = [PFQuery queryWithClassName: @ "sample"];
[Query includeKey: @ "user"];
PFQuery * user = [PFQuery queryWithClassName: @ "_ User"];
[User whereKey: @ "logoutFlag" notEqualTo:YES];
[Query whereKey: @ "user" matchesQuery: user];
-------------------------

I

[2015-10-31 15:37] kevflynn opened #499 "Messages not returning from lcoal"
Chat view contorller - messages query never returns messages from local (unless you send it and then go into local)

[2015-10-31 15:38] #499 closed

[2015-10-31 23:59] #498 closed

[2015-11-01 00:01] miyagawaisao commented on #498
I think that limit 1000 is the cause.
I think that it is trying to improve with the investigation.

[2015-11-01 01:22] Xotic1 opened #500 "[PFUser currentUsers] returns nil in nested loop"
Hi,

I'm seeing a strange issue that's got me a bit puzzled.  I'm implementing the emailVerified feature, where upon login, I check to see if this property is set to true or false, and if it's false, I pop up an alert view (another Github project - PXAlertView), with two buttons:

"Ok" - just dismisses the popup and logs the user out
"Resend verification email" - send another email to the user wit

[2015-11-01 01:37] Xotic1 commented on #500
Literally few minutes after I posted it, I figured it out. I was explicitly loggin the user out, which was happening before the completion code could run (instead, the solution is to move the logout code to else part of if (!cancelled), so that the user is logged out when they simply dismiss the alert view.

[2015-11-01 01:37] #500 closed

[2015-11-02 04:00] nlutsenko commented on #500
Glad you found the solution!

[2015-11-02 04:12] nlutsenko commented on #444
Hey guys, sorry for a late reply on this.
If you are still experiencing problems with this, here are the 2 steps I would recommend:
- Double check the console log after the crash happens when running in debug mode (please note the crash won't be captured if the debugger is attached).
- If there are no errors in the console log - it means that the crash reports where successfully sent to the server

[2015-11-02 04:32] nlutsenko commented on #497
Hey @mrFranklin, since Xcode 6.1 was released over a year ago (Oct 20, 2014), I would love to test on that version, but I am afraid it is not going to work.
Any chance you can update to at least Xcode 6.4 and retest the project?

[2015-11-02 04:32] #496 closed

[2015-11-02 13:29] horseshoe7 commented on #437
I have seen this again, but I'm wondering if it's because it's an async API and I had set a breakpoint.  Anyhow, the problem is much less running 1.9.1 !!

[2015-11-02 23:12] grantkemp commented on #60
Any idea when this will be fixed?

[2015-11-02 23:49] nlutsenko commented on #60
@grantkemp, this issue is closed and is considered fixed.
If you are still experiencing any problems - I would suggest opening a new issue.

[2015-11-03 01:25] pbush25 opened #501 "Parse Crash Reporting Not Working"
I am trying to add Parse crash reporting to my project. I have added the modules necessary for this to work in my existing project yet I never get any crash reports in my dashboard. So I started a blank project to see if this issue was local to my project and I came upon the same issue, with crash reports not ending up in my dashboard. I can provide a link on Dropbox for my sample project that doe

[2015-11-03 02:41] anoopnimkar opened #502 "Tweet Reply after link using PFTwitterUtils"
I am using PFTwitterUtils connect functionality for linking Twitter accounts with Parse user. When trying to compose reply to tweet, it some times gives error -1012. I am using Twitter RestAPIs for Reply, Favorite, Retweet and PFTwitterUtils sign request method to sign the NSMutableURLRequest.
(**Twitter app has correct write permissions and it works some times without any issues)

Am I missing on

[2015-11-03 10:02] modiodio opened #504 "PFInternalUtils.m Crash !"
Hello,

I want to report a bug
I am using the the jsqmessagesviewcontroller and parse library
When I swip to bottom to hide the keybord the application crash. It happend only when there are No messages in the UICollectionView.

LOG ERROR

0x1002d9828 <+344>: b 0x1002d9834 ; <+356> at PFInternalUtils.m:381
(lldb) !

Do you have an idea ?
Thanks for yout response

[2015-11-03 11:37] ako2009 commented on #459
Hello,

I added a bug for the backend team -
https://developers.facebook.com/bugs/1045853882115643/

Thank you,
Andrew

On Mon, Nov 2, 2015 at 12:58 AM, Parse Community Bot <
notifications@github.com> wrote:

[2015-11-03 11:58] narendra117 opened #505 "Parse Local DB issue on iOS app Launch"
I am using parse local data store and querying data from local store. It works well when app install and when i came back to app and try to get data from local datastore it takes very long time for first time of each launch.
This is the call for query local DB,

    PFQuery *userDetailsQuery=[PFQuery queryWithClassName:@"_User"];
    [userDetailsQuery whereKey:@"objectId" containedIn:familyArray];

[2015-11-03 13:11] oskarl commented on #505
Yes, I had this problem too. I ended up just using CoreData for the local storage part of my app because Parse's local datastore is way too slow.

[2015-11-03 17:40] adammlevy opened #506 "Can no longer use PFGeoPoint for fetching locations while app is backgrounded"
iOS 9 now requires apps which are fetching location in the background to enable allowsBackgroundLocationUpdates however this API is not exposed in the Parse API. What is the correct way to perform location updates while the app is backgrounded with the Parse API?

[2015-11-03 17:56] richardjrossiii commented on #504
`PFInternalUtils` has never had 381 lines in its existence, so I think you're probably looking in the wrong place. Try doing `thread bt all` in the lldb console and post the output of that, and maybe we can help more.

[2015-11-03 17:57] richardjrossiii commented on #505
Duplicate of #32.

[2015-11-03 17:57] #505 closed

[2015-11-03 18:02] richardjrossiii commented on #506
Essentially, as long as you set `NSLocationAlwaysUsageDescription` instead of `NSLocationWhenInUseUsageDescription`, we should allow tracking background location updates without requiring any code changes.

We probably should document this better...

See [here](https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/blob/master/Parse/Internal/PFLocationManager.m#L117-L125) for the code that implements

[2015-11-03 18:44] adammlevy commented on #506
This code only shows setting the authorization status.  Apps built with iOS 9 must set allowsBackgroundLocationUpdates to YES every time the location manager will be used for fetching a location while the app is backgrounded. Am I missing something or is allowsBackgroundLocationUpdates  actually being set?   [Doc](https://developer.apple.com/library/ios/documentation/CoreLocation/Reference/CLLocat

[2015-11-03 18:51] nlutsenko commented on #501
Duplicate of #444

[2015-11-03 18:51] #501 closed

[2015-11-03 18:55] nlutsenko commented on #506
@adammlevy, looks like you are right, we don't expose the ability to set this property on a CLLocationManager that we are using.
Since we don't expose any other location manager APIs other than simply getting a geo point for current location - I would suggest using your own custom CLLocationManager to have that precise control, then you can always construct a PFGeoPoint from a CLLocation by using

[2015-11-03 20:19] antoniocasero commented on #250
Hi all,

I'm using this branch, and everything works well on the simulator, but not on device. My model is using  **PFSubclassing**, and the block completion from **-findObjectsInBackgroundWithBlock** is never called.
Any suggestion? Thx

[2015-11-03 20:22] waterclock commented on #250
Yep, I'm in the same boat. We're all waiting for @nlutsenko to finish his testing and submit a functional build that works on the device. Till then, we're all kinda dead in the water unless you want to dive into the Parse code and start bailing water yourself...

[2015-11-03 22:23] rrroni commented on #250
Hey, thanks for all the work and documentation!

Is this tvOS build meant for projects that only run tvOS?  How do you use this SDK for a project that has both iOS and tvOS targets?

My project has two targets: iOS and tvOS.  The iOS target uses the Parse pod (pod 'Parse').  I get tons of compiling errors when having this installed on both targets:
pod 'Parse', :git => 'git@github.com:ParsePlatfor

[2015-11-03 22:36] BananaFudgkins commented on #250
@rrroni yeah I'm having this same problem. For my iOS target I'm using the frameworks I downloaded and then the pod for my tvOS one.

[2015-11-03 22:45] adammlevy commented on #506
Sounds good. Thanks for the response.

[2015-11-03 22:54] usmantanveer opened #508 "Interactive Push Notification NOT displaying Actions"
It seems as if in iOS 9, the interactive (remote) push notifications cannot seem to display actions although the configuration is correct and the categories are being assigned when registering UserNotificationSettings and the key "category" is being passed in the notification payload with the correct identifier. I have tried with numerous code samples on the internet but to no avail. Please help.

[2015-11-03 23:07] rrroni commented on #250
@BananaFudgkins thanks! Do both of your targets build with this setup? (also you have the best username ever :)

[2015-11-03 23:28] BananaFudgkins commented on #250
@rrroni yes both of my targets can build without error. I just had to use the pod in my tvOS target and I downloaded the Parse frameworks from their website and used them in my iOS target.

[2015-11-04 00:16] rrroni commented on #250
Thank you so much, @BananaFudgkins!  It worked for me, too.

[2015-11-04 00:57] kevflynn commented on #32
Are there any updates with this - just want to prepare since it's really killing the performance of my app.

[2015-11-04 01:06] richardjrossiii commented on #32
@kevflynn Mutable containers is getting removed in the next major release of the SDK, and that should provide a noticeable speedup for most cases.

Internally, the team has discussed other improvements, but it's going to be extremely difficult to actually implement most of them in practice due to backwards compatibility concerns.

Of course, we always accept community feedback on features like thi

[2015-11-04 01:49] stoutj commented on #32
@richardross will this be in the next release for both ios and android?  Is
there a thread for lds  performance problems on Android?
On Nov 3, 2015 8:06 PM, "Richard Ross" <notifications@github.com> wrote:

[2015-11-04 01:57] richardjrossiii commented on #32
@stoutj I'm not sure about the timeline for android's removal of mutable containers, but the PR is open here:

https://github.com/ParsePlatform/Parse-SDK-Android/pull/108

I would ask on that PR for an ETA on shipping.

[2015-11-04 02:06] stoutj commented on #32
Thanks!
On Nov 3, 2015 8:58 PM, "Richard Ross" <notifications@github.com> wrote:

[2015-11-04 08:23] antoniocasero commented on #250
Thanks for the update! @waterclock.

[2015-11-04 08:41] #432 closed

[2015-11-04 13:12] FreudGit commented on #32
Update LDS database schema to allow for query matching in the database layer itself.

This one look like a great candidate to get 90% faster query.

[2015-11-04 13:41] thecritic commented on #466
@cbot +1

[2015-11-04 16:47] markdStreetline commented on #290
Yes we see this on all iOS versions up to iOS 9.1.  Our app has gone live and we are seeing this crash quite often now.  Here's a stack trace of all threads

0	libsqlite3.dylib 0x0000000199e1df58 sqlite3_get_table + 9092
1	libsqlite3.dylib 0x0000000199df3bb0 sqlite3_log + 5844
2	libsqlite3.dylib 0x0000000199e66fd4 sqlite3_intarray_bind + 84544
3	libsqlite3.dylib 0x0000000199dd8c20 sqlite3_exec + 1

[2015-11-04 17:50] acegreen commented on #153
@nlutsenko I still get the crash

[2015-11-04 18:07] nlutsenko commented on #153
@acegreen can you open the issue on the ParseTwitterUtils repo with more details?
Please double check the callback url and Twitter keys, as was noted before - this is the reason for the crash here.

[2015-11-04 18:09] acegreen commented on #153
Yes callback url isn't present on web login so this is expected but the crash is not. I thought we were going to safe guard against that?

Will open a ticker on the other side.

[2015-11-04 19:26] richardjrossiii commented on #32
@FreudGit Unfortunately, such a change has HUGE backwards compatibility issues, and likely isn't coming any time soon ;(

[2015-11-04 19:54] FreudGit commented on #32
@richardjrossiii Even if you convert DB at first usage?

[2015-11-04 19:56] richardjrossiii commented on #32
@FreudGit that solution is going to be way too slow for people with huge amounts of objects in their database, plus maintaining migration scripts is a major pain, and something we'd like to avoid.

[2015-11-04 20:20] FreudGit commented on #32
@richardjrossiii Yes, and no.  Conversion can be "in background" (except if\when they are a query, no choice to force on priority thread).  You got a point, no real other choice with minimal code impact.
Your DB schema was very simple, should not take long to convert.
You can also try this solution by converting only one field and see the impact.

Just my 2 cents.  Continue you excellent work.

[2015-11-04 20:22] FreudGit commented on #32
@richardjrossiii And, to be honest, converting a large Db can be even faster than the time it take at this time for a query! (3 sec to get 5 row).

[2015-11-04 20:26] richardjrossiii commented on #32
@FreudGit There's a lot more to it than that. Any conversion would have to be atomic, as leaving the database in an invalid state would be terrible, and SQLite transactions perform horribly as you have large amounts of tables/rows being created.

Our DB schema is simple, yes, but to flatten out into a different table structure it requires an additional query per-row to fetch the list of columns, a

[2015-11-04 20:30] FreudGit commented on #32
@richardjrossiii Thanks for the update.  Let's see the performance gain in 1.10.x, maybe i'll came back after.

Please release. :)

Have a nice day.

[2015-11-04 23:23] acegreen commented on #153
@nlutsenko on a side note, did you receive my email? Sent it to your fb account

[2015-11-05 14:46] mrFranklin commented on #497
ok!
I updated the OSX system and the Xcode version. The mistake was missing!
thank you very much!

[2015-11-05 14:46] #497 closed

[2015-11-05 15:17] lukenewman opened #517 "ProtectedMemoryLocker Assertion Failure"
I added Parse Crash Reporting in my app, and it randomly throws this error on startup:

[code]

I've searched on SO, Parse Bugs, and Google to no avail.

`/Users/nlutsenko` is not me.

This doesn't happen after each crash, which is when I would expect Parse Crash Reporting code to be executed.

Any ideas?

[2015-11-05 15:47] nlutsenko commented on #517
`/Users/nlutsenko` is me :grin:
Ok, this sounds quite bad...
Any chance you can add a full stack trace for this?
Things like `thread bt all` in lldb console and paste the output here would be super helpful.

[2015-11-05 15:49] nlutsenko commented on #497
Glad it worked!

[2015-11-05 16:06] lukenewman commented on #517
Here you go:

[code]

[2015-11-05 18:03] sensiblecocoa commented on #59
The instructions are missing that you should also add 'FBSDKLoginKit.framework' to your project, which is why you're getting these errors. Hope this helps.

[2015-11-05 18:41] craiggrummitt opened #518 "Apparent caching issue with Array of Custom Objects stored in Custom Object"
There seems to be some sort of caching issue with an Array of Custom Objects. I have included a link to a bare bones example of this problem. Let me describe the bare bones app, then the issue:

App:
Simple chat app with one channel, only functionality is displaying all messages, and add message. I have a custom class 'Message' and 'Chat' (which stores an array of Messages). Messages are displayed

[2015-11-05 20:41] #445 closed

[2015-11-05 20:42] danmunoz commented on #107
@dailenspencer Hey so did you fixed your code? I'm having the exact same issue since I have a TableView too and I'm trying to enable push notifications too, Thanks!

[2015-11-05 20:45] richardjrossiii commented on #518
Thanks for the detailed report. This *may* be related to mutable containers, see #102. That feature is getting removed in the next release of the SDK.

I'll investigate further however, and see if I can't figure this one out.

[2015-11-05 20:54] craiggrummitt commented on #518
Thanks @richardjrossiii , even a workaround would be great.

[2015-11-05 21:48] richardjrossiii commented on #518
Confirmed that this no longer happens with the mutable containers fix in place. As a workaround until the next SDK release is out, please ensure that using latest master fixes this for you.

Thanks for the concise, reproducible report & sample project too!

[2015-11-05 21:48] #518 closed

[2015-11-05 22:11] BananaFudgkins commented on #179
UPDATE: I fixed this problem by moving my tvOS target out of my workspace and creating a new project for it. Now there are just the iOS and watchOS targets which I can use.

[2015-11-06 10:54] contention commented on #32
Is there a rough timescale for a 1.10 release?

I'm almost ready to go with a client app that is currently wholly reliant on Parse. Central to the app is an LDS query that grabs ONLY around 15 pinned objects from the local store.

These objects are fairly small (~10 columns... all relatively lightweight text fields, plus a couple of pointers and a GeoPoint).

This query was reasonably performant w

[2015-11-06 11:28] nlutsenko commented on #32
1.10 is going to ship next week, probably close to the end of it.

[2015-11-06 11:54] contention commented on #32
@nlutsenko Ok - I think I can live with that. Just. Thanks! :o)

[2015-11-06 13:55] nlutsenko commented on #250
Hey guys, I just pushed the updated version to `nlutsenko.tvos.podtest` branch.
It should include the proper storage for tvOS of all the things that we care most about.
Let me know how it goes for you guys.

cc @waterclock

[2015-11-06 15:50] craiggrummitt commented on #518
Thanks @richardjrossiii , I'm back now after falling down a rabbit hole of disabling System Integrity Protection so I could install bundle so I could compile the framework so I could test the framework compiled from the master branch in my test code, and it works!

When integrating it with my actual project I found apparent incompatibilities between the Parse framework and ParseFacebookUtilsV4 - i

[2015-11-06 15:51] nlutsenko commented on #518
@craiggrummitt Yup, that solution works great. Current master of ParseFacebookUtilsV4 has it removed, so it's no longer needed and will be included in the next release.

[2015-11-06 15:56] craiggrummitt commented on #518
Great! Thanks for the reply @nlutsenko

[2015-11-06 17:07] waterclock commented on #250
@nlutsenko It works!!! Thank you!! Have tested login, account creation, password recovery, queries, relation queries, PFObject creation, all good.

One issue I've seen that's broken is [PFUser logOut], which hangs at the notorious waitForResult:withMainThreadWarning: call in BFTask+Private.m

Another is that the currentUser authentication appears to go away after the app quits, requiring another l

[2015-11-06 18:41] #461 closed

[2015-11-06 18:42] henriquegemignani commented on #451
Has there been any kind of progress on this?

[2015-11-06 19:12] zqazi114 opened #525 "Remote Notifications Request not called"
Hello. I am developing an application which uses Parse for user database services and to implement a messaging protocol. The application is built on iOS.

I have come across an odd problem. One of my developer devices no longer prompts the user to 'Receive Remote Notifications'. I have the application set up such that every time a user logs in or signs up, I check whether they have granted remote

[2015-11-07 00:01] RVijay007 commented on #250
So exactly how do I get Parse to compile for tvOS? I downloaded the branch, switched to the 'nlutsenko.tvos.podtest' branch, ran submodule update --init --recursive, and hit compile on the Parse tvOS scheme, but it is telling me that it cannot find Bolts header files. Am I missing something?

[2015-11-07 00:05] waterclock commented on #250
@RVijay007 Follow typical CocoaPods install pattern. Set up your Podfile. Run pod install.

My Podfile looks like this, and works great:
[code]

[2015-11-07 05:27] ankurarora opened #526 "Symbol not found: _OBJC_CLASS_$_PFACL"
I was using Parse with iOS 8.4 and Xcode 6.4 successfully. The parse version which I was using 1.7.5. Recently, I have updated my pods to latest and parse version is now 1.9.1 and also project settings to compile for 9.1. Secondly, I am using Xcode 7 now.

Everything compiles good and build is successful. However, when I am trying to run the application I get below error.

dyld: Symbol not found:

[2015-11-07 09:22] nlutsenko commented on #526
Hey @ankurarora, looks like you are integrating Parse SDK as a dynamic framework via CocoaPods.
Could you double check if the framework generated by CocoaPods did properly integrate with your end application? The first version that was opensource is 1.8.0, meaning that know everything compiles from source when you build your application (Parse SDK including), and it might have affected the install

[2015-11-07 09:26] nlutsenko commented on #525
Hey @zqazi114, `UIApplication.registerForRemoteNotifications()` call should register for remote notifications and you'll get a callback in your app delegate regardless of whether the user agreed to receive notifications previously or not (regardless of the setting caching).

Push notifications registration on iOS happens in system frameworks, since the delivery is handled by the system, so caching

[2015-11-07 13:38] NasirMalik opened #527 "Parse getting Logout when application updated"
I am using latest Parse iOS SDK installed via cocoapods. Also my app have new revoke-able sessions activated by Default. When I update application to a newer version and download via TestFlight, on running application for first time application is logged out.

<img width="1067" alt="screen shot 2015-11-07 at 6 03 17 pm" src="https://cloud.githubusercontent.com/assets/3906649/11015376/ad1f8946-857e

[2015-11-07 19:38] hilalh commented on #527
Same issue

[2015-11-07 21:20] RVijay007 commented on #250
Thanks @waterclock. I ended up just building Bolts myself and dragging into the project linked libraries as I don't use CocoaPods.

[2015-11-07 21:23] waterclock commented on #250
@RVijay007 Yep, I did that for a while too but it was all evolving so rapidly that I got on the CocoaPods bandwagon, and that eliminated a lot of headaches.

[2015-11-08 07:46] ankurarora commented on #526
Hey @nlutsenko , Thanks for the response. I investigated little more on this and found that earlier version was able to run without [Parse enableLocalDatastore] however with newer version the moment I put that extra line of code the app is running perfectly. Though there are not errors while compiling the app in both cases. If it is mandatory to enable local datastore then I think having a meaning

[2015-11-08 07:59] ankurarora commented on #526
Hey @nlutsenko , I investigated further and found that earlier version was able to run without [Parse enableLocalDatastore] however with newer version the moment I put that extra line of code the app is running perfectly. Though there are no errors while compiling the app in both cases.

I think it should be handled greacefully if enabling local datastore is mandatory.

Thanks for helping, the pro

[2015-11-08 08:49] nlutsenko commented on #527
Do you guys experience this only with TestFlight and not say if you run your app via Xcode?
This sounds strange, but I am confident we are going to get to the source of this behavior.

[2015-11-08 08:51] nlutsenko commented on #526
Sounds super strange and definitely not something we intetfully enforced.
Any chance you can add a retro project to this?

[2015-11-08 12:37] deada92 commented on #301
@nlutsenko is there anything new that you can tell me?

I feel like its a definition problem. I would like to have some queries to having the caching workflow but with the features of the LDS.

[2015-11-08 13:47] frangulyan opened #528 "PFFile raises exception when getting data from caches"
I'm getting this crash from time to time on app startup when trying to fetch user's profile image:

2015-11-08 13:23:15.088 MyApp[7219:471946] [Error]: Caught "NSInvalidArgumentException" with reason "*** -[_NSPlaceholderData initWithContentsOfFile:options:error:]: nil file argument":
(
	0   CoreFoundation                      0x0000000110a07f45 __exceptionPreprocess + 165
	1   libobjc.A.dylib

[2015-11-08 14:21] nlutsenko commented on #528
Super strange and shouldn't happen.
I'll try to look into it, but overall - it should be definitely there or simply redownloaded.
Any chance you can post the stack trace for all threads of the app the moment it crashes?
Or better - whilst debugger is attached - post a file path of the file its trying to get the file from.
Also, are you trying to get the file path for the file that was saved to Par

[2015-11-08 15:43] FreudGit commented on #527
Same

On Sunday, November 8, 2015, Parse Community Bot <notifications@github.com>
wrote:

[2015-11-08 15:54] ankurarora commented on #526
Yes I can try to do a retro project but give me some time plz

[2015-11-08 16:48] NasirMalik commented on #527
Yes and this issue is reproducible. This one last time I have not got this. Otherwise every-time I am facing same issue.

[2015-11-08 16:51] nlutsenko commented on #527
Does it happen on latest master or on 1.9.1?
Guys, can someone please attach a repro project or code snippet? I'll fix it right away then.

On Nov 8, 2015, at 5:48 PM, NasirMahmood <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes and this issue is reproducible. This one last time I have not got this. Otherwise every-time I am facing same issue.

—
Reply to this email directl

[2015-11-08 17:03] nlutsenko commented on #527
@FreudGit for you, the issue is only on TestFlight as well, right?

[2015-11-08 17:08] FreudGit commented on #527
Maybe related:

Also,

'PFUser *myUser= [PFUser currentUser];  / Was ok(not nil)
'     if ([FBSDKAccessToken currentAccessToken])   // was true

' bool bGranted_publish_actions=[[FBSDKAccessToken currentAccessToken] hasGranted:@"publish_actions"];  // report FALSE

After, I call this, and get the "Already autorized..." screen.
'  [PFFacebookUtils linkUserInBackground:[PFUser currentUser] withPubli

[2015-11-08 17:10] FreudGit commented on #527
Yes, i'm using TestFlight and get this problem

[2015-11-08 17:11] nlutsenko commented on #527
Does it reproduce if you use a debugger/via App Store or only via TestFlight?
I am trying to understand on the potential reasons this happens.

[2015-11-08 17:12] nlutsenko commented on #527
In terms of code above - didn't quite get you, any chance you can highlight what you are trying to do and what is the end result?

[2015-11-08 17:14] NasirMalik commented on #527
With debugger if I install a newer build number version it does-not happen. But if you run application with a larger build number on a TestFlight installed version for first time it happens. As per my assumption this thing has to do something with these new revokeable sessions but I am not sure.

[2015-11-08 17:15] FreudGit commented on #527
In terms of code above - didn't quite get you, any chance you can highlight what you are trying to do and what is the end result?

== sorry, i've move previous code to the facebook side.  I don't want to mix things.

[2015-11-08 17:15] nlutsenko commented on #527
Huh. Do you get the nil currentUser locally?
 Or simply every request reports unauthorized user.

[2015-11-08 17:19] NasirMalik commented on #527
In my case if I intall application in  my RootViewController i check if ![PFUser currentUser] I move to login flow otherwise redirect application to Dashboard, every-time its getting to login glow. It means [PFUser currentUser] is nil. It doen't say anything like unauthorized user. At that time there is simply no current user.

[2015-11-08 17:22] nlutsenko commented on #527
Ok, great. We are getting somewhere...
This means it's completely not related to revocable sessions, since revolution happens only on the server.
@NasirMalik any chance you are using different app ids between TestFlight builds? The question about production and debug builds still stands.

[2015-11-08 17:25] NasirMalik commented on #527
Yea. You got it. For me that is the issue.

[2015-11-08 17:26] nlutsenko commented on #527
:( I am getting rusty here.
Can you be more explicit when you are referring to 'yes, this is the issue'?
:grin:

[2015-11-08 17:29] NasirMalik commented on #527
I have a live version installed with production application. Then I created another application with debug keys and sent a test flight update. That logs me out. Next time I was all set for release so I again pushed a Production app. So this again happened. Same happened with my fellows thus reproductions make me feel sure that there is issue.

[2015-11-08 17:36] NasirMalik commented on #527
For the record: If you use different apps for LIVE and TEST modes this issue will always occur when someone switch.

[2015-11-08 18:05] nlutsenko commented on #527
Aha! Phew, I thought there is something bigger here.
The change of applicationId intentionally resets the contents of the local data folder.
The biggest reason - the data between different apps is not compatible, since objectIds are not the same, plus there is no way you can guarantee client-server data consistency between different Parse apps.

[2015-11-09 00:06] iosdev-republicofapps opened #529 "PFUser currentUser returns nil then non-nil without intervening login or logout"
Hi,

I have code that does something like the following
[code]

Any ideas why this is happening?

Note that between the two calls to `[PFUser currentUser]` I am not doing any kind of login or logout of any kind.  I don't have any odd automatic or lazy login or anonymous users.

Since `currentUser` is not a property, I can't even KVO it.  So I'm not sure how to handle this.  Why is this happening?

[2015-11-09 00:13] iosdev-republicofapps commented on #529
Note that the issue persists in the latest version 3.2.  I am on Mac OS X 10.10.5 using Xcode Version 7.1 (7B91b).

[2015-11-09 03:11] kengleong opened #530 "appVersion in installation table for iOS is wrong"
where does parse get the appVersion value in the installation table?
Shouldn't it be from TARGETS > MyApp > General > Identity > Version ?

[2015-11-09 04:38] benjaminhallock commented on #401
I'd say your getting nil because the user is not logged in. Make sure your checking for a current user before using it. You claim to call subclassing before localDataStore, but the code shows it after. You shouldn't need to override any functions that don't alter the original class. Without knowing where your application is breaking its hard to tell what's wrong. Otherwise Samuel can contact me if

[2015-11-09 06:43] jonesbasf commented on #243
All - please excuse the newbie question here, but I think I am having the same issue. I am fairly certain I am on iOS SDK 1.9.1 via cocoapod (although new to cocoapods as well, so who knows...) and getting a crash when trying to do the following:

[PFCloud callFunctionInBackground:@"sendEventPush"
                           withParameters:@{@"sendType":@"firstView`",@"username":[[PFUser currentUse

[2015-11-09 07:31] nlutsenko commented on #530
The appVersion field on the client is populated from `CFBundleVersion` key in your Info.plist aka `General -> Identity -> Build`.
This is done, as "Version"(CFBundleShortVersionString) stands for user-visible version, whilst build number is usually used for debugging/analyzing. This is also inline with Apple guidelines for usage of these versions.

Example:
- You start developing version 1.0, so `

[2015-11-09 07:31] #530 closed

[2015-11-09 13:47] nlutsenko commented on #437
Hey guys, I've looked further into this error, and it looks to be a bug in the Security framework itself.
It's been discussed and acknowledged by Apple here - https://forums.developer.apple.com/thread/4743#14441

Is anyone getting any other error except of `-34018`?

[2015-11-09 15:14] chlebta commented on #466
I got same issue how to fix it please ?

[2015-11-09 18:41] #464 closed

[2015-11-10 02:29] lifeisfunny opened #533 "parse iOS 1.9.0 IncludeKey not working"
includeKey stopped working on parse since i update from 1.8.5 to 1.9.1  ,  I tried 1.9.0  as well but there are not return object from include key

[2015-11-10 02:35] lifeisfunny commented on #533
just double check my log and yet appear that include key are not getting any data back  from the key which in my case are pointer to user

[2015-11-10 08:29] chlebta commented on #466
@fluidsonic trying to use your pull request for both parse and bolts I get that annoying issue at
[code]
The same issue at line 2 of Parse+Bolts.h file

[2015-11-10 12:11] fluidsonic commented on #466
@chlebta What is the issue?
I would use the Podfile workaround for now as it is more reliable.

[2015-11-10 13:10] chlebta commented on #466
@fluidsonic  I've tried the workaround but I get this issue `include of non-modular header inside framework module 'Parse.FileName'

[2015-11-10 14:08] fluidsonic commented on #466
When you use [this workaround](#issuecomment-151489918) and run `pod update` then the non-modular header error should no longer occur. If it still occurs it's possible that the `post_install` hook in your Podfile is replaced by another `post_install` hook.

[2015-11-10 15:32] revolter commented on #179
I'm getting a `File not found` error for `#import "Parse/Parse.h"` on the watch app extension. Are there other project configuration needed for this to work?

This is my podfile:

	source 'https://github.com/CocoaPods/Specs.git'
	platform :ios, '7.0'
	pod 'AFNetworking', '~> 2.5'
	pod 'FGTranslator'
	pod 'Parse', :git => 'https://github.com/ParsePlatform/Parse-SDK-iOS-OSX.git', :branch => 'nlutsen

[2015-11-10 17:17] maurovc opened #534 "The object is too large (Code: 116, Version: 1.9.1)"
When I try to save a custom PFObject to Parse I get the following:

The object is too large -- should be less than 128 kB. (Code: 116, Version: 1.9.1)

I've found this problem before but I think that this time the object isn't that big. I used a breakpoint to inspect the object and this is what I got:

<img width="857" alt="ordererror" src="https://cloud.githubusercontent.com/assets/10012427/11069

[2015-11-10 17:22] mtsanford opened #535 "Pinning PFObject with pointer corrupts local datastore"
Tested on version 1.9.1.   If an object C1 pointing to P1 is pinned (and not saved), then an object C2 pointing to P2 is pinned, P1 is corrupted in the datastore.  This seems to be the minimum condition to reproduce:

[code]

The query fails with this error:

[code]

Looking at the sqlite database, it is apparent that the data has been corrupted (nulled out), which results in queries on the corrup

[2015-11-10 18:53] Mmarzex commented on #250
I'm not sure if this is a known problem with tvOS support but I added Parse into my tvOS project, Parse worked when using the simulator but when testing on an actual device no Parse methods would be called, just be completed skipped over. Didn't know if anyone else was having this problem.

[2015-11-10 19:53] mtsanford commented on #535
digging a little deeper, it appears that first pin is not even done correctly, and that the bug is in pinning objects with pointers.   After just saving a single Comment pointing to a Post, the sqlite database contains this data:

[code]

The second pin (7A2C3F1F...) appears to include the Comment (8F91E10D...) in it's list of objects, but *not* the Post it points to (9DD18DC7...)

In the document

[2015-11-10 20:39] richardjrossiii commented on #535
This seems related to #239, though I don't have the slightest clue what could be causing this.

LocalDataStore is a very complex beast. and it's very possible there exists a pointer encoding bug there. I'll look into it.

[2015-11-10 20:42] richardjrossiii commented on #533
For the record - `-includeKey:` does not work with queries from local data store. So if you're making a query with `-includeKey:` to LocalDataStore, it will always return no objects (Note to self: fix that).

If you're having an issue when fetching from the server, please file a bug instead with the backend team over at http://parse.com/help.

Otherwise, you're going to have to be much more specif

[2015-11-10 20:58] richardjrossiii commented on #529
This doesn't sound possible (though I've seen stranger bugs before). Are you sure you don't have anonymous users anywhere?

I would strongly suggest placing a symbolic breakpoint in `-[PFCurrentUserController saveCurrentObjectAsync:]`, as that should always be called when `[PFUser currentUser]` is updated.

If this is reproducible, and you can extract the reproducible parts into a smaller project,

[2015-11-10 21:02] lifeisfunny commented on #533
its querytable view controller.    On the query for table , when I adding include key on the pointer value which at this point is a user pointer ,  but the return object has nothing related to user object.

[2015-11-10 21:03] lifeisfunny commented on #533
Ya. It is a backend issue I think.   Thank for pointing the way , instead sharing the issue with your team.

[2015-11-10 21:07] richardjrossiii commented on #533
Sounds good. Feel free to re-open this issue if the problem turns out to be SDK-based.

[2015-11-10 21:07] #533 closed

[2015-11-10 21:40] #534 closed

[2015-11-10 21:46] webbersky commented on #466
@chlebta Did you manage to fix? I'm having same problem
@fluidsonic My podfile is like this:

source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.1'
use_frameworks!

pod 'Alamofire', '~> 3.0'
pod 'ParseUI'
pod 'ParseFacebookUtilsV4'

post_install do |installer|
    installer.pods_project.targets.each do |target|
        target.build_configuration_list.set_setting('HEADER_SEARCH_PATHS

[2015-11-10 22:16] dtaitz opened #536 "[PFFile loadInBackground] leads to Parse Error Code 1"
Hello,

I use PFFile throughout my app. Starting this morning, I started to receive the following error each and every time I called [PFFile loadInBackground];

Response status code was unacceptable: 400 (Code: 1, Version: 1.9.1)

This happens regardless of what iOS version I test. I am currently using Parse 1.9.1.

Please let me know what I can do to help resolve this issue.

Best,

David

[2015-11-10 22:17] ebender001 commented on #250
I have only loosely been following this thread, but I concur.  Perhaps someone published a fix.
E

[2015-11-10 22:40] mtsanford commented on #535
OK, thanks.   It looks like explicitly pinning referenced objects is a good workaround for now.

[2015-11-11 00:50] dtaitz commented on #536
After some further investigation, it seems that the problem does not occur when I run the command on iPhone 6 Plus but does on any other size phone.

[2015-11-11 00:54] loretoparisi commented on #250
I have downloaded the latest SDK from parse.com that now supports tvOS and iOS, but:

I had to add a define to check the target OS like:

[code]

since PFInstallation it is not supported by the ```tvOS```:

[code]

But which is a valid replacement for this on ```tvOS```?

[2015-11-11 01:23] loretoparisi commented on #250
Also if I try to compile from sources I get

[code]

and the same error from XCode opening the ```Parse.xcworkspace``` workspace file:

[code]

[2015-11-11 06:45] pronvit commented on #444
Any updates on this? I've integrated SDK and not getting test crash reports. When enabled logging, I see it's uploading reports on the next app launch but none of them appeared on the website.

[2015-11-11 08:01] magnett commented on #250
I really though that Parse would be ready for tvOS. Why guys?! Why?!

[2015-11-11 08:13] waterclock commented on #250
Works great for me, app already in store. Use Cocoapods and stop wasting time trying to manually compile the frameworks. That method is not ready for prime time.

[2015-11-11 08:55] magnett commented on #250
@waterclock I couldn't make cocoapods install with your pod file. I get the error below:

[!] Error installing Parse
[!] /usr/bin/git clone git@github.com:ParsePlatform/Parse-SDK-iOS-OSX.git /var/folders/3d/6ftd0l6s4dd0h6_0zls3rfx80000gn/T/d20151111-12250-av6gf9 --single-branch --depth 1 --branch nlutsenko.tvos.podtest

Cloning into '/var/folders/3d/6ftd0l6s4dd0h6_0zls3rfx80000gn/T/d20151111-12250

[2015-11-11 09:58] ChrisGrant opened #537 "[SKProductsRequest _handleReply:] crash"
I'm getting the below crash report through crashlytics.

I'm using Parse through cocoapods. Here's the versions from my Podfile.lock.
- Parse (1.7.5.3):
  - Bolts/Tasks (>= 1.2.0)

All of the crashes are happening on iOS7.

StoreKit
__34-[SKProductsRequest _handleReply:]_block_invoke + 540

  Thread : Crashed: com.apple.main-thread
0  libobjc.A.dylib                6704609744 objc_msgSend + 16
1

[2015-11-11 10:19] loretoparisi commented on #250
Also for me the pods for tvOS does not work properly for some reasons. Can't wait to have an official release on parse.com!

[2015-11-11 15:02] fatuhoku opened #538 "Facebook login doesn't work (and errors out with 304) when app is reinstalled when user is already l logged in."
I basically ran into the issue outlined in this [SO question/answer](http://stackoverflow.com/questions/29408299/ios-facebook-sdk-4-0-login-error-code-304/30388750#30388750) just now while using `PFFacebookUtilsV4`.

Basically, I've got a log in with Facebook button that's always worked. You touch it, and then the app performs a fast app switch to Facebook. Instead of doing auth, it performed a fa

[2015-11-11 16:33] ebender001 commented on #250
@magnett Make sure you have a valid ssh key.  Follow the instructions here and you should be able to install the framework and all dependencies:

https://help.github.com/articles/error-permission-denied-publickey/

[2015-11-11 16:46] vandutran commented on #437
I just got this error. On Parse 1.9.1 and Facebook 4.7.0.

`[Error]: PFKeychainStore failed to get object for key 'currentUser', with error: -34018`

[2015-11-11 17:00] loretoparisi commented on #250
@ebender001 when  this branch is going to be merged with the master?

[2015-11-11 17:19] ebender001 commented on #250
@loretoparisi Although Parse/Facebook seems like a wonderful company, unfortunately, I don't work for them.  It appears that @nlutsenko is the person that can do that.

[2015-11-11 18:49] antoniocasero commented on #250
I had the same issue, try using https://github.com/ParsePlatform/Parse-SDK-iOS-OS.git instead of git@... in the podfile

[2015-11-11 19:05] sappery opened #539 "Using Swift 2 won't allow iOS 8 devices to Registering for Push Notifications"
Summary of the issue:
I am trying to configure push notifications on for iOS using Xcode 7 and Parse. The notifications are working perfectly on a device running iOS 9.

But when running the application on a device with iOS 8, I am running into problems. I am unable to get the Alert View where the user can select to "Allow Notifications from App X".

But, the device token registration call is bein

[2015-11-11 19:09] blangslet commented on #250
I was able to get everything up and running fine with Parse pulling in data on the tvOS simulator, tried to run my app on the actual device and the Parse code failed silently - no errors, just didn't execute.

I can dig in more tonight to try to figure out why but just making sure - @waterclock you were able to pull in data from Parse successfully on the actual device and not just the simulator?

[2015-11-11 19:12] waterclock commented on #250
@blangslet Yes, pull in data no problem. Login, registration, PFQueries, relation queries all work.  Attempting to log out will hang the app, however.

[2015-11-11 19:19] blangslet commented on #250
@waterclock thanks for your answer! That's good to know that it's possible. I'll see if I can get to the bottom of it after work.

[2015-11-11 21:39] loretoparisi commented on #250
Can I suggest to @waterclock to make a binary release of the static library or framework for ```tvOS```? This can help all of us, in the meanwhile that possibile setup issues has been discovered/fixed.

[2015-11-11 22:30] nlutsenko commented on #250
Please don't do binary releases, as we are going to run into segmentation really quickly.

I just found an issue with persistence of currentUser/Installation, fixed it and updated the `nlutsenko.tvos.podtest` branch.
Let me know guys how it goes for you, specifically in persistence of data between app launches.

cc @waterclock Looking into logOut now, hold on tight.

[2015-11-11 22:47] loretoparisi commented on #250
@nlutsenko you are right, but I was talking about the same distribution we can download from https://www.parse.com/docs/downloads like the iOS one: https://www.parse.com/downloads/ios/parse-library/latest

[2015-11-11 22:49] nlutsenko commented on #250
Got you, yeah... We are going to ship it, including a pre-compiled version as well when it's ready.
As you might have seen, there are couple of issues here and there, so it's not yet fully ready for production.
The moment we are confident we can ship it - we will, which should happen very soon, but I don't have a precise date for it, just yet.

[2015-11-11 22:52] loretoparisi commented on #250
@nlutsenko great thank you, that would be super :+1: I'm confident in the official release!

[2015-11-11 23:14] dtaitz commented on #528
@nlutsenko Any update on this. I similarly cannot receive errors when I try to load PFFiles.

[2015-11-11 23:15] nlutsenko commented on #528
@dtaitz Any chance you can post the stack trace for all threads of the app the moment it crashes?

Or better - whilst debugger is attached - post a file path of the file its trying to get the file from.
Also, are you trying to get the file path for the file that was saved to Parse? (Meaning that the url of the file should be non-nil).

[2015-11-11 23:30] dtaitz commented on #528
@nlutsenko  The app doesn't crash. I just get a lot of errors and the the images do not load from the file. The images are definitely saved to Parse.

There is definitely a change I am trying to load nil PFFile's, but that had not been a problem in the past. I am using the PFImageView ParseUI element.

Here is the backtrace:
(lldb) bt all
  thread #1: tid = 0x35c026, 0x000000019acd0b3c libsystem_k

[2015-11-11 23:31] frangulyan commented on #528
Sorry for late response - I cannot reproduce this anymore after I have uninstalled the app and installed it back. Most probably it was caused by parse sdk update when the app installed was once run with an older sdk. There is also another guy having the same problem here https://groups.google.com/d/msg/parse-developers/c2HL3kmqWWU/XehgdSlqCQAJ

last comment in that thread is mine so just ignore it

[2015-11-11 23:34] frangulyan commented on #528
FYI - in my case the app was also not crashing, just not loading the files from cache and showing in the console the exception I originally posted. Seems like the exception was caught somewhere.

[2015-11-12 00:20] dtaitz commented on #528
My issue seems to be different that the one on the Parse Developers Google Group thread. I am not getting an NSException, but instead I receive the following error each and every time I try to load a PFFile image:

[Error]: Response status code was unacceptable: 400 (Code: 1, Version: 1.9.1)

[2015-11-12 00:24] frangulyan commented on #528
Ok then I guess you should open a new issue. BTW, I got the error again, I will try to dump some data here...

[2015-11-12 00:39] dtaitz commented on #528
@nlutsenko should I move this off to a new thread? I started one a day ago. Issue #536

[2015-11-12 00:47] frangulyan commented on #528
@nlutsenko you were right, the url is null....

What I'm doing is fetching the user in background to update all the fields. Then, when finished, doing a check like this:

    PFFile *userImageFile = user[@"picture"];
    if ((userImageFile == nil) || [userImageFile isKindOfClass:[NSNull class]]) {
        // no image is stored in DB
        return;
    }
    NSLog(@"user image url %@", userImageFi

[2015-11-12 01:28] nlutsenko commented on #536
This sounds very weird, since `400` probably would come from S3/CloudFront, not Parse API server.
Could you extract the url from the file and trying to access it in your browser?

[2015-11-12 01:29] nlutsenko commented on #528
@frangulyan Can you point me to the URL that you see on the server?
Also - your app name would help tremendously, since I can't really reproduce an issue without looking at the way the image is stored here.

[2015-11-12 01:33] nlutsenko commented on #250
@waterclock Found the problem with `PFUser.logOut()`, fix is incoming.

[2015-11-12 01:42] frangulyan commented on #528
the url is [here] (http://files.parsetfss.com/7c0e4c0f-b1b8-41c4-a38e-fc23addfe59f/tfss-579f6556-5564-4a05-9d8c-27782508c1db-profile.png) and the app name is weeto

[2015-11-12 01:55] waterclock commented on #250
@nlutsenko Excellent! Will report once it's merged.

[2015-11-12 01:57] nlutsenko commented on #528
@frangulyan, could you tell me the user objectId where you have this file attached?
The thing is - we don't ever expect for a URL to be `nil` for any file that is being fetched from parse.com

If you use the REST API via say, curl, - does it return a file field with `null` url as well?

[2015-11-12 02:03] frangulyan commented on #528
Sure, the user id is IhfZepZ8SW, column "picture". I'm not familiar with REST API so I'm not sure that I will be able to make that request without some help :)

[2015-11-12 02:07] nlutsenko commented on #528
@frangulyan The URL that you posted above is different from the one that is stored on Parse (that's still OK).
I tried via REST API myself - it works great, nvm.

Can you attach a repro project here, or send it to `nlutsenko (at) fb.com`, I can't seem to reproduce an issue at all.

[2015-11-12 02:08] nlutsenko commented on #250
@waterclock Just merged to `nlutsenko.tvos.podtest`, let me know how it goes...
Both the persistence of login information as well as `PFUser.logOut()`

[2015-11-12 02:15] frangulyan commented on #528
The thing is that after reinstalling the app the issue is usually gone. I just dumped the file attributes and got name='file' url='null' and 'isDirty'=1. One short clarification on the logic to understand if I'm doing it right. I'm doing fetchInBackgroundWithBlock on user and when it's done I'm taking its file column. Should I also fetch this file column to fill the info in that PFFile or fetching

[2015-11-12 02:17] nlutsenko commented on #528
Fetching the user should download all the fields for that user automatically, including all the required information for the file field.
As I said before, since I can't reproduce the issue locally - can you attach or send a repro project?
That would be a tremendous help in identifying why this issue happens for you as well as will speed up fixing it.

[2015-11-12 02:24] frangulyan commented on #528
I just reinstalled the app (it's in simulator but I noticed similar stuff on the device) and the issue is gone. The file properties are name='tfss-b73775f4-660d-490a-942f-3491998082a5-profile.png' url='https://files.parsetfss.com/7c0e4c0f-b1b8-41c4-a38e-fc23addfe59f/tfss-b73775f4-660d-490a-942f-3491998082a5-profile.png' isDirty='0'.

I guess sending a repro project will not help you since you will

[2015-11-12 02:25] nlutsenko commented on #528
Sounds good :wink:
Any kind of repro would work great!

[2015-11-12 02:27] waterclock commented on #250
@nlutsenko Brilliant! It's now persisting currentUser between app launches and logOut works like a charm. Kudos!!!

[2015-11-12 03:00] dtaitz commented on #536
@nlutsenko here is the response I get with the file path:

<NSHTTPURLResponse: 0x12d847aa0> { URL: https://files.parsetfss.com/7eed937a-5c08-4bab-be98-c6208873fd24/tfss-e62126df-9023-4b2d-bc2b-88f341564f0c-hjcuGN7p6W-profile.png } { status code: 400, headers {

    Connection = close;

    "Content-Length" = 551;

    "Content-Type" = "text/html";

    Date = "Tue, 10 Nov 2015 22:20:03 GMT";

   

[2015-11-12 03:19] nlutsenko commented on #250
@waterclock Awesome, that's great to know!
Next stop - fixing analytics, so it doesn't lock/not report.

[2015-11-12 03:20] nlutsenko commented on #536
Since this error comes from CloudFront - this is outside of the client code.
Can you file a backend issue at https://parse.com/help, as we are still using FB Bug Tool for tracking those.

[2015-11-12 03:21] #536 closed

[2015-11-12 05:56] blangslet commented on #250
@nlutsenko @waterclock updated to latest, and everything works now on the device! Thanks so much for the hard work! 🍻

[2015-11-12 06:06] BananaFudgkins commented on #250
Right now in my table view on tvOS whenever I try to retrieve data from a PFFile I'm getting this weird error:
![simulator screen shot nov 11 2015 10 04 31 pm](https://cloud.githubusercontent.com/assets/7845056/11111684/33a9550c-88c0-11e5-8bc5-d0b787f26eab.png)
Anyone have any ideas?

[2015-11-12 06:08] waterclock commented on #250
@BananaFudgkins You need to add the transport settings to your app's plist.

[code]

[2015-11-12 06:39] BananaFudgkins commented on #250
@waterclock just tried that on iOS 9 and I'm still getting that error. Looks like Xcode 7.1 screwed everything over. Currently my Info.plist looks like this:
[code]

[2015-11-12 08:22] sebyddd opened #550 "'+[PFUser registerAuthenticationProvider:]' - Crash when initializing PFFacebookUtils"
Out of nowhere, the app started to crash on

`    [PFFacebookUtils initializeFacebookWithApplicationLaunchOptions:launchOptions]; `

with the following:

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[PFUser registerAuthenticationProvider:]: unrecognized selector sent to class.`

If I remove the initialization, I obviously cannot use PFFacebookUtils.

Bellow ar

[2015-11-12 10:34] loretoparisi commented on #250
@BananaFudgkins the correct xml is

[code]

[2015-11-12 13:21] osklar0328 opened #551 "Crash reporting not working"
I'm trying to get the crash reporting to work in my app. I can't get any crash reports in my dashboard. I'm using swift 2.0, Xcode 7.1.1 and I've installed Parse v1.9.1 using cocoapods. The report navigator shows no errors and everything is successfully run:

    Uploading iOS symbol files...

    Uploaded symbol files.

    Touch MyParseApp.app

    ProcessProductPackaging

    Copying Swift stan

[2015-11-12 16:42] lukenewman commented on #517
Is there any progress on this, @nlutsenko?

[2015-11-12 18:03] nlutsenko commented on #517
Not yet, unfortunately.
Let me mark this appropriately for investigation.

The whole thing here looks to be failing on allocating protected memory space for crash reporting.
Good news is this is not related to non-crashreporting Parse SDK, but this still should be fixed.

@lukenewman do you get this error in a form of a crash? Or just an error logged to the console?

[2015-11-12 18:06] nlutsenko commented on #444
@pronvit As I specified previously - please file an issue via https://parse.com/help , since this looks to be a purely backend issue at this point, and it's not related to any client code.

[2015-11-12 18:06] nlutsenko commented on #551
Duplicate of #444.
We were able to bisect this to be purely a backend issue.
Could you file an issue on https://parse.com/help , since we are still using FB Bug Tool to track backend issues.

[2015-11-12 18:06] #551 closed

[2015-11-12 18:08] nlutsenko commented on #250
And... You don't need it, at all.
Disabling app transport security is not required at all, since we made sure everything works great, even before iOS 9 shipped.

If you guys are experiencing problems purely with files - I would suggest filing an issue on https://parse.com/help with details of your app, since we are still using FB Bug Tool to track backend issues.

[2015-11-12 18:09] nlutsenko commented on #550
@sebyddd, looks like you are using different versions of Parse SDK and ParseFacebookUtils.
Please make sure that you are using either the same versions, or, the latest for both.

At the time of writing this - the latest is `1.9.1` for Parse SDK and `1.9.0` for ParseFacebookUtils.

[2015-11-12 18:09] #550 closed

[2015-11-12 18:27] lukenewman commented on #517
I've been unsuccessful in attempting to replicate the issue. I'll let you know next time it happens.

[2015-11-12 18:54] lukenewman commented on #517
The error causes a crash (SIGABRT) with just that line printed in the console. No automatic stack trace.

[2015-11-12 18:58] loretoparisi commented on #250
:100:

[2015-11-12 19:11] nlutsenko commented on #517
:( That's pretty sad. Let me know if you are able to reproduce it.

[2015-11-12 20:08] pronvit commented on #444
Well, there's just no category there to report crash reporting-related stuff. But ok, I'll report it in the Outages category.

[2015-11-13 00:54] frangulyan commented on #528
Hey Nikita,

I'm terribly sorry, after digging and debugging for 3 hours it comes out to be my bug.

What happens is that I fetch PFUser data which brings PFFile in one of the columns (user picture). Then I download it, use it in UI and everything is fine. But at some point I (wrongly) assign a new PFFile **with same image data** to that column (kind of user wants to upload a new picture):

    NS

[2015-11-13 03:35] nlutsenko commented on #528
Hey @frangulyan, that sounds about right. I am glad you were able to find the reason behind this.

Not sure how you end up with an unsaved image on `currentUser`, since it shouldn't allow you to persist it locally. One thing that comes to my mind - is that your user gets persisted somehow on a failed save to disk, but the file is not yet uploaded, so it persists the file with a `nil` URL.

I would

[2015-11-13 06:43] londonbridges13 opened #555 "How would i query 8000 objects from parse?"
I'm having trouble, please help.

[2015-11-13 10:07] sappery commented on #539
Found the solution on stackoverflow...

"The first time a push-enabled app registers for push notifications, iOS asks the user if they wish to receive notifications for that app. Once the user has responded to this alert it is not presented again unless the device is restored or the app has been uninstalled for at least a day."
OR
"If you want to simulate a first-time run of your app, you can leav

[2015-11-13 10:07] #539 closed

[2015-11-13 11:01] alexvolchek opened #556 "Can't log in FB ("No registered authentication delegate found for `facebook` authentication type)"
Hi!
After installing latest sdks and trying to log in fb using [PFFacebookUtils logInInBackgroundWithReadPermissions:] faced with error -
"No registered authentication delegate found for `facebook` authentication type. Register a delegate first via PFUser.registerAuthenticationDelegate(delegate, forAuthType:)"
But I'm not implementing any third party auth. Any chances you know what's the problem?

[2015-11-13 12:32] raimondo opened #557 "Empty Cellular data package blocking push notifications after wifi reconnect"
When cellular data takes over from wifi when their's no wifi connection available
If their is no money in a users cellular data package , when wifi reconnects push notifications fail to reach device until devices is put on flight mode and off again
Ive tested this on two different service providers and this issue occurs on both providers

[2015-11-13 18:08] nlutsenko commented on #557
Since push notification on the client-side are delivered and handled by the system, I would say this is an Apple bug. If you compare iOS to Android - all of the interactions, including receiving, displaying and alerting the user of a notification, unless the application is open is handled purely by the operation system on iOS.
I would suggest filing a bug against Apple aka radar [here](https://bug

[2015-11-13 18:08] #557 closed

[2015-11-13 18:11] nlutsenko commented on #556
Hey @alexvolchek, thanks for the report.
Any chance you can attach a piece of code from your app delegate where you set up Parse and ParseFacebookUtils?

I think the order there might be wrong...
This error surfaces at the moment where it tries to find a registered authentication provider (Facebook in this case, or rather, PFFacebookUtils) and it fails to do so. Which leads me to thinking that the

[2015-11-13 20:18] frangulyan commented on #528
Ok I found a way to reproduce it and isolated in a small piece of code for you. I will send the test project to the email you mentioned above.

[2015-11-13 20:28] frangulyan commented on #528
Ok I've sent it. Since it is the whole project including the frameworks it is a bit heavy - 17MB. Hopefully it will reach you without problems, let me know if you got it and are able to reproduce the issue.

[2015-11-13 21:08] raimondo commented on #557
Hi Nikita

I agree with your suggestion

I will file a bug report with Apple and keep you in the loop

Thank you for your feedback

- Ray

[2015-11-13 22:22] lkraider commented on #11
Hey, I think you should read this blog post, might give ideas ;D
http://blog.parse.com/learn/thread-safety-basics-on-iosos-x/

[2015-11-13 22:24] nlutsenko commented on #250
Hey guys, quick update here...
There was a bug on master fixed in #558, that impacted File downloads purely.
I've just rebased and updated our test branch for tvOS aka `nlutsenko.tvos.podtest`.
Let me know if you run into any problems.

cc @loretoparisi, @BananaFudgkins You were explicitly running into this, I would appreciate if you would retest and let me know if it works for you now.

[2015-11-13 22:50] richardjrossiii commented on #11
@lkraider You know, I should really have a talk with that person sometime, he seems really brilliant! :)

[2015-11-13 22:52] richardjrossiii commented on #555
This does not appear to be an actual issue with the client SDK. I would suggest asking such questions on the [google group](https://groups.google.com/forum/#!forum/parse-developers) or [stackoverflow](http://stackoverflow.com).

Though, to help you get started with your question, I would suggest looking at `limit` and `offset` of the PFQuery object.

[2015-11-13 22:52] #555 closed

[2015-11-13 23:06] weiwarren commented on #348
I have recently upgraded to the Parse SDK 1.9.0 and tried creating a simple project in xcode 6 replicating the steps described by grigorye, and I received the following error:
<pre>
 *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** setObjectForKey: object cannot be nil (key: Invalid request token.)'
*** First throw call stack:
(
	0   CoreFoundation

[2015-11-14 00:59] weiwarren opened #559 "Build failed"
I'm trying to build the project following the build instructions, received following error with an empty build folder:

<pre>
** BUILD FAILED **

The following build commands failed:
	ExternalBuildToolExecution Bolts-iOS
(1 failure)
Failed to build framework for iphoneos.

</pre>

Tried with Xcode 6.

[2015-11-14 01:01] nlutsenko commented on #559
Hey @weiwarren, thanks for the report, few questions:
- Did you checkout all the submodules for the repo aka `git submodules update --init --recursive`?
- Can you please post the full build log here, as I hope there is more information there
- Could you retry this with Xcode 7 (it's been 2 months since it's release)?

We are building every commit via Travis, so I am not sure about the reasons it h

[2015-11-14 01:02] nlutsenko commented on #348
@weiwarren Can you please make sure that `callback URL` setting in your Twitter app settings is not empty?
According to our guide [here](https://parse.com/docs/ios/guide#users-twitter-users) it's a required step in setting up Twitter.

[2015-11-14 01:05] nlutsenko commented on #528
@frangulyan got the project, am able to reproduce an issue, turns out to be an absolutely valid way of doing this and it's indeed a bug in our code.

Looking into ways to fix it...
Likely will simply attach a pull request to this issue and auto-close by merging that fix.

[2015-11-14 01:31] nlutsenko opened #560 "Support for staged PFFiles in Local Datastore"
Even though you can pin `PFObject`s to Local Datastore, all unsaved `PFFile`s are not persisted across runtimes of the application.
This issue is for tracking/discussing potential support for this as well as tracking implementation progress.

There are multiple reasons why this is not been implemented so far, including:
- The only unique identifier that a PFFile has is a url, that is generated onl

[2015-11-14 01:35] nlutsenko commented on #528
Multiple actionables:
- I am going to send a fix for this issue soon. It won't crash anymore, but report an error instead.
- I've created a feature issue #560 that tracks offline PFFile persistence

Current workaround for your case:
Persist the file you are going to save to a different place in addition to `PFFile` if you care about cross-app run persistence, since this is not yet supported on `PF

[2015-11-14 02:05] frangulyan commented on #528
I will do that, I'm glad I could help! Also your support was amazing, thanks :)

[2015-11-14 03:08] #528 closed

[2015-11-14 05:45] weiwarren commented on #348
@nlutsenko, thanks for your quick response. I have double checked on twitter that the callback URL is definitely there in the twitter app as required. It is a valid random URL.

I am able to login through parse twitter, the issue only occurs when I click cancel button, and return to the app.

I had this issue in my app initially with Parse 1.8 and after upgrading to 1.9 the issue remains.

![image

[2015-11-14 05:47] nlutsenko commented on #348
@weiwarren Could you create an issue on ParsePlatform/ParseTwitterUtils-iOS with as much information as you have, I'll look into it.

[2015-11-14 06:13] weiwarren commented on #348
@nlutsenko New issue created at https://github.com/ParsePlatform/ParseTwitterUtils-iOS/issues/11

[2015-11-14 09:47] valeIT opened #563 "Unpinning from LocalDatastore if offline"
For what I understand by Design you can't unpin a child object if it has a parent, but you can unpin the parent and it will automatically unpin all the childs, let me know if that's correct.

My object graph is as follow:

MainModel has 2 pointer variables to Colors and Goals (all 2 are custom PFObjects). Colours and Goals don't have any pointer to any object.

when calling myMainModel.unpinInBack

[2015-11-14 22:00] hhanesand opened #564 "Assert when saving and pinning multiple times"
I'm hitting a `PFConsistencyAssert` when performing a few parse operations, but I can't quite pinpoint which one is causing this issue.

The condition that's failing :
`PFConsistencyAssert(existing == nil || existing == object, @"Attempted to change an objectId to one that's already known to the OfflineStore.");`

Here is the stack trace : https://gist.github.com/hhanesand/adfc2d4b8695cbc2a952

Co

[2015-11-14 22:04] hhanesand commented on #537
How does this have anything to do with parse? The stack trace doesn't even touch any parse code.

[2015-11-14 23:15] nlutsenko commented on #537
Yup. I would say - since it happens purely on iOS 7 this is an Apple StoreKit.framework bug.
If you have a good repro case - I would more than glad to investigate further and help you out.

[2015-11-15 10:13] ChrisGrant commented on #537
I looked into this a bit further. A lot of people are seeing the same issue because the delegate is not being managed correctly.

Take a look here http://stackoverflow.com/questions/24675528/ios-crash-report-skproductsrequest and here, for example: http://stackoverflow.com/questions/3324596/storekit-skproductsrequest-crash.

Could you confirm that you are doing this in your framework?

[2015-11-15 13:50] hhanesand commented on #564
I've done some more debugging, and now I'm pretty sure that it only happens if I execute several parse commands in rapid succession.

In the app I'm working on, you can change the quantity of items to add them to your order, and this is what I'm doing to save those changes :

[code]

If this code was run repeatedly on the same parse object, (possibly even before the `[self pinInBackground]` finish

[2015-11-15 16:03] wullrich19 opened #565 "PFTwitterUtils logInWithBlock Error"
I have been attempting to implement the `[PFTwitterUtils logInWithBlock...]` method to authenticate a user with Twitter through Parse.

I have been able to successfully sign up the user once the user has been authenticated through Twitter separately from Parse, THEN call the PFTwitterUtils method (which only works attempt 2 and after).

The error I keep receiving is this:

`*** Terminating app due

[2015-11-15 16:14] dbarabander opened #566 "Cannot login"
Hi, I am trying to login and am getting the following error for all users:

`[Error]: unauthorized (Code: 0, Version: 1.8.2)`

I am sure that these are users with the correct credentials (and I have tried many)

I have a web app that shares this DB, and I am logging in no problem from it:

[code]

[2015-11-15 18:16] #566 closed

[2015-11-16 09:27] alexvolchek commented on #556
@nlutsenko, I swapped Parse and PFFacebookUtils setups and seems it's working now(facepalm).
Thanks and sorry to bother you!

[2015-11-16 09:27] #556 closed

[2015-11-16 09:48] loretoparisi commented on #250
@nlutsenko Ok, let me check.

[2015-11-16 10:16] andreacannella commented on #280
let query = PFQuery(className:"GameScore")

            query.whereKey("playerName", equalTo:"Sean Plott")

            query.findObjectsInBackgroundWithBlock {

                (objects:[AnyObject]?, error:NSError?) -> Void in

                if error == nil {

                    // The find succeeded.

                    print("Successfully retrieved \(objects!.count) scores.")

[2015-11-16 10:17] andreacannella commented on #365
let query = PFQuery(className:"GameScore")

            query.whereKey("playerName", equalTo:"Sean Plott")

            query.findObjectsInBackgroundWithBlock {

                (objects:[AnyObject]?, error:NSError?) -> Void in

                if error == nil {

                    // The find succeeded.

                    print("Successfully retrieved \(objects!.count) scores.")

[2015-11-16 10:18] andreacannella commented on #280
let query = PFQuery(className:"GameScore")

            query.whereKey("playerName", equalTo:"Sean Plott")

            query.findObjectsInBackgroundWithBlock {

                (objects:[AnyObject]?, error:NSError?) -> Void in

                if error == nil {

                    // The find succeeded.

                    print("Successfully retrieved \(objects!.count) scores.")

[2015-11-16 10:47] natanrolnik opened #567 "Misleading `-[NSArray containsObject:]` in relationship array"
Hey iOS Parsers. I had a problem a few days ago, and I'll try to explain it (I'm not sure it's an SDK issue, or I'm doing something wrong). Imagine the following scenario:
- I have a local instance of a `Organization` (a `NSManagedObject` subclass)
- The `PFOrganization` object has an array of `PFInstallations`, to keep track of which of them

Every time the app is launched, I fetch the current us

[2015-11-16 14:20] Slogbelly commented on #297
Thank goodness, @nlutsenko resolved it by mentioning where the FacebookSDK places itself in the documents folder.  Thank you sir!!!

[2015-11-16 14:34] antoescu commented on #437
I am having the same error when login with Twitter, every time. I am using Parse 1.9.1

[2015-11-16 14:53] BananaFudgkins commented on #250
@nlutsenko tested it and it works! Thanks for the fix!

[2015-11-16 15:47] benjaminhallock commented on #297
I'm glad we spent half our life fixing this.

[2015-11-16 16:07] alechoward commented on #280
Hey @nlutsenko! It looks like the compiler was crashing. I ended up doing a fresh install of Swift 2.1 and deleting all cached installs. Runs perfectly. Thanks.

[2015-11-16 18:17] nlutsenko commented on #280
@alechoward Glad you found the solution. :+1:

[2015-11-16 18:27] marshsutherland opened #568 "I accidentally deleted all users in our Social High database last night."
I accidentally deleted all users in our Social High database last night.

I thought I deleted one user "chems" in our Social High database hosted on Parse last night. I accidentally deleted all users.

We need our database restored ASAP!

There is no phone number for Parse so I am emailing you.

Can this please be done asap?

My phone number is 617-999-9211. Ken's phone number is 509-922-5629.

Ma

[2015-11-16 18:29] nlutsenko commented on #537
@ChrisGrant We are doing exactly that in https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/blob/master/Parse/Internal/Product/ProductsRequestHandler/PFProductsRequestHandler.m#L58

Going to send out a Pull Request to make sure we extra safeguard everything here, hopefully it will resolve the problem.

[2015-11-16 18:48] nlutsenko commented on #568
@marshsutherland Please reach out to our backend/support team via https://parse.com/help

[2015-11-16 18:48] #568 closed

[2015-11-16 18:49] marshsutherland commented on #568
It's not clear how

On Monday, November 16, 2015, Nikita Lutsenko <notifications@github.com>
wrote:

--
*Marsh Sutherland*
COO | Co-Founder
WeedShare™
*o: *(844) WEEDSHARE Ext 3
*e:* marsh@weedshare.net

[2015-11-16 18:50] nlutsenko commented on #568
Go through the `report a bug` flow - this will take you to the FB Bug Tool, as we are using that one for backend issue tracking.

[2015-11-16 18:56] nlutsenko commented on #460
@russnettle Could you attach or send a repro project/code snippet here that reproduces the issue?
(email: nlutsenko(at)fb.com)
This is super strange, since at least all pointers should be fetched.

[2015-11-16 19:13] richardjrossiii commented on #567
ParseObject does not implement `-equals:` or `hash`, which means that you cannot use `-containsObject:` `-indexOfObject:`, or any of its friends.

One solution would be to use LocalDataStore, which makes a process-wide guarantee that there can only be one pointer to a given PFObject with a particular objectId/className pair.

That means that you then will have your current installation again being

[2015-11-16 21:59] contention commented on #32
@nlutsenko Did you guys forget to ship 1.10 last week? Just wondering... :o)

[2015-11-16 22:00] nlutsenko commented on #32
1.10 is coming this week, hold tight. :grin:

[2015-11-16 22:36] #537 closed

[2015-11-16 23:15] ChrisGrant commented on #537
Great thank you!

[2015-11-17 00:18] HUGEwindow commented on #250
What  do I need to access this branch?  I would like to use parse with TVOS. Thanks in advance I am a noob.

pod 'Parse', :git => 'git@github.com:ParsePlatform/Parse-SDK-iOS-OSX.git', :branch => 'nlutsenko.tvos.podtest'

Permission denied (publickey).
fatal: Could not read from remote repository.

[2015-11-17 00:19] nlutsenko commented on #250
@HUGEwindow try using `https://github.com/ParsePlatform/Parse-SDK-iOS-OSX.git` instead of the ssh URL.

[2015-11-17 00:23] HUGEwindow commented on #250
Worked, thank you!

[2015-11-17 02:27] #69 closed

[2015-11-17 10:09] titaniummick commented on #290
+1 from me too..affecting 72 people in the past 1 week of deployment. The app is running on Parse 1.9.0. :(  Any updates on this issue?

Stack trace here:
Thread : Crashed: com.parse.sqlite.db.queue
0  libsqlite3.dylib               0x19a665f58 (null) + 9096
1  libsqlite3.dylib               0x19a63c4d0 (null) + 8184
2  libsqlite3.dylib               0x19a63c4d0 (null) + 8184
3  libsqlite3.dylib

[2015-11-17 13:52] polis80cy commented on #280
Really? I have to uninstall / reinstall XCode all together for this to work?

XCode 7 keeps giving me the segmentation fault for both objects:[AnyObject]? and objects:[PFObject]?

@alechoward Did you end up having to reinstall XCode for this to work?

[2015-11-17 16:20] FreudGit commented on #560
+1, sounds great. :)

[2015-11-17 17:57] lkraider opened #576 "Background return queue parameter"
As it is now all `inBackgroundWithBlock` calls that accept a block will execute that return block on the main thread.

This can cause performance problems where we need to chain many calls through Parse and other frameworks before presenting the data in the UI, or otherwise just process data in the background.

Please offer an interface with an additional parameter `inBackgroundWithBlock: targetQu

[2015-11-17 18:31] nlutsenko commented on #576
Turns out you can actually do this right now, via Bolts Tasks (you can read more about the Bolts.framework [here](https://github.com/BoltsFramework/Bolts-iOS).

Let me give you an example with `PFUser.become`:
[code]

You can also create executors with blocks or NSOperationQueue...
Hope this is what you are looking for.

[2015-11-17 18:31] #576 closed

[2015-11-17 18:33] nlutsenko commented on #290
SDK version `1.10.0` is going to have the commit Pull Request linked above that hopefully should address the issue. The release is pending this week, so hold tight.

[2015-11-17 18:41] #504 closed

[2015-11-17 19:41] #502 closed

[2015-11-17 20:10] lkraider commented on #576
Great, thanks.

[2015-11-17 22:17] kevflynn commented on #32
omg im so excited.🙀

[2015-11-17 23:09] brennanMKE commented on #437
This keeps happening with an app I am developing as well. It is preventing us from moving forward.

[2015-11-17 23:11] nlutsenko commented on #437
@brennanMKE How does this prevent you guys from proceeding?
Is there a change in behavior or say failing requests? Or simply an error logged to the console?

[2015-11-17 23:15] brennanMKE commented on #437
@nlutsenko We are trying to get push notifications to work and I am trying to set values on the User instance so that Cloud Code can determine when a push will be triggered. Since I cannot set values on the User it prevents push notifications from being processed.

Either I get this error or `UserCannotBeAlteredWithoutSessionError`. I have the AppDelegate run `PFUser.enableAutomaticUser()` in `app

[2015-11-17 23:16] nlutsenko commented on #437
Gotcha. @brennanMKE, any chance you can add a repro project that has this issue reproducible at least semi-consistently?

[2015-11-17 23:37] brennanMKE commented on #437
@nlutsenko

I dug into it and found something which does not make sense to me. This is an iOS app built with Swift. I have been using `PFUser.currentUser()` after Parse is initialized and `PFUser.enableAutomaticUser()` is called. I am expecting that `PFUser.currentUser()` always returns a valid user but sometimes it returns a nil value.

So I called `PFSession.getCurrentSessionInBackgroundWithBloc

[2015-11-17 23:57] nlutsenko commented on #437
That is super strange at this point... `enableAutomaticUser()` has a guarantee indeed that `PFUser.currentUser()` won't be nil, and it will create an empty unsaved user for you otherwise (won't save it automatically to Parse, but will create in-memory local one for sure).
`session?["user"]` should be set to `PFUser.currentUser()`, otherwise there is something funky going on with the `sessionToken`

[2015-11-18 03:11] brennanMKE commented on #437
I now get `invalid session token` when I try to save changes to the user. I am going delete and reinstall the app again. It's strange.

[2015-11-18 03:41] brennanMKE commented on #437
After deleting and installing the app again it immediately shows the `-34018` error.

`PFKeychainStore failed to get object for key 'currentUser', with error: -34018`

`[Error]: invalid session token (Code: 209, Version: 1.9.1)`

It is like the keychain is persisting data across app installs and I do not know a good way to do that on my device without doing a full reset like I can do with the iOS

[2015-11-18 03:42] nlutsenko commented on #437
@brennanMKE Can you please attach a sample repro project? I will be more than glad to investigate, but simply can't repro it running on the device.

[2015-11-18 05:48] TruthDerek opened #581 "emailVerified is found nil on iPhone while is fine on Simulator"
When I try to call 'user.objectForKey("emailVerified")' on iPhone, an error 'unexpectedly found nil while unwrapping an Optional value' occurred. But everything is fine on Simulator which means it can return 'false'. Therefore, it has nothing to do with turning on 'Email Verification'. It seems like there is no 'emailVerified' field when it's running on iPhone.

[2015-11-18 07:03] nlutsenko commented on #581
Hey @TruthDerek, thanks for the report!
What I think is happening is that `emailVerified` value is actually set to `nil` until the moment the email actually becomes verified. I would say - if you successfully logged in or signed up a user - you can treat a `nil` value for `emailVerified` field as `false`.

Are you logging in/signing up with the same email address on Simulator and Device? Or they a

[2015-11-18 11:49] deberle opened #582 "en.lproj folder causes problems"
The locale folder en.lproj causes problems when the app should not be localized for english. In that case the en locale may be selected at runtime causing NSLocalizedString to fail.

Example:
My app should always load the `strings` file from de.lproj - even if the phone is set to english.
I used to work fine but the en.lproj folder introduced by parse SDK causes this behaviour to fail.

I suggest

[2015-11-18 12:22] cubbox55 opened #583 "Simple PFQuery returns NSCocoaError Code=3840 on iOS 7 only"
I'm doing a simple PFQuery to get all of an object class:
[code]

Which works on iOS 8 and above. however on iOS 7.1.2 and 7.0.4 (haven't tested earlier) I get the following error response:

[code]

Is anyone else seeing this issue?

[2015-11-18 12:45] cubbox55 commented on #583
Ok ignore me should have updated to version 1.9.1 before posting on here.

Fixed in Cocopaods v1.9.1.

[2015-11-18 12:45] #583 closed

[2015-11-18 16:11] brocoli commented on #451
It's been almost one month... has there been any progress on this issue?

[2015-11-18 18:11] brennanMKE commented on #437
There is nothing unusual in this app. In the AppDelegate in `application:didFinishLaunchingWithOptions:` Parse is configured like I have done many times. Then the code immediately tries to get the current user and save it to ensure that any other calls later, such as saving the user with the PFInstallation object work. I do not know if creating another project would recreate this problem. What I'd

[2015-11-18 18:34] brennanMKE commented on #437
@nlutsenko What I am doing now is preparing some code in Swift which will log out the current values in the keychain so I can see what is in there. And once I can see the keychain items I will delete them. Maybe that will fix the problem.

I do not think it is the code. It is the persisting data in the keychain which is not being purged between installs.

[2015-11-18 19:25] kshdeo commented on #437
I have been facing this issue for last 2 weeks very consistently. It is easily reproducible as well. I just force a webview based authentication:

 [PFFacebookUtils setFacebookLoginBehavior:FBSessionLoginBehaviorForcingWebView];
 [PFFacebookUtils logInWithPermissions:permissionsArray block:^(PFUser *user, NSError *error) {
        if (!user) {
            return;
        } else if (user.isNew) {

[2015-11-18 19:45] nlutsenko commented on #437
That error above ^^ looks like is coming from FBSDK not Parse.
I wonder if there is something weird going on in their field...

[2015-11-18 19:51] kshdeo commented on #437
@nlutsenko If it helps, [FBSDKAccessToken currentAccessToken] is nil on a new user signup in the logInWithPermissions: block. However, in my subsequent login attempts using the above method, there is no error. So, I was guessing it could be because current user is not linked with the FBAccessToken. I can provide more info if you want.

[2015-11-18 19:53] nlutsenko commented on #437
@kshdeo I would love to see the full repro project that I can repro this with, as any of the local testing that I am doing doesn't surface this issue in any way. If it's super private - you can send it to nlutsenko(at)fb.com

[2015-11-18 19:57] kshdeo commented on #437
Thanks @nlutsenko ! I will send you a stripped down version of the project removing the private pieces.

[2015-11-19 11:05] grigorye commented on #153
Guys, we're still getting the crash that looks similar to this. From time to time, but it happens. Our callback url and Twitter keys are setup.

The last time is today. It looks like there're some problems at Twitter side because sometimes it says somthing about failed authentication.

[code]

[2015-11-19 14:07] grigorye commented on #153
According to stats, it looks like Twitter was down the very time we observed the crash.

[2015-11-19 15:34] valeIT commented on #563
Ok let's start from the beginning. My object models: [Forgot about the reference to PFUser.]

[code]

I have a list of `MainModels` shown in a `PFTableViewController` subclass.

Calling:

[code]

Or uncommenting`unpinAllObjects` and commenting the loop doesn't work, raises:

[code]
unpinAllObjectsInBackgroundWithBlock works when there is an internet connection though...

How they are pinned:
The o

[2015-11-19 16:03] robertvojta opened #584 "PFUser.logInWithUsernameInBackground - block isn't called"
**Setup**

* Xcode 7.1.1
* Parse 1.9.1
* Swift project

**Description**

Simple call to `PFUser.logInWithUsernameInBackground` doesn't lead to `block` callback. Nothing happens. So I decided to replace it with `do` & `catch` & `try PFUser.logInWithUsername(loginUsername, password: loginPassword)`. This calls Objective-C method `+ (instancetype)logInWithUsername:(NSString *)username password:(NSStr

[2015-11-19 16:41] #508 closed

[2015-11-19 20:15] nlutsenko commented on #153
@grigorye A good repro would be very helpful here.

[2015-11-20 01:13] kevflynn commented on #32
Just looked through the release notes - was this fix not included in 1.10.0?

[2015-11-20 01:14] nlutsenko commented on #32
Yup! There was a fix included in 1.10.0 -> #102
Try it, let us know how it goes.

[2015-11-20 01:15] kevflynn commented on #32
sweet - thanks man, will doo.

[2015-11-20 01:16] kevflynn commented on #32
can't wait.

[2015-11-20 01:29] nlutsenko commented on #32
I am scared now, since you just raised the expectations bar... :grin:
#102 has an impact on performance, quite good impact, but probably not over 9k %%. :)

[2015-11-20 02:28] nlutsenko commented on #584
@robertvojta Any chance you can attach a repro project or anything that might help us identify the issue?

I tested this 2 minutes ago on the latest SDK (1.10.0) with the following code snippet:
[code]

Works great and properly logs user first time, an error next time.
There probably is something else involved here.

[2015-11-20 08:11] aldmitriev commented on #179
Hi, guys!
@mugu-trick did you resolved you issue?
How can I fix it too? Because my WatchOS 2 extension thinks about suicide, I try to help :)
[code]

[2015-11-20 08:26] batkov opened #587 "saveInBackground/saveAsync not working with circular links"
Hello,

I've tried this on Parse iOS SDK 1.10.0 / 1.9.1 / 1.8.5 / 1.8.0
Also local storage enabled. I think this is the key issue.

If we have circular links object not being saved.
For example, we have following entities:
[code]

If we will try for existing Message create like, set links, so saveInBackground will stuck. No call to server performed.

[code]
But this code will work:
[code]

I did s

[2015-11-20 08:32] robertvojta commented on #584
@nlutsenko here's the gist with related code https://gist.github.com/robertvojta/5a08ff208e0067e54118#file-subscriptions-swift-L82

* highlighted line no. 82 is called
* next line no. 83 is not called

When I replace it with synchronous login then it throws NilError.

[2015-11-20 13:08] mugu-trick commented on #179
Hey @aldmitriev  sorry to say but sadly no :(

I ended up moving to Core Data, not saying is better or worse than Parse, but at least in my scenario it was the natural choice.

[2015-11-20 13:20] aldmitriev commented on #179
@mugu-trick Thanks, man. I hope @nlutsenko will help with pods migration guide for all of us. Christmas and Black Friday is coming.

[2015-11-20 15:10] grigorye commented on #153
@nlutsenko Yep, but given if it's related to problems at Twitter side, I'm not sure it's easily doable.

[2015-11-20 17:01] FreudGit commented on #32
ok, first feedback:

done some test (on iPhone 6s)

No real speed gain. (But i will test this week-end on a iPhone 5, probably see more the gains.)

This (not-so-funny) thing are that I get the best speed are on the 1.7.2 sdk version
https://docs.google.com/spreadsheets/d/1QSRgTNXMdS4gNC62yA_zfNp4IhdY1SyUYD3xwb_vM1Q/edit?usp=sharing

[2015-11-20 18:04] juliengomes commented on #423
@nlutsenko I'm not sur it's a backend issue, I have the same issue, when I set a breakpoint on the call to ```trackAppOpenedWithRemoteNotificationPayload:``` it works fine, ie I can see 1 push open in the dashboard, but when I remove the breakpoint, there is 0 push open in the dashboard.

Here is how I call it

[code]

[2015-11-20 18:52] SwiftNextStep opened #588 "Cannot find version 1.10 in cocoapod"
Hi after fail to retrive the pod for Parse 1.10 i try this:

platform :ios, ‘9.1’
target 'SwiftNextStep' do
pod 'Parse', ‘< 2’
pod 'ParseUI', ‘< 2’
pod 'ParseCrashReporting', ‘< 2’
pod 'ParseFacebookUtilsV4', ‘< 2’
pod 'ParseTwitterUtils', ‘< 2’
end

However after I install the pods I get "Using Parse (1.9.1)"

Why can I not access the Parse v1.10?

[2015-11-20 18:56] deviggner commented on #179
Hi @nlutsenko ,
When the watchOS 2 supported framework will be ready to download?

[2015-11-20 19:09] nlutsenko commented on #179
@aldmitriev @revolter I am using this podfile in my sample app that I use for testing:
[code]

@deviggner We are still testing it, and you can jump right on it and help us out. (there are details in the first comment on this issue).

[2015-11-20 19:20] nlutsenko commented on #588
Hey @SwiftNextStep just found why this doesn't work.
`ParseCrashReporting` pod lists `~> 1.9.1` as it's dependency.
Fixing in a few minutes.

Side note: You can use `pod 'Parse', '~> 1.9'` instead of `< 2` as it's going to have the same behavior.

[2015-11-20 20:15] nlutsenko commented on #584
Quick question:
Is there a chance that Parse is not initialized at the moment you call `logInWithUsername()`?

I just extracted logic for lines 87 and 136 and it works the same way.
Could you share the small repro project with me, you can do it privately as well via nlutsenko(at)fb.com

[2015-11-20 20:19] nlutsenko commented on #588
Just pushed a new version of ParseCrashReporting that has this problem fixed.
Should fix the problem, try running `pod update` now. :)

[2015-11-20 20:19] #588 closed

[2015-11-20 20:20] nlutsenko commented on #423
Ok, let's try debugging this then...

Could you try instrumenting your app with the network debug piece that we have outlined in https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/wiki/Network-Debug-Tool
And look into whether the request for tracking app opened is actually sent?
It's definetly super weird behavior that the breakpoint here causes this to send out...

Also, since the `PFAnalytics.tr

[2015-11-20 22:23] aldmitriev commented on #179
@nlutsenko Thank you so much! Good job, Nikita! It's a good sample! I customized it. And It's working for me!
Maybe it's useful for somebody else:
Guys, comment "#use_frameworks!" if you're use Obj-C
If your *pod install* shows that:
[code]
...You need to add ssh key if didn't https://help.github.com/articles/generating-ssh-keys/
Good luck!

[2015-11-20 23:13] juliengomes commented on #423
Here is what I get when there is no breakpoint (still 0 push open in the dashboard) :

[code]

And here is what I get when I set the breakpoint before the call to ```trackAppOpenedWithRemoteNotificationPayload ``` (1 push open in the dashboard)

[code]

I really don't understand what's going, it seems like everything is well went, but I keep not seing push open when breakpoints are not set.
The te

[2015-11-20 23:16] kevflynn commented on #32
No real speed gain for us as well. @FreudGit  - thanks for the spreadsheet. That was helpful to us.

Ran this query 100 times:
        let query = Message.query()!
        query.fromLocalDatastore()
        query.fromPinWithName("BpPZjxHlfh")
        query.whereKey("type", equalTo: "message")
        query.limit = 5
        query.findObjectsInBackgroundWithBlock { (objects, error) -> Void in

[2015-11-20 23:17] kevflynn commented on #32
Sorry - we tested both fromPinWithName and fromLocaDatastore, seperately.

[2015-11-20 23:28] nlutsenko commented on #423
Huh... There is a difference in push_hash there.
Are you using the same `user_info` for both scenarios?

[2015-11-20 23:34] juliengomes commented on #423
Yes it's the exact same code portion (```didReceiveRemoteNotification:fetchCompletionHandler:```) I outputed, but I tried with two different push hence the hash difference (I think)

[2015-11-20 23:34] nlutsenko commented on #423
Maybe that's the thing - try the same user info...

[2015-11-20 23:54] #495 closed

[2015-11-20 23:56] juliengomes commented on #423
I made a temporary repo, I have the same issue with a blank project, you can check it there : https://github.com/juliengomes/ParseDebug

[2015-11-21 00:11] SwiftNextStep commented on #588
Thanks @nlutsenko I use "< 2" to try to find the highest available version, the original file was using "~>1.9 instead

[2015-11-21 10:41] #525 closed

[2015-11-21 11:35] 3ph opened #593 "PFUser.currentUser hangs when called through WatchConnectivity"
I've got an watch app which presents data stored in Parse. The data are transferred to watch through WatchConnectivity framework. The problem is that when I try to use query restricted by PFUser the execution just stops and I never get response back. I've tracked it down to the PFUser.currentUser() call.

Other queries work fine also all the queries ran from main phone app directly work as well.

[2015-11-21 14:57] kevflynn commented on #32
@nlutsenko  - that will help for writes, but not reads, correct? Oddly, reads are taking far longer for us from LDS than writes.

[2015-11-21 20:37] nlutsenko commented on #32
Yup. Should help with writes. I'll look into reads next week also.

[2015-11-21 21:19] FreudGit commented on #32
Thanks @nlutsenko

[2015-11-22 17:41] #526 closed

[2015-11-22 18:41] #527 closed

[2015-11-22 18:42] ethanneff opened #594 "Cannot build Parse with Xcode 7.1.1 and Swift 2.0"
- New project.
- Tried importing Parse SDK with CocoaPods, failed.
- Tried importing Parse SDK manually, failed.

Getting 'Parse' has no member errors.

The rest of the Parse SDK is working (PFAnalytics, PFUser, PFACL, etc)

<img width="702" alt="screen shot 2015-11-22 at 10 41 51 am" src="https://cloud.githubusercontent.com/assets/2933593/11325556/ab6b9530-9105-11e5-811b-b570a21f14fb.png">

[2015-11-23 00:54] justColbs commented on #250
Anybody else get this error when installing the pod in the project file?
`[!] Unable to satisfy the following requirements:

- `Bolts/Tasks (= 1.4.0)` required by `Bolts (1.4.0)`
- `Bolts/Tasks (= 1.4.0)` required by `Bolts/AppLinks (1.4.0)`
- `Bolts/Tasks (~> 1.5)` required by `Parse (1.9.1)``

This is what my pod file looks like.

`# Uncomment this line to define a global platform for your proje

[2015-11-23 01:05] ethanneff commented on #594
i'm an idiot... close this haha

[2015-11-23 01:05] #594 closed

[2015-11-23 01:37] nlutsenko commented on #250
@justColbs either remove pod 'Bolts' from your pod file or convert it to

pod 'Bolts', '~>1.4'

Or even

pod 'Bolts', '~>1.5'

[2015-11-23 01:53] justColbs commented on #250
Perfect @nlutsenko thank you sir! Changing it to 1.4 worked.

[2015-11-23 10:14] Malmo92 opened #595 "Set new ParseACL object to instantiated ParseObject - NullReferenceException"
Getting a NullReferenceException when I am trying to set the ParseACL to an instantiated ParseObject.

The following line causes the issue for me in the Parse .NET SDK 1.6.2:

var po = new ParseObject("Table");
po.ACL = new ParseACL(ParseUser.CurrentUser);

This code is run after user is authenticated. ParseUser.CurrentUser is not null.

[2015-11-23 10:15] #595 closed

[2015-11-23 10:43] alexvolchek opened #596 "Problem with PFFacebookUtils isLinkedWithUser"
I have 2 Parse accounts, let's say X and Y. I've signed up them using 'signUpInBackgroundWithBlock' after setting username and pass. Then I login with X and link it with FB using 'PFFacebookUtils linkUserInBackground:[PFUser currentUser]'. After it I logout and login with user Y. I'm trying to connect to FB, and it returns error (Another user is already linked to this facebook id. (Code: 208, Vers

[2015-11-24 04:42] dcdspace opened #597 "PFInstallation not changing updatedAt date when saving the current installation in background with no new data"
Summary of the bug:
There is an issue when calling [[PFInstallation currentInstallation] updateInBackground] in the iOS SDK. It used to be that whenever you called that method, the updatedAt timestamp on the installation object in the data browser would update, but now it only does if the installation has changed. I use custom analytic software based on the updatedAt date, and now it only detects

[2015-11-24 05:04] nlutsenko commented on #597
Hey @dcdspace, thanks for the report.
This is very much intentional, and if it was working differently before - that was a bug.
It will not update an `updatedAt` date if there was no change to the data.

All the data here is coming from the server (in the case of `updateInBackground`) - meaning it actually does perform a fetch from the server, including the latest updatedAt date, but if there was

[2015-11-24 05:05] nlutsenko commented on #596
Hey @alexvolchek, any chance you can put the version of the SDK you are using?
`1.10.0` from last week has a fix for exactly this issue.
Try it out and let me know how it goes.

[2015-11-24 05:18] dcdspace commented on #597
Thanks for the help @nlutsenko. I have a web backend in which I call the REST API and query it for installations, sorted by updatedAt to see what installations were active most recently. Due to this change, only installations with changed data are being returned at the top. I guess I could try adding a custom column called "lastActive" updated with the date when the installation was last active. A