[2021-01-04 20:09] cbaker6 commented on #1587
This type of functionality could be added if you want to take on the task. My initial thoughts are you conform to the [didReceiveChallenge delegate method](https://developer.apple.com/documentation/foundation/nsurlsessiontaskdelegate/1411595-urlsession) here: https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/5dad4f224d5ae4b36ead891acbdfc15b86d527ae/Parse/Parse/Internal/Commands/CommandRunn

[2021-01-05 10:31] amitpristyn commented on #1587
I don't know where I use this

please check my code given below

 class func setParserClientConfigAndInit() {

//        let session = URLSession(
//        configuration: URLSessionConfiguration.ephemeral,
//        delegate: URLSessionPinningDelegate(),
//        delegateQueue: nil)

        let configuration = ParseClientConfiguration {
            $0.applicationId = KAPI.applicationId

[2021-01-05 13:33] cbaker6 commented on #1587
You have the right idea, but the code you listed is what you would use as a developer. You need to open a PR, add the delegate method I mentioned and add the new configuration parameter. You can use what I did in ParseSwift as a reference  https://github.com/parse-community/Parse-Swift/pull/45/files Though the structure is different.

[2021-01-05 17:27] cbaker6 commented on #1587
You will also need to do more If you want to pass in your own headers. You won't be able to use your own delegate because Parse already has one. You should only need to respond to the challenge and maybe pass in headers which can be two different parameters that can be passed into the config assuming you add the capability to the SDK.

[2021-01-05 17:30] amitpristyn commented on #1587
Any method to add SSL pinning certificate in parse request and response handle like an error in parse query

[2021-01-05 17:35] amitpristyn commented on #1587
I am working as an iOS developer and I don't know how to add a certificate in Parse initialization SDK because for security purpose any middle attack all data is exposed in front of Charles or any other so the client requirement is to add a certificate in parse request

in Android, it is used in request but no any option in iOS SWIFT

[2021-01-05 17:45] cbaker6 commented on #1587
The links and comments I posted are in reference to how to do it. iOS allows it via `URLSession`, the iOS SDK uses `URLSession`, but currently doesn't expose what's needed to enable this for Parse. You can use what I posted for direction on how to add the feature to the iOS SDK for everyone to use, but you have to modify the SDK itself to expose what's needed. There's no way I know of jumping in f

[2021-01-06 01:37] shlusiak commented on #1588
The `NSMakeRange` method takes a location and a length (not an end point), so passing in `index` and `length` here seems correct. https://developer.apple.com/documentation/foundation/1417188-nsmakerange?language=objc

`length` is either the batch size of 50 or the number of remaining elements in the array, whichever is smaller. I cannot see any off-by one situations in that algorithm either, could

[2021-01-06 01:45] cbaker6 commented on #1588
The branch I linked was recently merged and deleted, the location on the main branch is here: https://github.com/parse-community/Parse-Swift/blob/main/Tests/ParseSwiftTests/BatchUtilsTests.swift

The linked file with the swift version is here: https://github.com/parse-community/Parse-Swift/blob/f124d0a45c079dba0324b9603e9e106f51ecb24e/Sources/ParseSwift/API/BatchUtils.swift#L34-L50

If what you me

[2021-01-06 14:19] cbaker6 opened #1590 "Fix ParseClientConfigurationTests.testExtensionDataSharing"
This test isn't working in Xcode 12 and it seems to be something with FileManager, entitlements, or the swizzler. Noted in #1581. Some notes from the discussion

[2021-01-06 18:57] jesusmateos1234 opened #1591 "Carthage Xcode >=12 compatibility"
Generate xcframework for the next version in order to avoid using carthage workaround

https://github.com/Carthage/Carthage#building-platform-independent-xcframeworks-xcode-12-and-above

@cbaker6

[2021-01-06 19:00] cbaker6 commented on #1591
Thanks for the link, @drdaz is looking at this in #1561

[2021-01-07 07:32] bcbeta commented on #1585
After two weeks of pulling my hair out, I was able to find this symbol using grep in the derived data folder. happy to report it had nothing to do with Parse!

[2021-01-07 07:32] #1585 closed

[2021-01-09 09:21] #1578 closed

[2021-01-12 14:21] EliteTechnicalCare commented on #1453
Definitely bumping for support especially since now SwiftPM has a gui and has been updated to handle frameworks better. Its far easier and less cumbersome then pods at this point.

[2021-01-14 15:55] asam139 commented on #1453
Please recently SPM is becoming more and more popular 🙏

[2021-01-14 21:36] benpackard commented on #1505
Anyone have any thoughts on what is required to fix this? Or even what kind of expertise is needed? As I understand it, it is currently not possible to archive an app that uses Parse and has any other target, such as a Widget.

I think we can be slightly narrower though - a project that only uses the Parse SDK itself archives ok. It's the use of any submodule that causes issues.

For example, this

[2021-01-14 22:52] bcbeta commented on #1505
I was able to get my project to archive using these instructions https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1505#issuecomment-632820475, but I do not know enough about cocoapods or frameworks to come up with a more permanent fix.

[2021-01-14 22:56] benpackard commented on #1505
I wonder if this is a cocoapods issue or something on our Parse pod side. Most of the fixes for this issue for other projects don't work here, and we have to resort to the fix mentioned by @bcbeta. Maybe someone with more knowledge will be able to help.

[2021-01-18 12:26] TomWFox commented on #1453
We would gladly accept a PR for this, as I understand we still need SPM support from Bolts-obj.

[2021-01-21 05:06] cbaker6 commented on #1587
dup #1103

[2021-01-22 15:44] chriscborg opened #1597 "Facebook SDK 8 deprecated, mandating upgrade to SDK 9"
Facebook has just launched Facebook SDK 9 and they are deprecating previous versions. This is therefore an upgrade that is required on Parse SDKs for both iOS and Android. Please find the message from Facebook below:

More details on their blog post [here](https://developers.facebook.com/blog/post/2021/01/19/introducing-facebook-platform-sdk-version-9/)

[2021-01-23 03:12] #1356 closed

[2021-01-24 22:21] TomWFox commented on #1597
Thanks for reporting, would you be willing to make a PR?

[2021-01-25 11:16] gytiskv commented on #1587
https://github.com/gytiskv/Parse-SDK-iOS-OSX
Here we have implemented the SSL pinning for our application. This is still not ready for PR - need to add some tests and documentation.

[2021-01-25 11:30] gytiskv commented on #1103
#1598

[2021-01-25 14:54] chriscborg commented on #1597
@TomWFox This would be my first attempt at contributing, but I will give it a go.

[2021-01-25 14:56] chriscborg commented on #1597
@TomWFox this would be my first attempt as I haven't contributed yet. I will go through the project and see if this is something within my reach.

[2021-02-02 14:41] kmaker commented on #1597
FWIW, I've successfully compiled Parse iOS SDK (master) with FB SDK 9.0, no changes needed.
@TomWFox hope you can make a new release soon, so we can use a tagged version of Parse rather than the master.

[2021-02-02 14:43] drdaz commented on #1597
@kmaker would you be willing to submit a PR?

[2021-02-02 14:45] drdaz commented on #1597
The required changes would likely look something like this: https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1580/commits/366d69f7c3852d3ba4abc5b76f2f88c154121927

[2021-02-02 15:34] kmaker commented on #1597
done!

[2021-02-02 16:39] notmani commented on #1578
merge but why new version is not available on https://cocoapods.org/pods/Parse ? there is still 1.19.1

[2021-02-02 20:55] kmaker commented on #1597
It looks like some test cases need to be fixed though (not the SDK code, but the tests themselves) . I'll see if I can fix them, probably next week.

[2021-02-03 00:36] ridergeek opened #1600 "Email Password Reset Always Shows Success - Even When Wrong/Invalid Email Submitted"
When submitting password reset via PFUser.requestPasswordResetForEmail, it always returns success-- even when an email is used that's not in the User table.  The code below used to work fine and show an error when a user tried to enter an email that wasn't in the User table.  Now it always shows the success message -- even when a non-present email is used.  The output from the print statements is

[2021-02-03 14:26] TomWFox commented on #1600
This is [expected behaviour since Parse Sever 3.1.0](https://github.com/parse-community/parse-server/blob/08b2ea45b0b499e83018bcaed498f7b043b2b027/CHANGELOG.md#310). It's a security best practice to prevent email enumeration.

[2021-02-03 14:26] #1600 closed

[2021-02-03 15:15] JoeSzymanski opened #1601 "For XCFramework support, Parse need to rename the Parse class"
One of the major limitations of the `BUILD_LIBRARY_FOR_DISTRIBUTION` flag that is required for generation of XCFRameworks when using Swift code is that there cannot be any top-level object with the same name as the library itself.

In order for Parse to support building for XCFramework usage, the `Parse` class will need to be renamed (or less likely, the library name will need to change).

This li

[2021-02-03 23:23] AshrafAbuBakr commented on #1472
I was running analysis on ly app and found 8 possible leaks in the SDK.
They are as follows:
1- PFPush.m (Line 322) :Converting a pointer value of type 'NSNumber *' to a primitive boolean value; instead, either compare the pointer to nil or call -boolValue
2- PFCommandCache.m (Line 250): Converting a pointer value of type 'NSNumber *' to a primitive boolean value; instead, either compare the point

[2021-02-04 10:43] drdaz commented on #1601
Have you got references for this issue?

I'd love to understand the wisdom behind such a limitation.

[2021-02-04 11:00] AshrafAbuBakr opened #1602 "Memory Leak"
I was running analysis on my app and found 8 possible leaks in the SDK.
They are as follows:
1- PFPush.m (Line 322) :Converting a pointer value of type 'NSNumber *' to a primitive boolean value; instead, either compare the pointer to nil or call -boolValue
2- PFCommandCache.m (Line 250): Converting a pointer value of type 'NSNumber *' to a primitive boolean value; instead, either compare the point

[2021-02-04 11:15] mman commented on #1602
From my understanding these are not leaks but rather a semantics bug.

I have not looked at the details yet, but all the NSNumbers can actually be NULL, in which case the boolean expression will evaluate to false. And all the NSNumbers can be non-NULL, in which case the boolean expression will evaluate to true.

So TODO is to check all these expressions and understand whether the NSNumber is expec

[2021-02-04 12:54] JoeSzymanski commented on #1601
This appears to be the primary issue: https://forums.swift.org/t/frameworkname-is-not-a-member-type-of-frameworkname-errors-inside-swiftinterface/28962/2

[2021-02-04 14:01] JoeSzymanski commented on #1601
To be more specific, Swift has a limitation where if a module and a type have the same name, as usage is assumed to be the type first. That leams to issues in the Swift Interface that's generated where any type that matches the name of the module causes the interface to fail to compile.

This happens even when Parse isn't Swift, because it is hit if any Parse type is exposed in a Swift interface.

[2021-02-04 14:38] drdaz commented on #1601
Why would you need to have Parse in your public interface?

I'm not sure what you're up to, but you might want to look at a facade or something similar to expose the relevant Parse functionality to your consumers. It might not be fun, but it's probably the right way; your library is Parse's consumer, not your user's app.

[2021-02-04 14:41] JoeSzymanski commented on #1601
We have multiple modules and currently expose Parse backed objects. The interface is generally between the modules, rather than directly to the host apps (though the general idea of that particular module is that a host app could generate a new UI on top of the data provided by that module).

That being said, I am looking into the feasibility of removing all references to Parse from the public int

[2021-02-08 18:43] JulienLevallois commented on #1541
@julianvogels I have the same problem? Did you find a solution?

[2021-02-09 15:40] julianvogels commented on #1541
@JulienLevallois since ParseLiveQuery 2.7.2 was released to CocoaPods, the issue vanished. Try `pod outdated` to see if there are more up-to-date versions of the `Parse` and `ParseLiveQuery` pods available and use those.

[2021-02-11 11:28] Aviad78 opened #1603 "No such module 'Parse'"
Hi :), well I installed the pods and followed all your instructions but still im having this error : "No such module 'Parse'" and can't solve it even tho i've tried everything :\

[2021-02-11 11:31] drdaz commented on #1603
Could you document your 'everything'?

[2021-02-11 11:34] TomWFox commented on #1603
Possible dup of #1225

[2021-02-11 11:43] Aviad78 commented on #1603
re-installed the pods, and followed this link - https://stackoverflow.com/questions/30663180/no-such-module-parse

[2021-02-12 22:05] PBeninga opened #1604 "Save Eventually doesn't save nested new, unsaved, child objects."
I am trying to support offline save operations with save eventually and I am running into an issue.

Lets say we have a TodoList class which has a relations to TodoListItem. What I would like to do when a new item is created is to create a relation between todoList and the new object, then save the new todoList
by calling `todoList.saveEventually()`, Right now it fails with `Tried to save an objec

[2021-02-15 15:19] cbaker6 commented on #1356
iOS devs,

[Parse-Swift](https://github.com/parse-community/Parse-Swift) had it’s first release (the day Flo closed this issue) and is currently on version 1.1.4.

If you are interested, the easiest way to give Parse-Swift a test drive is to fork and run the [ParseSwift.playground](https://github.com/parse-community/Parse-Swift/tree/main/ParseSwift.playground/Pages) in your simulator. ParseSwift.p

[2021-02-17 09:32] matej494 opened #1605 "Order method not working"
We used to successfully order elements in the query by the number filed of nested object. We just realised it does not work anymore.
Here is the example of the code, it is not the exact code, just the example:
[code]

Is this intended for some reason, or just a bug?

[2021-02-17 15:42] TomWFox commented on #1605
What version of Parse Server & the iOS SDK are you running?

[2021-02-17 16:01] matej494 commented on #1605
We are using `Parse (1.19.0)`. As for Parse Server I'll need to check with my team. I will get back to you on that.

[2021-02-17 16:41] matej494 commented on #1605
My team just informed me that we are using `Parse Server (4.2.0)`.

[2021-02-17 18:31] Kiplol commented on #1505
While #1505 (comment)

[2021-02-17 18:33] Kiplol commented on #1505
While [this workaround](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1505#issuecomment-632820475) still works for me, it removes the ability to use use_frameworks!.  Has anyone figured out a different workaround?

[2021-02-19 15:56] notmani commented on #1578
Can you please provide a feedback !

[2021-02-19 16:03] drdaz commented on #1578
It's because it hasn't been [released](https://en.wikipedia.org/wiki/Software_release_life_cycle) yet.

[2021-02-21 16:48] jesusmateos1234 opened #1606 "FR: Add XCFrameworks in tagged in version assets"
We'll fall in love if you add in version assets xcframeworks in zip files. FacebookUtils.xcframerwork, Parse.xcframerwork, TwitterUtils.xcframework ....

[2021-03-03 13:55] Anon-Mars opened #1607 "PFGeoPoint App Crash"
I know that usually latitude and longitude are sent as doubles via APIs, but when i got them as String app crashed telling that passed value latitude is not valid.

Would be better if there is a check condition to prevent app crashing.

Example:
Normal Double lat and lon :
---------------------------------------
"buyercurrlocation": {
                "__type": "GeoPoint",
                "latitude

[2021-03-03 14:07] #1607 closed

[2021-03-04 16:01] JulienLevallois commented on #1597
Hi, do you have news ? How can i update it ?

[2021-03-04 16:39] JulienLevallois commented on #1578
What's the solution to use the latest version of FBAudienceNetwork

This is my configuration

  pod 'Parse/FacebookUtils'
  pod 'Parse/UI'
  pod 'Parse'
  pod 'ParseLiveQuery'

[2021-03-05 17:48] #1597 closed

[2021-03-06 01:25] JulienLevallois opened #1608 "Trying to Install Parse/FacebookUtils with CocoaPods"
Hi,

Im trying to install Parsse/FacebookUtils with cocoaPods and I got this error. I want to install it for Facebook 9.0

<img width="259" alt="Capture d’écran 2021-03-05 à 20 23 33" src="https://user-images.githubusercontent.com/5727223/110190355-d5f29500-7df0-11eb-9ca3-adeddb4e8074.png">

I got theses errors

<img width="507" alt="Capture d’écran 2021-03-05 à 20 23 38" src="https://user-ima

[2021-03-08 18:58] cbaker6 commented on #1602
@drdaz I believe what @mman mentioned:

is related to what I was talking about here: https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1581#discussion_r551999718

[2021-03-11 16:04] #1608 closed

[2021-03-16 16:53] miguelsanchez commented on #1583
Any update on this?

[2021-03-18 08:54] jesusmateos1234 commented on #1606
@nilkanth987
@kashif @mt81 @toto @drdaz could someone response to this request?
@cbaker6

Today you have fat frameworks in this zips, but it's a bad practice use it. Could you add inside them xcframeworks like other repos have?

Thanks for all

[2021-03-20 00:44] cbaker6 commented on #1606
This is a duplicate issue by you which has a pull request #1561. Why would you open another issue on the subject? You can just comment on the already open issue or pull request.

If you want to help out with pull request feel free to contribute to the current one or if you have another way of doing it, implement it and open up a pull request.

Closing this issue

[2021-03-20 00:44] #1606 closed

[2021-04-09 15:40] martinpfannemueller opened #1611 "Support for custom object ids"
Using the allowCustomObjectId option of parse-server, it is possible to provide custom object ids on the client side. It seems to me, that there is no support for this yet in the iOS SDK. I know that there is the new Swift SDK with support for this (https://github.com/parse-community/Parse-Swift/pull/100 and https://github.com/parse-community/Parse-Swift/pull/101). Is it planned to add this to thi

[2021-04-09 19:41] TomWFox commented on #1611
It's not planned to add said feature to the iOS SDK in that no one is currently working on it to my knowledge. There is currently very little feature development on this SDK but we do welcome contributions for this or anything else.

Currently the Swift SDK is seeing much more new feature development, thanks to @cbaker6. But at this time we have no intention of archiving the iOS SDK as it still pl

[2021-04-10 05:06] cbaker6 commented on #1611
If you plan on implementing custom objectIds, I recommend looking at . The same goes for any of the other missing features as the design of JS SDK is similar to this one.

[2021-04-11 18:25] cbaker6 commented on #1611
@TomWFox a note about Parse-Swift and archiving the iOS SDK just in case this comes up in the future... Parse-Swift is based on using `struct`'s to create `ParseObjects` and is Pure Swift which is why it can be built on Linux and Android. If I remember correctly, objective-c doesn't have the notion of `struct`'s and uses classes only. Because of this, I'm confident you can't use Parse-Swift in Obj

[2021-04-13 16:27] Brakkar opened #1612 "Suggestion for iOS sdk: saveAll in background eventually"
It would be good if we could use saveAll in background eventually on several [Objects].
Currently it's only possible to save in bg + eventually on a single object.

regards,
Brak

[2021-04-14 06:16] michaello opened #1613 "How to access PFUser.current field without Parse framework?"
Hey there,

My app doesn't use Parse framework anymore. However, I want to look for `.current()` to see object id. Is this possible? I checked Keychain contents, but it only stores token.

Thank you!

[2021-04-15 15:20] riccardoch commented on #1569
New about this issue?

[2021-04-15 19:02] noobs2ninjas commented on #1612
This is a good suggestion. I'll check the code but if this isn't implied with arrays, I think it should be when it comes to saving an array of objects.

[2021-04-15 19:04] noobs2ninjas commented on #1612
Oh, one other thing. A good argument against this is that if the network is such that save eventually is something you need to use then you probably want a callback per object anyway. Just a thought.

[2021-04-28 06:51] jesusmateos1234 opened #1614 "FR: Parse iOS Framework"
Parse iOS Framework has a .string with one and ony string not translated.
I think that if you remove it, the framework could be a static framework changing the mach-o type.

[2021-05-10 17:46] Kiplol commented on #1505
Hi, I'm still having this issue on Xcode 12.5, cocoa pods 1.10.1, Parse/Core and Parse/FacebookUtils 1.19.2.

`error: Multiple commands produce '/Users/runner/Library/Developer/Xcode/DerivedData/scy-cifziqnafebkbeeykfagqbprxptp/Build/Intermediates.noindex/ArchiveIntermediates/scy/IntermediateBuildFilesPath/UninstalledProducts/iphoneos/Parse.bundle':
1) Target 'Parse-Core-FacebookUtils-Parse' has c

[2021-05-10 20:18] benpackard commented on #1505
Same here. I've found that I can delete derived data, clean the project and 50% of the time it builds. I have to repeat it until it works. Very strange.

[2021-05-18 05:28] itayAmza commented on #1453
Any progress with this one? tnx

[2021-05-18 08:17] drdaz commented on #1453
Right now I'm working on a fork of our dependency Bolts-Objc with SPM support. Once that works, I'll see if I can do the same to the SDK.

I can't give you an estimate on completion, sorry.

[2021-05-21 17:46] drdaz commented on #1453
I've got a [PR open against Bolts](https://github.com/BoltsFramework/Bolts-ObjC/pull/347) that adds SPM support.

Started looking at this library today.

[2021-05-21 17:54] drdaz commented on #1614
ParseUI has lots of translated strings :)

[2021-05-26 00:29] eeallen1 commented on #1120
@nghuiqin Did you ever come up with a workaround? I've also tried reverting the user object, but it doesn't seem to work. It's very frustrating because it seems that 1 failed save results in all subsequent save attempts failing as well, even if I revert the user object

[2021-06-04 16:39] drdaz commented on #1453
WIP [here](https://github.com/drdaz/Parse-SDK-iOS-OSX)

[2021-06-07 12:15] drdaz commented on #1453
For real though, if they announce that Objective-C imports will soon just work with SPM at WWDC this week... I'm gonna scream so loud.

[2021-06-12 20:18] funkenstrahlen commented on #1453
Maybe not an option for everyone but there is a rebuild of the Parse API for iOS in Swift: https://github.com/parse-community/Parse-Swift

[2021-07-13 17:51] CWftw commented on #1584
@niliyam We were wondering the same thing. Did you find a solution for this?

[2021-07-13 21:14] jordaneckhardt commented on #1345
Was there a resolution to this issue?

[2021-07-13 21:15] jordaneckhardt commented on #1345
@duffek @AlexPestre @flovilmart

[2021-07-21 01:52] #1562 closed

[2021-07-21 11:49] JoeSzymanski commented on #1601
This is still an issue if Parse ever wants to support XCFramework, which may be an issues with M1 support. We have worked around it for our own issues, but I'm not sure if there's still a more general issue here.

[2021-08-05 04:08] bmueller opened #1618 "EXC_BAD_ACCESS crash on iOS 14 devices using Xcode 13 beta"
I'm getting an EXC_BAD_ACCESS crash whenever I run my project on an iOS 14 device using the Xcode 13 beta. Seems to be happening in the `registerSubclassesInBundle` method of the PFObjectSubclassingController class.

<img width="1024" alt="image" src="https://user-images.githubusercontent.com/2242284/128289338-e62bae70-a222-4504-8c4a-50f61aea4df0.png">

[2021-08-05 04:49] bmueller commented on #1618
Never mind, this is an issue with an iOS 15 class.

[2021-08-05 04:49] #1618 closed

[2021-09-09 12:51] carbonimax commented on #1453
Any news ?

[2021-09-09 12:58] drdaz commented on #1453
There's nothing newer than what's on my branch right now that I'm aware of. But the main Parse SDK imports properly using SPM in that branch IIRC.

I do plan on getting it working, but I need to find time.

I'd welcome any help. PR is [here](1616).

[2021-09-21 03:03] bcbeta opened #1620 "PFActionButton configuration property conflicts with UIButton in iOS 15"
`@property (nonatomic, strong) PFActionButtonConfiguration *configuration;`

gives error:

and

[2021-09-22 13:10] davewhipps commented on #1620
I'd just like to 'upvote' this. Apple automatically updated XCode last night, and the new/latest (iOS 15) SDK breaks this. I'm using the cocoapod, so my app won't build and I'm stuck in the water.

[2021-09-22 14:44] idefen1 commented on #1620
same here =*(

[2021-09-22 18:17] RealKnappster commented on #1618
Hi @bmueller - I'm currently seeing a similar issue on my end.  What ended up being the fix for you?

[2021-09-22 18:22] bmueller commented on #1618
@RealKnappster I had to go into PFObjectSubclassingController and, in `registerSubclassesInBundle`, change this loop to skip checking the classes (marked "XXXXXX" below) that are causing the crash:

`        for (unsigned i = 0; i < bundleClassCount; i++) {
            NSString *className = [NSString stringWithUTF8String:classNames[i]];
            if ([className isEqualToString:@"XXXXXXXX"]) {

[2021-09-22 18:36] RealKnappster commented on #1618
@bmueller Ah interesting- so you ended up forking the repo then?  I'm getting the EXC_BAD_ACCESS on the auto-generated model access files from each of my on-device CoreML models.  Are you using any .mlmodel files in your project?

[2021-09-24 03:24] gorillatapstudio commented on #1620
Let's just change it from configuration to config to have a quick fix.

[2021-09-26 08:23] ashish-naik commented on #1620
@bcbeta @davewhipps @gorillatapstudio @idefen1 Till the time official fix arrives, one solution is to download  previous version of xcode from [download page](https://developer.apple.com/download/all/?q=xcode).

Once downloaded, unzip the file and rename it to add version number and move it to Applications folder. Renaming required so as to not overwrite version that exists in Applications folder.

[2021-10-01 08:27] matej494 opened #1621 "Update FBSDK dependancy"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).

### Current Li

[2021-10-10 17:59] cbaker6 commented on #1620
This issue is currently open? The ParseSwift issue was closed because the comment you left was unrelated to that SDK.

[2021-10-14 15:24] DevStreamLine opened #1623 "Login with AppleID Question..."
So I am using ParseUI to login with AppleID.  Everything works great, except I cannot seem to get the email address.  I have looked at the Poarse code and it seems to be requesting it.  I also see the box checked in the login dialog apple provides when I perform the login.

However, the PFUser Object shows the email as nil.  It does populate username.

Here is some code:

[code]

If I set a breakp

[2021-10-14 15:56] #1623 closed, assigned to nobody

[2021-10-14 17:57] DevStreamLine opened #1624 "Login with AppleID Question..."
So I am using ParseUI to login with AppleID.  Everything works great, except I cannot seem to get the email address.  I have looked at the Poarse code and it seems to be requesting it.  I also see the box checked in the login dialog apple provides when I perform the login.

However, the PFUser Object shows the email as nil.  It does populate username.

Here is some code:

[code]

If I set a breakp

[2021-10-14 17:57] #1624 closed

[2021-10-14 18:19] mtrezza commented on #1570
Closing as this seems to be an issue with bolts.

[2021-10-15 09:56] drdaz commented on #1624
@DevStreamLine This doesn't look like an SDK issue. It looks like you're not doing anything with the credential response from Apple; you're just printing something. The data you're looking for is available in that callback method on the first successful login.

[2021-10-15 13:18] cbaker6 commented on #1624
IMO, In terms of query and functionality it's probably the most complete or on par with the most complete SDK, the JS SDK. The only thing missing is local storage which probably won't be implemented anytime soon, but developers can handle that piece.

Definitely not, it's designed completely different, but some who have converted said it wasn't too hard.

[2021-10-15 13:27] DevStreamLine commented on #1624
Great, thank you.  I will check it out.  Also, I did see what I have to do to retrieve the email address.  My bad, I just thought the parse SDK magically filled it in.  It looks like the delegate gets called with the ASAuthorizationAppleIDCredential and I need to pull it from there.  Makes sense.  Thank you again for all your help.

[2021-10-15 13:48] DevStreamLine commented on #1624
@drdaz Yep, got it!!  Updated code and now I get the email and other info. Thank so much, I should have caught it myself, just thought there was some parse magic in there... my bad.  Thanks for the help.

[2021-10-20 08:37] alexionut commented on #1621
We also get this
![image](https://user-images.githubusercontent.com/6870703/138058422-2f08c4e0-d4b8-4853-a391-4d5f965c2da1.png)
And there's no way of updating it

[2021-11-06 20:15] EliteTechnicalCare commented on #1453
Problem is, its currently missing a lot of features and because they renamed a bunch of methods new users may struggle to implement it until documentation is updated accordingly.

[2021-11-06 21:23] vdkdamian commented on #1453
It's not difficult to implement. And what features are you missing?

[2021-11-06 21:56] EliteTechnicalCare commented on #1453
A quick example would be say you have a new user starting with back4app and in the tutorial to confirm you set it up right they have this code:

[code]

[2021-11-06 22:32] vdkdamian commented on #1453
Yes, that's correct, but it's more Back4App that needs to update their docs for ParseSwift also. I came from Parse for objective c, and then switched to ParseSwift.

There is a playground example in ParseSwift that show you how to use it. It's actually really easy. The documentation for ParseSwift is also well written.

I personally strongly advice to switch to ParseSwift. But that's my opinion.

[2021-11-07 00:00] EliteTechnicalCare commented on #1453
That's not a bad idea ill give the playground a shot because I hate dealing with CocoaPods etc. I appreciate the offer and will give it a shot.

[2021-11-10 02:08] benpackard commented on #1621
Just as an added incentive, apparently `12.1.0` includes a fix for all those `NSKeyedUnarchiver` console warnings (according to [this.](https://github.com/facebook/facebook-ios-sdk/issues/1887))

[2021-11-12 15:23] mtrezza opened #1626 "Test AnonymousUtilsTests testLogInViaBlock fails consistently"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-11-12 15:46] #1620 closed

[2021-11-12 15:46] #1621 closed

[2021-11-12 16:02] mtrezza opened #1628 "Add release-automation"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).

### Current Li

[2021-11-12 16:03] mtrezza commented on #1628
@drdaz I haven't done a release in this repo yet, could you describe the manual process currently, so we can see how to automate these steps?

[2021-11-15 19:34] drdaz commented on #1628
Sure.

Make a release branch + PR
Update version numbers: `bundle exec rake package:set_version[X.X.X]`
Update Changelog
Tag release & push tag
Add notes to releases page on GitHub

I... I think that's it. Often the LiveQuery lib needs it's podfile updating too.

[2021-11-16 12:49] mtrezza commented on #1628
Thanks!

What are these updates?

[2021-11-16 13:25] drdaz commented on #1628
Generally yeah, assuming no last-minute tweaks. I usually dump the root folder in VSCode and search for the old version number after the script is run, just to make sure.

The version number of the Parse iOS SDK library in the podfile typically. Cocoapods often wants to select the previous version (even though it's specced using ~> notation).

[2021-11-16 15:10] JulienLevallois commented on #889
@AmbroiseCollon did you find a solution ? I would to have this feature too

[2021-11-16 16:09] mtrezza commented on #1628
Got it, I think we can make a script that updates all the version numbers and we should be good.

[2021-11-16 18:09] JulienLevallois opened #1630 "Cache System With Parse Cloud Code Functions"
Hi, I want to use a cache system for Parse Cloud Code functions, similar to the system we have with normal queries.
How can I do that? Thanks

[2021-11-17 23:03] erinlee1109 commented on #1310
From Parse's PFUSer file:
"Many APIs responsible for linking a `PFUser` with Facebook or Twitter have been deprecated in favor of dedicated utilities for each social network. See `PFFacebookUtils`, `PFTwitterUtils` and `PFAnonymousUtils` for more information."

[2021-11-18 11:04] Svantulden opened #1631 "iOS 13 crashing on _assertValidInstanceClassName when building for iOS 15 for some users"
### New Issue Checklist
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-11-18 13:46] mman commented on #1631
How do you integrate the SDK please? CocoaPods? Carthage? Manually? Do you have any changes in the SDK? How you compile it?

I just tried to debug this code path on iOS 15 and the stack trace looks different. The `[PFObject init]` actually correctly goes into `[PFInstallation(Private) _assertValidInstanceClassName:]`, and that method does not check (correctly) for underscore.

In your case on iOS

[2021-11-18 15:01] mman commented on #1631
Just tried to debug this again under simulator running iOS 13.0 and iOS 13.7 and it behaves correctly. Not sure if you can achieve the same (for example by including Parse iOS SDK as a Xcode subproject) and try to debug/reproduce this on your machine on any iOS 13 device.

The breakpoint line is here: https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/e09104ee362ee1a98cf684336097d8f5701031a

[2021-11-19 11:06] drdaz commented on #1628
Is this a thing that's happening Really Soon™️? Or should I manually create this release? 🙂

[2021-11-19 15:55] Svantulden commented on #1631
Thanks for your quick reply!

We are using Carthage with `--use-xcframeworks` on an XCode 13 command-line tools version. No custom changes in the SDK, just the 1.19.2 version. Previously (before updating to XCode 13 / iOS 15 stack) we also used Carthage, without `--use-xcframeworks`.

Nice find. Strange indeed. Do you know any ways for it to end up using the installation as a class name? I'm yet t

[2021-11-19 16:03] mman commented on #1631
You can quickly try to debug it via Xcode Simulator running iOS 13. Download the iOS 13.0 simulator images via Xcode preferences / components window and just run your app against random iOS 13 simulator.

The `PFInstallation.currentInstallation` will be called at some point in a lifecycle of your app, and this can give you an idea whether you can actually crash the app in DEBUG builds running agai

[2021-11-19 17:08] mtrezza commented on #1630
I'm closing this as it does not seem to be a Parse ObjC SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org)
- For coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and server questions we recommend ServerFault using the [parse-server](htt

[2021-11-19 17:08] #1630 closed

[2021-11-19 17:09] mtrezza commented on #1614
I'm closing this as it does not seem to be a Parse ObjC SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org)
- For coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and server questions we recommend ServerFault using the [parse-server](htt

[2021-11-19 17:09] #1614 closed

[2021-11-19 17:10] mtrezza commented on #1602
I'm closing this as it seems to be resolved. Feel free to comment if you have any questions and we can re-open this issue.

[2021-11-19 17:10] #1602 closed

[2021-11-19 17:11] mtrezza commented on #1613
I'm closing this as it does not seem to be a Parse ObjC SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org)
- For coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and server questions we recommend ServerFault using the [parse-server](htt

[2021-11-19 17:11] #1613 closed

[2021-11-19 18:56] mtrezza commented on #1628
I'm looking into auto-release over the next days. If you need it urgently, I can manually release.

[2021-11-21 20:42] mtrezza commented on #1628
@drdaz I see that you are an owner on cocoapods. Could you add a new owner to there? I would send you the email via Slack if you are there.

[2021-11-21 20:56] drdaz commented on #1628
@mtrezza I can give it a shot, but I can't get into Slack. The 2FA emails just aren't getting to me 🤔

Any other channels?

[2021-11-21 21:26] mtrezza commented on #1628
could you email me at manueltrezza@parseplatform.org?

[2021-11-21 21:27] mtrezza commented on #1628
could you invite services[@]parseplatform.org?

[2021-11-21 21:41] drdaz commented on #1628
There's an invite elsewhere I've clicked on. I'm sure I've been in there before.

The auth just isn't working right now I think.

[2021-11-21 21:43] mtrezza commented on #1628
I don't think there's a publicly available Slack invite at the moment, they usually expire, so invite is only on a per-user basis now.

[2021-11-21 21:52] drdaz commented on #1628
That worked. And I've added that email you shared as an owner on the Pod.

[2021-11-21 21:55] mtrezza commented on #1628
Thanks, it worked indeed

[2021-11-21 22:14] mtrezza commented on #1628
@drdaz Do you thin you could stand-by when I merge the auto-release PR, just in case? 4 eyes would be better than 2.

[2021-11-21 22:45] cbaker6 commented on #1628
The assets I added back in releases starting from 1.19.2 are missing from the auto-release:

1.19.3

<img width="937" alt="image" src="https://user-images.githubusercontent.com/8621344/142781873-f11ab006-fbde-44bc-8abb-172534be4b42.png">

1.19.2

<img width="933" alt="image" src="https://user-images.githubusercontent.com/8621344/142781890-c06e7fa6-3970-4f66-a456-24d0e9c7af4a.png">

[2021-11-21 23:06] mtrezza commented on #1628
they are currently being compiled

[2021-11-21 23:10] mtrezza commented on #1628
Re-opening, as we need to verify the assets and pods were build correctly before closing this.

[2021-11-21 23:11] cbaker6 commented on #1628
I see the assets showing up. Just a long build I guess.

[2021-11-21 23:12] mtrezza commented on #1628
Yes, it takes about 25 minutes before the assets are added to the release.

[2021-11-21 23:13] cbaker6 commented on #1628
I left this comment to speed up the cocoa pod release: https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1632#discussion_r753868927

[2021-11-21 23:40] mtrezza commented on #1332
Closing this 4 year old issue; if a feature is wanted, please open a dedicated issue for it.

[2021-11-21 23:40] #1332 closed

[2021-11-21 23:44] mtrezza commented on #1603
I'm closing this as it does not seem to be a Parse ObjC SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org)
- For coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and server questions we recommend ServerFault using the [parse-server](htt

[2021-11-21 23:44] #1603 closed

[2021-11-21 23:56] mtrezza commented on #1628
@drdaz as I'm cleaning up the branches as well, there is a branch `xcode-12` from you. can i delete it or is it still needed?

[2021-11-23 08:05] Svantulden commented on #1631
Ah, I thought you meant a physical device specifically, as we cannot reproduce the crash in an iOS 13 simulator while debugging yet.

Good idea. I've tried this (checking out the 1.19.2 project and adding it as a sub-project for my app), but I'm seeing the same stack trace as you do when setting a breakpoint on `_assertValidInstanceClassName` of `PFInstallation`. The one on `PFObject` itself doesn

[2021-11-23 09:07] mman commented on #1631
I am not that familiar with the internals, but from pure deduction, each implementation of `PFSubclassing` protocol (or `PFObject`) subclass calls `_assertValidInstanceClassName` during its creation.

The default implementation (in `PFObject`) checks whether the class name does not start with underscore. Not sure why, I assume underscored class names and mongo collections are reserved for internal

[2021-11-23 11:30] Svantulden commented on #1631
Agreed that it's a huge speculation, but this issue only occurring on iOS 13 versions seems so strange to me.

Thanks for the extra explanation. I've experimented some with those different breakpoints in the different `_assertValidInstanceClassName` versions. When a user is logged in within our app, the `PFUser` variant of `_assertValidInstanceClassName` gets hit together of the one in `PFInstalla

[2021-12-10 11:29] MaartenZonneveld opened #1633 "Can't install on device with Xcode 13.2 RC"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-01-03 08:53] Svantulden commented on #1631
It has been fixed by us simply recompiling the same Parse version with Carthage on the latest Xcode 13.1 production command-line tools 🙌, where we previously compiled it with Xcode 13.0

So it looks like it was a weird compiler bug after all 😅

[2022-01-03 08:53] #1631 closed

[2022-01-14 14:56] JuLink commented on #1633
@MaartenZonneveld I had the same issue even on the 13.2.1 Xcode version. Using the `--no-use-binaries` for the Carthage command fix the issue. Not sure if the issue is in Parse binary or Facebook/Bolt binaries.

[2022-01-19 15:37] mman commented on #1453
I have started prototyping swift package manager support for Bolts and Parse-SDK-iOS-OSX in a similar way as @drdaz.

_[For new projects it may be the obvious choice to use https://github.com/parse-community/Parse-Swift, but for existing projects migrating to a new client side SDK may pose more troubles then integrating subset of old Objective-C SDK via swift package manager.]_

To simplify things

[2022-01-20 12:35] mtrezza commented on #1591
We may be moving straight to [SPM support](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1453) and skip fixing the carthage build altogether, see discussion in https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1615. In the meantime, I found a rather complex way to build with carthage on Xcode 13.2.1:

1. Use [carthage build script](https://github.com/Carthage/Carthage/blob/ma

[2022-01-20 12:53] mtrezza commented on #1591
I'm keeping this issue open as a thread to look for help when building with carthage, but with a note that we intend to focus on Swift Package Manager support (https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1453) instead of fixing carthage build process.

[2022-01-20 13:33] mtrezza commented on #1453
Due to the accumulating difficulties regarding carthage and xcframework building on Xcode >=12 I've added a bounty to SPM support in the hopes to incentivize and revive this effort. I've also marked the issue [Carthage Xcode >=12 compatibility](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1591) as bug that won't be fixed, so we can fully focus on SPM support.

[2022-01-20 16:07] mman commented on #1453
I have been able to re-introduce Parse SDK test files into https://github.com/mman/Parse-SDK-iOS-OSX/tree/spm and make them compile for macOS, and iOS. tvOS, and watchOS need to be done.

Quick run of `swift test` makes majority of the tests pass, with couple failing for various "assumption" reasons that were valid in the Xcode days (always present Info.plist, always having hosting UIApplication,

[2022-01-21 13:34] cbaker6 commented on #1453
@EliteTechnicalCare can you either “correct” or “delete” your comments about the Swift SDK? Neither were true when you posted them. This particular issue is currently pinned and will get more attention. I don’t want people coming across your comments perceiving them as facts when they are not. This is synonymous to when people tweet or post saying, “parse server is dead,” and others believe it.

W

[2022-01-21 13:46] mtrezza commented on #1453
@cbaker6 Have you come across any plans / demands for adding SPM support to the Parse Swift SDK? I think once we support SPM, we could also end support for all other dependency managers such as cocoapods and carthage? The 2 repos (ObjC, Swift) don't have to be aligned, but it would be interesting to know.

[2022-01-21 13:50] cbaker6 commented on #1453
The Swift SDK has always supported SPM along with Cocoapods and Carthage. More info in the readme: https://github.com/parse-community/Parse-Swift#swift-package-manager. SPM has always been labeled as the preferred way for the Swift SDK.

[2022-01-21 13:59] mtrezza commented on #1453
Amazing, I haven't noticed that. Maybe @drdaz could get in touch in case there are any obstacles in https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1616.

[2022-01-21 14:44] cbaker6 commented on #1453
They are just there for people who don't want to use SPM and are more comfortable the others. For the Swift SDK, it's not hard to keep support for Cocoapods and Carthage. SPM is definitely the easiest to use.

[2022-01-21 15:57] drdaz commented on #1453
This is kind of a big deal. It means I won't have to dig into the challenges I was describing [here](https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1615#issuecomment-1016563470). Running the tests using swift test make an awful lot more sense than what I was talking about 👍🏼

These things used to be separate GitHub projects not too many years ago, and I think they got reincluded in the

[2022-01-24 10:36] mman commented on #1453
Both of these depend on 3rd party SDKs that may get broken at various stages of life blocking the updates and release of core Parse iOS SDK. It also makes the resulting binary bigger, it also then links your project to SDKs that you do not use and perhaps do not want to have linked at all (for example if I am not mistaken, just linking a facebook SDK to your app did in the past trigger various red

[2022-01-24 16:39] mtrezza commented on #1453
SPM allows to select only the needed subpackages. Would that allow to add only the main Parse SDK without Facebook Utils and without the FB SDK as 3rd party dependency?

[2022-01-25 11:04] drdaz commented on #1453
As @mman says, yes it should. I believe the only install route that suffers from everything always being installed is Carthage.

It's a legitimate concern, but since we specify which version of the FBSDK we use, the breakage generally won't catch us unawares. Moving between FB dep versions is an explicit, conscious action, and the developer should be able to see if the update breaks anything.

The

[2022-02-02 14:15] drdaz commented on #1453
@mman I've been bashing my head against against something for a minute now... I've got my branch rebased with mainline, but it seems like no matter what I do, I can't get the tests to see the main source files. You're doing it with cSettings I gather, but when I do similar, they seem to be ignored.

Do you know of any reason why this might be? The only differences I can see are that I use the path

[2022-02-02 14:57] mman commented on #1453
@drdaz Do you have any error messages?

The line: https://github.com/mman/Parse-SDK-iOS-OSX/blob/b1f2a5cd1e5df228c34171495af0ccd3455492a2/Package.swift#L25 here shows that tests must depend on Parse, Bolts, and OCMock, and we only use .headersSearchPath to actually lookup internal header files that are not public

[2022-02-11 14:09] MaartenZonneveld commented on #1633
Since using Xcode 13.2.1, I'm no longer having this issue.
Using the `--no-use-binaries` argument or not does not make a difference for me.

[2022-02-11 15:37] MaartenZonneveld commented on #1633
I haven't encountered this problem anymore.
I'm not sure if it was resolved in Xcode 13.2.1 (up from 13.2) or I initially incorrectly embedded the Parse framework in our app, thinking it was a dynamic framework, while it is actually static.

Using the `--no-use-binaries` argument did not make a difference for me.

[2022-02-11 16:41] drdaz commented on #1633
It's pretty awesome when things fix themselves.

@JuLink can you confirm?

[2022-02-23 13:24] KashifRizwan007 opened #1635 "Upgrade Facebook SDK to latest version"
Facebook has asked to update the SDK to the latest version but Parse/FacebookUtils still uses version 11.0.1.
Would be thankful if this can we done asap as my work is on-hold because of this

[2022-02-23 13:26] drdaz commented on #1635
This is effectively impeded by https://github.com/facebook/facebook-ios-sdk/issues/1936

Tell them about it.

[2022-03-09 14:48] drdaz commented on #1633
Closing this. You're welcome to reopen if it comes back.

[2022-03-09 14:48] #1633 closed

[2022-03-30 22:06] OpConTech opened #1637 "Saving New Child Object with Pointer to Parent Object Crashes when ParseConfig vars set in Environment"
### Issue Description
Saving Child Object with Pointer to Parent Object Crashes when ParseConfig vars set in Environment (e.g. .xcconfig file). This only happens when saving a New child object and specifying a pointer to the Parent object. (e.g. New Comment for Existing Post).

### Steps to reproduce

This is weird so I made some test code to isolate this and reproduce.
The following test code wor

[2022-03-31 10:19] mman commented on #1637
@OpConTech Most likely not an issue with Parse SDK. If you want to configure via variables present in `.xconfig` files, you have to also manually add all those variables to your `Info.plist` where you are actually reading them from.

Since `Info.plist` is not present at all in newly created Xcode projects, I assume even if you did specify the variables via Xcode Info.plist editor, the values you p

[2022-03-31 15:41] OpConTech commented on #1637
Thanks @mman. To minimize the issue report, I didn't include the info.plist with environment vars and config.xcconfig with matching Parse keys in my sample test code.. But those files are configured in the full "Test App".  I think this is a bug because the environment vars  approach works just fine for the rest of the Parse SDK functions  and .saveInBackground() as long as you don't include a poi

[2022-03-31 16:25] mman commented on #1637
@OpConTech put a breakpoint or print into the `ParseClientConfiguration` closure and verify that you are reading correct values for `API_KEY_PARSE_APPLICATIONID` and `API_KEY_PARSE_SERVER`.

I can only guess from the minimal sample that you are having a problem with the `Info.plist`, reading nil values from there and crashing.

[2022-03-31 17:42] OpConTech commented on #1637
Good point!  @mman

I added a print statement for the ParseConfig vars just before .saveInBackground:

-------- Begin Struct -------

struct testing_chlld_parent_saveApp: App {

    @UIApplicationDelegateAdaptor(AppDelegate.self) var delegate

    var body: some Scene {
        WindowGroup {
            ContentView().onAppear(perform: postComment)
        }
    }

    func postComment() {

[2022-03-31 17:56] mman commented on #1637
Sounds weird. Configure an exception breakpoint in Xcode and catch it live while running... https://www.hackingwithswift.com/example-code/xcode/how-to-create-exception-breakpoints-in-xcode

[2022-03-31 18:07] OpConTech commented on #1637
Yes...it is weird.
Another way of looking at it:
(in both cases ParseConfig vars are stored in .plist)

Works:
--------------------
    func postComment() {
        // Create the post
        let myPost = PFObject(className:"Post")
        myPost["title"] = "I'm Hungry"
        myPost["content"] = "Where should we go for lunch?"

        // Create the comment
        let myComment = PFObject(class

[2022-03-31 18:26] OpConTech commented on #1637
@mman the exception is flagging the issue here in the ParseSDK:

PFRESTObjectBatchCommand

line 33:
      NSMutableDictionary *requestDictionary = [@{ @"method" : command.httpMethod,
                                                     @"path" : commandURL.path } mutableCopy];

Thread 4: "*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[1]"

[2022-03-31 18:32] OpConTech commented on #1637
I am guessing that PFRESTObjectBatchCommand is only used when saving a pointer....
And that breakpoint shows a problem with the url path to the parse server.

So I left the appId in pList and hardcoded the server url and it worked.
The way I have been using the server var in app del is:
 server = "https:\(Bundle.main.infoDictionary?["API_KEY_PARSE_SERVER"] as! String)"

So still not making sense b

[2022-03-31 23:10] #1637 closed

[2022-04-12 18:41] JohnRoxMySox23 opened #1642 "Compiling iOS SDK manually fails (lipo error)"
### New Issue Checklist

- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [X] I can reproduce the issue

[2022-04-16 11:16] LaChrome commented on #1290
I experienced this issue for the first time this week, and it's happening fairly often for me now with a newly staged server.

iOS Client code has remained the same, Parse server was upgraded from 4.2.0 to 5.2.0.

I'll do some testing to see what I can find out.

[2022-04-24 11:14] cjosepha commented on #1553
This issue is still occurring on Parse 1.19.3 and Xcode 13.3

[2022-04-28 21:38] mtrezza opened #1643 "Security review of 3rd party services"
We are doing our annual security review of 3rd party services. The goal is to remove permissions of services that are no longer used in this repository's CI workflow.

Services that need to be reviewed:

- [ ] Travis CI for Open Source
- [ ] Coveralls
- [ ] StyleCI
- [ ] Travis CI
- [ ] AppVeyor
- [ ] AppVeyor CI
- [ ] CircleCI
- [ ] Code Climate
- [ ] Packagist

[2022-04-28 23:46] cbaker6 commented on #1643
This repo uses Circle CI

[2022-04-29 09:17] mtrezza commented on #1643
Thanks for the review, is CircleCI the only service of the above that this repo uses?

[2022-04-30 10:50] cbaker6 commented on #1643
Circle is the only one in use that I know of

[2022-05-03 08:52] flamesoft opened #1644 "Parse iOS framework doesn't work with Macbook M1"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-05-24 01:35] benpackard opened #1646 "Group Identifier and Bundle Identifier are reset after initializing Parse with a `ParseClientConfiguration`"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-05-24 02:10] benpackard commented on #1646
It seems that this only happens if Parse is initialized using `initialize(with: config)`, which I believe is the recommended approach.

If I use `Parse.setApplicationId` and `Parse.setServer` instead, the values of the sharing properties are maintained correctly. This isn't a viable solution though, since I don't use a client key which `setApplicationId` requires. I also built some nice environmen

[2022-05-24 12:56] benpackard commented on #1646
Not a bug. Just a difference in how to configure the environment. The correct solution if using a `ParseClientConfiguration` is:

[code]

[2022-05-24 12:56] #1646 closed

[2022-05-26 06:12] jferrer21 commented on #1644
I'm having the same problem
[test2.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/8776689/test2.zip)
.

[2022-05-27 00:48] mistralaix opened #1647 "Library not loaded: @rpath/Bolts.framework/Versions/A/Bolts"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-06-01 09:58] danipralea commented on #1453
hello everyone. is there any kind of update on this?
I currently have a `Package Resolution Failed` error
![image](https://user-images.githubusercontent.com/768893/171378959-56e13a1c-df9e-4d09-b3bb-f9647ebacbc5.png)

[2022-06-01 10:27] mman commented on #1453
@danipralea What URL you specified as a dependency? I guess the way to the future is to use Parse Swift SDK implementation and fall back to this legacy repository only when you really need it and know what you are doing.

Feel free to use the `spm` branch of my fork from https://github.com/mman/Parse-SDK-iOS-OSX.git, that should resolve and work just fine but the question is whether this will ever

[2022-06-01 12:13] mtrezza commented on #1453
Got it. I think as long s this repo is embeddable with in some way, I think we're good. We made carthage work recently, so it's available I'd say.

[2022-06-02 03:52] benpackard commented on #148
@TomWFox @mtrezza What would it take to get this one reopened? I believe the issue remains. I am happy to create a demo project on the latest SDKs, but need to be able to log in/out to demonstrate the issue. I don't think I can set up a new Parse Server for this.

I spent a few hours researching similar issues and stepping through the iOS SDK but I couldn't get to the bottom of it. In short, once

[2022-06-02 19:15] benpackard commented on #148
@mtrezza Thanks, will do.

[2022-06-02 19:21] mistralaix commented on #1647
@mtrezza Yes

[2022-06-02 19:24] mistralaix commented on #1647
@mtrezza Ho my bad, 1.19.3 yes (I just updated the issue). Sorry for the typo...

[2022-06-03 19:15] mistralaix commented on #1647
@mtrezza I'm on an M1 mac btw (I don't know if it can help)

[2022-06-03 19:43] mtrezza commented on #1647
Do you have access to an Intel macOS where you can try to see if the same issue occurs there?

[2022-06-03 20:09] benpackard opened #1648 "Current User is not kept in sync between App and Extension"
### New Issue Checklist
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-06-03 20:12] benpackard commented on #148
@mtrezza I created a new issue with a test project at https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1648 - please let me know over there if I missed anything. Thanks.

[2022-06-06 03:42] oksimple opened #1650 "I didn't receive a verification email to change my email address after calling the third party login Everything works fine with the username and password registration and the Android system works fine."
I didn't receive a verification email to change my email address after calling the third party login Everything works fine with the username and password registration and the Android system works fine.
I used the setEmail method, but I did not receive the relevant verification email

[2022-06-06 17:17] drdaz commented on #1647
@mistralaix Does `pod install` complete without error? Cocoapods should install Bolts for you...

[2022-06-07 00:41] mistralaix commented on #1647
@drdaz After deleting my pods multiple times, updating the repo and installing it again, I don't have any errors with cocoapods.

@mman Since I installed it with cocoapods, I don't embed them manually. I tried to manually add Bolts.framework and Parse.framework.
If in the Embed Options, I put `Do not Embed`, I have the same error.
If I put `Embed & Sign` or `Embed Without Signing`, I have an error

[2022-06-07 12:35] mistralaix commented on #1647
@drdaz Ho sorry I didn't precise it but I didn't have any errors before. Still the same thing is happening after re-installing all the pods (I've tried to do that several times since the beginning). The same error is always happening.

[2022-06-07 14:13] drdaz commented on #1647
@mistralaix Can you try making 2 fresh Xcode projects with just the Parse dependency via Cocoapods? One should be a Mac Catalyst project, and the other an iOS project.

To what extent to those projects fail to build?

[2022-06-07 16:27] drdaz commented on #1647
I just tried making a blank project with Parse as a Cocopods dependency. It builds and runs fine using both iOS and Mac Catalyst. So... I think there's something up with your project / workspace.

[2022-06-07 20:55] mtrezza commented on #1647
I'm closing this as it does not seem to be a Parse ObjC SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org) or our [community chat](https://chat.parseplatform.org)
- For general coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and server

[2022-06-07 20:55] #1647 closed

[2022-06-09 03:10] magnett commented on #1644
macOS 12.3.1 with Xcode 13.4.1 works just fine my M1

[2022-06-17 01:06] chinabrant opened #1652 "File upload by public is disabled"
[code]

Error:
[Error]: File upload by public is disabled. (Code: 130, Version: 1.19.3)
Failed： Error Domain=Parse Code=130 "File upload by public is disabled." UserInfo={code=130, temporary=0, error=File upload by public is disabled., NSLocalizedDescription=File upload by public is disabled.}

How can i fix this?  Thanks.

[2022-07-03 12:00] cbaker6 commented on #1648
Have you looked at? https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1220

[2022-07-03 14:56] benpackard commented on #1648
Thanks @cbaker6, yes I have seen that issue and it is not related unfortunately. In his instance, queries would fail every time because he missed a configuration step. In this issue, the configuration is correct and queries are actually successful. It is only when the user changes that the extension does not update and queries fail (since the token is now invalid). In other words, the main app's `

[2022-07-03 15:02] benpackard commented on #1648
For anyone else experiencing this issue, my current workaround is to avoid relying the shared `currentUser` in the extension. Instead, in the main app I am trying to keep track of every action that can cause a change to current user (log in and log out of course, various sign ups, etc) and manually save a copy of the session token to the keychain. Every time the extension needs to make a query, I

[2022-07-06 13:20] benpackard commented on #1505
Just a note to confirm that this is still an issue using Xcode 13.3.1, cocoapods 1.11.2, and Parse SDK 1.19.3

[2022-07-23 20:20] bvanderw opened #1655 "Parse Integration and Bolts"
Xcode 13.4.1 with latest Swift
macOS 12.4
Lastest Parse 1.19.3

It is not clear at all at this point how Parse is to be integrated into a new project. What is clear is that the documentation is woefully out of date.

1) The various zipped release frameworks do not include the Bolts framework.
2) The ParseStarterProjects have a reference to Bolts but it is not included.
3) I have not been able to b

[2022-07-24 11:38] mtrezza commented on #1655
Does this work for you? https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1591#issuecomment-1017454197

[2022-07-24 11:42] mtrezza commented on #1652
I'm closing this as it does not seem to be a Parse ObjC SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org) or our [community chat](https://chat.parseplatform.org)
- For general coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and server

[2022-07-24 11:42] #1652 closed

[2022-07-24 11:43] mtrezza commented on #1650
I'm closing this as it does not seem to be a Parse ObjC SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org) or our [community chat](https://chat.parseplatform.org)
- For general coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and server

[2022-07-24 11:43] #1650 closed

[2022-07-24 11:50] mtrezza opened #1656 "Carthage build fails in CircleCI"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-07-24 11:51] mtrezza commented on #1656
@cbaker6 do you remember why we run carthage still on CircleCI instead of GitHub Actions? I vaguely remember that it was about the resources because it takes a lot of time?

[2022-07-24 18:24] bvanderw commented on #1655
Thanks for the response. After mucking around with this for several hours, I was finally able to get clean Carthage builds for both XCFrameworks and FAT frameworks. I did get the following at the beginning of the builds, however, it proceeded to build all the FBSDK frameworks without issue.

[code]

I added all the XCFrameworks to my test project except Parse.xcframework, including Bolts, FBSDK*,

[2022-07-24 23:18] cbaker6 commented on #1656
Yes, Carthage and some of the other obj-c builds take long time to finish, so it was left on circle

[2022-07-24 23:37] mtrezza commented on #1655
I'd agree.

Which step in https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1591#issuecomment-1017454197 did not work for you?

[2022-07-25 12:08] mtrezza commented on #1656
Got it. Maybe we should move this to Github Actions anyway; we don't see many CI runs here but it may be easier to debug in a single CI environment.

@parse-community/ios-sdk could anyone look into why carthage fails in CircleCI?

[2022-07-26 11:15] drdaz commented on #1656
@mtrezza Not 100% sure about this, but IIRC, it times out.

[2022-07-26 22:50] mtrezza commented on #1656
I increased the `no_output_timeout` to 30min in https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1657, let's see if that works

[2022-07-27 10:48] mtrezza commented on #1656
You were spot on, it requires a timeout of 1h, 30min even was too short. In total, carthage needs ~1h in total on CircleCI. It would be interesting to test this on GitHub Actions, because I suspect that CircleCI gives us little resources on the free plan and that may be one reason why it takes so long.

[2022-07-27 12:16] #1656 closed

[2022-08-03 13:39] #1392 closed

[2022-08-08 19:21] mtrezza opened #1658 "Deprecate SDK in favor of Swift SDK"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).

### Current Li

[2022-08-08 19:30] mtrezza commented on #1658
@cbaker6 What do you think is the best way to get a feature comparison overview between the Parse Swift vs. ObjC SDK?

[2022-08-08 19:54] cbaker6 commented on #1658
The best way I can think of is populate the feature comparisons manually. You can use my old comment as a starter https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1356#issuecomment-779288554

It's worth mentioning that deprecating the Objective-C SDK will deprecate any Parse support for Objective-C language as the Swift SDK isn't designed to work with Objective-C.

[2022-08-08 21:56] mtrezza commented on #1658
Yes, that is intended as [mentioned](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1658#issue-1332294425).

[2022-08-17 22:04] cbaker6 commented on #1655
For anyone who's looking to switch from the Objective-C SDK to the Swift SDK, you should look at https://github.com/parse-community/Parse-Swift/pull/391. This provides a seamless way of automatically logging in a user who was previously logged in using the Objective-C SDK by leveraging the session token. Note that logging in via the linked methods is the proper way to convert to the Swift SDK as t

[2022-08-31 01:36] mtrezza commented on #1453
Has there been any progress in adding SPM support? Is this something anyone would be interested to pick up?

[2022-09-02 16:55] mtrezza commented on #1644
I can confirm that it seems to work fine on Apple Silicon. Closing for now.

[2022-09-02 16:55] #1644 closed

[2022-09-09 03:09] mkandler commented on #1658
@mtrezza the one thing holding me off from switching to the Swift SDK is that I won't have the ability to set a custom `fileUploader`
e.g.
[code]

This way I can upload files directly from my app to S3 and still store them as `PFFile`s. Doing this saves a photo-based app (like mine) a ton of money on Heroku dynos for `parse-server`, because otherwise the data needs to be uploaded to the server and

[2022-09-09 13:31] mtrezza commented on #1658
I suggest opening a feature request in the Parse Swift SDK.

[2022-09-13 22:16] mtrezza commented on #1453
@mman Could you open a PR from your `spm` branch, so others can see the diffs you had to do to get it work and build upon it?

[2022-09-15 07:46] mman commented on #1453
@mtrezza Sure, I have opened https://github.com/parse-community/Bolts-ObjC/pull/3 and https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1659.

[2022-09-15 08:41] mtrezza commented on #1453
Thanks, if you find some time, could you resolve the conflicts, so that these show the latest state compared to the target branches?

[2022-09-16 08:18] mtrezza commented on #1453
Hi everyone, @ricky641b will give it a shot to add full SPM support.

Luckily he can build on the PRs and investigations already done by you.

Let's support him with whatever questions he may have, to get this over the finish line - thanks especially to @mman, @drdaz!

[2022-09-16 08:41] mman commented on #1453
@ricky641b, @mtrezza I will be happy to help !!!

[2022-09-16 18:49] mtrezza commented on #1453
Notes:

- cocoapods and carthage support can (or even should) be dropped when implementing SPM support. We are implementing SPM support because they actually don't work anymore in some scenarios. SPM solves this. Removing carthage & cocoapods should also make it easier for you to implement SPM, because it reduces the code base.

- The ParseFacebookUtils are required. The SPM implementation must ma

[2022-09-28 07:36] onlinedeveloper4u opened #1661 "Unable to build app in xcode 14"
App is running successfully on xcode 13 but build failed when running app on xcode 14 with these parse errors.

<img width="513" alt="Screen Shot 2022-09-28 at 12 34 58 PM" src="https://user-images.githubusercontent.com/71644910/192717200-f6a4d4ae-8366-44ff-abbc-2bef6aa51e13.png">

[2022-09-28 09:05] mtrezza commented on #1661
I suggest to build xcframeworks with carthage, if that is an alternative for you. It works also with Xcode 14.

[2022-09-28 09:19] mtrezza commented on #1655
We also have a migration guide (in the works) with important considerations when migration to the Parse Swift SDK.

[2022-09-28 09:25] mtrezza commented on #1661
I'm closing this as it doesn't use the issue template provided and is there considered to be a general duplicate of existing issues.

[2022-09-28 09:38] mtrezza commented on #1655
@bvanderw I tried to replicate your steps and here is how I got it working in Xcode 14:
1. Build with carthage using the xcframeworks flag
2. Add the xcframework files Parse and Bolts (the minimum required to for the Parse SDK) to the project and choose "Embed and sign".
3. Do not add a carthage build phase script and remove it if there is any, it isn't required anymore.

Important:
- The ParseFac

[2022-09-28 09:39] #1661 closed

[2022-09-29 10:10] JohnRoxMySox23 opened #1662 ""Parse-Parse" target gets installed in Pods project with Cocoapods installation and provokes a compilation error"
### Issue Description
I have a project that needs Parse iOS SDK, so I still use Cocoapods for this library (all the other dependencies being handled with SPM).
Every time I run `pod install` or `pod update`, a `Parse-Parse` target gets installed in the Pods project, and provokes an error when building the project:

### Steps to reproduce
Create a project and add a Podfile inside, with `Parse` as a

[2022-09-29 10:36] mtrezza commented on #1662
Cocoapods is not officially supported anymore in this library, due to the fact that the SDK has several issues since Xcode 12; what is supported is carthage; there are instructions on how to use carthage up to the latest version Xcode 14.

[2022-09-29 10:36] #1662 closed

[2022-09-29 10:50] mtrezza opened #1663 "How to implement the SDK"
# TL;DR

The Parse ObjC SDK can officially only be implemented using carthage. All other ways are not officially supported anymore. See below for how to implement the SDK using carthage.

# Issue

The Parse ObjC SDK has several build-issues when trying to add it via the usual ways. This is because it hasn't been updated according to changes in Xcode / framework requirements for a while:

- https:/

[2022-09-29 20:18] JohnRoxMySox23 commented on #1663
Hi @mtrezza and thank you for this explanation and these steps. I tried to follow them but after running `carthage update --use-xcframeworks`, I can only find `Bolts.xcframework` in Carthage/Build, there is no `Parse.xcframework` file.

Here is the execution result in the console:

Thank you for your help

[2022-09-29 22:23] mtrezza commented on #1663
You could try to install the tvOS simulators in Xcode and run carthage again. It's apparently missing a simulator. Alternatively, if you only need to build for iOS try `carthage update --use-xcframeworks --platform iOS`.

[2022-09-30 21:22] atonylai opened #1664 "Allow implementations of ParseObjects to set their own className"
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).

### Current Limitation
struct extensions of ParseObject

[2022-10-01 10:19] mtrezza commented on #1664
Is this issue supposed for the Parse Swift SDK?

[2022-10-01 13:44] atonylai commented on #1664
My mistake, had too many tabs open and filed on the wrong one by accident!

[2022-10-01 13:44] #1664 closed

[2022-10-04 04:04] StevenMasini opened #1665 "Compilation issues "Undefined symbol: _OBJC_CLASS_""
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-10-04 04:10] StevenMasini commented on #1665
Seems to be a pretty old issue tho https://stackoverflow.com/questions/64294415/build-error-with-parse-ios-sdk-and-facebook/73943043#73943043

[2022-10-04 11:28] mtrezza commented on #1665
Closing as related to https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1663

[2022-10-05 02:56] StevenMasini commented on #1665
@mtrezza I will try to find some time this weekend to work on it. The one solution that truly matters nowadays is SPM. But lots of developers are still relying on Cocoapods for their projects.

I think it's possible to add Cocoapods as a solution to setup Parse ObjC SDK.

[2022-10-05 03:08] atonylai opened #1667 "Live Query's Event.updated fails to send the correct fields of an object after the first update"
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue with the latest versions

[2022-10-05 23:58] mtrezza commented on #1665
In general, if you want to invest your time into trying to add SPM, it would be better spent I think. There are some PRs that need adaption, but they show that adding SPM works as a proof of concept.

[2022-10-18 00:56] danielchangsoojones commented on #1658
How fully fleshed out is the ParseSwiftSDK?

Is it something I should be writing a new iOS (swift only) project in?
Or is it still a work in progress?

[2022-10-20 13:37] mathieulb commented on #1665
Is this really about versions 1.9.1 thru 1.9.3, or actually 1.19.1 thru 1.19.3, which are the most recent ones ? But I have that problem with any 1.19.x, even 1.19.0... and I can't seem to install 1.18.0, for other reasons...

[2022-10-20 14:00] cbaker6 commented on #1658
A post with details on features between the two SDK's is here: https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1356#issuecomment-779288554

The Swift SDK has more features than the Objective-C SDK (and IMO all other Parse SDK's at this point). It also has a higher percentage of codecov (90%+) than the Objective C SDK. The [API documentation](http://parseplatform.org/Parse-Swift/release

[2022-10-20 19:16] mtrezza commented on #1658
The reason for the deprecation is explained in the first [post](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1658#issue-1332294425).

[2022-10-21 12:34] cbaker6 commented on #1658
This is your opinion, which you are open to. For anyone else, they can take whoever’s word they want. I stand on what I said. In addition, @mtrezza you cannot tell me what to say and not to say, you have zero influence over my words or contributions.

[2022-10-21 12:43] mtrezza commented on #1658
I'm confused. You just approved the PR to add a note about this missing feature to the migration guide?

[2022-10-26 10:48] danipralea commented on #1665
@StevenMasini how did you fixed it? I have the same issue and it's just driving me crazy. I did everything and I can't get rid of it
![image](https://user-images.githubusercontent.com/768893/198007351-b4373cf3-1989-4bda-a361-b1dca2bbbca4.png)

[2022-10-26 12:45] StevenMasini commented on #1665
@danipralea You can point to my repo until #1666 gets merged.

Replace this line in your `Podfile`
[code]

It will point to this commit on my fork https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1666/commits/75ad3d3608cba0ecbc4142a64de871cf3f84f172

[2022-10-26 15:47] mtrezza commented on #1665
@StevenMasini Is #1666 ready to be merged?

[2022-10-26 15:48] danipralea commented on #1665
thank you @StevenMasini that finally fixed it! 🙏 🙏

[2022-10-26 15:50] mtrezza commented on #1665
Thanks for confirming @danipralea , I'll go ahead and merge the PR.

[2022-10-26 15:52] #1665 closed

[2022-10-26 19:57] mtrezza commented on #1665
🎉 This change has been released in version [1.19.4](https://github.com/parse-community/Parse-SDK-iOS-OSX/releases/tag/1.19.4)

[2022-10-28 00:47] mtrezza opened #1677 "Failing CI macOS test `AnonymousUtilsTests testLogInViaBlock`"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-10-28 00:55] mtrezza commented on #1626
Duplicate of https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1677

[2022-10-28 00:55] #1626 closed

[2022-10-28 07:20] tobias61 opened #1678 "App crashes while retrieving current user"
### New Issue Checklist

- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-10-28 09:36] mtrezza commented on #1678
I'm closing this as it does not seem to be a Parse Apple SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org) or our [community chat](https://chat.parseplatform.org)
- For general coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag
- For network and serve

[2022-10-28 09:36] #1678 closed

[2022-10-28 10:08] tobias61 commented on #1678
@mtrezza This happens when current user is being retrieved, so why is it not related to the SDK? If you have any idea why this occurs, this would be very helpful.

[2022-10-28 12:08] mtrezza commented on #1678
The cause could be an SDK bug, but it's one of the most common features, so that would be surprising. From the logs it could be a threading issue in the custom code of your app. I also see LiveQuery in the logs, so without seeing your custom code it's really difficult to say.

Could you try to reproduce the issue in a minimal example and then share that code?

[2022-10-28 12:51] drbarto opened #1679 "Creating objects with init(withoutDataWithObjectId:) causes crash in SwiftUI preview"
### Issue Description
In a Swift project using the Parse pod, I create a bunch of dummy objects using `init(withoutDataWithObjectId:)` for use in tests and SwiftUI previews. When running the app or unit tests, these objects can be created without problem; however, when trying to create them in the context of a SwiftUI preview, the process crashes.

### Steps to reproduce
To give an example, e.g. I

[2022-10-31 12:06] ninjadev106 opened #1680 "MacOS unit test on Xcode crashes"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/Parse-SDK-iOS-OSX/security/policy).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/main/SUPPORT.md).
- [ ] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2022-10-31 12:08] mtrezza commented on #1680
Is this a duplicate of https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1677?

[2022-10-31 12:13] ninjadev106 commented on #1680
When the Test case "[QueryUnitTests testCLearAllCachedResults]" starts, it crashes in dipatch_sync(queue, block) of the PFThreadsafetySafeDispatchSync method on the PFThreadsafety.m file
![Screenshot_1](https://user-images.githubusercontent.com/29223815/199005260-8ac9e061-a488-4e30-b908-709d3fc95bfa.png)

[2022-10-31 12:15] ninjadev106 commented on #1680
I think it's not a duplicated of #1677

[2022-10-31 12:19] mtrezza commented on #1680
What is the test name?

[2022-10-31 12:29] ninjadev106 commented on #1680
QueryUnitTests
Yes, that happens with almost every test except for another crash which sometimes happens too. The another crash reason is "Thread 8: "Invalid class name. Class names cannot start with an underscore""

![image](https://user-images.githubusercontent.com/29223815/199007942-711499f7-ad3c-40ed-8554-00240b79c311.png)

[2022-10-31 12:44] ninjadev106 commented on #1680
The interesting point is that it doesn't happen when running all tests in the single QueryUnitTests class. It happens only when running all tests in the project bundle(ParseUnitTests-macOS)

[2022-11-04 00:31] mtrezza commented on #1680
The failing test in https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1681 is the same one described in https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1677. So is this issue a duplicate of #1677?

[2022-11-04 02:28] ninjadev106 commented on #1680
Yes, this seems to be a duplicate of #1677

[2022-11-04 13:27] mtrezza commented on #1680
OK, I'll close this as duplicate and assign the PR to the former issue.

[2022-11-04 13:27] mtrezza commented on #1680
Closing as duplicate of https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1677

[2022-11-04 13:27] #1680 closed

[2022-11-04 14:00] mtrezza commented on #1635
The FB issue has since been closed, so we could give this another try.

[2022-11-04 20:59] mtrezza commented on #1658
We are currently re-evaluating the future of the Parse iOS SDK. In the meantime we are closing this issue to avoid further confusion, in case we decide to retract the deprecation of this SDK.

[2022-11-04 20:59] #1658 closed

[2022-11-11 10:33] eniok commented on #1679
Tested and confirmed **it works** in the SwiftUI Preview with the code below:

[code]

It may be the case that the variables in your classes (_User & Project_) are declared as optionals therefore in breaks in the view when referenced.

- Parse 1.19.4
- Xcode 14.1

[2022-11-13 11:19] drbarto commented on #1679
Hey @eniok,

thanks a lot for taking the time and testing this yourself!

To emulate your test environment, I upgraded to macOS 13.0.1 and Xcode 14.1 and tried out your example in a new, empty Xcode App project; I just added Cocoapods with the `Parse` pod, then added `TestView` with your code.

Unfortunately I still get crashes in the SwiftUI preview, for the same reasons as before.  Since the cod

[2022-11-13 17:48] eniok commented on #1679
Hi @drbarto,

The system I tested it also has an M1 (M1 Pro on a Macbook Pro), the environment has the following versions:

- Cocoapods 1.11.3
- Parse 1.19.4
- macOS 13.1
- Xcode 14.1