[2019-09-08 20:49] tealshift commented on #1440
@drdaz I'm not at my office today, but I think the `authData` is going to be formatted like so:
[code]
And I honestly don't remember where I got the @"apple-signin" identifier from. According to https://docs.parseplatform.org/parse-server/guide/#apple-authdata it should just be @"apple".

[2019-09-10 06:05] mgkcortyw opened #1443 "Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs"
Hello, guys!

Today we received this message from apple:

We detect that one of multiple usage in our projects of UIWebView in Parse iOS SDK, could you migrate from UIWebView to WKWebView?
We worry about it, because on next app deploy we can stuck on this issue.

Thank in advance!

[2019-09-10 07:02] drdaz commented on #1443
This is certainly something we should look at, but UIWebView was deprecated in iOS 12. Usually Apple doesn't start rejecting apps that use deprecated APIs, and they don't get fully removed for a long time.

It's irritating that they don't put any timeframe on when they will stop accepting apps with UIWebView.

It looks like it isn't just the Parse iOS SDK affected by this, but also the underlying

[2019-09-10 07:19] mgkcortyw commented on #1443
Thanks you for fast answer, @drdaz !
Understood,
Related issue on Bolts https://github.com/BoltsFramework/Bolts-ObjC/issues/331

[2019-09-11 11:16] Samigos opened #1444 "CNCopyCurrentNetworkInfo change"
Apple had sent this email last month... are Parse apps affected by this change?

[2019-09-11 11:24] drdaz commented on #1444
I use Parse in some live apps, and didn't receive this.

Have you tried searching your codebase for stuff from the relevant API?

[2019-09-11 11:28] Samigos commented on #1444
I did, but didn't find anything... I just wanted to make sure!

[2019-09-11 11:32] drdaz commented on #1444
Sure.

I mean I haven't looked, but I'm not aware of any Parse functionality that would go there. This looks entirely related to WiFi access.

Anybody correct me if I'm wrong.

[2019-09-11 11:57] Samigos opened #1445 "PFFile conforming to NSCoding"
I need to store some instances of a subclass of `PFObject` I made, with the help of `UserDefaults`. The thing is, it crashes the moment it tries to encode (and decode) a `PFFile`.

I looked it up and found that in order to have a `PFFile` archived, it too should conform to the `NSCoding` protocol and apparently it doesn't. So I added these files to my project https://github.com/eladb/Parse-NSCodin

[2019-09-11 18:39] tealshift commented on #1443
I forked Bolts and removed all usage of App Links and UIWebView, and works in my Parse project. https://github.com/tealshift/Bolts-ObjC

You can get this version of Bolts with the pod config:
[code]
Of course, if you have lots of code that relies on Bolt's App Links API, then this solution probably isn't for you.

[2019-09-11 20:12] noobs2ninjas commented on #1434
Could anyone Answer this. @TomWFox ?

[2019-09-11 20:14] TomWFox commented on #1434
Sorry, no idea.

[2019-09-11 20:17] noobs2ninjas commented on #1434
@TomWFox Ok. Since this was left open long enough for someone else to answer and you don't know. Is it ok if I return it back so that its minimum is on par with everything else?

[2019-09-11 20:20] TomWFox commented on #1434
I guess, if we find any issues we can always revert.

[2019-09-11 21:49] noobs2ninjas opened #1446 "iOS 13 and Xcode 11 build update"
Apple is officially allowing submission of iOS and iPad OS 13 applications. I wanted to start a issue to start getting the ball rolling as this is going to require:

- iPad OS target be added
- Test/Deploy XCode version be updated for CircleCI/Travis
- New Build Target added to test files.

Being that the official iOS/ iPad OS release date coming on September 30th we might want to start moving.

[2019-09-15 09:17] noobs2ninjas commented on #1348
@Samigos it is. Have you tried this recently? Has this issue been solved?

[2019-09-15 09:57] Samigos commented on #1348
Yep! Everything works!

[2019-09-15 10:02] noobs2ninjas commented on #1348
Perfect! Ill close the issue! Thanks

[2019-09-15 10:02] #1348 closed

[2019-09-15 12:53] Samigos commented on #1445
Anyone here?

[2019-09-15 13:01] noobs2ninjas commented on #1445
Hey @Samigos! We're here. Working on trying to get ourselves up to XCode 11/ iOS 13 before it officially drops. I'll take a look later today and get back with you!

[2019-09-16 09:18] ashish-naik commented on #1440
@tealshift I am looking forward for this but I don't have skill to contribute. Hope you are implementing this.

Thanks
Ashish

[2019-09-17 13:26] TomWFox commented on #1440
Just in case anyone is not aware, although helper methods could make using Apple sign more clean it should be possible with the existing `linkWithAuthProvider` methods.

[2019-09-17 17:16] noobs2ninjas commented on #1446
Quick update. We are using the xcode11 branch for this update which I assume will be 1.18. I have updated build files on this branch to get CircleCI and Travis building on Xcode 11. I'll start working on updating the rake files but I'd appreciate some help adding the iPad OS target if anyone would like to help.

[2019-09-17 17:30] noobs2ninjas commented on #1440
I think @TomWFox is right. By the way, I think this would make a great update for ParseUI too since apples UI guidelines on this is pretty strict.

[2019-09-17 19:12] tealshift commented on #1440
I'm not working on this at the moment, so I don't have anything to show besides an object that implements `PFUserAuthenticationDelegate`, `ASAuthorizationControllerDelegate ` and contains the code I posted. I may be able to work on this later.

[2019-09-18 04:08] noobs2ninjas commented on #1446
So I guess well add iPad OS at a later date and just add the Xcode 11 build update to 1.17.3.

[2019-09-18 05:59] noobs2ninjas commented on #1446
Ok so I finally figured out where these stupid errors where coming from when Travis was trying to build and deploy. Turns out a non-documented repo controls the Vendor folder/build config. Which means we have to update all travis device and OS versions there. Took me so long to figure out why nothing responded and even longer as to why changing those files locally refused to commit. So, whenever m

[2019-09-18 11:59] sarojkumarojha commented on #1443
Are we getting a new release from Parse? @drdaz .
BTW I am not able to upgrade to 'Parse' , '1.17.3' , got an error **CocoaPods could not find compatible versions for pod "Parse": In Podfile: Parse (= 1.17.3)**.

Thanks in advance.

[2019-09-18 12:38] drdaz commented on #1443
@sarojkumarojha The release is there. You can grab the source or install via Carthage.

The CocoaPods entry needs updating though. We've had some issues with that. I'll see if I can do it manually.

@TomWFox you offered me access to the pod?

[2019-09-18 12:40] drdaz commented on #1443
@sarojkumarojha Were you talking about the 1.17.3 release, or something related to this thread?

[2019-09-18 12:47] TomWFox commented on #1443
@drdaz I can give you access, what email address should I use? - I think it has to be registered with cocoa pods trunk before I add you as an owner (you could send it to me on the forum by PM if you want to)

[2019-09-18 13:22] drdaz commented on #1443
@sarojkumarojha 1.17.3 is now available on CocoaPods.

[2019-09-18 15:48] noobs2ninjas commented on #1446
So we have a new error on the Travis build after retriggering now that the Xcodebuildtools repo has been updated.

The following build commands failed:
1743	AnalyzeShallow Parse/PFQuery.m normal arm64
1744(1 failure)
1745Failed to build framework for iphoneos.

Also said something about unexpected end of file

[2019-09-18 16:03] noobs2ninjas commented on #1446
Never mind. Triggered rebuild and that went away and now we have the same error. My guess is we have to pull the Xcodebuild tools version ourselves or something,

[2019-09-18 17:02] drdaz commented on #1446
@noobs2ninjas You do have to bump the submodule version in the SDK for the changes to affect the SDK. It's in Vendor/.

I don't know if you caught it btw, but I manually updated the current version in CocoaPods. So no rush to get the release mechanics working.

[2019-09-19 06:22] sarojkumarojha commented on #1443
@drdaz Thanks, now I am able to use  1.17.3 through CocoaPods, But still, it uses UIWebView APIs.
Any plan on it?

[2019-09-19 15:16] ashish-naik commented on #1440
I was also indicating ParseUI. I am using Facebook and Twitter sign-in currently using ParseUI. Since Apple is mandating SIgn in with Apple, it would be good if ParseUI has this feature.

[2019-09-19 16:31] tealshift commented on #1443
I have a suggestion: It seems the Bolts/AppLinks subspec can be removed from the `FacebookUtils` & `FacebookUtils-tvOS` subspec in this project's podspec file:
`s.dependency 'Bolts', '~> 1.9'`
change to ->
`s.dependency 'Bolts/Tasks', '~> 1.9'` so the AppLinks subspec is no longer a dependency
I may be wrong, but it seems like the logical solution. I made a PR in case you guys agree.

[2019-09-20 00:57] noobs2ninjas commented on #1446
@drdaz the reason I have not manually updated the cocoapods version is because I wanted the travis deployment build to trigger. I can update the submodule version but now there is no way to trigger the build to test if its fixed.

[2019-09-20 00:59] noobs2ninjas commented on #1446
So I guess this will just stay open till the next release whenever that may be.

[2019-09-20 01:03] noobs2ninjas commented on #1446
If someone else wants to update the submodule they can. I'm going back to ParseLiveQuery

[2019-09-20 07:03] drdaz commented on #1446
Okay.

`@drdaz the reason I have not manually updated the cocoapods version is because I wanted the travis deployment build to trigger. I can update the submodule version but now there is no way to trigger the build to test if its fixed.`

The deployment build runs every night automatically. I get an email about it every day. Here's the run from last night: https://circleci.com/gh/parse-community/

[2019-09-20 14:32] Samigos commented on #1445
Today I updated to the latest version of Parse's SDK and realized that whenever the decoder tries to decode the data, it finds null.

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not save file data for 309c4db5f6e623ba0286ac891017322d_62237520_372569220283311_350326562345713664_n.jpg : Error Domain=NSCocoaErrorDomain Code=4 "Cannot create a PFFi

[2019-09-20 16:30] Samigos commented on #1445
Not sure what I changed but the `data` doesn't seem to be an issue anymore... now this is what I get:

`*** Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<PFFileObject 0x600000b05470> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key _url.'`

[2019-09-21 06:21] ShawnBaek opened #1453 "Support Swift Package Manager"
Parse has two dependencies, **Bolts** and **OCMock**.

I think Bolts is not maintainability, so If we want to keep the Parse-Objc or support latest tech stacks like SPM, I think fork the Bolts is a better option.

Here is my suggestion.

1. Fork Bolts and OCMock into the parse-community.
2. Make a Package.swift for Bolts and OCMock to support SPM.
3. Make a Package.swift for Parse-SDK-iOS-OSX.

Th

[2019-09-21 06:27] ShawnBaek commented on #1332
Support SPM

[2019-09-21 18:08] noobs2ninjas commented on #1446
The issue we where facing had NOTHING to do with CircleCI because CircleCI doesn’t use cocoapods or the xcodetoolchain when it builds. No, the ONLY way to test if our issue is fixed is during the Travis release build. Now that the release has been updated the Travis build will never initialize. It only runs when there is a new release that hasn’t been pushed.

As to everything else you said. I alr

[2019-09-21 19:02] noobs2ninjas commented on #1446
The good news about all this is that when it's finally updated and working we wont have to do it again for a VERY VERY long time. I actually think all it may take is updating the submodule versions and thats it. At the point when we hit the issue with the xcodetoolchain the project was already building. It just couldnt launch a simulator.

[2019-09-21 20:40] drdaz commented on #1446
Right. But the release tag had been pushed the day before you started this PR, and the Travis build failed. Here's the build: https://travis-ci.org/parse-community/Parse-SDK-iOS-OSX/builds/584608026

The net result of the failed Travis build was, as far as I could see when I checked, that Cocoapods was stuck on 1.17.2.

I don't know how long you've been doing this, but I've been doing it long enou

[2019-09-21 22:32] grantespo commented on #1356
I've been using Parse SDK for a few years now. Both for android & iOS. I'd love to be a contributor.

[2019-09-22 02:01] noobs2ninjas commented on #1446
So I think I should probably cover what the actual issue is as that seems to be our disconnect. I still could really use any input to find another way to test and fix our issues. First let me touch on two things you mentioned.

Im super confused why you keep using words like pre-released in association to what I was doing. Xcode 11 is released. It's not in beta 4 or even on golden master. Its 100%

[2019-09-22 11:37] drdaz commented on #1446
Today, it's released. When you were making these changes and merging them, it wasn't released (GM seed 2 was the current state), and there was no official timeframe for release (official release came unannounced on 20th September). Before that binary is officially available (in the Store and on the Developer downloads page as a release), it hasn't passed whatever quality control Apple has decided

[2019-09-22 15:26] #1432 closed

[2019-09-22 17:45] drdaz commented on #1453
Would we actually need to do anything to OCMock? It's not part of the distribution as far as I can tell; it's a development dependency.

FYI I don't know anything about SPM yet, but I assume it would be used to install the client to projects. Just using the SDK in a project doesn't require OCMock.

[2019-09-23 15:01] mrmarcsmith commented on #1453
This sounds like a great idea. Do you want to open a PR for the iOS part of the process?

[2019-09-23 15:49] #1431 closed

[2019-09-24 05:31] ShawnBaek commented on #1453
@mrmrcsmith I can’t fork into the area repository. Could you fork it? I’ll make a PR

[2019-09-24 06:41] mrmarcsmith commented on #1453
sure! It would be great if your PR included some instructions in the README on how to use SPM with Parse since this would be my first experience using SPM so I'm sure lots of other people are curious how to use it too.

[2019-09-25 04:55] noobs2ninjas commented on #1446
I should be able to run locally too now. Just took a while to get to this point. I had two things that made this take much longer than it probably should have. First travis had lots of mistakes in their documentation pretty much all around. For instance what versions of ruby where needed for which environments. Heck they didn't even document the correct version of macOS is used when specifying a x

[2019-09-25 05:02] noobs2ninjas commented on #1453
Anyone should be able to fork parse. Thats super weird.

So, I'm curious if we could talk to the bolts guys about just turning the repo to us. Like Parse, Bolts was previously maintained by Facebook and at around the same time as Parse they turned over Bolts to community contributors. So, theres probably at least a little report with them. Not to mention Parse is probably the largest application t

[2019-09-25 05:07] noobs2ninjas commented on #1440
Apple is mandating Apple Sign In?! Thats for real? The only guideline I heard about the issue was that if you use Apple Sign In that they be the first option available UI-wise. So vertically they had to be above twitter and facebook or whatever.

So whats the mandate. If you offer 3rd Party sign in you also have to offer Apple Sign In. OR is it that you have to offer Apple Sign In even if you only

[2019-09-25 05:45] TomWFox commented on #1440
I believe you have to provide Sign In with Apple if you offer any other social sign in methods.

[2019-09-25 05:48] TomWFox commented on #1440
See parse-community/parse-server#5632

[2019-09-25 05:51] noobs2ninjas commented on #1440
Nice! Thanks for the response @TomWFox! Doubt I would have found that issue on my own.

[2019-09-25 06:25] noobs2ninjas commented on #1446
I also had another question for you. It seems to me that CircleCI could actually do all this on its own and most of that code is actually already on the config.yml. So why use Travis? Seems like just another thing to update. While Circle had some of the same issues as Travis a good bulk of this was actually specific to Travis.

[2019-09-25 08:18] noobs2ninjas commented on #1446
Sigh. What a pain in the butt. Even testing xctoolchain changes locally isn't guaranteed. Locally running iOS 13 on iPhone XS worked fine. Travis however changed their systems to only offer OS's on the most recent models. This has changed since last week. I did the same for watchOS, and tvOS. Hopefully this build configuration will last us for quite a while.

[2019-09-25 09:46] drdaz commented on #1446
I have no idea 😃 This is the first project where I've used CircleCI and Travis. I did wonder the same thing. I imagine there's some functional reason for the setup, some detail that one does and the other doesn't; the previous maintainers seemed pretty solid. But what their reasoning was, I don't know.

This sounds very weird - what if a project wants to test that their UI works on an older / smal

[2019-09-25 10:40] noobs2ninjas commented on #1446
Hey. Thats right! Theres no way they are that dumb.

Ok! I see what they did. Unlike older OS versions they simply removed running iOS 13 on simulators with duplicate screen sizes. So since the iPhone 11, 11 Pro, 11 Pro Max is out now, they removed being able to run iOS 13 on the XS, XS Max, and XR. They also have iOS 13 available on the iPhone 8 and 8 Plus but not on the 7 and 7 Plus.

What I don

[2019-09-25 10:52] noobs2ninjas commented on #1446
Actually. You are right to a extent. Just noticed this means you cant test on 4in screens even though iOS 13 is compatible with the iPhone SE as well as 7th gen iPod Touch.

[2019-09-25 19:29] EfeAcikgoz commented on #1440
Hi, I'm trying to implement Sign in With Apple, the code for sign in I have so far is:
`- (void)authorizationController:(ASAuthorizationController *)controller didCompleteWithAuthorization:(ASAuthorization *)authorization API_AVAILABLE(ios(13.0)) {
    NSMutableDictionary *dict = [NSMutableDictionary dictionary];
    ASAuthorizationAppleIDCredential *credential = authorization.credential;
    NSSt

[2019-09-25 19:44] noobs2ninjas commented on #1440
forAuthType should be "apple-signin" based off what I see here.
https://github.com/parse-community/parse-server/pull/5694

[2019-09-25 19:52] EfeAcikgoz commented on #1440
When I rename it to that I get the error

This authentication method is unsupported. (Code: 252, Version: 1.17.3)

[2019-09-25 19:58] noobs2ninjas commented on #1440
Interesting. Although I see that for 3.5. The guide clearly says apple. Have you checked the guide to make sure the server is setup correctly? https://docs.parseplatform.org/parse-server/guide/#apple-authdata

[2019-09-25 20:06] EfeAcikgoz commented on #1440
Yes, we've been using the server for a long time and have no problem logging in with Facebook

[2019-09-25 20:18] noobs2ninjas commented on #1440
I wasnt suggesting that the server itself wasnt setup correctly. I was just making sure you had taken steps to add the config for apple sign in specifically.

[2019-09-25 20:49] noobs2ninjas commented on #1446
I think we are good to go here. Finally!

[2019-09-25 20:49] #1446 closed

[2019-09-25 21:11] TomWFox commented on #1446
Probably best in a wiki page.

[2019-09-25 23:59] benpackard commented on #1446
Apologies if this is old news but just to mention how simulators can be created with a choice of device x iOS version:

https://developer.apple.com/documentation/xcode_release_notes/xcode_11_release_notes

[2019-09-26 09:01] drdaz commented on #1446
Nice. That explains the behaviour we've been seeing, and how to control it 👍🏼

I had no idea.

[2019-09-26 16:58] noobs2ninjas commented on #1446
Well the behavior we've been seeing was because they changed the default simulators included in the environment image they use for each job. I'd imagine the reason it changed this time was because of the release of the iPhone 11. However, if they do continue to make sporadic changes This would be a nice short little script to add to the build.

[2019-09-28 14:06] noobs2ninjas commented on #1437
I think this also ties in with a issue with getting parse to build on ParseLiveQuery. https://github.com/parse-community/ParseLiveQuery-iOS-OSX/pull/210

Primarily effecting macOS. Not only are the dynamic libraries for parse causing issues like what your facing but building the dynamic Parse frameworks also is building the dynamic frameworks for its dependencies like Bolts which has issues of inc

[2019-10-05 13:51] #1419 closed

[2019-10-06 17:36] neil-degoo commented on #1406
Can you assign it to me? I want to help the project

[2019-10-06 21:26] TomWFox commented on #1406
Sure 🙂

[2019-10-07 13:53] sami79031 opened #1456 "PFUser.logInWithAuthType Uncaught internal server error"
I'm trying to authenticate user with Google using PFUser.logInWithAuthType.

[code]
I have used this api in Parse Server Version 2.3.3 and just confirmed that it's all working well.
In the current app which is Parse Version 3.0 I get this error:

[code]

[2019-10-08 07:10] sami79031 commented on #1456
Update:
After changing Parse Server Version from 3.0 to 3.1.3 fixed the problem.
Sorry for the inconvenience but hope that will help others that have hit the same problem.
Closing the issue.

[2019-10-08 07:10] #1456 closed

[2019-10-08 07:15] drdaz commented on #1456
Thanks for updating this. And I'm glad you figured it out 🙂

[2019-10-08 11:29] maximbilan opened #1457 "Cocoapods 1.17.3 deployment"
I still see that the version is `1.17.2` on Cocoapods. Could you deploy please the latest release `1.17.3`?

[2019-10-08 11:30] drdaz commented on #1457
No it isn't 🙂

https://cocoapods.org/pods/Parse

Have you tried `pod update`?

[2019-10-08 11:41] maximbilan commented on #1457
Hmm, it's weird.
I'm getting this when doing `pod search Parse` ⬇️

<img width="846" alt="Screenshot 2019-10-08 at 14 39 44" src="https://user-images.githubusercontent.com/3020089/66392838-acee8a80-e9d9-11e9-8657-358dd109c41c.png">

[2019-10-08 12:13] drdaz commented on #1457
It's definitely weird 😃

This is what I get.

[code]

Have you tried `pod update`? If that doesn't do the trick, maybe try deleting the Cocoapods cache and force it to download everything again.

[2019-10-08 12:19] maximbilan commented on #1457
Ah, it's my local issues absolutely. Thanks for help @drdaz.

[2019-10-08 12:19] #1457 closed

[2019-10-08 17:08] gneil90 commented on #1406
Thanks @TomWFox its my personal account, so I will fork and PR from this account. I will have a look today night/morning after my job

[2019-10-09 12:29] #1411 closed

[2019-10-10 12:33] ahsanghauri opened #1458 "app crash at the new object will replace the old one, if this is causing unexpected behaviours"
the new object will replace the old one, if this is causing unexpected behaviours app crashes when LiveQuery is called

[2019-10-10 18:18] mtrezza opened #1459 "Build with carthage fails"
### Issue
Build with carthage fails. The issue seems to be related to `facebook-objc-sdk`:

<details><pre>
% carthage update "Parse-SDK-iOS-OSX"
*** Fetching facebook-objc-sdk
*** Fetching facebook-objc-sdk
*** Fetching facebook-objc-sdk
*** Fetching facebook-objc-sdk
*** Fetching facebook-objc-sdk
*** Fetching facebook-objc-sdk
*** Fetching facebook-objc-sdk
*** Fetching facebook-objc-sdk
*** Fet

[2019-10-12 04:42] #1458 closed

[2019-10-14 16:06] mtrezza commented on #1411
OK, so that seems related to https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1459. I'm using carthage, if the logs are posted are of any use.

[2019-10-14 18:02] mtrezza commented on #1459
The solution was to delete carthage's shared cache:
`~/Library/Caches/org.carthage.CarthageKit`

Thanks @mdiep: https://github.com/Carthage/Carthage/issues/1446#issuecomment-240879694

[2019-10-14 18:02] #1459 closed

[2019-10-15 08:44] #1422 closed

[2019-10-15 13:32] mman opened #1461 "Add support for Catalyst"
I have made a pull request here (https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1460) to make it possible to compile Parse-SDK-iOS-OSX for catalyst. It requires that Parse-SDK-iOS-OSX is integrated via subproject.

It also requires this change in Bolts-ObjC (https://github.com/BoltsFramework/Bolts-ObjC/pull/332).

[2019-10-15 16:50] ryang1428 commented on #1453
+1 to SPM support!

[2019-10-21 16:21] SebC99 opened #1462 "No completion called after a failed logout"
We have a "deletion" feature in our app to let users ask for an account deletion.
It uses a cloud-code on the server for the data deletion, which is triggered by the authenticated user (for security reason), then when the server returns, we try to log out the current user, to remove any local data associated with it.
(see https://github.com/parse-community/parse-server/issues/6137#issuecomment-544

[2019-10-21 17:17] mtrezza commented on #1462
What's your Parse SDK and server version to begin with?

I just tested it and the callback works.

[2019-10-21 17:18] drdaz commented on #1462
@SebC99 Couldn't you make the calls the other way round? Log out the user and then make a Cloud Code call to delete the user?

[2019-10-21 19:36] SebC99 commented on #1462
Last version on both
The callback works for a standard logout but not when it fails after a complete user deletion (user, sessions, installations)

[2019-10-21 20:02] mrmarcsmith commented on #1462
If the cloud function deletes the user object and the corresponding session tokens and installations. What is the purpose of logging out of the user? Is it so the client doesn’t receive “Invalid session token” error on subsequent calls?

[2019-10-21 20:11] SebC99 commented on #1462
To remove the persistent current user storage (parse internal), and allow a proper detection of a new user after that

[2019-10-21 20:22] mtrezza commented on #1462
@SebC99 I am not able to reproduce the issue you describe.

You can add the Parse SDK as a sub project to Xcode and set a breakpoint at the logout function to investigate. Without further details I’d assume it is not a bug in the Parse SDK.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-21 20:29] SebC99 commented on #1462
Weird... it fails each time for us. And we did try with breakpoint: the userLogoutTask fails but the BFtask does not... it keeps waiting.

[2019-10-23 10:55] noobs2ninjas commented on #1462
@SebC99 we are currently forking Bolts as its no longer being maintained any longer and we cant get them to even merge our pull requests to keep it up to date with new versions of Xcode and iOS. Just this morning I sent a few emails trying to see if they wouldnt mind just letting us have it since Bolts was literally created for Parse.

In either case though I'd definitely consider a different appr

[2019-10-24 11:24] craiggrummitt opened #1463 "ParseFacebookUtilsV4-iOS not compiling"
Attempting to add Parse-SDK-iOS-OSX (ver 1.16.0) to a new Xcode (ver 11.1) project via Carthage (ver 0.34.0).
After phase: "*** Building scheme "ParseFacebookUtilsV4-iOS" in Parse.xcworkspace"
I encountered the error: "Build Failed Task failed with exit code 65:"
<img width="810" alt="Screenshot 2019-10-24 12 17 19" src="https://user-images.githubusercontent.com/5923204/67480673-45cb0a00-f658-11e9

[2019-10-24 11:26] drdaz commented on #1463
This has been fixed in more recent versions. Try updating to the current version of the SDK (1.17.3) and see if that doesn't help.

[2019-10-24 11:32] craiggrummitt commented on #1463
Thanks for the tip @drdaz . So ver 1.16.0 was the version that downloaded via Carthage, would you recommend I follow the "Compiling for yourself" instructions in "Getting Started" instead?

[2019-10-24 11:34] drdaz commented on #1463
I wouldn't; you should be able to get the current version using Carthage. Maybe try specifying the version manually in the Cartfile... although if you don't specify a version, it should get the latest.

[2019-10-24 11:43] craiggrummitt commented on #1463
Yes, that's why I was confused, my cartfile consists of:
`github "parse-community/Parse-SDK-iOS-OSX"`

I ran it minutes ago, and I saw this amongst other things in the Terminal:

`*** Downloading Parse-SDK-iOS-OSX.framework binary at "1.16.0"`

I updated the cartfile to:

`github "parse-community/Parse-SDK-iOS-OSX" == 1.17.3`

And I see the following in the Terminal:

[code]

In case, I changed `=

[2019-10-24 12:34] drdaz commented on #1463
I can't reproduce your issue locally unfortunately. When I run carthage update using a Cartfile with just our dependency (and without version number), it gets the current version.

Try deleting the Carthage cache (`rm -rf /Users/craiggrummitt/Library/Caches/org.carthage.CarthageKit/`) and anything in the Carthage folder of your project, where it downloads and does it's work. Maybe that'll help 🤞🏼

[2019-10-24 12:59] drdaz commented on #1463
Phew. Fixed my build issue. Never put spaces in folder names. Apparently I haven't learned that enough times yet. 🤦🏽‍♂️

That doesn't fix your problem however. Aside from removing the cache and Carthage folders, also delete your project's Cartfile.resolved file. This really should work; it builds here:

[code]

[2019-10-24 14:44] craiggrummitt commented on #1463
Thanks again for your help with this @drdaz. I have done the following:
1. I followed your instructions to delete the Carthage cache:
`rm -rf /Users/craiggrummitt/Library/Caches/org.carthage.CarthageKit/`
2. Rather than following your advice to delete the Carthage folder in my project, I actually created a brand new Xcode project (just to make doubly sure that there could be nothing residual from

[2019-10-24 16:02] drdaz commented on #1463
Interesting. My error was also 65. And my fix was getting rid of the space in the path to my project. But that doesn't look like it's the case for you.

I actually have both Xcode 10 and 11 installed still. I have no idea which my build was using. But I've just installed the Carthage update and rebuilt. Same result, and it built using Xcode 11.

The only difference I can see is that I'm not adding

[2019-10-24 20:14] craiggrummitt commented on #1463
Hi @drdaz actually Xcode 11.1 is the latest release of Xcode and includes Swift 5.1 and support for iOS 13.1.
<img width="1117" alt="Screenshot 2019-10-24 21 11 30" src="https://user-images.githubusercontent.com/5923204/67521481-dfb7a480-f6a2-11e9-9ac9-8d06a9bd4609.png">
It was released 7th of October. [link](https://xcodereleases.com)

I just realized I have Xcode 11.0 installed on another comput

[2019-10-24 21:11] drdaz commented on #1463
Oh wow. For some reason this update doesn't notify in the App Store for me. So I just assumed I had the latest...

[2019-10-25 19:25] #1439 closed

[2019-10-30 13:31] parveenBanuS opened #1465 "xcode11/iOS 13"
Xcode11/iOS 13 UIcollection view not working it was not navigate to another view. less than Xcode11 iOS 13 is woking fine no issues at the same time Xcode11 less than iOS 13(iOS 12,iOS 4.1, iOS 5.1, iOS 6.1, iOS 7.1.2, iOS 8.4.2, iOS 9.0, iOS 11.0, iOS 11.3) working fine.

The issues is,

"The behavior of the UICollectionViewFlowLayout is not defined because:
2019-10-29 10:55:17.781597+0530 Storef

[2019-10-30 17:32] funnel20 opened #1466 "Missing Bolts.framework Parse-iOS.zip in for version 1.17.3"
Hi,

We always download the iOS source ZIP file from https://github.com/parse-community/Parse-SDK-iOS-OSX/releases. It normally consists of 2 files (e.g. version 1.17.2):

1. Bolts.framework
2. Parse.framework

However, the [ZIP for iOS 1.17.3](https://github.com/parse-community/Parse-SDK-iOS-OSX/releases/download/1.17.3/Parse-iOS.zip) only contains the Parse.framework.
Is this intentional? And ca

[2019-10-30 19:13] TomWFox commented on #1465
Hi, I’m not seeing anything to indicate that this is an issue related to the Parse SDK.

Perhaps try searching stackoverflow for similar issues.

[2019-10-30 19:24] TomWFox commented on #1466
Hi, I don’t believe this is intentional. Due to an issue with the release build we made the release manually so I suspect that’s why it’s not there.

@drdaz I think you attached the assets manually, right?

[2019-10-30 20:23] drdaz commented on #1466
Nope, they appeared there automagically. That might mean some of the magic is broken I guess.

[2019-10-30 20:26] drdaz commented on #1465
@parveenBanuS Do you mean [PFQueryCollectionViewController](https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/master/ParseUI/Classes/QueryCollectionViewController/PFQueryCollectionViewController.h) doesn't work?

[2019-10-31 04:18] parveenBanuS commented on #1465
uicollectionview showing this it was running not crash but can't able to
navigate next page

On Thu, Oct 31, 2019 at 1:57 AM Darren Black <notifications@github.com>
wrote:

[2019-10-31 20:41] funnel20 commented on #1466
@drdaz Thanks for confirming that we can use the existing Bolts.framework.

[2019-10-31 20:55] TomWFox commented on #1466
Well I believe we can change the assets manually on the existing release so we could do that as a temporary fix.

[2019-11-01 06:26] parveenBanuS commented on #1465
"The behavior of the UICollectionViewFlowLayout is not defined because: >
2019-10-29 10:55:17.781597+0530 Storefront[360:20094] the item width must
be less than the width of the UICollectionView minus the section insets
left and right values, minus the content insets left and right values"

this is the issue

On Thu, Oct 31, 2019 at 9:48 AM Parveen Banu <parveenbanu1515@gmail.com>
wrote:

[2019-11-01 08:42] ashish-naik commented on #1465
Praveen,

Try checking your layout constraints. This does not seem related to Parse. You can seek help in Stackoverflow if you are not able to find the issue.

[2019-11-01 08:50] parveenBanuS commented on #1465
ok thank you

On Fri, Nov 1, 2019 at 2:12 PM Ashish Naik <notifications@github.com> wrote:

[2019-11-01 11:31] TomWFox commented on #1465
I’ll close this for now, feel free to make a new issue if you find any issues related to the Parse SDK.

[2019-11-01 11:31] #1465 closed

[2019-11-01 11:32] parveenBanuS commented on #1465
sure

On Fri, Nov 1, 2019 at 5:01 PM Tom Fox <notifications@github.com> wrote:

[2019-11-01 19:06] craiggrummitt commented on #1463
I think we can close this issue, I've tested adding Parse using Carthage on two machines with Xcode 11.1, and then updated to Xcode 11.2 and it still works.

Don't know what resolved the problem to be honest. One possibility - I was using Catalina 15.1 beta and am now using non-beta Catalina 15.1, possibly that caused an issue?

[2019-11-01 19:06] #1463 closed

[2019-11-01 23:09] aprato opened #1467 "Objects fetched with selectKeys cannot be pinned"
I recently ran into this problem which was previously mentioned in #386

This appears to be intentional as laid out here:
https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/5de23b30c4aa22b27cac47e9456694a467e76b83/Parse/Parse/PFObject.m#L827

I haven't fully figured out all of the code involved with pinning but if it would be a large change to allow pinning of partial objects the docs shoul

[2019-11-03 12:41] Samigos opened #1468 "iOS 13 compatibility"
Hello to the community!

Where exactly are we with the iOS 13 branch? Approximately when will it be merged?

[2019-11-03 21:55] mrmarcsmith commented on #1443
I’m assuming we fixed this in #1452. Someone let me know if there is more to be done here

[2019-11-03 21:55] #1443 closed

[2019-11-06 06:44] #1433 closed

[2019-11-10 01:46] benpackard commented on #1440
Suggest this remains open.

[2019-11-10 08:25] ashish-naik commented on #1440
This is a must have feature mandated by Apple on iOS so addition to the sdk will save many development hours across the developer community. Hence Requesting contributors to please implement it.

Please...

[2019-11-10 10:17] drdaz commented on #1440
It's not manatory yet (IIRC they pushed back the requirement until some time in 2020), but I'll try and look at this at some point in the next couple of weeks.

[2019-11-11 17:56] #1445 closed

[2019-11-12 15:05] drdaz opened #1470 "Nightly Cocoapods is failing"
https://circleci.com/gh/parse-community/Parse-SDK-iOS-OSX/3641?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

This started a few days ago. There haven't been any source changes to trigger this. Has our environment been changed?

@parse-community/ios-osx

EDIT: Full disclosure, I posted this before I tested it locally. I think I just wanted attention.

But `bundle exec rake

[2019-11-13 19:52] TomWFox commented on #1468
Hi, sorry for the delayed response. There isn’t currently an iOS 13 branch.

Are you having any particular issues with the latest version of the SDK on iOS 13?

[2019-11-13 19:55] TomWFox commented on #1467
Hi, sorry for the delayed response. We don’t currently have any maintainers who have detailed knowledge of the inner workings of the SDK so we may not be able to give particularly helpful advice.

@parse-community/ios-osx anyone who can help with this?

[2019-11-13 22:57] Samigos commented on #1468
Hi Tom! I meant the Swift 5 branch... Apologies :D

[2019-11-15 09:10] drdaz commented on #1468
@Samigos We should be fully compatible with Xcode 11 at this point. Is there something specific you're thinking of? Any issues you're encountering with Xcode 11?

[2019-11-15 11:42] Samigos commented on #1468
So is the SDK compatible with Swift 5 now?

[2019-11-15 11:53] drdaz commented on #1468
I'm using it in a Swift 5 project without any trouble.

This SDK is written in Objective C, so it doesn't really get directly affected by changes to Swift.

[2019-11-15 12:04] Samigos commented on #1468
That's a relief!! I was asking because of what @noobs2ninjas to another thread of mine... He had said "Working on trying to get ourselves up to XCode 11/ iOS 13 before it officially drops"... I thought he meant updating the SDK 😝

[2019-11-15 12:26] drdaz commented on #1468
Oh he might have! He did a lot of work on the build infrastructure for this project in that regard, and finished up with that a while back 🙂

[2019-11-15 13:01] Samigos commented on #1468
Oh ok! Thank you very much man!

[2019-11-15 15:19] #1468 closed

[2019-11-15 15:24] TomWFox commented on #1387
@drdaz nothing to my knowledge

[2019-11-19 14:43] #1437 closed

[2019-11-22 09:38] noobs2ninjas commented on #1470
I took a look. Heres our error.

-> Parse (1.17.3)
    - NOTE  | [Parse/Core, Parse/FacebookUtils, Parse/FacebookUtils-tvOS, and more...] xcodebuild:  note: Using new build system
    - NOTE  | [Parse/Core, Parse/FacebookUtils, Parse/FacebookUtils-tvOS, and more...] xcodebuild:  note: Planning build
    - NOTE  | [Parse/Core, Parse/FacebookUtils, Parse/FacebookUtils-tvOS, and more...] xcodebuild:

[2019-11-22 10:00] noobs2ninjas commented on #1470
Did we ever get our CircleCI build fixed?

[2019-11-25 19:32] noobs2ninjas opened #1471 "Resuming regular updates aka 1.18? discussion. Xcode 11, iOS 13, macOS 1.15, Catalyst."
So I wanted to create an issue to being a discussion on things we need to do to resume regular releases. Seems we have several issues out there that keep our builds from passing and most need to be fixed in order to have a release build complete. We have some pull requests that are currently being worked on at fixing a few of these issues. Information is spread out all over and I feel we need a di

[2019-11-29 23:02] nobat1 opened #1472 "Parse memory leaks"
logic error
 Converting a pointer value of type 'NSNumber *' to a primitive boolean value; instead, either compare the pointer to nil or call -boolValue

Converting a pointer value of type 'NSNumber *' to a primitive boolean value; instead, either compare the pointer to nil or call -boolValue

nil returned from a method that is expected to return a non-null value

[2019-12-02 17:56] ashish-naik commented on #1440
Hi @drdaz,

Hope you will be adding this soon.

Thanks
Ashish

[2019-12-02 19:07] TomWFox commented on #1440
Hi @ashish-naik, whilst I appreciate this would be a useful feature - our contributors are volunteers and as such cannot implement every feature request & there have been more pressing issues for us to focus on lately.

Perhaps you would be willing to make a PR?

[2019-12-03 10:37] ashish-naik commented on #1440
I understand that and appreciate great work by the volunteers but i don't have skills to do it myself.
Happy to wait till this gets prioritized.

Thanks,
Ashish

[2019-12-06 14:38] #1461 closed

[2019-12-14 11:20] #1462 closed

[2019-12-15 22:12] funnel20 commented on #1466
I hope the is still on the radar for next release.

[2019-12-17 17:04] ashish-naik opened #1474 "Twitter login cancellation crashes app"
I am using Twitter authentication without ParseUI framework.

When i initiate twitter auth session using `PFTwitterUtils.logIn { (loggedInUser, error) in`, the Twitter login page opens.

i am able to login using valid credentials.
But if i tap Cancel and then tap **Return to _app_** then app crashes with below error at line 61 in PFTwitterAuthenticationProvider.m

`*** -[__NSPlaceholderDictionary

[2019-12-17 17:33] ashish-naik commented on #348
@weiwarren were you able to solve this? I am also getting this exception. I also created an issue just now.

https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1474

[2019-12-17 17:37] ashish-naik commented on #792
Hi @orkhanalizade

Does this happen when you cancel twitter login? if yes then did you find solution?

[2019-12-19 11:39] drdaz commented on #1440
Hey, so does anybody know where we can get an official Apple logo to use on our sign in button?

Apple provides their own button for this purpose, but I suspect it might not match with our styling... and it definitely doesn't match with how the other login buttons have been implemented.

Do we just grab a random free one off the net and cross our fingers? 😬

[2019-12-19 12:26] benpackard commented on #1440
Might be able to find one here - https://developer.apple.com/app-store/marketing/guidelines/

[2019-12-19 12:27] drdaz commented on #1440
Yeah I’ve seen that page; I couldn’t find the logo by itself.

[2019-12-21 17:57] TomWFox commented on #1440
@drdaz not sure about that, seems like a good change it would get rejected by app review? - although I haven't actually seen the guidelines on the button styling

[2019-12-21 18:00] drdaz commented on #1440
That's the thing I don't like about it. But I've seen it done and get through review, so... 🤷🏽‍♂️

It just feels wrong.

[2019-12-21 18:04] TomWFox commented on #1440
Well lets see, should be fairly easy to change if problems are encountered, thanks for taking a stab at this!

[2019-12-21 18:04] drdaz commented on #1440
To be fair, that's the worst that could happen, right? I mean app rejection. 😬

[2019-12-21 18:17] drdaz commented on #1440
@TomWFox Did you see this btw? https://community.parseplatform.org/t/new-intro-login-flow-for-ios/854

It came to mind again working with ParseUI.

[2019-12-21 18:46] #1444 closed

[2019-12-22 03:11] bre7 commented on #1398
But doesn't the AppStore add a flag about Location data usage.

<img src="https://user-images.githubusercontent.com/3183848/71316497-0863dc80-244f-11ea-85e7-b13c4eca60b0.png" height="600">

[2019-12-22 12:17] ashish-naik commented on #1474
@nlutsenko I saw https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/348
i am seeing similar error but in a different use case.

i had created this issue five days back but didn't get any response. I tried looking for answers on Stackoverflow also.

I have checked twitter authentication related posts but could not find any answer.

Setting callback URL is mentioned at many place. I have se

[2019-12-22 12:38] drdaz commented on #1474
Hi Ashish

It's hard to be certain exactly what's failing without more code for context, but line 61 in that file looks like this:
[code]
The error occurs because one (or more) of the variables after the ':' in the dictionary literal evaluate to nil at the time of the crash. My advice would be to set a breakpoint on that line and recreate the crash scenario. Once you hit that line, you'll be able

[2019-12-22 12:45] drdaz commented on #1474
@ashish-naik Also, you've specified that this occurs when you don't use ParseUI. Do you know whether ParseUI behaves better?

[2019-12-22 12:59] TomWFox commented on #1440
@drdaz I did, it looks pretty good and I think it would be a welcomed addition. However, I'm not sure whether its worth spending too much time on it as I'm not sure how many people actually use ParseUI - although maybe more people would if it was closer to recent design trends etc.

[2019-12-22 13:03] drdaz commented on #1440
Yeah, agreed. It's hard to know generally how much of the project is in use.

[2019-12-22 13:23] ashish-naik commented on #1474
@drdaz I was using ParseUI but replaced that with my custom classes because Sign in with Apple is not available yet and added email/password based authentication. Not sure whether i was hitting this issue then with ParseUI.

I tried with the breakpoint. See attached screenshot. All variables are nil. I have also attached screenshots of Twitter screens.

Steps to reproduce are

1. On my custom VC i

[2019-12-22 13:30] drdaz commented on #1474
This looks like a bug. I don't use the Twitter login feature myself, and I can't seem to test it using the ParseUI Demo project, so it's a little hard for me to reproduce.

But it looks like it's trying to authenticate the user even though they pressed cancel. Which is... wrong.

[2019-12-22 13:53] ashish-naik commented on #1474
@drdaz No i am not trying to authenticate after cancel.

My PFTwitterUtils.logIn { (loggedInUser, error) call opens the login page and then i wait to check error if any but control does not return.

[2019-12-22 14:16] drdaz commented on #1474
So I've just taken a look at the Twitter auth code, and it's very outdated. It still assumes that iOS has local Twitter accounts, which hasn't been the case for several years.

Do you absolutely need Twitter login? Looking at the state of things in there, if you can avoid it, do so. Otherwise, perhaps you can take a look at the code causing the trouble. I can't spend much time on it right now.

[2019-12-22 16:20] drdaz commented on #1474
That's just my opinion btw; the opinion of a guy who hasn't attempted to use the Twitter login feature at all before today.

If anybody else has been using it successfully, by all means chime in.

[2019-12-22 19:07] ashish-naik commented on #1474
No I can remove Twitter.

Thanks for looking in.

[2019-12-22 19:07] #1474 closed

[2019-12-24 11:28] brianyyz commented on #1474
FWIW I abandoned Twitter as an authentication provider for the reasons above. Even back then it was in a bit of a mess and didn't take into account the changes that Twitter has made.

[2019-12-31 00:13] UltimatePea commented on #1440
Apple has rejected our new submission due to a lack of Apple Sign In

[2019-12-31 00:20] TomWFox commented on #1440
@UltimatePea As mentioned you must offer sign in with apple if you offer other social sign in options.

[2019-12-31 00:29] benpackard commented on #1440
Yes, for new apps this is already the policy and for updates it comes into effect in a few months I think.

Note that it is possible to implement Apple Sign In yourself without it being part of the iOS SDK.

[2019-12-31 02:48] HackShitUp opened #1476 "Query on PFRelation with Limit < 5 Returns Incorrect Objects"
I've been using Parse since around 2015 and have migrated to AWS ever since. I've become pretty familiar with it but this new issue I found is a bit odd. When you execute a PFQuery on a PFRelation object with a ```limit``` value of **< 5** the query returns incorrect objects. I haven't manipulated the server code, so I'm assuming this is an issue with the iOS SDK(?). Here's an example of what I ha

[2019-12-31 06:00] ashish-naik commented on #1440
I am trying to implement. Able to trigger authorization and receive it. The portion I am not able to figure out is verifying token. Also need to upgrade Parse server to latest.

if I am using email based and Facebook based login then also I need to implement Sign In with Apple?

[2019-12-31 10:14] drdaz commented on #1476
There’s a few things here.

You say this is a new issue, but what brought it about? Was it an upgrade of the iOS SDK? Can you confirm this code works as you expect in an older version of the SDK?

Also, you’re calling the findObjectsInBackground method in a loop. It’s possible that this won’t do what you’re expecting; the completion block will fire but the loop will carry on and *not* wait for the

[2019-12-31 10:19] drdaz commented on #1476
Also, you say this only relates to PFQuery objects from PFRelations. Have you seen this logic work correctly using a 'normal' PFQuery (one not related to a PFRelation)?

[2019-12-31 13:40] TomWFox commented on #1440
Yes, if you remove Facebook sign in then you are not required to implement Apple sign in, its up to you.

[2019-12-31 16:03] ashish-naik commented on #1440
Okay got it.

[2020-01-02 23:27] HackShitUp commented on #1476
@drdaz I actually had this issue before when using Parse, I just never made an issue. I'll definitely look into BFTask for something like this. Also, it's quite interesting because this issue is also replicable if you use the ```getFirstObjectInBackground``` method. Given that that method returns the first object, it actually doesn't return the "correct" first object when setting specific key valu

[2020-01-03 10:25] chriscborg commented on #1440
@benpackard do you mean that there is a way to sign up / login a PFUser using Apple Signin without it being part of the iOS SDK? Is there documentation on how this can be implemented please?

[2020-01-03 10:31] drdaz commented on #1440
@chriscborg There's an approach described here that's a great starting point: https://www.back4app.com/docs/platform/sign-in-with-apple

TL;DR the Swift code looks like this:

[code]

It still uses the SDK obviously, but it's not like the FB integration where the SDK acts like a facade to the FB login logic. Apple sign in is far simpler to implement.

[2020-01-03 11:50] noobs2ninjas commented on #1472
Not a lot of info here. What language? Was this in a subclass? etc...

[2020-01-03 11:54] noobs2ninjas commented on #1466
@funnel20 currently we have two things going.

1) We are currently working on updating bolts ourselves on our own fork and
2) We are in talks with Faceboook to see if we can get the Bolts repo turned over to us.

Till we get bolts up and running and working with Xcode 11.3 we will not be able to release via Travis. Manual release means we have to build and upload it ourselves.

[2020-01-03 13:09] chriscborg commented on #1440
Thank you @drdaz !

[2020-01-03 15:18] benpackard commented on #1440
@chriscborg Yep, just make sure you are on the latest version of Parse Server (or at least 3.5ish when support was added). That link from @drdaz was helpful for me too. Here's how I'm getting the  auth data from the `ASAuthorizationControllerDelegate`:

[code]

[2020-01-03 17:10] drdaz commented on #1476
Alright, that definitely suggests an issue on Parse's end. Can you write a test showing the issue?

I'm thinking an XCTest test that creates the objects with the relation, and then the query returning the unexpected results.

[2020-01-03 17:26] ashish-naik commented on #1440
@chriscborg check  out this Sample code from Apple.  Download the project and explore.  https://developer.apple.com/documentation/authenticationservices/adding_the_sign_in_with_apple_flow_to_your_app

It works and I am now trying to figure my business logic to sign up and login to Parse using auth data and verify token process.

[2020-01-03 19:03] HackShitUp commented on #1476
@drdaz yea, I'll definitely try and get something built before the end of this month. I can't do this for my server because it's in production and people are using our app. I'll spin something up on AWS and let you know!

[2020-01-03 23:24] noobs2ninjas commented on #1470
Our build shows as passing for Travis. First time in who knows how long!.

[2020-01-03 23:26] noobs2ninjas commented on #1466
@funnel20 actually nevermind. It was your message that got me back on this and last night I decided to knock it out. Should have a new release soon. Not sure if well update 1.17.3

[2020-01-03 23:34] funnel20 commented on #1466
@noobs2ninjas For me it's not required to update 1.17.3, because based on your previous answers we used the existing Bolts.framework from 1.17.2.
But it would be much appreciated when future releases would contain all required files in the ZIP file.

[2020-01-04 23:11] #1467 closed

[2020-01-05 18:55] ashish-naik opened #1477 "Error 206 after PFUser.logInWithAuthType(inBackground: "apple","
I am trying to implement Sign in With Apple.  I am able to successfully authenticate the user on my iPhone 11 running iOS 13.3 using iOS API.
Parse Server version 3.9.0.
Parse iOS SDK  1.17.3

As part of login process, i save more information in _User for the newly created user after PFUser.logInWithAuthType(inBackground: "apple",  is executed successfully.

I get error 206 when saving. I read som

[2020-01-06 18:48] ashish-naik commented on #1440
I am getting Parse Error 206 when updating logged in user after successful login with auth type. I created another issue but didnt get any response. Can someone check?

https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1477

[2020-01-06 19:39] drdaz commented on #1477
Hi Ashish

It's hard to know exactly what you're running into here without seeing your code. But I've got a working implementation of Sign in with Apple in one of my apps and haven't used the Keychain in any way that I'm aware. Keychain Sharing is disabled.

I also update my user once the loginWithAuthType background call completes. The only thing I can think of is if you don't do the update in th

[2020-01-07 13:42] ashish-naik commented on #1477
Hi Darren,

Sign in with Apple is working and i am not using keychain API anywhere. i found some posts about error 206 indicating that issue could be with nil sessionToken due to keychain issue hence i mentioned.

I tried debugging by adding a breakpoint in PFObject.m line 1449 and found sessionToken is nil even though currentuser is authenticated.
I also added a breakpoint in PFKeychainStore.m li

[2020-01-08 13:57] TomWFox commented on #1477
Just wondering... have you actually setup Sign in with Apple on your Parse Server config, if so can you share that just to check that is all ok?

[2020-01-08 15:18] ashish-naik commented on #1477
auth: {
   apple: {
    client_id: "my bundle id", // optional (for extra validation), use the Service ID from Apple.
  }
  }

[2020-01-09 10:19] SaluBhayo commented on #1477
@ashish-naik have you completed the setup of sign in with apple with Parse?

[2020-01-09 10:22] TomWFox commented on #1477
@ashish-naik  have you actually got a service id in the client id field?

[2020-01-09 10:35] SaluBhayo opened #1479 "Sign In with Apple Object saving failed with JWT Expired Error"
I have implemented the sign in with the apple and connected it to Parse. Everything worked fine until I started saving objects in different classes I got Following Error

[Error]: jwt expired (Code: 0, Version: 1.17.3)
Optional("jwt expired")

Before making any conclusion on this issue I tried to refresh my token by logging In again with apple, I am now able to save objects in any class.

In faceb

[2020-01-09 11:56] ashish-naik commented on #1477
@SaluBhayo  What else i need to setup apart from auth section in index.js?

@TomWFox  No i had tried service id first but login didnt work so changed to bundle id. I have not done domain verification though in Apple service id configuration.  Dont know if it is needed for iOS app to work.

[2020-01-09 12:05] SaluBhayo commented on #1477
@ashish-naik I'm also looking into that issue session token expires after some times but apple doesn't give token expiration time, I'm hitting sign in with apple every time on splash screen for the time being until issue get resolved

[2020-01-09 12:22] TomWFox commented on #1477
@ashish-naik it may be unrelated but if you don’t have a valid service ID to put under the client ID field I would remove it

[2020-01-09 13:10] SaluBhayo commented on #1356
is there any spot available for becoming a contributor, I want to get into the team as contributor

[2020-01-09 13:25] TomWFox commented on #1356
Absolutely, we loosely follow a meritocratic model (see our [governance info](https://github.com/parse-community/Governance)), so feel free to jump in on issues and submit PRs etc.

[2020-01-09 15:05] ashish-naik commented on #1477
But this says that client Id tag is mandatory even if kept blank.

https://github.com/parse-community/parse-server/issues/5632#issuecomment-531028259

[2020-01-09 16:37] TomWFox commented on #1477
Ah ok, looks like the docs might need an update then :)

[2020-01-09 17:13] ashish-naik commented on #1477
So i first removed my bundle id and tested. Login to parse failed.

Then i commented client id line and tested. Got error 206.

What else i can try?

[2020-01-09 17:16] TomWFox commented on #1477
Can you see any auth data being populated in the user class on your server?

[2020-01-09 17:18] ashish-naik commented on #1477
authData and username are updated.

AuthDats is set to value i pass with login call.
Username is a random string.

[2020-01-09 18:22] ashish-naik commented on #1477
i tried setting service id as client and got below error. If i understand correctly, server expects service id which i have set.

 error: Parse error: jwt aud parameter does not include this client - is: _bundleid_ | expected: _serviceid_ {"code":101,"stack":"Error: jwt aud parameter does not include this client - is: __bundleid__ | expected: __serviceid_\n_    at verifyIdToken (/app/node_modules/

[2020-01-10 17:27] ashish-naik commented on #1477
Hi Tom, any hint for me?

[2020-01-11 11:00] ashish-naik commented on #1477
I did some debugging in iOS SDK and below are some screenshots.

Second screenshot shows that sessionToken key is missing from result in _mergeFromServerWithResult

Do these give any hint?

<img width="1036" alt="nil sessionToken debug 1" src="https://user-images.githubusercontent.com/4936420/72203287-871cca00-348f-11ea-94f9-b9c4719363ec.png">

<img width="1045" alt="nil sessionToken debug 2" src=

[2020-01-11 18:40] ashish-naik commented on #1477
i tried a bit different approach of creating an anonymous user first  and then try linking it as suggested in https://github.com/parse-community/parse-server/issues/5632#issuecomment-531016393

But still getting error 206 !!

[2020-01-13 18:38] ashish-naik commented on #1477
I tried with back4app and my code worked so i guess it rules out issue in my code?

[2020-01-14 14:20] drdaz commented on #1477
@ashish-naik Yeah, that does strongly suggest that it's your server setup there's something wrong with.

[2020-01-14 18:55] ashish-naik commented on #1477
I upgraded to 3.10.0.

Need one help. When i updated to 3.9.0, i made changes to package.json. I am taking parse-example as base. Does this look okay? I frankly don't know what all those packages are for and what version should be at but i tried to see latest parse server code and adopted from there :)

[code]

[2020-01-15 18:47] ashish-naik commented on #1477
@drdaz I havent changed anything other than package.json as above. Is anything wrong with it?

I also tried to change package.json to one supplied with parse-server-example project with "parse-server": "3.10.0" but server crashed with Error: Cannot find module 'underscore'

[2020-01-19 10:55] ashish-naik commented on #1477
@drdaz i thought a fresh Parse Server could solve the problem so I created another app in Heroku with Parse Server 3.1.0 using below package.json, pointed to existing database and pointed my app to new server.

Still getting the error !! What do i now?

[code]

[2020-01-19 18:12] ashish-naik commented on #1477
@AlexmReynolds I am really struck with this. I guess your setup is working fine. i tried everything that i could. Login with email and facebook are working fine.

Could you please help? Do check my comments above to see what all i have tried.

My current parse server is updated with below package.json. My index.js has below auth section.

[code]

[code]

[2020-01-19 20:02] drdaz commented on #1477
@ashish-naik This is outside of the scope of the Parse iOS SDK issue tracker. That the SDK and your code work shows there is no issue in the iOS SDK here. You'll probably have better luck getting useful help somewhere like StackOverflow or the Parse community forum.

I can take a look at your project, but it would be in a professional context; let me know.

[2020-01-19 20:02] #1477 closed

[2020-01-26 11:55] ashish-naik commented on #1477
Hi Darren,

I posted on SO and parse Community but didnt get response so posted under parse-server yesterday.

In meantime, i installed Parser server locally and it worked.
I even created new app on heroku to test against fresh installation but it didn't work. Now i wonder whether Heroku is causing issue but dont know how to debug that.

You said this is not iOS SDK issue but i am still trying to

[2020-01-26 13:58] drdaz commented on #1477
Hi Ashish

Is there some way I can contact you directly? Email perhaps?

Facebook and Twitter logins use this codepath, and the nil doesn't seem to be a problem for them. So I'm pretty sure that's fine 🙂

[2020-01-26 14:07] ashish-naik commented on #1477
My id - naik.ashu@gmail.com

[2020-01-26 14:13] drdaz commented on #1477
@ashish-naik got it. I deleted it from here to avoid you getting spammed. I'll mail you soon.

[2020-02-24 19:55] #1472 closed

[2020-02-24 22:55] #1476 closed

[2020-02-24 23:55] #1466 closed

[2020-02-25 21:13] MoSchaub opened #1480 "App doesnt start on real device - Xcode 11.3.1 - ios 13.3.1 Parse 1.17.3"
I tried to create an iOS App using the Parse SDK. I installed the SDK via CocoaPods and when I try it in Simulator it works perfectly but on a real device it doesn't start and I get the following error message:

dyld: Library not loaded: @rpath/Bolts.framework/Bolts
  Referenced from: /private/var/containers/Bundle/Application/94AC3B28-51D8-4F9A-9AF4-1B4CAEF257B8/Skills.app/Skills
  Reason: no sui

[2020-02-26 12:14] TomWFox commented on #1480
Please specify specifically what version of Xcode, iOS and the Parse iOS SDK you are using. Also do you have any other dependencies?

[2020-02-26 15:34] MoSchaub commented on #1480
Xcode 11.3.1 iOS 13.3.1 Parse 1.17.3 Bolts 1.9.0

[2020-02-26 15:35] MoSchaub commented on #1480
In my Podfile there is only Parse as a Pod

[2020-02-26 20:12] eeallen1 opened #1481 "Crash: Offline query sort results. Looks like it's trying to sort objects that are null"
This has been happening to many of our users, however I haven't been able to reproduce. It looks like it's caused from attempting to sort pinned objects that for some reason are `null`

It seems to be happening over and over to certain users even after deleting and reinstalling the app.

I understand that the SDK doesn't have much active support right now, but if someone with more knowledge could

[2020-02-27 17:44] eeallen1 commented on #1481
Looking more at the sdk, it looks like the crash is coming specifically from line 874 of PFOfflineQueryLogic.m

I'm nearly illiterate when it comes to objc, but if I understand this correctly, one of the values being compared, `lhsValue` or `rhsValue` appears to be type `NSNull`, but is that not the same as `nil`?

![Screen Shot 2020-02-27 at 9 41 36 AM](https://user-images.githubusercontent.com/6

[2020-02-27 17:58] drdaz commented on #1481
One of objc's quirks is that you can only add object types in collections. I haven't checked the surrounding code, but it looks like this code is iterating over the keys in an NSDictionary, and the .keys value of an NSDictionary is stored in an NSArray / a collection type.

nil is not an object type, and therefore can't be used in collections in objc. NSNull represents a null value in object form

[2020-02-27 18:12] eeallen1 commented on #1481
@drdaz I'm sorry you've been unwell-- I hope you get better soon!

I'm assuming as a short-term fix I could just check for NSNull before comparing the two objects?

[2020-02-27 19:11] #1440 closed

[2020-02-27 19:31] drdaz commented on #1481
Can you reproduce the error reliably with some of your input data? If you can, then you can test it :)

[2020-02-27 19:34] eeallen1 commented on #1481
No, unfortunately, I haven't been able to reproduce, but it's a chronic issue for certain users. I can try it out in the next release and see what happens

[2020-02-27 19:39] drdaz commented on #1481
Alright; that's kind of a necessity when fixing issues. You need to be able to reproduce the issue so that you know when you've fixed it 🙂

So if you could get in touch with your users to find out what queries they're executing when the failure occurs, we'll be able to write tests that show the issue, and then fix it.

[2020-02-27 19:55] eeallen1 commented on #1481
There are only 2 queries in my app that use offline storage - one uses a sort and the other doesn't . So It's one of the following:

[code]
[code]

I can also add some logging and remove the sort from the second query. If removing the sort fixes the issue, then we'll know which one it was.

[2020-02-28 02:00] eeallen1 commented on #1481
Ok so I was finally able to reproduce it on my device, and I can confirm that removing the sort from the query fixed the issue.

However, I forgot to prevent the objects from being re-pinned, so when I restarted my app, it worked normally.

I'm sorry I can't provide more insight, but I'll comment here if it pops up again and I'm able to do more extensive debugging.

In the meantime, if anyone else

[2020-03-01 12:08] #1479 closed

[2020-03-02 10:49] noobs2ninjas commented on #1480
@MoSchaub Bolts was originally created for Parse and is an integral part of our system. Unfortunately, Facebook both didnt open source it when they open sourced Parse. Also, they have stopped maintaining it. We are currently in talks to get it back but until then we are working on a new release that will use Parse's own fork that is updated for iOS 13. My goal is to hopefully have a new Parse rele

[2020-03-02 10:51] #1471 closed

[2020-03-02 11:33] noobs2ninjas opened #1482 "Putting together Parse 1.18.0 release."
I was wondering if everyone could help me put together release notes. Also, wanted to make sure its cool with everyone that we change this version to 1.18. Seems a bit big to call it 1.17.4.

Heres what I have so far.

- Removed using NSURLCache in Catalyst. @toto @mman
- Add get and set server functions. @mtrezza
- Parse is now compatible with Swift 5. @noobs2ninjas
- Updated project build target

[2020-03-02 11:36] noobs2ninjas commented on #1482
I take it back. Travis isnt building but for some reason its from running release.

[2020-03-02 12:06] mtrezza commented on #1482
@noobs2ninjas Any breaking changes?

[2020-03-02 12:24] TomWFox commented on #1482
I generally don’t think it’s worth adding info about testing etc to release notes/changelog as it has little relevance to people using the SDK.

[2020-03-02 13:01] noobs2ninjas commented on #1482
@TomWFox easy for you to say. You didnt spend dozens of hours doing it! lol If you dont want me to add it I wont.

[2020-03-02 13:08] noobs2ninjas commented on #1482
@mtrezza shouldnt be any breaking changes. We now support swift 5, catalyst, apple sign-in(I think) and macOS 10.15 which we didn't before.

[2020-03-02 13:12] mtrezza commented on #1482
Amazing! Is support for Swift 5 and macOS 10.15 only relevant for SDK contributors or also for SDK users?

[2020-03-02 13:13] noobs2ninjas commented on #1482
@TomWFox help me remember. It's been a long time. Do we support just all versions of Parse server? or is there a minimum/max version we support?

[2020-03-02 13:15] noobs2ninjas commented on #1482
@mtrezza as far as I know using 1.17.3 with cocoapods will give you errors with Swift 5 and macOS 15. So will Parse's dependency Bolts. This new release will fix that.

[2020-03-02 13:20] mtrezza commented on #1482
@noobs2ninjas Great, maybe macOS 10.15 compatibility is worth mentioning in the notes.

Also, I think if a release has important changes for *contributors*, it's worth mentioning them in release notes as well, maybe under a separate section at the bottom. We want to keep contributors engaged and up-to date.

[2020-03-02 13:21] TomWFox commented on #1482
@noobs2ninjas I don't mean in any way that the work you and @drdaz have been doing isn't necessary or helpful - it is definitely both of those, its just that the changlog is there to show bugs/new features to help devs migrate to new versions and adopt features. But please do include a note about all the great work you've been doing getting the CI up to speed!

[2020-03-02 13:22] TomWFox commented on #1482
@noobs2ninjas I think the aim is to maintain backwards compatibility with Parse Server where possible, I don't think there is anything in this release that would change that?

[2020-03-02 13:32] noobs2ninjas commented on #1482
@TomWFox haha I was just giving ya a hard time. I wasn't thinking about it in terms of changlog. Although, I should have. For some reason I was in "newsletter" mode lol. I updated it. Tell me what you think. Need to get some issue links added too.

Do you know the status of the Apple Sign-In? Think that will make it in?

[2020-03-02 13:34] noobs2ninjas commented on #1482
@TomWFox Thanks for the info on the server. I know those guys are constantly working and releasing updates. I was pretty sure we where compatible with that. Just wanted to make sure.

[2020-03-02 13:51] TomWFox commented on #1482
@noobs2ninjas 😅 looks good we can polish and add PR links etc in a PR to update the changelog when we’re ready.

The server guys to a good job at not making changes that would break the client SDKs

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-02 16:13] drdaz commented on #1482
Apple Sign-In isn't ready for this release. I'll need to merge my Apple Sign In branch with the enormous conflicting changeset to master 😭. And I waited for master to work, so... I'll get to it as soon as I can.

[2020-03-02 16:29] drdaz commented on #1482
I'd honestly still call this 1.17.x tbh. There are no new features or bug fixes here, and I think that's usually a requirement for any kind of new versioning.

I'm using the current version in a project with Swift 5 and Xcode 11, and I'm seeing no warnings.

Maybe we could wait until Apple Sign In is done, and then there will actually be something new for users too?

[2020-03-02 22:36] noobs2ninjas commented on #1482
@drdaz I’m fine with the versioning either way. Also I’m fine with waiting for Apple Sign in. Whatever you guys think is best. I’m just exited to push out an actual release. Been way too long.

[2020-03-02 22:37] noobs2ninjas commented on #1482
@TomWFox of course! This release has just been in the works for so long I just wanted to make sure we didn’t forget anything or anyone. I’ll use previous release notes/change log as a guide to writing the new one.

[2020-03-02 22:49] TomWFox commented on #1482
Awesome, I say we go for 1.18.0, there is a new feature (from @mtrezza) + support for catalyst(ish?) + swift 5. It is pushing it a bit but you generally do a minor when new functionality is added ([semver](https://semver.org)) and we've been stuck on 1.17.x for ages 😅.

[2020-03-02 22:51] TomWFox commented on #1482
Personally I wouldn't hold out for Apple Sign In, its been too long since the last release and I think regularity is important for developer confidence & contributor motivation.

We can publish 1.19.0 with Apple Sign In.

[2020-03-02 22:53] TomWFox commented on #1482
Also, what is the status with the deploy phase of travis?

[2020-03-03 07:44] drdaz commented on #1482
Afaik, Parse/UI doesn't work with Catalyst... I had to disable the macOS 10.15 target in my Apple Sign In branch to work with it. Just an FYI.

[2020-03-04 22:56] noobs2ninjas commented on #1482
@TomWFox going to have to look at it. The big thing I need to look at is changing our podspec to pull from our fork. need to get my pull request merged before I can really look at it. Once thats done Ill take a look at travis to see if its ready to go.

[2020-03-06 02:13] noobs2ninjas opened #1483 "Circle Update"
So according to [this](https://discuss.circleci.com/t/rollout-of-pipelines-functionality/34651) article Circle is already in the process of enabling pipelines. They are also about to move everyone over to the new UI. What stinks about this is we will see nothing on the new UI unless we update our config to V2.

[2020-03-06 19:38] noobs2ninjas opened #1484 "Cocoapod Dependency Issue"
I was thinking about what else needs updated before our next release and realized we have a BIG problem  when it comes to our Podspec. The main issue being you cannot add git repos as dependencies to your Podspec. As some of you know, we had to create and update our own Bolts fork in order to make it compatible with the latest version of macOS and Swift 5. Being unable to update our Podspec means

[2020-03-06 20:14] TomWFox commented on #1484
Btw looks like they achieved the bolts-obj repo recently

[2020-03-06 20:17] TomWFox commented on #1484
Looking at the [license](https://github.com/facebookarchive/Bolts-ObjC/blob/master/LICENSE) I think we’d be ok to publish our own bolts pod.

[2020-03-06 20:18] TomWFox commented on #1484
I’m guessing getting the repo transferred hasn’t been successfully yet?

[2020-03-07 00:22] noobs2ninjas commented on #1484
@TomWFox

Just sent another telling them that we saw it had been added to archive. Told them I hope it was done by someone who is unaware of our conversation. That it would be a real shame if they really did decide they'd rather bury the repo than turn it over to us. Specifically since the iOS Parse framework is the reason bolts was created to begin with. Anyway, I asked for a final answer one way

[2020-03-07 00:23] noobs2ninjas commented on #1483
Hopefully someone comes along who knows something.

[2020-03-07 08:56] TomWFox commented on #1484
Thanks for chasing it up! I’d say if we don’t hear from them in a few days we go ahead and publish our own.

[2020-03-07 09:08] TomWFox commented on #1483
So pipelines are enabled for all projects on the 9th, seems v2.1 is the most appropriate to update to.

[2020-03-07 09:11] TomWFox commented on #1483
I’ll try and spend some time today looking, but I know no more than you.

[2020-03-09 00:02] noobs2ninjas commented on #1483
I can probably get by on my own. It took me a lot of time time to figure this all out when I updated this the first time. It just would have been nice to save some time. I think you are right though. Since we have to update anyway we might as well do it to the absolute latest version.

[2020-03-09 00:49] noobs2ninjas commented on #1484
@TomWFox We got a reply! Joel said a bit about how things get archived and explained that it was probably their automated system. Then he said this:

"I will set up a meeting internally with Nikita and some others to discuss what we want to do with Bolts-Objc, understanding that you want it transferred to you. I am advocating that position, actually. We will also look at other Bolts-based repos as

[2020-03-09 03:26] noobs2ninjas commented on #1480
Update, Facebook is having a meeting this week about turning Bolts over to us. If they decide that wont work we will release our own version of Bolts. Either way. A fix is on its way.

[2020-03-10 15:26] TomWFox commented on #1484
Awesome, great work chasing it up. Hopefully there will at least be a decision even if it’s not the one we want!

[2020-03-10 15:55] noobs2ninjas opened #1485 "Travis deployment config fix."
Seems like we are going to have to update our config to make sure that deployment isnt running every time a merge happens. Good and Bad news is that its failing. So its not hurting but it needs to be fixed by the time we release again.

[2020-03-10 15:58] #1209 closed

[2020-03-10 15:58] #1434 closed

[2020-03-10 16:13] noobs2ninjas commented on #1290
So I know that this hasn't been discussed in a long time. I'm curious if anyone is still having issues with the latest version 1.17.3?

[2020-03-10 16:15] noobs2ninjas commented on #535
Anyone still dealing with this?

[2020-03-10 16:16] noobs2ninjas commented on #823
Is this still an issue with the latest version?

[2020-03-10 16:16] noobs2ninjas commented on #1208
This still an issue with the latest version?

[2020-03-10 16:40] noobs2ninjas commented on #1482
So the script to deploy to github isnt working on travis. Also, its being ran every merge for some reason. Do we need this fixed or are we going to manually upload?

[2020-03-10 17:25] acinader commented on #1482
@noobs2ninjas anything I can do to help out with Travis?

[2020-03-10 17:39] shimuldn opened #1486 "Help needed livaQuery array value."
Need help to access the array received from livaQuery.
my live query code:
[code]
Received response from server:
[code]

`I can access receiverID by doing updateRespons["receiverID"].`

How can i acees the value inside isTyping?

I am new around here. Thank in advance

[2020-03-10 22:57] noobs2ninjas commented on #1482
@acinader That would be amazing! we got two things:

1. the deploy script that archives each target and uploads to github tries to run every time PR is made. It should only be doing it if there is a new release.

2. That same script that keeps running also is failing.

If you’d like to take a look at it I would be forever grateful.

[2020-03-11 00:15] tutorbear commented on #535
Me , Horrible freaking experience , This object is not available in the offline cache.

[2020-03-11 00:22] noobs2ninjas commented on #1484
They got back with me and they’ve proposed what I think is a perfect compromise. Let me hit you up on slack and I’ll give you the details. This is going to work out perfect.

[2020-03-11 06:16] shimuldn commented on #1486
If you're here for this your noob like me.
Solution is

[code]

[2020-03-11 06:16] #1486 closed

[2020-03-11 20:14] MoSchaub commented on #1480
Thanks I hope this issue is going to get fixed soon. Are there any plans about translating Parse into Swift?

[2020-03-11 22:03] noobs2ninjas commented on #1480
@MoSchaub we've talked about it. right now we have so much catching up to do with issues. When we finally get a little room to breath, I'm sure we'll talk about it again.

Good news is that Facebook has agreed to give us access and we'll be able to move forward quickly on getting a new release out.

[2020-03-12 01:04] #1485 closed

[2020-03-20 16:22] benpackard commented on #1482
Correct me if I'm wrong, but I believe the Bolts fork will remove the use of deprecated `UIWebView`, which currently prompts a warning email for every App Store submission of an iOS build. If so, that might be worth calling out in the release notes since it is one of the main reasons I check back periodically on the project.

Regarding versioning - no strong opinion on the numbering except to say

[2020-03-27 17:32] drdaz commented on #1470
This still fails.

[2020-03-29 19:42] terryworona opened #1491 "Xcode 11.4, App Store Upload Error - Minimum OS Version"
Updated to latest via `Carthage`: `github "parse-community/Parse-SDK-iOS-OSX"`.

Screenshot attached when I try to upload to AppStore via Xcode archive tool:

<img width="734" alt="Screen Shot 2020-03-29 at 12 41 28 PM" src="https://user-images.githubusercontent.com/358709/77858820-b56e9380-71ba-11ea-835e-098e8d0296ae.png">

[2020-03-29 19:46] drdaz commented on #1491
What's the minimum OS version specified in your app's Info.plist? If it's below 8.0, this version of the SDK doesn't support that.

[2020-03-29 19:50] terryworona commented on #1491
My minimum deployment target is actually iOS 13.

<img width="538" alt="Screen Shot 2020-03-29 at 12 50 31 PM" src="https://user-images.githubusercontent.com/358709/77859031-e602fd00-71bb-11ea-9461-c4d56f213871.png">

[2020-03-29 20:21] TomWFox commented on #1491
This seems odd. Can you check what the min version is for the Parse.framework info.plist? - it should be 8.0 but it would be good to check in case it’s been changed somehow.

[2020-03-29 20:25] drdaz commented on #1491
Yeah it's at 8.0.

[2020-03-29 20:31] drdaz commented on #1491
Hmm... ParseUI is at 7.0 ^^

[2020-03-29 21:00] TomWFox commented on #1491
@drdaz I was meaning @terryworona installation but useful to know about the Parse UI version!

[2020-03-29 21:01] terryworona commented on #1491
Parse-iOS
<img width="526" alt="Parse-iOS" src="https://user-images.githubusercontent.com/358709/77860748-b22cd500-71c5-11ea-8d00-5bcc98f391d8.png">

Parse-UI
<img width="539" alt="Parse-UI" src="https://user-images.githubusercontent.com/358709/77860754-b822b600-71c5-11ea-858d-e8917de7ef50.png">

ParseTwitter-Utils
<img width="534" alt="ParseTwitter-Utils" src="https://user-images.githubuserconten

[2020-03-29 21:04] terryworona commented on #1491
@TomWFox: my `Parse.framework info.plist` is `iOS 6`. That's weird.

<img width="583" alt="Screen Shot 2020-03-29 at 2 03 24 PM" src="https://user-images.githubusercontent.com/358709/77860820-236c8800-71c6-11ea-95b8-74bca4c6da05.png">

[2020-03-29 21:07] terryworona commented on #1491
Manually changing the `Parse.framework info.plist` to `8.0` resolved the issue (no surprise).

Should this be bumped?

[2020-03-29 21:15] terryworona commented on #1491
Spoke too soon. Not sure if this is related?

<img width="688" alt="rejection" src="https://user-images.githubusercontent.com/358709/77861074-b0641100-71c7-11ea-842a-9d880882bfd2.png">

[2020-03-29 21:21] TomWFox commented on #1491
parseui should probably be bumped to 8.0, I’m not sure why  there is a different version on your first and third screen shot - are then not both of the main Parse-iOS info.plist

The Parse-iOS does have multiple platforms ([link](https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/master/Parse/Parse/Resources/Parse-iOS.Info.plist)).

[2020-03-29 22:02] terryworona commented on #1491
I completely cleared out my **Carthage** build folder and re-built everything.

Still results in a `Parse.framework` `Info.plist` with a minimum version of `6.0`:

<img width="253" alt="Screen Shot 2020-03-29 at 2 59 57 PM" src="https://user-images.githubusercontent.com/358709/77862085-1bb0e180-71ce-11ea-886f-cfd687620eae.png">

Cartfile entry:

`github "parse-community/Parse-SDK-iOS-OSX"`

Runnin

[2020-03-30 18:31] ashish-naik opened #1492 "Error 206 cannot modify user for new Facebook user"
@dplewis As you suggested i have created issue here.

I am getting error 206 after new Facebook user is saved and reason seems to be nil sessionToken.
I am facing this for Apple sign in also randomly. This is probably getting fixed by #6416. Don't know whether Facebook issue will also be fixed.

I have one old account created on Heroku Parse server which works fine ie i am able to save attributes

[2020-04-01 20:34] mgheraie commented on #1484
Hello, I have the same problem. Did you found a solution?

[2020-04-03 01:52] andluizlima commented on #1480
I'm still having the same problem... Any news about it?

[2020-04-04 22:16] brabe79 opened #1493 "Using Apple Sign-On with PFLoginViewController"
Has anyone successfully added the apple sign on button with PFLoginViewController? My app is getting rejected because I don't have Apple Signon and I'vey built everything with PFLoginViewController. Just curious if anyone has any examples. Thanks!

[2020-04-05 01:58] brabe79 commented on #1301
Just FYI this still isn't updated-just spent a few hours realizing the same thing

[2020-04-06 09:03] mman commented on #1301
@brabe79 Please post a code that reproduces this, I'm on the latest SDK and everything works.

[2020-04-06 12:39] brabe79 commented on #1301
The user guides on the main site still mention the old code. Using the log
func does work but it took me forever to figure this out because the guides
are wrong.

Thanks for your help

On Mon, Apr 6, 2020 at 4:04 AM Martin Man <notifications@github.com> wrote:

--
Brian Rabe
brian.rabe@gmail.com

[2020-04-06 22:17] noobs2ninjas commented on #1484
@mgheraie yup. We are already getting access to Bolts. They've accepted a PR and all I need to do is update the changelog so we can push a new release!

[2020-04-06 22:39] noobs2ninjas commented on #1482
@benpackard that's the plan. We hit a brick wall with using our fork. The primary issue is that cocoapods doesn't allow use of git for dependencies. They only allow other pods or system frameworks.

The good news is that Facebook has responded. We are getting maintenance access and a PR of Bolts with the removal of UIWebView etc has already been accepted. Now I just need to update the changelog an

[2020-04-06 22:45] noobs2ninjas commented on #1301
@brabe79 thanks for pointing that out. I got about 33% done with updating the docs and took a long break(its tedious as hell). Ill make sure to get back to it here soon. Here in the not too distant future we will have a new version of Bolts and Parse which hopefully will solve several issues with not only old versions of Xcode but new versions and Swift 5 as well.

[2020-04-06 23:04] TomWFox commented on #1301
@brabe79 if you ever find any issues in the guides please do open an issue and if possible a PR on the [docs repo](https://github.com/parse-community/Parse-SDK-iOS-OSX).

[2020-04-07 00:00] brabe79 commented on #1301
Will do- thank you guys for maintaining this!!

On Mon, Apr 6, 2020 at 6:05 PM Tom Fox <notifications@github.com> wrote:

--
Brian Rabe
brian.rabe@gmail.com

[2020-04-07 16:03] dbergman commented on #1493
I am also looking for a solution for this.

[2020-04-07 16:33] drdaz commented on #1493
Unfortunately the current solution is to make your own login view controller and implement it there.

I was working on a branch that added the Sign In With Apple button to PFLoginViewController, but I won't merge it until the issues with our master branch are fixed.

[2020-04-07 22:44] noobs2ninjas commented on #1470
Running nightly build now. Fingers crossed.

[2020-04-08 20:05] ashish-naik commented on #1477
Hi Darren,

i did some more digging. Added some logging statements in RestWrite.js as below .

tested on parse server 4.2.0 installed from my private repo in Heroku.

Can you please have a look and see what it tells?

[code]

[code]

Output in logs
[code]

What i noticed is that in if statement on line 920 is evaluated to true hence `return createSession();` isnt called.
and this.storage['authProv

[2020-04-09 13:32] #1470 closed

[2020-04-13 14:23] noobs2ninjas commented on #1482
Ok so I got everything bolts needs to update. Going to start adding changlog and everything and get prepared for our own release. Did we decide that 1.18.0 is ok or do we want 1.17.4?

[2020-04-13 14:44] #1483 closed

[2020-04-13 15:31] TomWFox commented on #1482
Awesome. 1.18.0

[2020-04-13 18:08] noobs2ninjas commented on #1492
Ok. I think you're making this a little more complicated than it is. Seems to me the cloud login is unnecessary. You have two choices with how to do this automatically right within the parse on iOS.

First, if you include ParseFacebookUtils aka `pod 'Parse/FacebookUtils'` you can:

a) Do it manually with the access tokens
[code]

b) Have parse do the facebook login with the user automatically. Thi

[2020-04-13 18:16] ashish-naik commented on #1492
No, I am not using cloud code. I am using Facebook iOS sdk method and it was working fine.

 @dplewis had asked me to try out cloud code so that’s just test code.

I have done some digging. Pls check issue  https://github.com/parse-community/parse-server/issues/6511

[2020-04-13 18:26] noobs2ninjas commented on #1492
Ok @ashish-naik ok I get the basic idea. First like me ask two things. 1) is there already an anonymous or previous user prior to this? 2) the returned/current user is not null. It just wont let you make any changes to it. You get that error instead right? Just making sure I understand.

[2020-04-13 18:38] ashish-naik commented on #1492
1. I tried login after logout and even with fresh install  of app. Not using anonymous user.
2. Correct. It is not null.

[2020-04-13 18:49] noobs2ninjas commented on #1492
Ok so quick question not sure if you use dashboard. Kinda makes these things easier but if not no big deal.

So, in the cloud code. We do sessionToken on console.log("NEW User logged in with id " + user.id + " with session token : " + user.sessionToken)?

[2020-04-13 18:50] noobs2ninjas commented on #1492
Also, this occurs weather this process creates a new Parse user or not correct?

[2020-04-13 18:55] noobs2ninjas commented on #1492
I find this a bit weird

[code]
on the cloud what happens when you do JSON.stringify(user);
Just want to see what all it has.

[2020-04-13 18:55] ashish-naik commented on #1492
Yes new user is created.
 I use dashboard.

I didn’t understand previous question abt console.log

[2020-04-13 18:56] noobs2ninjas commented on #1492
Heres your cloud code for logging in using facebook. I'm wondering if session token prints here.

Parse.FacebookUtils.logIn(facebookAuthData, { useMasterKey: true })
    .then(function(user) {
        if (user.isNew()) {
            console.log("NEW User logged in with id " + user.id + " with session token : " +  user.sessionToken)
        } else {
          console.log("Existing User logged in wi

[2020-04-13 19:01] ashish-naik commented on #1492
No it doesnt print.

and you want me to use JSON.stringify(user); in console.log in cloud code? Havent used it before.

[2020-04-13 19:16] noobs2ninjas commented on #1492
Yea user is just a Javascript Object which should break down and show you everything associated with that user. So, really quick. The end goal here is to create a new user with the facebook auth data. Right?

[2020-04-13 19:24] ashish-naik commented on #1492
I got this

[code]

[2020-04-13 19:27] TomWFox commented on #1356
As an update on this we do now have @drdaz and @noobs2ninjas who are helping out, doing some much needed maintenance.

However, we still could really do with some more help from those who are able to. Alternatively contributing to our [Open Collective](https://opencollective.com/parse-server) does help but with this SDK we particularly need some people who can get stuck in - even if it's only for

[2020-04-13 19:36] noobs2ninjas commented on #1492
So heres whats happening. I think there is no sessionToken necessarily being created because theres no device to link the session to. Its either it figures accessToken already has a expiration date which is as good as a session token anyway. or they arent creating it because this is done in Cloud code can be called by about anything. Also, cloud code isnt going to automatically respond with the us

[2020-04-13 19:40] noobs2ninjas commented on #1492
If that doesnt work the way it should try this.

[code]

[2020-04-13 19:42] noobs2ninjas commented on #1492
My bet one of the two will work once the save or signup is completed. Also, good news. You shouldnt need to use master key doing this natively.

[2020-04-13 20:03] ashish-naik commented on #1492
linkWith resulted in error

`User cannot be saved unless they are already signed up. Call signUp first.
`
I replaced user.saveInBackground after linkWith and got below error.
`Cannot sign up without a password.`

[2020-04-13 20:06] noobs2ninjas commented on #1492
Yea try this one.
user.signUpInBackground { (completed, error) in
                    if completed {
                        print(PFUser.current()?.sessionToken)
                    }
                }

[2020-04-13 20:09] ashish-naik commented on #1492
i got error that username needs to be set so did `user.username = accessToken.userID`

and then got error `Cannot sign up without a password.`

[2020-04-13 20:22] ashish-naik commented on #1492
it is well past midnight for me in India so I will have to pause now.

Let me know what els to . Will pickup tomorrow.

[2020-04-13 20:53] noobs2ninjas commented on #1492
Once this next release is out I'm going to impliment a way to make this simple.

Try this when you get a chance.
[code]

[2020-04-13 21:04] noobs2ninjas commented on #1492
If this doesnt work Ill have to dig through the FacebookUtils to see what they do with the data to make it work. I think this should work though.

[2020-04-14 07:00] rizumi opened #1495 "Could not export ipa using Carthage"
I using Parse-SDK-iOS-OSX with Carthage.
I have issue when export ipa file for iOS App.

![スクリーンショット 2020-04-14 11 54 49](https://user-images.githubusercontent.com/22917246/79193518-bca5ca80-7e65-11ea-90dd-9c8590c52765.png)

## Enviroment
Xcode 11.4
Carthage 0.34.0

[2020-04-14 08:24] TomWFox commented on #1495
This issue has been readied in #1491 so I’d like to keep any discussion about this over there.

[2020-04-14 08:24] #1495 closed

[2020-04-14 08:35] TomWFox commented on #1495
However, just to say as a quick fix you could probably go and edit this [file](https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/master/Parse/Parse/Resources/Parse-iOS.Info.plist) and remove iPhoneSimulator on line 21.

[2020-04-14 08:37] TomWFox commented on #1495
You might need to remove it else where if you are using other dependencies e.g. https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/master/ParseUI/Resources/Info.plist

[2020-04-14 16:27] ashish-naik commented on #1492
Didnt work.

this `print("yay \(task.result!.sessionToken)")` produced `yay nil`

Below is heroku log

before return this.getUserAndRoleACL()
before return this.validateClientClassCreation()
before return this.handleInstallation()
before return this.handleSession()
before return this.validateAuthData()
validateAuthData - is a _User class with valid username
validateAuthData - auth method supported

[2020-04-15 01:17] terryworona commented on #1491
@TomWFox I saw your earlier comment in [1495](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1495) so I updated my Cartfile to point to `release-1.18.0`.

I cleared my Carthage `build` folder and rebuilt: `carthage update --platform iOS --no-use-binaries`.

Good news is that the app built and uploaded to Apple (no more minimum OS version error). But now I'm faced with another error fr

[2020-04-15 01:25] TomWFox commented on #1491
Ok, this appears to be the same issue faced in #1495 although I have no idea why you get this message via iTunes connect and they are getting it whilst uploading through Xcode.

I would suggest you also try removing “iPhoneSimulator” from CFBundleSupportedPlatforms so that it only contains “iPhoneOS”. You could do a project wide search for CFBundleSupportedPlatforms as it is present in multiple in

[2020-04-15 01:26] TomWFox commented on #1491
I know this isn’t a long term solution but it would be good to see if you can successfully upload & deploy with those changes made.

[2020-04-15 01:36] terryworona commented on #1491
Works! I removed `iPhoneSimulator` from the `Parse.framework` `Info.plist`.

<img width="477" alt="Screen Shot 2020-04-14 at 6 35 26 PM" src="https://user-images.githubusercontent.com/358709/79289697-dd2e4e80-7e7e-11ea-84c6-95046e1f416c.png">

[2020-04-15 10:34] sarojkumarojha commented on #1443
[code]
I am using parse 1.17.3 , still UIWebView APIs are there in it , @mrmarcsmith could you please confirm to address this, is there a release planned ?

[2020-04-15 10:36] drdaz commented on #1443
@sarojkumarojha We're working on it. There are some final PRs that need a little polish... but we're working on it :)

[2020-04-15 10:39] sarojkumarojha commented on #1443
Thank you !

[2020-04-15 10:54] TomWFox commented on #1491
Awesome, I know you're using Parse UI, it would also be good to know if you are using Facbook and/or Twitter Utils?

[2020-04-15 10:55] TomWFox commented on #1491
Also just to confirm you still have `iPhoneSimulator` in your `ParseUI` `Info.plist`?

[2020-04-15 23:57] UnderratedDev commented on #1493
I can take a look at this. In reference to this: [Parse Server Pull Request](https://github.com/parse-community/parse-server/pull/6523). I made the backend changes for Apple Sign In for Parse Server & have implemented my own Apple Sign In with Parse. I can do some cleanup & perhaps release a utils file, & take a look at the PFLoginController also while I'm doing that.

[2020-04-16 01:25] UnderratedDev commented on #1440
@TomWFox [Tutorial](https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple) Thanks Bud :)

[2020-04-16 01:27] terryworona commented on #1491
Hey @TomWFox -- unfortunately I don't use `ParseUI`, `FacebookUtils` or `TwitterUtils` - I only use `Parse.framework`.

[2020-04-16 02:48] noobs2ninjas commented on #1491
This is all super weird. The config files are supposed to be setting all these automatically when each target is runs throught the rake files. However, the actual info.plist on the projects arent updated. Which makes me wonder if half our config files arent actually being used.

[2020-04-16 02:51] noobs2ninjas commented on #1493
@UnderratedDev That would be amazing! We actually are trying to get bolts and dependencies updated to work with iOS 13/Catalyst submissions and had to put off our AppleSignIn api off for the mean time. However, thats definitely our biggest request right now. So, any help would be amazing.

[2020-04-16 06:09] noobs2ninjas commented on #1443
Bolts just released 1.9.1 which fixes this. We have a release pretty much already to go. Just going through build tests right now. Look out for Parse 1.18.0!

[2020-04-16 06:13] noobs2ninjas commented on #1491
The next release will fix the minimum OS version as well. Parse 1.18.0 coming within the next day or so!

[2020-04-16 07:11] drdaz commented on #1493
I've done most of the implementation for Parse's architecture in the branch here called Apple_Sign_In. Take a look if you want.

Since starting it there were significant changes to the project files in master. So there needs to be either a serious merge, or a manual move of the new code content into a more recent branch. The latter option is probably less painful.

[2020-04-16 07:33] noobs2ninjas commented on #1492
God bless Heroku logs. I found your problem. Should have thought of this before.

[code]
So, your configuration on the server is that you require not only an email on the account to login, but verification of that email. Neither of which you are doing in your cloud code or natively when you pass the objectId back. So the user is saving. You can query that user with that auth data. However it wont

[2020-04-16 07:38] UnderratedDev commented on #1493
@drdaz Thanks man, I appreciate it, I'll definitely check that out. I did a base implementation of the provider a while ago but it needs a lot of work, so I will mostly likely use yours as a start point or for reference! :)

[2020-04-16 07:49] noobs2ninjas commented on #1493
@UnderratedDev We've been talking about a big ParseUI update for 1.18.1  for a while. We're wanting to get them all updated so developers can use the newer features that comes with iPad OS and Catalyst. Or at the minimum just get them usable in catalyst in general Definitely a discussion for later, just something to keep in mind as you look through everything. Ideally though, we'd love to go throu

[2020-04-16 09:09] TomWFox commented on #1491
Thanks for the clarification, in that case I would suggest we also remove ‘iPhonesSimulator’ from the other files.

[2020-04-16 10:36] drdaz commented on #1493
I have every intention of getting my Apple Sign In code finished and merged fwiw (I spent a lot of time on it). It just made no sense to work on it while master was broken.

[2020-04-16 10:41] noobs2ninjas commented on #1493
Thats true @drdaz. Do you think the code is large enough to warrant its own submodule like Twitter and FacebookUtils?

[2020-04-16 10:46] drdaz commented on #1493
Apple Sign In? I don't think so. The FB and Twitter Utils projects act as facades. The Apple Sign In implementation is much simpler than the FB and Twitter logins since the logic is baked into the OS. I don't feel like it's necessary to wrap it to the same extent.

[2020-04-16 11:44] isaacAssaban commented on #1493
Hey @drdaz would you mind sharing your apple sign in implementation in custom vc with parse ?. I have got the apple sign in flow working but I dont really know how i should create my own user with data retrieved from apple credentials.
Calling  PFUser.logInWithAuthType(inBackground: "apple", authData: ["token":tokenString, "id": user]) provkes an internal server error coming from parse.
Optional("

[2020-04-16 11:52] brianyyz commented on #1493
@drdaz would also like to see your implementation if you can share.

[2020-04-16 11:56] drdaz commented on #1493
Alright. Full disclaimer; I don't know the exact state of this. It's been months since I looked at it. But here https://github.com/parse-community/Parse-SDK-iOS-OSX/tree/Apple_Sign_In

If you're just trying to understand and implement Apple Sign In (not using ParseUI), this might not be the ideal base to look at; there's going to be some misdirection going on due to Parse's architecture.

[2020-04-16 11:59] drdaz commented on #1493
Oh I just realised that's not what you're asking for... ahh. I can't share my own (non ParseUI) implementation right now. But it was based on Back4App's sample code: https://www.back4app.com/docs/ios/sign-in-with-apple-ios

[2020-04-16 12:01] brianyyz commented on #1493
Thanks for the pointer!

[2020-04-16 13:04] isaacAssaban commented on #1493
thanks for the quick reply @drdaz
Yeah I have been using the back4app sample code + configuration from the tutorial but whatever I do, I end up receiving the same message from Parse. Optional("{"code":1,"message":"Internal server error."}")

I just downloaded the sample again, created an appId and added it in parse Apple Settings, created a service id, and a key.
I have also enabled the apple sign

[2020-04-16 15:38] #1491 closed

[2020-04-16 16:15] #1482 closed

[2020-04-16 16:15] #1484 closed

[2020-04-16 18:56] ashish-naik commented on #1492
So i commented verifyUserEmails and tried sign up for both Facebook and Apple and it worked.

i am using Parse/FacebookUtils for iOS which is super simple as you mentioned and use `PFUser.logInWithAuthType(inBackground: authType, authData: authData).continueWith { task -> Any?` for Sign in With Apple.
Cloud sign up code is just for troubleshooting this issue.

With verifyUserEmails removed, i am a

[2020-04-17 07:45] ashish-naik commented on #1492
And I didn’t use cloud code for testing  after removing f verifyEmail option. I have used my original code that use Parse/facebookUtils.

[2020-04-17 23:09] noobs2ninjas commented on #1492
Perfect! Glad ya got that going. I think you are correct that email verification is for email based signup only. Cant remember specifically testing that but I've been using Parse for so long with email verification and 3rd party oAuth that I imagine I'd know if that wasnt the case. Now that we just got 1.18.0 out we're probably going to be working on getting Apple Sign In integrated into Parse for

[2020-04-18 22:16] hunterh37 commented on #1480
Is this fixed?

[2020-04-18 22:31] hunterh37 opened #1499 "Not building on real device"
Not building on real device, iOS 13.3 Xcode 11.3, Any fixes?

I even went back to multiple versions between now and version 1.15.3, all broken on app launch.. this is frightening after spending weeks building a prototype in simulator.

[2020-04-18 22:36] drdaz commented on #1499
Which version of the SDK did you install? How did you install it? What errors are you getting? What changes did you make immediately before the issue started?

[2020-04-19 04:21] hunterh37 commented on #1499
I ended up fixing this - updated to iOS 13.4 and the app now builds on iPhone 11.  Previously the app did build fine using iPhone 6S iOS 12.x

[2020-04-19 04:21] #1499 closed

[2020-04-19 10:02] ashish-naik commented on #1492
Hi Nathan, congratulations on new release and thanks for helping with figuring out the issue.

However, I want to use email verification for users signing up using without auth. How to go about that?

I found a post that was left unsolved i guess. Not exactly for this issue but related so just mentioning here because i may need this as well. or was this addressed?
https://github.com/parse-communit

[2020-04-20 06:13] noobs2ninjas opened #1500 "Duplicate Circle CI and Travis builds."
I just got done doing an update to ParseLiveQuery to update dependencies and am waiting to see CircleCI results. Turns out I'm waiting for a parse PR to finish on Circle over an hour ago. As we can see below the Deployment Cocoapods and Carthage builds add an extra 60 minutes to this build.
![Pipelines_-_parse-community_Parse-SDK-iOS-OSX](https://user-images.githubusercontent.com/3413855/79718116-

[2020-04-21 10:15] konkontos opened #1501 "Framework bundle not building, as instructed, out-of-the-box"
I'm running:

- macOS 10.15.4
- Xcode 11.4.1

Attempting to build manually the frameworks, as instructed.
Everything runs fine up to `bundle install`.

The last command (`bundle exec rake package:frameworks`) returns:

[code]

My Ruby is: `ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin19]`

[2020-04-21 10:30] drdaz commented on #1501
I'm running the same versions, and I'm not seeing this. I'm seeing other issues related to Simulators though. I'm working on a PR to fix.

I'm not sure if this will help, but for your own sanity, don't have spaces in the names of your files and folders. That breaks things where you least expect it.

[2020-04-21 11:17] konkontos commented on #1501
@drdaz
Many thanks for your quick response 🙏
Spaces in the path, was the problem.
Simulators issue is there. I edited `Rakefile` and `build_third_party.rb` and all targets built except for `ParseUI`.

It fails with:

`error: Multiple commands produce '/Users/cookeecut/Desktop/Parse-SDK-Update/Parse-SDK-iOS-OSX/build/iOS/Release-ios-iphoneos/Bolts.framework/Bolts':
`

[2020-04-21 11:22] drdaz commented on #1501
Umm... that's not the issue that I'm seeing 😃

The thing I'm fixing involves the build not being able to find the right Simulator version for all the builds using the current Xcode release. That looks like something else...

Did you manually install older Simulators to get the script to run? Do you have simulator versions 13.2.2 installed?

[2020-04-21 11:32] konkontos commented on #1501
No. I just edited the old OS spec. in the scripts (e.g. 13.2.2) to much what I have (13.4.1).

[2020-04-21 11:37] drdaz commented on #1501
Ahh ok. That's basically what I'm fixing with my PR.

I don't see the issue you're presenting here; the package:frameworks command finishes without error here. I also don't recognise it... is the message translated?

[2020-04-21 11:44] konkontos commented on #1501
No. Straight copy-paste.
Still trying to see if I can figure it out.
Will post if I have anything.

[2020-04-21 12:11] konkontos commented on #1501
Switching `Parse.xcworkspace` to `legacy build system` seems to have resolved the issue.
Not sure why 🤷‍♂️

[2020-04-21 12:51] drdaz commented on #1501
🧐

I suspect there's something fishy going on with your development environment if that's necessary. Try doing this on a clean system; you shouldn't need to do that.

[2020-04-21 13:11] konkontos commented on #1501
Will look into it though I find this unlikely.
I'm not installing anything else other than Xcode on this machine, and only final builds via App Store.
I'm even very reluctant to manually build Parse (doing it for the first time) because I had to install `unknown` Ruby gems 😁.

Anyway, I'm now having another issue: unable to build my test app with the new frameworks
(Bolts framework not found).

[2020-04-21 18:38] markuswinkler opened #1503 "Please update dependency for FBSDK to 6.x"
Hi,

Great job on the 1.18.0 release!
One slight oversight, the FB SDK is on 6.x for a while now, not 5.x.
Can you please update the dependency?

Thanks,
Markus

[2020-04-21 19:14] TomWFox commented on #1503
Would you be willing to make a PR?

[2020-04-21 19:48] markuswinkler commented on #1503
@TomWFox done

[2020-04-21 20:46] Kiplol opened #1505 "Multiple commands produce Parse.bundle"
Xcode 11.4
Default build system

When trying to archive app using Parse and Parse/FacebookUtils integrated via Cocoapods, I get this build error.

[code]
 Parse and Parse/FacebookUtils are version 1.18.0.

[2020-04-23 04:44] #1481 closed

[2020-04-25 16:20] ashish-naik commented on #1492
@noobs2ninjas Appreciate if you could check my above comments.

[2020-05-05 01:41] brunomunizaf commented on #1503
Please merge this 🙏

[2020-05-05 10:52] #1503 closed

[2020-05-06 06:26] bayareahank commented on #535
I am having similar issues with pin to local store.

In one case, I read records (with pointers) from DB, and then put them into a local set. When two distinct records bear the same logical (in business) IDs, they would count equal in the data set, and one would be discarded. This discard would ruin the local store, and subsequent query would report error saying "not available in offline cache". I

[2020-05-06 14:44] fmendoza commented on #1443
Any updates? Apple is rejecting our apps due to the uiwebview deprecation

[2020-05-06 15:06] TomWFox commented on #1443
1.18.0 has been out for a while now, this should solve the deprecation issue. Let us know if you are still having issues on 1.18.0.

[2020-05-06 15:18] fmendoza commented on #1443
ty will try the update today

[2020-05-06 23:21] bayareahank opened #1506 "LocalDataStore query doesn't support Role in Object's ACL"
I found this out while investigating a whole group of objects that were pinned successfully but then missing in subsequent queries, as I mentioned in #535

I checked the local datastore using sqlite DB viewer, the data is indeed stored in local cache. Then I found out the reason why they don't show up in queries, they all use role based ACL, and  didn't list the current user explicitly in object's

[2020-05-07 01:54] hatimmakki opened #1507 "createdAt and updatedAt properties are not accessible inside saveInBackground call back"
Hi there,
I am creating a new object and for some reason I need to get the the full saved object including the createdAt and updatedAt properties.

in this code, I am saving the new object.

[code]

When I try to access msg .createdAt I always get nil. However, msg.objectId returns the new object id, which is fine.

in order to access the createdAt property, I need to do like this:
[code]
SO, the

[2020-05-07 04:56] bayareahank commented on #1480
I assume you run the code with an unpaid iOS developer account.

I think this came from Apple side, changes made to XCode/iOS. You would need a paid developer account to sign the library to run it on a real device, otherwise it will come as an unsigned, thus rejected by security mechanism on real device.

I ran into the same problem around Feb., after XCode update. The solution is to upgrade my ac

[2020-05-07 22:14] noobs2ninjas commented on #1500
@drdaz you have any thoughts?

[2020-05-07 22:17] noobs2ninjas commented on #1505
Interesting. I'll take a look.

[2020-05-08 01:49] #1480 closed

[2020-05-08 10:08] jaysonng opened #1508 "When adding a relation with the same keyword as the Class name, related objects doesn't save properly."
So I've been testing out creating and pulling data from Parse and I was stuck for quite a bit on the creating a relationship between my object using PFRelation (not Pointer).

I finally got it working when I changed the name of my key to something other than the Classname.

I started out with

[code]

But saving this gives me a WHITE SCREEN when I try to access the relationship via the Parse backe

[2020-05-10 08:11] jaysonng opened #1509 "Related objects not saving when saving the main object"
I have a Tag Object and a Post object. Both of  which are a subclass of PFObject.

Given this code:
[code]

then saving the post object

[2020-05-10 12:59] ashish-naik commented on #1492
@dplewis For error 206 i have been facing, i changed the code as above and my error went away.

is this a correct fix? Could you please take a look?

[2020-05-16 12:14] dotWasim opened #1510 "Bolts dependency uses the deprecated UIWebView"
New apps that use UIWebView are no longer accepted. Bolts dependency uses UIWebView.

[2020-05-16 13:39] drdaz commented on #1510
Try release 1.18.0. This should be fixed.

[2020-05-18 09:45] noobs2ninjas commented on #1509
Hey @jaysonng!

Correct me if I'm wrong, what you are doing is a PFRelation column or a one-to-many relationship where Post has a PFRelation called "tags" that points to many Tag objects. Right?

Assuming this is correct, currently this SDK only automatically saves new one-to-one aka "Pointer" objects. You'll need to save the tags first either individually or use `PFObject.saveAll(inBackground: ta

[2020-05-18 10:09] noobs2ninjas commented on #1508
You mean the column is case insensitive? Or the class name? @drdaz do you have any insight on this?

[2020-05-18 10:15] noobs2ninjas commented on #1510
Yes the bolts version that fixes this is 1.9.1

[2020-05-19 21:37] tshort15-ford commented on #1443
I think PFTwitterUtils also has references to UIWebView?

[2020-05-19 22:58] noobs2ninjas commented on #1443
You are correct @fmendoza. Wanna open A issue for that and we'll get it cleaned up right away.

[2020-05-21 12:31] drdaz opened #1512 "Cocoapods is broken on master"
While working on Apple Sign In, I'm trying to test the login feature in a project using Cocoapods. It doesn't build. When I switch branches from mine to master, the issues persist. Looks like that update to the new FB libs didn't go by without causing some damage 😬.

First build fails like this:
<img width="610" alt="Screenshot 2020-05-21 at 14 29 11" src="https://user-images.githubusercontent.com

[2020-05-22 17:31] Kiplol commented on #1505
I've been able to work around this by following these steps while arciving.

1. Rename the product name from Parse to anything else in Pods project Parse.default-FacebookUtils-Parse target
2. Change Parse.bundle to that new name in AppName project's AppName target's [CP] Copy Pods Resources Input Files
3. Delete ALL Output files right below
4. Change "Parse.bundle" in Pods/Target Support Files/Pod

[2020-05-22 19:40] dotWasim commented on #1510
thanks

[2020-05-22 19:40] #1510 closed

[2020-05-25 05:49] jaysonng commented on #1508
I'm sorry, I don't know if it a dashboard only problem. Though I should have thought of that and tried testing pulling the data. I didn't get to. But I was already frustrated and kept getting the white screen on the dashboard and was just relieved when I got it working. :O

[2020-05-25 05:59] jaysonng commented on #1509
Thanks @noobs2ninjas . you got it right. PFRelation to a tags relation column.

 I worked around this by using cloudcode  beforesave(Post) to save the tags before passing it on to the Post. But I do agree if it's possible to have this as standard behavior on relations as well.

Maybe we can tag this as a feature request ?

[2020-05-25 08:30] jaysonng commented on #1508
so I did a few more tests now, reverting back my code to try and recreate this, I don't believe it even saves the relationship at all as retrieving the object after saving gives me:

`found tags are:
Optional([])`

as compared to normally saved objects

`found tags are:
Optional([<Tag: 0x600000df0c00, objectId: 1MzD26nxWH, localId: (null)> {\n    relatedTags = \"<PFRelation: 0x600002823580, 0x0.(n

[2020-05-28 22:10] noobs2ninjas commented on #1509
Definitely. I've wanted this myself for quite a while. Let see if we can make it happen.

[2020-05-29 14:06] benpackard opened #1513 "Unexpected error logging to console when getFirstObjectInBackground fails"
When using `getFirstObjectInBackground` to fetch a query, and that query has no matching results, the SDK logs "[Error]: No results matched the query. (Code: 101, Version: 1.17.3)" to the console.

I am not aware of any other places where the SDK logs errors that it encounters rather than letting the developer decide what to do with them. In my case, I would prefer to trap this particular error co

[2020-05-29 15:01] drdaz commented on #1513
It gets logged in PFErrorUtilities.m and is triggered by both the getFirstObjectInBackground and getObjectInBackgroundWithId commands.

You're getting a BFTask returned with that method, so you can handle the error how you want (or just ignore it by only using a continueOnSuccess method). And all errors in the SDK are logged to the console... I'm not sure how this is any different?

[2020-05-31 19:18] benpackard commented on #1513
Thank you, I was mistaken - there is no error for a `count` of `0`, which is why none was logged.

[2020-05-31 19:18] #1513 closed

[2020-06-03 13:03] SSB95 commented on #1399
Is there still something going on with a Parse SDK written in Swift? The repo mentioned above is not maintained anymore I think. Or is it just a too big effort to change to Swift yet? This would probably require to maintain two versions of the iOS-SDK? Thanks!

[2020-06-03 13:06] drdaz commented on #1399
There's nothing active right now. But I plan on spending a little time with that repo soon to see where it was heading.

[2020-06-03 13:16] ShawnBaek commented on #1399
I think https://swiftify.com is useful for converting to swift code.

[2020-06-03 20:15] ritteraf opened #1514 "Error attempting to .pin() a new object. Old objectId is (null)."
I have a class, `UserRelationship` which is a subclass of `PFObject`
I ran a simple test where I tried to create a single `UserRelationship` object, save it, and .pin() it. The logic is as follows:

1. Create the new `UserRelationship` object
2. Save the new `UserRelationship` object in the background
3. The creation of the new `UserRelationship` triggers a LiveQuery `Event.created()` block
4. In

[2020-06-05 16:21] drdaz commented on #1501
Is this still an issue?

Looking through this, I should ask, how did you get the code? From a release package or from master?

[2020-06-07 19:49] mtrezza opened #1515 "App Store submission failed for MinimumOSVersion"
After building the Parse iOS SDK with Carthage on Xcode 11.5 I get this error when validating the app for App Store submission:

![image](https://user-images.githubusercontent.com/5673677/83978491-1bd50800-a908-11ea-8a65-460e18c95a3c.png)

The solution was to manually bump the `MinimumOSVersion` in `ParseFacebookUtilsV4.framework/Info.plist` from `6.0` to `8.0`.

I am surprised that it matters at

[2020-06-09 05:33] konkontos commented on #1501
Master.

It's been sometime since my last post, so I can't recall the exact details of what I did.
I finally managed, somehow, to resolve the issue, but not by simply following the regular build process outlined in the README. This would not work for me , no matter what I did.

I'm sorry I can't go into more detail - I'll make another attempt at it when I have the time and document my steps. This

[2020-06-12 01:00] bayareahank commented on #1506
Turns out the correct way to have role support in localstore is to set role public readable, as below:

       roleACL.setPublicReadAccess(true)

Without this, role won't work in local store query.

Earlier on I was worried that making role readable publicly may leak its members, I verified from client side that reading role members would only return none other than the inquirer itself,  if the us

[2020-06-12 01:00] #1506 closed

[2020-06-16 13:27] Vortec4800 commented on #1453
SPM is getting more popular recently and with WWDC and Xcode updates coming soon I'm guessing it will only increase.

Just bringing this up to see if we can re-open and figure out what to do with Bolts.

[2020-06-17 00:52] omarojo opened #1516 "Documentation doesnt explain how to PFObject Subclassing"
There is a section regarding how to do Subclassing, it appears to have missing code example.
[https://docs.parseplatform.org/ios/guide/#subclasses](https://docs.parseplatform.org/ios/guide/#subclasses)

And then.. there is no code block.
Also, it wouldn't hurt extending a little bit more on how to do Subclassing properly, Stackoverflow if filled with lot's of different implementations and hacks.

[2020-06-17 14:25] drdaz commented on #1512
@noobs2ninjas Could you have a look at this? I've thrown quite a few hours at this, and I'm no wiser 🙁. There aren't actually duplicate definitions that I can see. So this is the result of *something* else.

To reproduce, make a Tester app and use the Podfile included here to install pods. Then build.

This should cause a failing test tbh.

[2020-06-25 06:54] noobs2ninjas opened #1517 "Important changes for ReadMe and Docs in upcoming SwiftUI changes."
For the upcoming Swift 5.3/XCode 12. SwiftUI applications by default will no longer have an app delegate. Instead, this is what is created by default.

[code]

Since Apple is now pushing to use purely SwiftUI and move away from UIKit including storyboard and controllers. I feel we need to do some testing on how to initialize Parse, ParseFacebookUtils, and ParseTwitterUtils to work with SwiftUI. We

[2020-06-25 07:07] noobs2ninjas commented on #1507
Try using Parse 1.18.0. I have a feeling that this will render the same result. The primary reason being that those are values set by the server. So, I think this was not updated intentionally in order to keep the save request quick and allow the developer to decide if updating the object is necessary with ``.fetchInBackground()``, ``fetchIfNeededInBackground``, or ``fetchIfNeededInBackgroundWithB

[2020-06-25 08:10] drdaz commented on #1512
@noobs2ninjas This is a blocking issue - we can't release any changes as long as this persists. Could you please look at this?

[2020-06-25 08:43] noobs2ninjas commented on #1512
I started a brand new project and linked to my files from path set to master after switching from your branch. Everything works fine. What is strange to me is that you have Pods/FBSDKCoreKit/FBSDKCoreKit/FBSDKCoreKit/Internal. Seems like you have framework folders nested inside of framework folders. Also, there is no Internal inside of FBSDKCoreKit anymore.

<img width="235" alt="Pods_xcodeproj" s

[2020-06-25 08:52] drdaz commented on #1512
Thanks! Interesting to hear that it works for you. Hopefully this is a red herring and something specific to my environment then. I'll give it another try soon with a fresh project and perhaps a different machine to see.

It does look odd with the triple-nested files - I didn't notice that. My pod command is at 1.9.1.

[2020-06-25 09:04] noobs2ninjas commented on #1512
Actually, whats strange is that its trying to build from ParseUI/Vendor. In my file system I dont have frameworks in the vendor folder anymore.

[2020-06-25 09:19] drdaz commented on #1512
Really? Because this build script puts them there...

<img width="1870" alt="Screenshot 2020-06-25 at 11 18 31" src="https://user-images.githubusercontent.com/845731/85692337-9c9c4e00-b6d5-11ea-9f50-4a08709c8c3c.png">

[2020-06-25 09:27] drdaz commented on #1512
<img width="1864" alt="Screenshot 2020-06-25 at 11 25 37" src="https://user-images.githubusercontent.com/845731/85693505-99559200-b6d6-11ea-9e80-293d972a175a.png">

This script puts files in there by the looks of things. So I guess this could be a complication from building ParseUIDemo first in the source repo, then building from that repo in my tester.

[2020-06-25 09:39] noobs2ninjas commented on #1512
When I try to build the demo it gives me a whole bunch of different erros about duplicate commands building bolts. Looking at its framework linking, it hasnt been touched in a very very long time.

[2020-06-25 09:40] noobs2ninjas commented on #1512
Now I get why the additional fbsdk is in vendor but it doesnt explain why its trying to build all those different ones. It feels like something is out of date. Go to carthage.resolve and make sure that fbsdk shows that its over 6.0.

[2020-06-25 09:41] drdaz commented on #1512
Yeah it's a mess. I did get it to build here last time I toyed with it. But it runs that script before compiling our code... so I'd guess that there are files in ./Vendor after build.

[2020-06-25 09:54] noobs2ninjas commented on #1512
Oh wow. So, this is what is happening. So, the vendor file on my end is a group that just links the frameworks from the root directory. When you call the archive site, it downloads facebook 4.40.0. The last version that facebook hosted themselves. Now they are setup much like us. Maintain and host the files and release archives on [github](https://github.com/facebook/facebook-ios-sdk). Currently w

[2020-06-25 10:10] noobs2ninjas commented on #1512
Really now that we are using carthage we shouldnt be pulling the latest version of anything and just use whats on our Carthage.resolve and our Podspec. That eliminates 3rd party dependencies as a root cause.

[2020-06-25 10:11] noobs2ninjas commented on #1512
Want me to fix this thing up?

[2020-06-25 11:18] drdaz commented on #1512
The thing is it's grabbing those libs from there because they're static builds. The alternative would be building them ourselves I suppose.

The FacebookUtils project has been updated to grab the newest binaries from the correct place.

[2020-06-25 11:21] drdaz commented on #1512
Super cool we're seeing the cause now though. That was really confusing 🤪

[2020-06-28 22:42] #1500 closed

[2020-06-29 14:29] TomWFox commented on #1453
@noobs2ninjas has been communicating with FB open source so if someone wants to make a PR to bolts to support SPM we could probably get it merged now.

[2020-07-03 03:26] #1492 closed

[2020-07-03 23:02] noobs2ninjas commented on #1515
I looked into this. I did a project wide search for 6.0 and couldnt find it anywhere. Everything said 8.0. I then went through every config file and ever info.plist just in case and couldnt find anything there either. I didnt check archives for 1.18.0 but at least for master its not in there.

[2020-07-04 02:51] mtrezza commented on #1515
@noobs2ninjas True, the `Target Version` in Xcode is correctly set to `8.0`, so the `MinimumOsVersion` should be the same. I can't build with carthage currently to test, but the issue was probably the carthage cache. Closing for now.

[2020-07-06 21:08] jbhannah commented on #1517
In my tinkering, the following works just fine for initializing Parse in a pure-SwiftUI app:

[code]

[2020-07-07 20:23] noobs2ninjas commented on #1517
Thanks @jbhannah for doing that! That is seriously helpful.

I think the most important thing is that we test facebook initialization and how it works within facebook utils. I'm betting we need to add documentation explaining that using a @main class will not work and an @UIApplicationMain app delegate will be required in order to initialize facebook and handle URI callbacks properly when being ro

[2020-07-07 20:30] noobs2ninjas commented on #1514
@ritteraf Thanks for doing some research.

Your findings seem to fall in line with our pin unit tests randomly passing or failing. You're running on iOS right?

[2020-07-08 08:23] kawing924 commented on #1158
I face the same error but I am using the apple signin, did you find the solution? please let me know, thanks.

[2020-07-09 12:19] carbonimax opened #1520 "objectId should be non nil"
Hi,

Since a few weeks, at app launch, for some users (±0.1%), the app crashes on PFRESTObjectCommand.m line 21 with this error:
[code]

At launch, we sync the current PFUser and we call ```PFUser.enableAutomaticUser()```.
I don't know which object could have a nil objectId.
If I add some debug, currentUser.objectId and currentUser.session are OK.

```PFObject._validateFetchAsync``` is called just

[2020-07-09 12:33] carbonimax commented on #1520
trace
[code]

[2020-07-09 14:07] SebC99 commented on #1520
@TomWFox @mtrezza have you already seen something like this?
Why is there even a `[BFTask continueWithExecutor` before the `_validateFetchAsync` test whereas it's a sync test (just a `if`)? Can't we removed that to avoid any potential race condition issue?
BTW, the validation test the existence of the `objectId` whereas the assert test the length of that `objectId`, so that a weird `""` objectId c

[2020-07-09 16:30] drdaz commented on #1520
Where are they 'okay'? Are they are non-nil when the check claims they're nil?

[2020-07-09 19:11] carbonimax commented on #1520
In `application:didFinishLaunchingWithOptions`, after Parse init, objectIds are never nil and sessions are valid (except for new users but it is normal and it doesn't crash).
In all debug prints in app, they are never nil and always valid before the crash, from what I can see.

[2020-07-10 07:54] drdaz commented on #1520
@carbonimax That sounds pretty strange. The only times I recall seeing similar behaviour (and not in Parse) involved threading issues. Where values were being set on one thread and tested in another.

I'm not sure that's what you're seeing here (I recall PFObjects being thread-safe in fact), but it's the first thing that jumps to mind.

[2020-07-10 10:32] mtrezza commented on #1520
Does the date coincide with an app update / release date? (mind the rollout duration)

I have seen a similar issue regarding `PFUser.currentUser()` on iOS, I assumed a threading issue. That is what I would be  looking at here at first. For example when the current user is logged in or out, while there are requests being made on different threads.

[2020-07-10 14:50] SebC99 commented on #1520
Does someone have any idea of the purpose of the first BFTask in:
[code]
The call to `[object _validateFetchAsync]` is a simple (sync) test on `!self._state.objectId` so I don't see why there's a BFTask involved.
Even the change of queue is unnecessary as it will be done in the `[self _runFetchCommand:command forObject:object];` call.

[2020-07-10 18:34] drdaz commented on #1520
Maybe consistency? The SDK is big on BFTask. Or maybe there are historical reasons it's like that?

But I agree it seems like less fancy could do the same job.

[2020-07-12 02:01] mtrezza commented on #1515
I only now had a change to retry, and the same issue occurred.

I'm using carthage version: 0.35.0 and building with:
[code]

The `ParseFacebookUtilsV4.framework/Info.plist` has set `MinimumOSVersion: 6.0`:

![image](https://user-images.githubusercontent.com/5673677/87237206-a15e4300-c3f3-11ea-9236-58357b8d5103.png)

Also the `ParseTwitterUtils.framework/Info.plist` has set `MinimumOSVersion: 6.0`

[2020-07-12 02:35] mtrezza commented on #1515
It seems the SDK references some plist files for FB and Twitter Utils where the minimumosversion was directly set to 6.0. I changed it to 8.0.

[2020-07-14 19:16] TomWFox commented on #1356
For those who expressed an interest in helping out with the [Swift SDK](https://github.com/parse-community/Parse-Swift) it's a good time to get involved as the project is starting to become active again.

[2020-07-15 05:24] Husseinhj commented on #1356
@TomWFox
Are there any plans to start this (Timing and Tasks)?

[2020-07-15 10:21] TomWFox commented on #1356
@Husseinhj sorry, I don’t understand your question, can you rephrase it?

[2020-07-15 10:31] Husseinhj commented on #1356
@TomWFox sorry
Do we have any priority for which task should be working on?

[2020-07-15 14:33] TomWFox commented on #1356
Got it, good question, I'm not sure. @cbaker6 maybe you could create a new issue with a list of TODOs - or we could create a project board.

[2020-07-15 18:11] cbaker6 commented on #1356
@TomWFox I think the current project board is a good [start](https://github.com/parse-community/Parse-Swift/projects/1). Are you able to move "Support for Keychain / secure storage" to "Done".

I'll work on the TODO list, but for now we began the discussion on what can be worked on starting from [here](https://github.com/parse-community/Parse-Swift/issues/3#issuecomment-657320279), read to the end

[2020-07-16 01:48] pranjalsatija commented on #1356
Just for clarity for anyone who hasn't read through the entire thread @cbaker6 linked, I'm currently working on:
* Renaming stuff to bring it in line with modern Swift conventions. I'm also moving some files around so the directory structure is a little cleaner, files are more compact, etc.
* A simple key-value store to save the current user and installation in the Keychain.

I hope to have a PR u

[2020-07-18 05:49] #1508 closed

[2020-07-22 14:24] davewhipps commented on #1443
This is actually still broken in Parse-UI. The ParseTwitterUtils::PFOAuth1FlowDialog uses UIWebView.

[2020-07-22 14:28] davewhipps opened #1524 "ParseTwitterUtils PFOAuth1FlowDialog uses deprecated UIWebView"
This results in any new apps that use Parse-UI on iOS to be rejected from the AppStore.

I have a fork with most of this fixed, but writing unit tests for WKWebView in general and its use in PFOAuth1FlowDialog in particular are really ugly.

[2020-07-22 14:41] drdaz commented on #1524
Could you make a PR with the changes once you've gotten it working?

It looks like there's only one test this will break - testWebViewDelegate. It's the only test that directly does things with the UIWebView. WKWebView also has delegates, that should do at least equivalent things, so the test should be fixable.

[2020-07-22 14:45] davewhipps commented on #1524
I also don't have any kind of a test environment for this besides the unit tests. I have no way of checking any of it without building it into an app. ParseTwitterTestApplication doesn't seem to do anything.

[2020-07-22 14:48] drdaz commented on #1524
It was a unit test I was referring to. Only one of those looks like it will break due to these changes.

[2020-07-22 14:49] davewhipps commented on #1524
Yes, but it would be nice for me to be able to see my changes in action somewhere. I'm kinda coding blind here.

I'll make a PR and we can discuss.

[2020-07-22 15:31] dwhipps commented on #1524
Looks like someone has already done it, here:

https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1511/commits/da2c9572357041dd090c3dec276b9df0f12fbc6e

Do you still want me to issue a PR? This one is pretty good.

[2020-07-23 14:22] dwhipps commented on #1524
I realize I'm now logged in with my work address, but it's still me. I see that the above PR is failing tests, but those tests failed for mine too (and failed BEFORE I did any work.)

[2020-07-23 14:53] drdaz commented on #1524
You and your username look the same from here :)

It's ok. They've been failing for a while. I've got a PR waiting for review that should get that under control.

Are your changes more complete / ready for production than the PR we already have?

[2020-07-23 14:57] dwhipps commented on #1524
No. In fact, they look almost exactly the same as mine, and they include the Unit Tests that I wasn't looking forward to writing. The sooner the better!

[2020-07-26 15:35] cbaker6 commented on #1356
Those of you looking to help out on the Swift SDK, I added an initial list of Testcases that can be ported https://github.com/parse-community/Parse-Swift/issues/16

[2020-07-27 15:47] dwhipps commented on #1524
Any update on this PR? I'm hoping to pull and release a beta of my product this week!

[2020-07-28 12:33] drdaz commented on #1524
@dwhipps Sorry no. I think you're going to have to go with a patched version for your beta.

[2020-07-31 06:14] bcbeta commented on #1505
With Xcode 12 beta I am getting "multiple commands produce" errors for bolts and FacebookUtils.
<img width="907" alt="Screen Shot 2020-07-31 at 12 08 25 AM" src="https://user-images.githubusercontent.com/1378780/89005667-461cc380-d2c2-11ea-85fb-b69f11868e46.png">

[2020-08-01 04:05] bcbeta commented on #1505
@Kiplol could you explain how you fixed this error? I get warnings in the simulator but error when trying to archive. Any help would be appreciated. thanks!

[2020-08-01 08:37] #1501 closed

[2020-08-04 20:30] bmueller opened #1526 "Xcode 12 beta 4 fails to build project with SDK"
I'm getting an error when trying to build a project on the newly-released Xcode 12 beta 4:

Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __strong)'

The error doesn't happen with beta 3 or earlier. I have the SDK integrated via CocoaPods.

[2020-08-04 23:09] bcbeta commented on #1505
Removing use_frameworks! from the Podfile and then changing the product name as you suggested allowed me to build.

[2020-08-05 08:13] funkenstrahlen commented on #1526
I can confirm this issue.

[2020-08-05 08:22] HeEAaD commented on #1526
LLVM got a bit stricter in checking for qualified id block parameters I guess: https://github.com/llvm/llvm-project/commit/73152a2ec20766ac45673a129bf1f5fc97ca9bbe

The error occours at this line:
https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/1ede703d5119a6a673e2654195e87c7f7f82ecf6/Parse/Parse/ParseClientConfiguration.m#L129

One possible solution could be to not use the `-[ParseClien

[2020-08-05 15:12] bmueller commented on #1526
Will this be fixed on CocoaPods anytime soon or will we have to use our own build?

[2020-08-06 14:34] drdaz commented on #1505
Can you confirm whether you still need to take these steps using the current code on master?

[2020-08-07 04:51] bcbeta commented on #1505
Yes, this was happening with the master as of two days ago.

[2020-08-07 08:35] drdaz commented on #1505
@bcbeta I merged a couple of PRs to master yesterday. I did some work with these build ambiguities in there, so I'd be interested to hear if it's still the case 🙂

[2020-08-07 19:18] novemTeam commented on #1526
I have the same issue. I can't run my app anymore. Waiting for a fix soon

[2020-08-08 22:25] TomWFox commented on #1526
I haven't looked at this but as always anyone is welcome to make a PR with a fix.

[2020-08-09 15:51] nebitrams commented on #1505
I see this error only during Archiving.

[code]

Using using Xcode 11.5 and pod file as follows

[code]

[2020-08-10 13:36] AliZahr commented on #1209
I tried to set a new parse server url while inside the app, but there was no change what so ever.
[code]

How did you achieve the change ?

[2020-08-10 21:24] Vortec4800 commented on #1517
Just to add to the conversation, you can add a traditional AppDelegate to a pure SwiftUI app as follows:

https://www.hackingwithswift.com/quick-start/swiftui/how-to-add-an-appdelegate-to-a-swiftui-app

[code]

[code]

Note the `@UIApplicationDelegateAdaptor` which defines what object to use as the AppDelegate.

I'm not sure which is Better™ but just wanted to bring up an alternative method.

[2020-08-13 04:32] PatrickAdams commented on #1526
Same issue here.

[2020-08-13 05:48] AliZahr opened #1528 "Parse iOS SDK setServer function not working"
[Parse setServer:@"https://serverNewUrl.com"];
NSLog(@"%@",Parse.server); -----> This prints the new server set, i.e https://serverNewURL.com
NSLog(@"%@",Parse.currentConfiguration.server); -----> This prints the old one set, i.e https://oldServerURL.com

I am using Parse iOS SDK 1.18

[2020-08-13 08:51] omarojo commented on #952
How come you were successfully saving other Classes, but that one was failing. And it turned out to be the serverURL ?
I have the same issue, but my URLs are fine.

[2020-08-13 17:39] jaysonng opened #1529 "Changing PFUser.current()?.email does not update emailVerified to False"
I've been working on user management on an app I'm developing and currently on email management. Changing an email address using

[code]

works fine and changes the email. However, emailVerified is still True and not changed to False.

from what i've gathered and read (pls correct me if i'm wrong), this shouldn't be the case based on this pull request. - https://github.com/parse-community/parse-se

[2020-08-14 14:07] JoeSzymanski commented on #1526
This issue is blocking us currently. Is there any timeframe for when a fix will be merged and publicly released?

[2020-08-14 15:39] #1526 closed

[2020-08-14 16:23] drdaz commented on #1526
@JoeSzymanski I just merged @HeEAaD's PR to this fix. So assuming our tests pass, you should be good with current master. Not sure on the timeframe for a release. ASAP.

[2020-08-14 16:42] mtrezza commented on #1528
Thanks for reporting.

I have not looked into the implications of this bug yet but the feature underwent a lot of testing and there were no issues found. My initial guess is that the `currentConfiguration` is not used internally but for the developer to read the configuration, that’s why it would not have an implication on the actual feature, but that is just my guess as of now.

[2020-08-14 16:44] JoeSzymanski commented on #1526
@drdaz Thanks for the quick update. We can likely make use of master directly, though obviously a full public release would be better if we can manage it

[2020-08-14 17:36] bcbeta commented on #1526
I'm still getting this error on the master branch?

[2020-08-14 18:25] funkenstrahlen commented on #1526
I can confirm the fix on `master` fixes the build issue on Xcode 12 beta 4.

@bcbeta Please double check if you actually use the code on master in your project.

[2020-08-14 18:47] AliZahr commented on #1528
If someone was able to implement it and get it to work, please guide me through it if I have missed something.

[2020-08-14 18:50] bcbeta commented on #1526
I am using
`    pod 'Parse', :git => 'https://github.com/parse-community/Parse-SDK-iOS-OSX.git', :branch => 'master'`
and I ran pod repo update but it is still not pulling in the change. Must be a problem on my end.

[2020-08-14 18:53] mtrezza commented on #1528
As I said erlier, the server URL should be changed correctly, it just seems not to be updated in the `currentConfiguration`. You could read the property `serverUrl` instead until the bug is fixed.

[2020-08-14 19:29] AliZahr commented on #1528
Correct me if I got this wrong.
After setting the server url, queries should pass through the new parse server right? When I print Parse.serverUrl, I can see the new url set but when turning verbose on the new server, no query is passing through it while I can confirm its flow through the old Parse server.
The use case is using different parse servers for different languages.

[2020-08-14 19:46] mtrezza commented on #1528
Thanks for clarifying and investigating. In that case my previous assumption was wrong. We'll need to look into this further. Do you think you could write a failing test case for this?

[2020-08-15 03:19] bcbeta commented on #1505
I am still getting the multiple commands error with the most recent master.

<img width="717" alt="Screen Shot 2020-08-14 at 9 14 56 PM" src="https://user-images.githubusercontent.com/1378780/90304304-8e67e400-de73-11ea-9e8a-4428fd5c71c8.png">

I am confused because the error is occurring in the widget extension target, but this target does not use the facebookutils framework. Podfile is below-
`

[2020-08-15 06:09] nebitrams commented on #1505
Could you try this and see if it works?

`
platform :ios, '12.0'
use_modular_headers!

def parse_utilities
pod 'Parse/UI', :git => 'https://github.com/parse-community/Parse-SDK-iOS-OSX.git', :branch => 'master'
pod 'Parse/FacebookUtils', :git => 'https://github.com/parse-community/Parse-SDK-iOS-OSX.git', :branch => 'master'
pod 'Parse', :git => 'https://github.com/parse-community/Parse-SDK-iOS-OSX

[2020-08-15 17:40] bcbeta commented on #1505
I can't install the FBSDK in the extension because sharedApplication is not available for that target-

<img width="634" alt="Screen Shot 2020-08-15 at 11 39 52 AM" src="https://user-images.githubusercontent.com/1378780/90318195-17bafd00-deec-11ea-8d76-72069d67ebc7.png">

[2020-08-16 10:19] #1507 closed

[2020-08-16 14:19] #1512 closed

[2020-08-16 20:46] bcbeta commented on #1526
Any idea why I am not getting the most recent master update? Sign in with Apple isn't there either.

[2020-08-16 21:55] TomWFox commented on #1526
For reference above query has been [posted on Stack Overflow](https://stackoverflow.com/questions/63442227/cocoapods-installs-release-rather-than-master-branch-of-parse-sdk).

[2020-08-17 00:08] bcbeta commented on #1526
After deintegrating and reinstalling about two dozen times, I was finally able to pull from the master 🤷🏻‍♂️

[2020-08-17 11:05] AliZahr commented on #1528
Do you want me to follow any kind of guide for writing a failing test? Or it would be sufficient if I provide code to replicate the issue?

[2020-08-18 09:14] jaysonng commented on #1529
apparently the verifiedEmail  setting was turned off. *facepalm*

[2020-08-18 09:14] #1529 closed

[2020-08-19 07:27] loloapodo commented on #535
Had the same issue. Before get any field from the pointer call:
 **myparseobject.fetchFromLocalDatastore();**

I pinned before do that. Not know directly with network.
Remeber before do pin to include the pointer name in the query

[2020-08-20 05:33] jaysonng opened #1531 "resend verification eMail feature request."
I've been working on a way to resend verification email and have come up with a solution to access the REST API of the parse-server /verificationEmailRequest.

Through testing, I've got it working to basically run when the button is pressed. The thing however is it uses the client key for authorization.

[code]

however in this documentation on REST API: https://docs.parseplatform.org/rest/guide/#

[2020-08-20 18:01] Jagadeeshwar-Reddy commented on #1492
@ashish-naik Did you manage to find a solution for this ?
I have been experiencing the same issue using the native Signin for facebook & google & apple Signin options. I have parse server 4.2 running in cloud.

[2020-08-21 08:36] ashish-naik commented on #1492
Check https://github.com/parse-community/parse-server/issues/6511

I am waiting for someone from Parse team to check the solution Working for me.

[2020-08-21 18:35] DrBeak1 opened #1532 "Login fails: The data couldn’t be read because it isn’t in the correct format."
Just recently started toying with the SDK again. So the data was generated about 3 years ago. I set up a new server instance and a new application, all using the previous `app id`, `master id`, etc. I'm able to successfully log in using Postman, but using the built in iOS SDK function it fails with the message: "The data couldn’t be read because it isn’t in the correct format."

iOS SDK: `1.18.0`

[2020-08-22 06:00] #1532 closed, assigned to nobody

[2020-08-24 16:56] bulkinav opened #1533 "Can't build project in Xcode 12"
Parse 1.18.0

The following issue appears when I try to build project in Xcode 12 beta 5:

Pods/Parse/Core/ParseClientConfiguration.m:

[code]
Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __strong)'

[2020-08-24 19:03] TomWFox commented on #1533
This is a duplicate of #1526, the issue was fixed by #1527 which has been merged into the master branch.

[2020-08-24 19:03] #1533 closed

[2020-08-24 19:04] drdaz commented on #1533
There's a fix for this in master. It'll be included in the next release.

If you can, use the current latest commit in master in the meantime.

[2020-08-25 13:12] UnlikelySassou opened #1534 "Release version of the updated Bolts.framework (Parse-iOS)"
Hello,

I need to submit an update to the App Store, but my project includes a version of the SDK that still uses Bolts.framework with UIWebview.

It seems like this issue has been fixed in version 1.18.0, but I can't find the updated Bolts.framework. In previous releases (https://github.com/parse-community/Parse-SDK-iOS-OSX/releases), the zip file always contained Bolts.framework and Parse.framew

[2020-08-26 18:17] bcbeta opened #1535 "Apple sign in- incorrect password"
Using apple sign in from the master branch I always get the error "incorrect username or password".  Is there additional configuration I need to do to make this work?

[2020-08-26 18:19] drdaz commented on #1535
Can you be more specific about what's happening?

[2020-08-26 18:30] bcbeta commented on #1535
I get this error despite entering my correct username and password.
![IMG_0419](https://user-images.githubusercontent.com/1378780/91342225-f1247e00-e797-11ea-9ee3-d8c583323508.jpg)

[2020-08-26 18:52] drdaz commented on #1535
It doesn't look like you're using Sign In With Apple here? It brings up some Apple UI at the bottom of the screen, and shakes if you provide the wrong password.

Are you sure you're not using the email login with your Apple ID credentials?

[2020-08-26 19:03] bcbeta commented on #1535
I tap the "Sign in with Apple" button and then get that error dialogue.

[2020-08-26 19:05] drdaz commented on #1535
Oh that doesn't sound right.

I'll take a look tomorrow or over the weekend.

[2020-08-26 19:05] drdaz commented on #1535
Thanks for reporting this.

[2020-08-26 19:19] drdaz commented on #1535
So I just fired up ParseUIDemo in the simulator. The Apple button works as expected.

How are you setting up the PFLogInViewController?

[2020-08-26 19:35] bcbeta commented on #1535
[code]

[2020-08-26 19:48] drdaz commented on #1535
The only difference I can spot between what you do, and what the demo does, is that you instantiate your CustomSignViewController and assign it to logInController.signUpController.

The demo accesses the instance that's already there.

I'm not sure this will fix your issue, but it's what I can spot in the code. Does it work if you use the instance that's already on the PFLogInViewController?

[2020-08-26 19:57] drdaz commented on #1535
Actually, I'm tired. It looks like you're subclassing both login and sign in view controllers. It's a little hard to know what's going on here.

Why are you subclassing these?

[2020-08-26 20:01] bcbeta commented on #1535
I subclassed these to customize layout based on a Parse tutorial I followed years ago.

[code]

[code]

[2020-08-26 20:22] drdaz commented on #1535
Sorry I deleted my comment.

I've never done that with PFLoginViewController or PFSignUpViewController. I just customise the base class. I'm not sure why anything you're doing there should cause the error you're seeing though.

Can you try just using the base classes? As in just a raw PFLoginViewController with minimal setup. See if the button works for you in that config.

[2020-08-26 20:33] bcbeta commented on #1535
I will give that a try tonight. Thanks!

[2020-08-27 17:51] bcbeta commented on #1535
I get the same result when I don't subclass the login controller. I think this is a problem with my Apple Sign in entitlements. I get the error-
`Authorization failed: Error Domain=AKAuthenticationError Code=-7026
`
My entitlements appear to be configured correctly so I will need to do some digging.

[2020-08-27 20:33] bcbeta commented on #1535
So the problem was the formatting of my entitlements plist.  Everything is working as it should be now.

[2020-08-27 23:57] kyralesov opened #1536 "Parse pod does not compile on Xcode 12.0 beta 6"
After just recently updating to the new Xcode 12.0 beta 6  I am unable to build my project withe Parse SDK pod.
Compiler error given in ParseClientConfiguration.m is:
Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __strong)'

Parse (1.18.0)

[2020-08-28 08:30] ZacharyKhan commented on #1536
Experiencing the exact same issue here

[2020-08-28 09:16] TomWFox commented on #1536
This is a duplicate of #1526, the issue was fixed by #1527 which has been merged into the master branch. Whilst you wait for the next release you could switch your podfile to the master branch.

[2020-08-28 09:16] #1536 closed

[2020-08-28 15:51] bmueller commented on #1526
When I use the master branch, I get an error in ParseModule.h saying "Module Bolts not found". When I switch between the release and master branches, it looks like "@import Bolts" was added to the top of this file. Anyone else having this issue or know how to fix?

[2020-08-28 17:36] ritteraf opened #1537 "Iterate through all Parse subclass properties. Eliminate "This object is not available in the offline cache" error once and for all!"
I've been battling issues with Parse pinning for months now. It's literally gridding my development to a halt every every couple of days. I'm experiencing a constant battle with the error "This object is not available in the offline cache" when trying to fetch a pinned object, with name, from local storage.

From what I've been able to gather, this error occurs when you pin an object to offline st

[2020-08-29 10:01] #1399 closed

[2020-08-29 10:01] #32 closed

[2020-08-29 20:01] #1514 closed

[2020-08-31 09:56] Neirys opened #1539 "Update configuration on the fly"
Hello,

I need to update the Parse configuration (server url, app ID, client key) on the fly for my use case.

I have forked the repo and removed the following line `PFConsistencyAssert(![self currentConfiguration], @"Parse is already initialized.");` which worked straightforward.
However, some comment said that `Re-setting the configuration after having previously sent requests through the SDK re

[2020-09-02 07:49] jaysonng commented on #1534
you can't use Parse SDK version 1.18?

[2020-09-02 07:57] jaysonng commented on #1539
I'm not a Parse expert so I don't think i can help you out. but I am curious as to what you mean by updating the configuration on the fly means.

Are you developing an app that you want to be able to connect to different Parse databases depending on the view / push of a button?

[2020-09-03 18:08] spiderguy84 opened #1540 "Where are frameworks for tvOS?"
I look at this and readme, and should have some frameworks that work with tvOS, but they're not there. Even in the starter project FOR tvOS, doesn't include the frameworks. It has them in the app, and gives a path for where they should be, but they're not actually there.

[2020-09-03 18:09] spiderguy84 commented on #1534
I'm curious on this as well. The starter packs for tvOS includes a link to where frameworks should be, but they're completely missing.

[2020-09-05 19:59] mtrezza commented on #1520
I'm closing this as it seems to be resolved. Feel free to comment if you have any questions and we can re-open this issue.

[2020-09-07 08:32] julianvogels opened #1541 "Xcode 12 beta 6 unable to compile Parse Cocoapods"
Using Xcode 12 beta 6, compiling for an iOS Simulator running iOS 14, the app cannot compile when the Parse pod is installed.

### Repro steps
1. Create a new iOS App project using Xcode 12 beta 6 (choose App Delegate / Storyboard, not Swift UI)
2. In the terminal, using cocoapods version 1.9.3 (stable), run `pod init` then modify the Podfile to contain

[code]
3. Run `pod install` to install the

[2020-09-07 08:34] julianvogels commented on #1541
Example project: [parse-ios14-example.zip](https://github.com/parse-community/Parse-SDK-iOS-OSX/files/5181956/parse-ios14-example.zip)

[2020-09-07 19:15] TomWFox commented on #1541
This is a duplicate of #1526, the issue was fixed by #1527 which has been merged into the master branch. Whilst you wait for the next release you could switch your podfile to the master branch.

[2020-09-07 19:15] #1541 closed

[2020-09-07 21:23] julianvogels commented on #1541
Thanks for having a look @TomWFox! I tried switching my Podfile to the master branch. It worked, but I am also using ParseLiveQuery 2.7.1, which depends on Parse iOS SDK version 1.18.0, so the `pod install` fails. Guess I'll have to wait for the release.

[2020-09-08 01:13] ndrsKloss opened #1542 "Must register subclass when unit testing"
I'm getting an exception when running my unit test suit:

[code]
[code]

I thought it was no longer necessary to register a subclass. But even when registered it keeps rising the same exception. Any ideas why?

Parse version: 1.18.0

[2020-09-08 01:34] ndrsKloss commented on #1542
Got a clue from https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1021.

[2020-09-08 07:19] TomWFox commented on #1541
Hmm I feel like there should be a way round that but I'm not enough of a cocoapods expert to know! The team are trying to get a release out ASAP so hopefully it will be available on cocoapods in a few days.

[2020-09-08 13:50] drdaz commented on #1540
Unfortunately we've been having issues with our release scripts, so the release assets aren't attached to the release. As I see it you've got a couple of options for getting binaries to use in your project:

- Build the frameworks from source and manually include them as described [here](https://github.com/parse-community/Parse-SDK-iOS-OSX#compiling-for-yourself)
- Use a package manager (eg Cocoap

[2020-09-08 21:01] TomWFox commented on #1526
Btw 1.19.0 has now been published to Cocoapods with the fix for this issue.

[2020-09-09 08:58] SebC99 commented on #1520
Unfortunately it's not...
[code]

[2020-09-09 09:24] mtrezza commented on #1520
@SebC99 Could this be a threading issue in your code, as mentioned above?

[2020-09-09 09:31] SebC99 commented on #1520
Hard to tell, but it doesn't seem so (@carbonimax ?)
In any case, Parse SDK shouldn't throw an assert just after supposedly validating the value one line before ;)

[2020-09-09 09:46] dan-burt commented on #815
I am having the same issue and tried to follow the guidance above. I still get the error message:

This is my code:

[code]

Is there any other code or config required?

In my PFQuery, I have:

[code]

[2020-09-10 07:47] AliZahr commented on #1528
Any update on this?

[2020-09-10 09:59] mtrezza commented on #1528
@AliZahr Apologies, I missed your previous comment.

If you take a look at `ParseClientConfigurationTests.m` you can see existing tests and how they are written. If would be great if you could open a PR and add failing test case for the scenario you described above. If you need further guidance you can also look at other tests in the `Tests/Unit` folder, or let us know here.

[2020-09-11 14:00] dwhipps commented on #1524
Just bumping this again. Any chance this PR will be accepted any time soon?

[2020-09-11 14:02] drdaz commented on #1524
1.19.0 was released this week with the fix :)

[2020-09-11 14:02] #1524 closed

[2020-09-15 19:36] dwhipps commented on #1524
This is still broken somewhere (perhaps Bolts? Apple doesn't say), but my app is still being rejected from the store because of UIWebView usage.

[2020-09-15 20:40] drdaz commented on #1524
Are you certain you’re running 1.19.0?

[2020-09-16 12:13] dwhipps commented on #1524
My mistake. This was another library altogether, which was also using UIWebView (an older version of OneSignal.framework if you're curious.) Sorry for the false alarm. Apple doesn't say **_where_** they found the problem, so it's been a lot of frustrating trial and error.

[2020-09-17 04:44] beiguancyc opened #1545 "Xcode 12 release compiling failed"
Using Xcode 12 release compiling for an iOS Simulator running iOS 14, the app cannot compile when the Parse pod is installed.

Repro steps
pod 'Parse','~> 1.19.0'
Then build and run,
![image](https://user-images.githubusercontent.com/12932389/93421263-6ee53080-f8e3-11ea-8b28-d68b0c0eb992.png)

[2020-09-17 10:05] Sofrik opened #1546 "Add installation using SPM"
Hello! Could you add SDK addition to the project using SPM (Swift Package Manager)

[2020-09-17 12:19] funnel20 opened #1547 "Xcode 11.7 shows 8 Analyzer errors"
When running Xcode 11.7 Analyzer on our project with Parse 1.19, it shows the following 7 logic errors:

1. /Parse/Parse/Parse/PFPush.m:322:9: Converting a pointer value of type 'NSNumber *' to a primitive boolean value; instead, either compare the pointer to nil or call -boolValue

    <img width="419" alt="Screenshot 2020-09-17 at 14 14 21" src="https://user-images.githubusercontent.com/2139844/

[2020-09-17 14:36] idefen1 commented on #1545
I'm getting compile errors also, but a different error:

File: ParseClientConfiguration.m

Method: - (instancetype)copyWithZone:(NSZone *)zone

Error: Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __strong)'

Anyone else seeing this one? I'm still using Objective-C

[2020-09-17 15:08] beiguancyc commented on #1545
That is not a good idea

[2020-09-17 15:15] idefen1 commented on #1545
I'm sorry =\ I don't know what else to do... I need to compile my code and this is the only way I can get it to work. Maybe someone else will help us find a fix.

[2020-09-17 15:35] beiguancyc commented on #1545
I think it will be fixed soon.

[2020-09-17 16:39] TomWFox commented on #1546
This is a duplicate of #1453. As far as I know no one is working on this or planning to do so. Feel free to submit a PR - I'm sure other contributors would be happy to help if needed.

[2020-09-17 16:39] #1546 closed

[2020-09-17 16:43] TomWFox commented on #1547
Thanks for reporting. Would you be willing to submit a PR?

[2020-09-17 20:19] idefen1 commented on #1545
Just a quick question: Why is my quick fix 'not a good idea'. My application appears to be compiling and working as expected? If I need to submit, what risk am I taking? Thanks!

[2020-09-18 08:09] gutoim commented on #1545
I think this is the fix. The build error occurs when building pod (including Parse) into a static library. Using `@import Bolts` requires using `use_frameworks!` in Podfile, which for sure I do not want.

[2020-09-19 04:55] derekleerock commented on #1545
@idefen1 Based on my understanding of how Cocoapods works, if you change this line of code then anytime you update or refresh your pods then this change will be deleted. So while this may work for right now as a temporary solution, ideally the long term solution would be to have this change (or the appropriate change) made to the Parse SDK itself so that you (and me and others) don't have to conti

[2020-09-19 11:23] #1535 closed

[2020-09-20 05:02] jaysonng opened #1549 "XCode 12 Error: unable to open shared file"
I'm getting this error and I can't find any info on how to fix it over here or StackOverflow. I've been having issues with my Parse SDK ever since updating to xcode 12 and having to update to Parse 1.19.0. This is the current error I'm dealing with

![Screen Shot 2020-09-20 at 12 54 51 PM](https://user-images.githubusercontent.com/440445/93694612-7c4b2680-fb40-11ea-8b2c-dd2973f32708.png)

and inde

[2020-09-20 05:17] jaysonng commented on #1549
Update: I had to manually add the Configurations Folder inside Vendor>xctoolchain from

[xctoolchain](https://github.com/parse-community/xctoolchain/tree/dc0ccfff8bfc62b9b87e6bcf6ee26d3e90e05509)

to get rid of the error.

Not sure what's going on and why it didn't download together when I got 1.19.0

[2020-09-20 08:16] jaysonng commented on #1549
After a bit more testing I've figured out that it only happens with the new SwiftUI App cycle introduced with iOS 14.

Created new projects - 1 UIKit App Delegate and another SwiftUI App.

![Screen Shot 2020-09-20 at 4 15 07 PM](https://user-images.githubusercontent.com/440445/93706785-75321180-fb5c-11ea-8b99-f019246938f3.png)

this error appears when I use the new SwiftUI app Life Cycle.

[2020-09-20 09:02] Anon-Mars opened #1550 "XCode 12 incompatible block pointer"
since we updated xcode to version 12, parse is showing this error attached.

<img width="705" alt="Screen Shot 2020-09-20 at 11 58 22" src="https://user-images.githubusercontent.com/71587119/93707643-14451200-fb39-11ea-9927-bb0b9e4fc911.png">

[2020-09-20 09:53] TomWFox commented on #1550
This is a duplicate of #1526, the issue was fixed by #1527 which is now available on the newly released version 1.19.0.

[2020-09-20 09:53] #1550 closed

[2020-09-21 07:03] findlife99 commented on #1545
Hi,

I also face the same problem, any idea to fix it ?

[2020-09-21 10:48] derekleerock commented on #1545
@findlife99 The fix mentioned in [this comment](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1545#issuecomment-694279302) worked for me - however, as I noted above, making a change to the pod source code should be considered temporary, so I made a PR to be considered for inclusion in a future build.

[2020-09-21 19:15] #1537 closed

[2020-09-21 19:17] drdaz commented on #1537
Sorry for the complete lack of response.

Did you get this working?

[2020-09-21 19:20] ritteraf opened #1552 "Cocoapods installs TWO parse versions. Creating duplicate UUIDs"
I'm running into an issue when attempting to install Parse via Cocoapods. My pod file is as such:

target 'SwagLeagues' do
  use_frameworks!

  pod 'Parse'
  pod 'Parse/TwitterUtils'
  pod 'Parse/UI'
  pod 'ParseLiveQuery'
  pod 'Alamofire'
  pod 'AlamofireImage'
  pod 'SwiftyJSON'
  pod 'Hyperconnectivity'
  pod 'AAInfographics', :git => 'https://github.com/AAChartModel/AAChartKit-Swift.git'

  t

[2020-09-21 19:22] drdaz commented on #1552
I think it's ParseLiveQuery. Try pointing at the current commit on master in your Podfile.

[2020-09-21 19:24] ritteraf commented on #1552
Sorry... how would I do that?

[2020-09-21 19:48] drdaz commented on #1552
No 2.7.2 isn't quite out on cocoapods yet.

Try this in your Podfile:

`pod 'ParseLiveQuery', :git => 'https://github.com/parse-community/ParseLiveQuery-iOS-OSX, :branch => 'master'`

[2020-09-21 20:13] ritteraf commented on #1552
That fixed it. Thanks @drdaz !

[2020-09-21 20:15] drdaz commented on #1552
np... 2.7.2 should be out really soon. You'll want to revert that change to the Podfile when it's released.

[2020-09-21 20:16] #1552 closed

[2020-09-22 06:28] konkontos commented on #1501
Just downloaded the 1.19.0 release.

After running `bundle exec rake package:frameworks` build process fails with the following error:

[code]

[2020-09-22 06:29] konkontos opened #1553 "Xcode 12: Compiling frameworks fail"
Just downloaded the 1.19.0 release.

After running `bundle exec rake package:frameworks` build process fails with the following error:

[code]

[2020-09-22 09:16] drdaz commented on #1553
This looks like the same Xcode 12 issue we're seeing with Carthage. I can confirm I see the same behaviour locally.

[2020-09-22 09:53] konkontos opened #1554 "Release 1.19.0: Bolts Framework: Disable code coverage for RELEASE configuration"
Release builds cause problems when submitting to App Store.
Specifically, bitcode rebuilding on Apple's backend fails with unknown symbols errors.

Before Xcode 12, this could be resolved by enabling code coverage in the test scheme for targets.
In Xcode 12, this is no longer sufficient. Linked apps do not pass through Apple's checks.

Disabling  the following setting for Bolts framework targets,

[2020-09-24 04:04] kazukiotsuka opened #1555 "Module 'Bolts' not found ParseModule.h"
A Parse file shows `Module Bolts not found`.

Build > Archive
<img width="1116" alt="Screen Shot 2020-09-24 at 12 59 13" src="https://user-images.githubusercontent.com/3203107/94099360-c0526a00-fe65-11ea-91b0-1628d1b9562c.png">

tried this pods clean but doesn't work.
[code]

the Podfile is
[code]

So far, no solution found on the internet. I totally get stuck into this problem.

XCode Version is

[2020-09-24 05:12] abeticlairon opened #1556 "Xcode 12 Error: Incompatible block pointer..."
I get the following error when trying to compile my app on Xcode 12. The file with the problem is
`ParseClientConfiguration.m`.
`Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __strong)'`

[2020-09-24 06:37] drdaz commented on #1556
This issue is fixed in the recently released version 1.19.0.

[2020-09-24 06:37] #1556 closed

[2020-09-24 09:43] rameshtek opened #1557 "Parse/Parse.h File not found in Objective C BridgingHeader"
When we tried to migrate the app from Xcode11 to Xcode 12, build failed with the following error.

AppBridging-Header.h:5:9: 'Parse/Parse.h' file not found

Failed to emit precompiled header '/Users/user1/Library/Developer/Xcode/DerivedData/App-dlblbczkfyvrypedmpbvxqwuimlj/Build/Intermediates.noindex/PrecompiledHeaders/App-Bridging-Header-swift_3BVLVNZWHT6PT-clang_2MLZV80Q7Y069.pch' for bridging h

[2020-09-24 22:36] Kiplol commented on #1555
I am having a similar issue on Xcode 12.

[2020-09-26 11:57] SebC99 commented on #1520
@mtrezza Apparently there's no thread issue
But we do log 0 length objectId values for those users (objectId: "") which seems very weird.

And as the SDK Code test for nil objectId only ([here](https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/46c38349c02498de160ec0349074986cfec06632/Parse/Parse/PFObject.m#L1781)) it tries to start the RESTObjectCommand where the assert tests for 0 length

[2020-09-26 12:13] SebC99 commented on #1520
PS: we use the `enableAutomaticUser` setting to allow anonymous parse users

[2020-09-26 13:20] mtrezza commented on #1520
To be exact, are you logging zero length String values?

[2020-09-26 20:18] SebC99 commented on #1520
Yes string values being "" (length = 0)

Not really easy to do so in production (we can't reproduce the bug, but have thousands of users with it).
We can try to find a way

[2020-09-27 08:32] jaysonng commented on #1555
I think this is the same as [issue 1545](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1545).

You can check what helped them out there. But it's kinda a hack than a fix.

[2020-09-27 09:25] #1555 closed

[2020-09-28 06:09] arjun3396 opened #1558 "Incompatible block pointer types [XCODE 12 ISSUE]"
When I try to build using Xcode 12 I am getting this error
ERROR: Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __strong)'

This seems like some typedef issue as per this link https://stackoverflow.com/questions/52073178/incompatible-block-pointer-types-sending-void-stron

[2020-09-28 06:11] drdaz commented on #1558
The fix for this was released with SDK version 1.19.0.

[2020-09-28 06:11] #1558 closed

[2020-09-29 13:39] paulfreeman commented on #1453
Just to clarify, the PR is needed to Bolts-ObjC as the Swift version of Bolts is already SPM compatible.

[2020-09-29 15:28] akmarinov commented on #1554
+1 I'm seeing the same issue

[code]

For anyone that doesn't want to wait

[2020-09-29 21:51] ferrlan opened #1559 "Xcode 12: incompatible block pointer"
I am unable to build my project. I am seeing incompatible block pointer types in ParseClientConfiguration.m.

I attached a screenshot. Any help would be appreciated.

Here is the full error in the copyWithZone function:
Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __stro

[2020-09-29 21:51] Kiplol commented on #1505
Mine is present only during archiving as well.

[2020-09-30 14:40] obdodavid commented on #1559
Hello,

Just had the same issue, and for now I fixed it as below :
- (instancetype)copyWithZone:(NSZone *)zone {
    return [ParseClientConfiguration configurationWithBlock:^(id<ParseMutableClientConfiguration>  _Nonnull configuration) {
        // Use direct assignment to skip over all of the assertions that may fail if we're not fully initialized yet.
        configuration.applicationId = [self-

[2020-09-30 14:41] drdaz commented on #1559
This issue is fixed in release 1.19.0. Please update your SDK.

[2020-09-30 14:41] #1559 closed

[2020-10-02 11:41] kazukiotsuka commented on #1555
from issue 1545
[code]
worked for me. Thank you. @jaysonng

[2020-10-05 08:47] flamesoft opened #1560 "XCode 12: Fail to compile"
I have updated to the latest XCode 12.0.1. It fails to compile.
.../Pods/Parse/Parse/Parse/ParseClientConfiguration.m:129:61: Incompatible block pointer types sending 'void (^)(ParseClientConfiguration *__strong)' to parameter of type 'void (^ _Nonnull)(id<ParseMutableClientConfiguration>  _Nonnull __strong)'

I have updated to the latest Parse 1.19 and it still doesn't work.

[2020-10-05 10:28] SubhanAli94 commented on #1556
Hi, @drdaz I installed 1.19.0 but facing same issue. Moreover, I am unable to install the package using Swift Package Manager giving the GitHub URL of iOS repository.

[2020-10-05 10:33] drdaz commented on #1560
Can you verify that the relevant changes made in 1.19.0 are actually included in your code? If you're using Cocoapods, check that line in your pods source in your workspace.

It's very hard to see how [the changes included in 1.19.0](https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1527/commits/f98c02866788fd75f709a6cd62bbe1ec046eea14) don't fix this.

[2020-10-05 10:34] drdaz commented on #1556
Can you verify that the relevant changes made in 1.19.0 are actually included in your code? If you're using Cocoapods, check that line in your pods source in your workspace.

It's very hard to see how [the changes included in 1.19.0](https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1527/commits/f98c02866788fd75f709a6cd62bbe1ec046eea14) don't fix this.

[2020-10-05 10:41] flamesoft commented on #1560
I haven’t used new features in Parse in my code. I just updated it because the compilation error happened. I used 1.17 before this update and it didn’t work with Xcode 12.

Yan

[2020-10-05 10:44] drdaz commented on #1560
You don't need to have used any new features.

The point is, if you check the PR I linked, that the failing line in your error is entirely changed in release 1.19.0. Which means you're not using the code from 1.19.0.

[2020-10-05 10:45] SubhanAli94 commented on #1556
Hey @drdaz , I apologize for: in the previous comment, I mentioned that I am using 1.190.0 but actually after verifying again I encountered that pod is installing 1.18.0. Is there any way I can target 1.19.0 in the pod file?

[2020-10-05 10:47] drdaz commented on #1556
You can; check the Cocoapods docs. Otherwise just running `pod update` should update all your pods to the latest releases.

[2020-10-05 10:50] SubhanAli94 commented on #1556
Hey @drdaz , I appreciate your quick help. `pod update` worked.

Thanks

[2020-10-05 15:01] jeffreyjackson commented on #1560
@drdaz I've been investigating this issue also.  In my case, I am able to update to 1.19.0 with a `pod update`.  However once I add the pod `ParseLiveQuery` it reverts the parse sdk back to 1.18.0.

[2020-10-05 15:03] drdaz commented on #1560
Yeah there's still something holding up the release of ParseLiveQuery.

Point your pod at master on ParseLiveQuery and you'll get 1.19.0.

[2020-10-05 15:10] drdaz commented on #1560
@TomWFox I just tried to manually push the podspec for ParseLiveQuery; I don't have the permissions. Can you do it?

[2020-10-05 17:53] flamesoft commented on #1560
@drdaz I found that I didn't update the Parse. Now I have updated it to 1.19. It complains: "Module 'Bolts' not found". What shall I do?

[2020-10-05 20:39] GustavoFRocha commented on #1560
someone managed to update the pod? I try but it always fails

[2020-10-06 06:40] flamesoft commented on #1560
@GustavoFRocha I could update to 1.19 with "pod update". Maybe there were some network/server issue when you tried.

[2020-10-06 17:09] TomWFox commented on #1560
@drdaz Sorry only just saw your comment here. I just published ParseLiveQuery manually as someone kept nagging about it!

I've added you as an owner of ParseLiveQuery for future use.

[2020-10-06 17:10] TomWFox commented on #1560
I'm going to close this now as the original issue has long since been resolved and people seem to be getting along fine with it. If you have any separate issues please open a new issue and if you have any issue relating to ParseLiveQuery please open an issue on that repo.

[2020-10-06 17:10] #1560 closed

[2020-10-06 17:19] TomWFox commented on #1560
@flamesoft with regard to your comment about `Module 'Bolts' not found` the solution may be in #1545 which has been addressed by a PR and merged into master.

[2020-10-06 17:45] flamesoft commented on #1560
Thanks for your solution!

Yan

[2020-10-09 08:36] stuzoo opened #1562 "Code signing “Bolts.framework” failed xcode12"
Trying to upload to the app store and I get the error 'Code signing “Bolts.framework” failed'

Using xcode12 and the latest bolts.framework.

I installed the frameworks with carthage.

the app runs in the simulator and on the device but can't be uploaded.

[2020-10-12 00:36] #1531 closed

[2020-10-12 14:23] LilMoke commented on #1456
First I apologize for asking this here, but it is somewhat related and I have looked but cannot find where to get an answer.

I Have been using Parse for a few years and now have a need to add google login.

I have found a ParseGoogleUtils for Android.  Is there such a lib for iOS.

More importantly I upgraded to the latest Parse SDK and I am trying to find out the latest best easiest way to add G

[2020-10-12 17:48] #1515 closed

[2020-10-13 07:52] SSB95 commented on #1399
How does it look like currently? @drdaz did you find some time to dive into it? Or what are the plans in general @TomWFox ?

[2020-10-13 07:54] drdaz commented on #1399
@SSB95 Take a look at the Parse-Swift repo. @cbaker has been putting in a lot of work there.

[2020-10-14 13:09] Skyb0rg commented on #186
Still have the same Problem ... when having bad coverage and user removes and adds a Channel to fast it crashes.

[2020-10-14 15:57] Samigos opened #1564 "Cloud function's call doesn’t trigger callback"
I have this code;

[code]

The issue is that it never goes inside the callback in one certain occasion, which is weird because that occasion doesn’t affect the way this gets called.

What could interrupt the callback from being executed?
I'm on `1.19.0`

[2020-10-15 05:21] eddy93 opened #1565 "PFFileObject always results into nil"
[code]

imageFile is always nil, although the image is valid, and the imageData contains data. I think this is a bug.

XCode: 12
iOS: 14

[2020-10-15 07:11] #1565 closed

[2020-10-15 16:52] Samigos commented on #1564
It was an underlying issue with my code, so I'm closing it!

[2020-10-15 16:52] #1564 closed

[2020-10-21 01:02] benpackard commented on #1505
Is it possible this issue is related to https://github.com/CocoaPods/CocoaPods/issues/8206?

[2020-10-22 16:45] Kiplol commented on #1505
@benpackard , yes, I have multiple targets, extensions, and use the Parse/FacebookUtils subspec.

[2020-10-22 21:28] SebC99 commented on #1520
So after a lot of logging and testing, it appears the bug is for the _Installation class.
For unknown reason, the PFInstallation persistent file doesn't include the objectId of that installation, which causes the fetch to fail.

<img width="1023" alt="Capture d’écran 2020-10-22 à 17 12 48" src="https://user-images.githubusercontent.com/3028067/96931330-67eea680-14bd-11eb-9226-56805bed734c.png">

I

[2020-10-23 11:55] dsp1589 opened #1566 "App crash: Canceling Twitter authentication makes application to Crash"
[Similar Issue : Twitter login cancellation crashes app #1474]

Application crashes when user tries to cancel the twitter authentication flow by tapping cancel button(not X in top right corner of the dialog) in twitter web page.

When user cancels the authentication twitter redirects the app to successcallback with query parameter "denied". But Parse have the logic to check the prefix of the url i

[2020-10-28 20:39] jesusmateos1234 commented on #1562
Same

[2020-10-28 20:40] jesusmateos1234 commented on #1553
Same, the workaround published on carthage doesn't work

[2020-10-29 03:34] bmueller opened #1568 "[PFInstallation currentInstallation]'s objectId is nil"
In the past few weeks, I've had multiple users reporting problems with my app related to the Parse SDK. After some troubleshooting, it looks like the issue is that the `objectId` on their `[PFInstallation currentInstallation]` is nil.

I've never seen this happen before and have been using the Parse SDK for years now. What could be causing this? Is there a way to force the currentInstallation to g

[2020-10-29 06:05] stuzoo commented on #1562
Ok, looks like there is a carthage workaround, follow these steps - https://github.com/Carthage/Carthage/blob/master/Documentation/Xcode12Workaround.md

[2020-11-01 07:34] #1542 closed

[2020-11-01 07:34] #1540 closed

[2020-11-01 07:34] #1534 closed

[2020-11-01 07:34] #1539 closed

[2020-11-02 20:21] thefishstick commented on #1541
@julianvogels You can pod install the current version of Parse. When it fails to compile, go to ParseClientConfiguration.m and in the last function "copyWithZone", replace everything inside the function with this, at least until it gets updated.

ParseClientConfiguration *const configuration = [[ParseClientConfiguration alloc] initEmpty];
    if (!configuration) return nil;
    // Use direct assig

[2020-11-03 18:03] riccardoch opened #1569 "Old Session token deleted after PFUser.login or PFUser.become"
I want to offer multiple accounts on my iOS app (on Android I've already achieved that).
I know the library allows only one current user and for this reason I decided to store users' session token.
Once the user wants to change the account I call `PFUser.become` and `PFUser.loginWithUsername` when the user wants to add a new one. The problem is that every time I call those functions the previous s

[2020-11-04 12:28] drdaz commented on #1569
How and where are you storing the session token?

[2020-11-04 13:43] riccardoch commented on #1569
Locally on the device (using UserDefaults), without Parse SDK.
On Android I've created the same flow and it works.

[2020-11-04 14:01] nilkanth987 commented on #1569
I also have the same issue. Its working fine in Android SDK.

[2020-11-05 10:53] drdaz commented on #1569
Can either of you make a failing test for this?

[2020-11-05 12:00] nilkanth987 commented on #1569
So I have written this code

`PFUser.logInWithUsername(inBackground: "user1", password: "user1", block: {user,e in
            if e==nil{
                print(PFUser.current()?.username)
                self.session1 = PFUser.current()?.sessionToken
                PFUser.logInWithUsername(inBackground: "user2", password: "user2", block: {user,e in
                    if e==nil{

[2020-11-05 12:04] nilkanth987 commented on #1569
So I have written this code for testing

`PFUser.logInWithUsername(inBackground: "user1", password: "user1", block: {user,e in
            if e==nil{
                print(PFUser.current()?.username)
                self.session1 = PFUser.current()?.sessionToken
                PFUser.logInWithUsername(inBackground: "user2", password: "user2", block: {user,e in
                    if e==nil{

[2020-11-05 12:06] nilkanth987 commented on #1569
So I have written code for testing

[code]

[2020-11-05 12:09] nilkanth987 commented on #1569
So I have written this code for testing

[code]

The output is :

[code]

[2020-11-05 12:10] nilkanth987 commented on #1569
So I have written this code for testing

[code]

And the output is

[code]

[2020-11-05 13:16] riccardoch commented on #1569
Great @nilkanth987 my issue is exactly the same!

@drdaz Is it possible that the SDK makes a delete request for the previous token when a new user is logging in?

[2020-11-07 10:54] jesusmateos1234 opened #1570 "Crash BFTask.m - Line 54 Crashed: com.parse.asynctaskqueue.sync SIGABRT ABORT 0x00000001b70da95c"
Crash BFTask.m - Line 54 Crashed: com.parse.asynctaskqueue.sync SIGABRT ABORT 0x00000001b70da95c

Version: 1.19.1

Crash on BFTask Init method on line 54

 _callbacks = [NSMutableArray array];
Maybe this should be

 _callbacks = [[NSMutableArray alloc] init];
Crash info:

 Heap corruption detected, free list is damaged at 0x2814a8cc0 *** Incorrect guard value: 8081049728
strack trace

Crashed: com

[2020-11-07 17:03] kirti301290 opened #1571 "App crashed on Xcode 12.1 but working in xcode 11.5"
Hello
we facing problem to run app in Xcode 12.1  and here is error log
Please help me resolve problem
**Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: ''containingApplicationBundleIdentifier' cannot be set in non-extension environment'**

we changed  this  in xcode 12.1
  - (instancetype)copyWithZone:(NSZone *)zone {

    return  [ParseClientConfiguration configur

[2020-11-07 17:36] #1571 closed

[2020-11-07 17:37] kirti301290 commented on #1571
it fixed after updated latest parse version

[2020-11-08 02:57] derekleerock commented on #1545
Doesn't look like I have the ability to close this issue, but since the PR was merged I think was can close this. @TomWFox @drdaz could I trouble you to assist? Thanks! =)

[2020-11-08 10:36] funnel20 commented on #1547
I'll try if I can find the time.

[2020-11-08 14:27] #1545 closed

[2020-11-09 02:35] cbaker6 commented on #1569
I think you are close. I believe only 1 session token is stored in the Keychain when a user logs in. When a user logs out, the session token is deleted. If another user signs in, the previous session token is overridden as the SDK is probably only designed to support 1 user at a time.

[2020-11-09 02:39] cbaker6 commented on #1569
@nilkanth987 the flow you mentioned will definitely cause the issue I mentioned above. I don't understand what you are trying to do, once you use `PFUser.logInWithUsername` it automatically saves the `sessionToken`, any other login or use of become with a different user will overwrite the sessionToken

[2020-11-09 02:47] cbaker6 commented on #1568
Do you ever specifically call `PFInstallation.current()!.saveInBackground()` after the user is logged in? If not, your `Installation` table is never populated to Parse as it doesn't save by default. You can check your `Installation` table in Parse Dashboard to see if new entries are there. If there are non or there's no `Installation` table at all, any find on `PFInstallation` will return nothing

[2020-11-09 02:55] cbaker6 commented on #1569
I think what you want to do is logout of the currentUser and then signIn as the new user. This will properly establish the needed session token

[2020-11-09 03:39] bmueller commented on #1568
Yes, I specifically had the user who was experiencing this issue run a command that called `[[PFInstallation currentInstallation] saveInBackground]`. Still no `objectId`. Note that this is only happening for a small handful of users - I have hundreds of thousands of other users where this is working just fine.

[2020-11-09 04:15] cbaker6 commented on #1568
I wonder if the save was successful or returned an error. Do you see their installation in Installation table on Parse Dashboard?

[2020-11-09 07:30] dsp1589 commented on #1569
@drdaz  @cbaker6  can someone take a look at this issue and PR.

https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1566

[2020-11-09 07:48] riccardoch commented on #1569
I think @nilkanth987 wants to offer multi accounts support, so the user would be able to change the account without prompting username/password every time. The method `PFUser.become` is perfect, but it seems previous token is deleted once the user change account (using that function).
On Android I was able to offer that, on iOS, for the moment, I've solved using cloud code.

[2020-11-09 10:29] nilkanth987 commented on #1569
Yup, that is exactly what I trying to do.
I debugged and saw that the sessionToken for User1 is deleted after User2 logs in. As before `PFUser.login` of User2 it was available and in its callback the User1 session was deleted.

[2020-11-09 10:49] drdaz commented on #1569
Do we know how the other Parse clients handle this? JS, .NET and whatever else we cover?

I can certainly see the use-case for this, but it would be good to know what our spec is supposed to be here.

[2020-11-09 13:04] #1566 closed

[2020-11-09 19:35] bmueller commented on #1568
The `saveInBackground` block does say that it was successful (despite there still not being an `objectId`), but I'm not sure how I'd find their installation in the Installation table - there's 100k+ records in there.

[2020-11-10 03:15] bcbeta opened #1572 "Apple sign-in error"
I had Apple sign-in working with parse 1.19 but after upgrading to 1.19.1 I frequently get the error
`Error Domain=Parse Code=1 "{"code":1,"message":"Internal server error}`

Sometimes this happens on the initial login but it always happens if I log out and then try to log back in.  My most recent update has been rejected because of this Apple Sign In issue. Any ideas what is happening here?

[2020-11-10 03:30] bcbeta commented on #1572
Looks like this is an issue with my server- https://stackoverflow.com/questions/61172324/parse-back4app-ios-swift-pfuser-loginwithauthtypeinbackground-apple-method-r

I'll be migrating to Parse Server 4.2 overnight and hopefully that will fix the problem.

[2020-11-10 03:30] #1572 closed

[2020-11-10 21:21] jesusmateos-tfm opened #1573 "FR: Add pre-compiled binaries to version tag"
Add parse binaries to version tag, with purpose of not compile on local please.

An example:

carthage build --no-skip-current
carthage archive
and attach Parse.framework.zip to tag release.
It will be works.

https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file

[2020-11-11 11:13] jesusmateos1234 commented on #1573
@nilkanth987

[2020-11-15 16:06] BrunnoOliverr24 opened #1574 "Help"

[2020-11-17 14:21] fuzunspm commented on #1541
@thefishstick thank you! you just saved me hours for the very old project I'm working on now

[2020-11-17 20:37] TomWFox commented on #1574
I'm closing this as it's not an issue. Feel free to edit your original post and I'll reopen.

[2020-11-17 20:37] #1574 closed

[2020-11-18 17:21] novemTeam opened #1575 "Add support for Swift Package Manager"
Would be usefull if I can fully deintegrate CocoaPods and use the Swift Package Manager.

Adding a Package.swift Manifest.

<img width="608" alt="Schermafbeelding 2020-11-18 om 18 20 55" src="https://user-images.githubusercontent.com/44820440/99564527-de9e9700-29ca-11eb-87f4-941b83561f84.png">

[2020-11-18 21:26] TomWFox commented on #1575
This is a duplicate of #1453.

[2020-11-18 21:26] #1575 closed

[2020-11-19 23:04] novemTeam commented on #1453
Any news on this topic?

[2020-11-26 11:49] nickammo opened #1576 "[NSNull enumerateKeysAndObjectsUsingBlock:]: unrecognized selector sent to instance for null ACL in Core_EmailTemplate"
App crashes because of [NSNull enumerateKeysAndObjectsUsingBlock:]: unrecognized selector sent to instance in case in case Core_EmailTemplate end-point return an object with null ACL.

[2020-11-26 11:55] nickammo commented on #1553
Just modify build_task.rb by adding

if "#{@sdk}" =~ /iphonesimulator/i
    opts << "EXCLUDED_ARCHS=\"arm64\""
end

before

opts.compact.join(' ')

In xCode 12 Simulator build, similar to device build, contains "arm64" architecture.
So making a fat library (the one which works on both: device and Simulator) fails, since both contain the same architecture.
The fix is to simply exclude "arm64" archi

[2020-12-01 05:55] bmueller commented on #1568
@cbaker6 to follow up on this, it looks like the data *is* being saved to Parse correctly and the object on Parse does have an objectId. The Parse SDK on-device is just returning null for the objectId on the currentInstallation.

[2020-12-07 17:35] bcbeta opened #1577 "Detect if PFUser is linked to Sign in with Apple"
Is it possible to determine if the PFUser is connected to Apple Sign in so that I don't grab the username which is appears as a random collection of letters?

[2020-12-07 17:38] drdaz commented on #1577
Check the user's credentials maybe?

[2020-12-08 17:18] bcbeta commented on #1577
This isn't working for me but maybe I am misunderstanding how to access the authData?

[code]

[2020-12-10 08:32] notmani opened #1578 "FBSDKCoreKit dependency issue"
Hello,

With Parse/FacebookUtils 1.19.1 use FBSDKCoreKit/Basics 6.5.2

Therefore, it's not possible to use latest version of FBAudienceNetwork (https://github.com/CocoaPods/Specs/blob/master/Specs/2/1/5/FBAudienceNetwork/6.2.0/FBAudienceNetwork.podspec.json)

"dependencies": {
    "FBSDKCoreKit/Basics": [
      ">= 7.0.1"
    ]

can you upgrade to FBSDKCoreKit to ">= 7.0.1"

by the way, same issue

[2020-12-11 13:21] sarojkumarojha opened #1579 "Parse/FacebookUtils latest still points to older FBSDK"
I am using **'Parse/FacebookUtils','1.19.0'**  in my app , but I could see
these dependancies still points to very old versions(~> 6.0) of FBSDK
**FBSDKCoreKit',
'FBSDKLoginKit',
 'FBSDKShareKit',**

Any plan or timeline to upgrade to latest ?

[2020-12-11 19:57] starkdmi commented on #1531
@jaysonng, In your case no need for the Client Key at all:
[code]

[2020-12-12 20:57] #1557 closed

[2020-12-12 20:57] #1554 closed

[2020-12-12 20:57] #1549 closed

[2020-12-14 10:25] drdaz commented on #1579
PRs are welcome. Can you try updating the dependancies locally and seeing what (if anything) breaks?

Otherwise I might have time to look at this before new year.

[2020-12-14 10:34] drdaz commented on #1579
Current Parse release is 1.19.1 btw. Not that it updates the FB libs, but just for info 🙂

[2020-12-14 14:53] sarojkumarojha commented on #1579
Thanks @drdaz for the information , but still I could see FB libs points to 6.x versions :(

[2020-12-15 12:24] jesusmateos1234 commented on #1573
@kashif @mt81 @toto could someone response to this request?

[2020-12-19 14:07] jesusmateos1234 opened #1582 "[PFInstallation currentInstallation] is nil"
Sometimes in our app currentInstallation is nil, we tried to fetch it, but doesn't work.

[code]

Could someone explain me what could be the cause of it?

Thanks

[2020-12-19 14:11] jesusmateos1234 commented on #1573
@cbaker6

[2020-12-19 14:11] jesusmateos1234 commented on #1582
@cbaker6

[2020-12-19 14:12] jesusmateos1234 commented on #1570
@cbaker6

[2020-12-19 15:03] Benjamindodgson opened #1583 "requestAlwaysAuthorization reference prevents AppClip upload to App Store"
Any use of requestAlwaysAuthorization prevents the build from showing up in the iTunes Connect when app includes an AppClip target, despite not showing any errors. The following email message is sent:

ITMS-90842: Invalid SDK usage - App clip 'AppClip.app' uses the SDK selector 'requestAlwaysAuthorization', which is not supported. Ensure your app clip is using supported SDK features.

I was able t

[2020-12-19 15:16] cbaker6 commented on #1570
This doesn’t have enough information. Did you write a line of code that caused this or did the Parse framework cause this? BFTask is used by every async method to the Parse server in the framework, so this can be from anywhere. Plus, any parse call you make using `InBackground` will call BFTask.

Look at the error, it’s giving you a hint to what is being done wrong:

[code]

It looks like you neve

[2020-12-19 15:21] cbaker6 commented on #1583
Can you submit a pull request with your change so we can look at it? Also a heads up, you will need to rebase your PR with the master branch as soon as the actions PR is merged (you can choose to wait until after the merge to create your PR if you want).

[2020-12-19 15:26] cbaker6 commented on #1582
This looks like a duplicate of #1568. Can you continue the discussion there?

[2020-12-19 15:26] #1582 closed

[2020-12-19 15:33] cbaker6 commented on #1568
@bmueller Can you try to always dispatch to the main when saving the Installation as it uses some UIApplication (badges) which requires the main queue. This can be the reason for the sporadic behavior. Let me know if you have any luck with this.

[2020-12-19 15:39] cbaker6 commented on #1579
Can you continue this discussion on #1578

[2020-12-19 15:39] #1579 closed

[2020-12-19 15:42] cbaker6 commented on #1576
Can you provide an example of how to reproduce this error?

[2020-12-19 15:45] cbaker6 commented on #1553
Closing for now. Let us know if this issue happens again

[2020-12-19 15:45] #1553 closed

[2020-12-19 20:00] bmueller commented on #1568
I'll give that a try!

[2020-12-19 21:03] jesusmateos1234 commented on #1570
Hi @cbaker6 , this code tip for solve is mine (in the BFTask.m file). The crash occurs using parse in the BFTask.m line 54.

[code]

[2020-12-19 21:04] jesusmateos1234 commented on #1568
Same issue

[2020-12-19 21:06] cbaker6 commented on #1570
I see, in that case I recommend submitting a PR to the Bolts framework with your change so it can be assessed there.

[2020-12-21 12:58] mtrezza commented on #1520
Reopening, issue not resolved.

[2020-12-21 15:08] Benjamindodgson commented on #1583
@cbaker6 I'll attempt to fix this in a PR, but I am unsure how exactly to approach this. I'll see if I can create another custom flag for an App Clip target.

[2020-12-21 15:32] Benjamindodgson commented on #1583
@cbaker6 I am unable to find where to set a Target flag like the ones in PFLocationManager.m are defined. I am seeing ones in the included iOS Framework but I don't see one that can be used for an AppClip.

[2020-12-23 11:53] niliyam opened #1584 "How to add common headers for all parse requests"
Hi,

My iOS project is in Swift5 and I am trying to add some common headers in all the HTTP requests made via Parse SDK.
I am unable to find a way to do so .

Can anyone help here?

[2020-12-23 22:09] bcbeta opened #1585 "Non public symbol"
My binary is getting rejected for non-public symbol ___kCFBooleanTrue. This only happened after I increased the deployment target from 12 to 13 (don't know if this is related). I see kCFBooleanTrue in PFKeychainStore and FBSDKKeychainStore. Any idea what is causing this?

[2020-12-24 21:33] JulienLevallois opened #1586 "Query With Custom Sorting, Occurrences In String Array"
Hi,
I want to know if it's possible to sort my query in this way.

My className is called "Shop"

Each shop have a field called "campaignsDateString" who is an array of String like that :
["8/28/2020", "8/30/2020", "8/31/2020", "8/31/2020","9/1/2020"]

On my query I want to get all shops who have campaigns for specifics dateString, who is also an array of String
["8/28/2020", "8/30/2020]

So on my

[2020-12-25 16:46] #1584 closed

[2020-12-29 09:39] amitpristyn opened #1587 "How to add SSL Certificate pinning in Parse Configuration (Parse SDK iOS)"
There is no option to add certificate pinning and verify can you please help

[2021-01-02 19:10] cbaker6 opened #1588 "Possible batching bug depending on number of objects batched"
I suspect there's a bug in `arrayBySplittingArray `, particularly: https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/5dad4f224d5ae4b36ead891acbdfc15b86d527ae/Parse/Parse/Internal/PFInternalUtils.m#L245

I think there are two issues, but this is only a suspicion as there are no test cases for `arrayBySplittingArray`. I don't recall, how range works for objective-c, but if it's similar to sw